Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

Update website for InternalModules 2024.03-02
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for LazyCategories 2024.03-02
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2024.03-24
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for ZariskiFrames 2024.03-01
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

fixed documentation
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/FiniteColimitCompletionWithStrictCoproducts.gd
Due: none

udpated documentation
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gd
Due: FunctorCategories

d&i AllDecompositionsOfMorphismInCategory
  FpCategories/PackageInfo.g
  FpCategories/gap/Tools.gd
  FpCategories/gap/Tools.gi
Due: none

Update website for FiniteCocompletions 2024.03-15
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap8.html
  FiniteCocompletions/doc/chap8.txt
  FiniteCocompletions/doc/chap8_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2024.03-20
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

d&i IsClosedPreSheafWRTCoproductCocones
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gd
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gi
  FpCategories/gap/PathCategories.gd
  FpCategories/gap/PathCategories.gi
  FunctorCategories/examples/ColimitingCocone.g
  FunctorCategories/examples/JoinCocone.g
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
  Locales/examples/DifferenceCSL.g
  Locales/examples/FreeBooleanAlgebra.g
  Locales/gap/SingleDifferences.gd
  Locales/gap/SingleDifferences.gi
  Locales/gap/ToolsUsingDigraphs.gi
  SubcategoriesForCAP/gap/ToolsUsingDigraphs.gi
  SubcategoriesForCAP/read.g
Due: FunctorCategories, Locales, SubcategoriesForCAP

udpated SnakeInFreeAbelian.ipynb
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/SnakeInFreeAbelian.ipynb
Due: FunctorCategories

Update website for FunctorCategories 2024.03-21
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

continued updating Julia 1.10.0 -> 1.10.2
  CatReps/PackageInfo.g
  CatReps/examples/notebooks/CategoryOfRepresentations.ipynb
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/julia/notebooks/CartesianBraiding.ipynb
  FiniteCocompletions/examples/julia/notebooks/CartesianDiagonal.ipynb
  FiniteCocompletions/examples/julia/notebooks/ReflexivePair.ipynb
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/DPO_Quivers.ipynb
  FunctorCategories/examples/notebooks/DecoratedFinQuivers.ipynb
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/FunctorCategories.ipynb
  FunctorCategories/examples/notebooks/ImageOfPullback_in_AbelianClosure_using_Adelman.ipynb
  FunctorCategories/examples/notebooks/ImageOfPullback_in_AbelianClosure_using_Freyd.ipynb
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  FunctorCategories/examples/notebooks/PairVsReflexivePair.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPushouts.ipynb
  FunctorCategories/examples/notebooks/ReflexiveCoequalizer.ipynb
  FunctorCategories/examples/notebooks/SpecificRetractionYieldsIsomorphicCoequalizers.ipynb
  FunctorCategories/examples/notebooks/svg/PastingLawForPullbacks_svg.ipynb
  FunctorCategories/examples/notebooks/svg/SnakeInFreeAbelian_svg.ipynb
  InternalModules/PackageInfo.g
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS1rep.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS4rep.ipynb
  LazyCategories/PackageInfo.g
  LazyCategories/examples/notebooks/SnakeInAbelian.ipynb
  LazyCategories/examples/notebooks/SnakeInFreeAbelian.ipynb
  Locales/PackageInfo.g
  Locales/examples/julia/notebooks/IdealQuotient.ipynb
  Locales/examples/julia/notebooks/IdealQuotient2.ipynb
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/examples/julia/notebooks/CavenderFarrisNeyman_reduced.ipynb
  ZariskiFrames/examples/julia/notebooks/Example.ipynb
  ZariskiFrames/examples/julia/notebooks/Graph.ipynb
  ZariskiFrames/examples/julia/notebooks/Hyperbola.ipynb
  ZariskiFrames/examples/julia/notebooks/Hyperbola_in_3d.ipynb
  ZariskiFrames/examples/julia/notebooks/Jordan.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,3)_0dim.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,4)_0dim.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,5)_0dim.ipynb
Due: CatReps, FunctorCategories, LazyCategories, Locales, ZariskiFrames

temporarily disable testing notebook
  CatReps/makefile
  FunctorCategories/makefile
  InternalModules/makefile
  LazyCategories/makefile
Due: CatReps, FunctorCategories, LazyCategories

fixed bug in ADD_FUNCTIONS_FOR_HOMOMORPHISM_STRUCTURE_TO_PRESHEAF_CATEGORY
  FunctorCategories/gap/HomStructure.gi
Due: FunctorCategories

Update website for CatReps 2024.03-04
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  CatReps/doc/chap1.html
  CatReps/doc/chap1_mj.html
  CatReps/doc/chapInd.html
  CatReps/doc/chapInd_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2024.03-16
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap10.html
  FiniteCocompletions/doc/chap10_mj.html
  FiniteCocompletions/doc/chap11.html
  FiniteCocompletions/doc/chap11_mj.html
  FiniteCocompletions/doc/chap12.html
  FiniteCocompletions/doc/chap12_mj.html
  FiniteCocompletions/doc/chap13.html
  FiniteCocompletions/doc/chap13_mj.html
  FiniteCocompletions/doc/chap14.html
  FiniteCocompletions/doc/chap14_mj.html
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2_mj.html
  FiniteCocompletions/doc/chap3.html
  FiniteCocompletions/doc/chap3_mj.html
  FiniteCocompletions/doc/chap4.html
  FiniteCocompletions/doc/chap4_mj.html
  FiniteCocompletions/doc/chap5.html
  FiniteCocompletions/doc/chap5_mj.html
  FiniteCocompletions/doc/chap6.html
  FiniteCocompletions/doc/chap6_mj.html
  FiniteCocompletions/doc/chap7.html
  FiniteCocompletions/doc/chap7_mj.html
  FiniteCocompletions/doc/chap8.html
  FiniteCocompletions/doc/chap8_mj.html
  FiniteCocompletions/doc/chap9.html
  FiniteCocompletions/doc/chap9_mj.html
  FiniteCocompletions/doc/chapInd.html
  FiniteCocompletions/doc/chapInd_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for InternalModules 2024.03-03
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  InternalModules/doc/chap1.html
  InternalModules/doc/chap1_mj.html
  InternalModules/doc/chap2.html
  InternalModules/doc/chap2_mj.html
  InternalModules/doc/chap3.html
  InternalModules/doc/chap3_mj.html
  InternalModules/doc/chap4.html
  InternalModules/doc/chap4_mj.html
  InternalModules/doc/chap5.html
  InternalModules/doc/chap5_mj.html
  InternalModules/doc/chap6.html
  InternalModules/doc/chap6_mj.html
  InternalModules/doc/chap7.html
  InternalModules/doc/chap7_mj.html
  InternalModules/doc/chap8.html
  InternalModules/doc/chap8_mj.html
  InternalModules/doc/chap9.html
  InternalModules/doc/chap9_mj.html
  InternalModules/doc/chapInd.html
  InternalModules/doc/chapInd_mj.html
  _data/InternalModules.yml
Due: none

Update website for LazyCategories 2024.03-03
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  LazyCategories/doc/chap1.html
  LazyCategories/doc/chap1_mj.html
  LazyCategories/doc/chap2.html
  LazyCategories/doc/chap2_mj.html
  LazyCategories/doc/chapInd.html
  LazyCategories/doc/chapInd_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2024.03-25
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap1.html
  Locales/doc/chap10.html
  Locales/doc/chap10_mj.html
  Locales/doc/chap11.html
  Locales/doc/chap11_mj.html
  Locales/doc/chap12.html
  Locales/doc/chap12_mj.html
  Locales/doc/chap13.html
  Locales/doc/chap13_mj.html
  Locales/doc/chap14.html
  Locales/doc/chap14_mj.html
  Locales/doc/chap15.html
  Locales/doc/chap15_mj.html
  Locales/doc/chap16.html
  Locales/doc/chap16_mj.html
  Locales/doc/chap1_mj.html
  Locales/doc/chap2.html
  Locales/doc/chap2_mj.html
  Locales/doc/chap3.html
  Locales/doc/chap3_mj.html
  Locales/doc/chap4.html
  Locales/doc/chap4_mj.html
  Locales/doc/chap5.html
  Locales/doc/chap5_mj.html
  Locales/doc/chap6.html
  Locales/doc/chap6_mj.html
  Locales/doc/chap7.html
  Locales/doc/chap7_mj.html
  Locales/doc/chap8.html
  Locales/doc/chap8_mj.html
  Locales/doc/chap9.html
  Locales/doc/chap9_mj.html
  Locales/doc/chapInd.html
  Locales/doc/chapInd_mj.html
  _data/Locales.yml
Due: Locales

Update website for ZariskiFrames 2024.03-02
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  ZariskiFrames/doc/chap1.html
  ZariskiFrames/doc/chap10.html
  ZariskiFrames/doc/chap10_mj.html
  ZariskiFrames/doc/chap11.html
  ZariskiFrames/doc/chap11_mj.html
  ZariskiFrames/doc/chap12.html
  ZariskiFrames/doc/chap12_mj.html
  ZariskiFrames/doc/chap13.html
  ZariskiFrames/doc/chap13_mj.html
  ZariskiFrames/doc/chap1_mj.html
  ZariskiFrames/doc/chap2.html
  ZariskiFrames/doc/chap2_mj.html
  ZariskiFrames/doc/chap3.html
  ZariskiFrames/doc/chap3_mj.html
  ZariskiFrames/doc/chap4.html
  ZariskiFrames/doc/chap4_mj.html
  ZariskiFrames/doc/chap5.html
  ZariskiFrames/doc/chap5_mj.html
  ZariskiFrames/doc/chap6.html
  ZariskiFrames/doc/chap6_mj.html
  ZariskiFrames/doc/chap7.html
  ZariskiFrames/doc/chap7_mj.html
  ZariskiFrames/doc/chap8.html
  ZariskiFrames/doc/chap8_mj.html
  ZariskiFrames/doc/chap9.html
  ZariskiFrames/doc/chap9_mj.html
  ZariskiFrames/doc/chapInd.html
  ZariskiFrames/doc/chapInd_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

switched to CapAndHomalg v1.6.0
  CatReps/PackageInfo.g
  CatReps/examples/notebooks/CategoryOfRepresentations.ipynb
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/julia/notebooks/CartesianBraiding.ipynb
  FiniteCocompletions/examples/julia/notebooks/CartesianDiagonal.ipynb
  FiniteCocompletions/examples/julia/notebooks/ReflexivePair.ipynb
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/DPO_Quivers.ipynb
  FunctorCategories/examples/notebooks/DecoratedFinQuivers.ipynb
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/FunctorCategories.ipynb
  FunctorCategories/examples/notebooks/ImageOfPullback_in_AbelianClosure_using_Adelman.ipynb
  FunctorCategories/examples/notebooks/ImageOfPullback_in_AbelianClosure_using_Freyd.ipynb
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  FunctorCategories/examples/notebooks/PairVsReflexivePair.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPushouts.ipynb
  FunctorCategories/examples/notebooks/ReflexiveCoequalizer.ipynb
  FunctorCategories/examples/notebooks/SnakeInFreeAbelian.ipynb
  FunctorCategories/examples/notebooks/SpecificRetractionYieldsIsomorphicCoequalizers.ipynb
  InternalModules/PackageInfo.g
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS1rep.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS4rep.ipynb
  LazyCategories/PackageInfo.g
  LazyCategories/examples/notebooks/SnakeInAbelian.ipynb
  LazyCategories/examples/notebooks/SnakeInFreeAbelian.ipynb
  Locales/PackageInfo.g
  Locales/examples/julia/notebooks/IdealQuotient.ipynb
  Locales/examples/julia/notebooks/IdealQuotient2.ipynb
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/examples/julia/notebooks/CavenderFarrisNeyman_reduced.ipynb
  ZariskiFrames/examples/julia/notebooks/Example.ipynb
  ZariskiFrames/examples/julia/notebooks/Graph.ipynb
  ZariskiFrames/examples/julia/notebooks/Hyperbola.ipynb
  ZariskiFrames/examples/julia/notebooks/Hyperbola_in_3d.ipynb
  ZariskiFrames/examples/julia/notebooks/Jordan.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,3)_0dim.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,4)_0dim.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,5)_0dim.ipynb
Due: CatReps, FunctorCategories, LazyCategories, Locales, ZariskiFrames

d&i IsClosedPreSheafWRTCoproductCocones
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gd
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gi
  FpCategories/gap/PathCategories.gd
  FpCategories/gap/PathCategories.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/ColimitingCocone.g
  FunctorCategories/examples/JoinCocone.g
  FunctorCategories/gap/ClosedCoPreSheavesWRTLimitingCones.gd
  FunctorCategories/gap/ClosedCoPreSheavesWRTLimitingCones.gi
  FunctorCategories/gap/ClosedPreSheavesWRTColimitingCocones.gd
  FunctorCategories/gap/ClosedPreSheavesWRTColimitingCocones.gi
  FunctorCategories/gap/FreeDistributiveCompletion.gd
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
  FunctorCategories/gap/Tools.gd
  FunctorCategories/gap/Tools.gi
  FunctorCategories/init.g
  FunctorCategories/read.g
  Locales/examples/DifferenceCSL.g
  Locales/examples/FreeBooleanAlgebra.g
  Locales/examples/PSh_J_coPSh_J.g
  Locales/gap/ProsetDerivedMethods.gi
  Locales/gap/SingleDifferences.gd
  Locales/gap/SingleDifferences.gi
  Locales/gap/ToolsUsingDigraphs.gi
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/gap/FullSubcategory.gi
  SubcategoriesForCAP/gap/KleisliReflectiveSubcategoryOfIdempotentMonad.gd
  SubcategoriesForCAP/gap/KleisliReflectiveSubcategoryOfIdempotentMonad.gi
  SubcategoriesForCAP/gap/Subcategory.gi
  SubcategoriesForCAP/gap/ToolsUsingDigraphs.gi
  SubcategoriesForCAP/init.g
  SubcategoriesForCAP/read.g
  ToolsForCategoricalTowers/gap/Tools.gi
Due: FunctorCategories, Locales, SubcategoriesForCAP

Update website for CatReps 2024.04-01
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2024.04-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2024.04-01
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2024.04-01
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for LazyCategories 2024.04-01
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2024.04-01
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for ZariskiFrames 2024.04-01
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

added an option to sort morphisms of externals homs similar to QPA.
  FpCategories/PackageInfo.g
  FpCategories/examples/PathCategory.g
  FpCategories/gap/PathCategories.gd
  FpCategories/gap/PathCategories.gi
Due: none

Update website for FpCategories 2024.04-01
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap1.html
  FpCategories/doc/chap1_mj.html
  FpCategories/doc/chap2.html
  FpCategories/doc/chap2.txt
  FpCategories/doc/chap2_mj.html
  FpCategories/doc/chap3.html
  FpCategories/doc/chap3_mj.html
  FpCategories/doc/chap4.html
  FpCategories/doc/chap4_mj.html
  FpCategories/doc/chapInd.html
  FpCategories/doc/chapInd_mj.html
  _data/FpCategories.yml
Due: none

applied PackageJanitor
  Algebroids/PackageInfo.g
  CatReps/PackageInfo.g
  CategoriesWithAmbientObjects/PackageInfo.g
  ExteriorPowersCategories/PackageInfo.g
  FiniteCocompletions/PackageInfo.g
  FpCategories/PackageInfo.g
  FunctorCategories/PackageInfo.g
  GradedCategories/PackageInfo.g
  InternalModules/PackageInfo.g
  IntrinsicCategories/PackageInfo.g
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicModules/PackageInfo.g
  LazyCategories/PackageInfo.g
  Locales/PackageInfo.g
  PreSheaves/PackageInfo.g
  QuotientCategories/PackageInfo.g
  SubcategoriesForCAP/PackageInfo.g
  ToolsForCategoricalTowers/PackageInfo.g
  Toposes/PackageInfo.g
  ZariskiFrames/PackageInfo.g
  dev/ci_gaprc
  dev/release-gap-package
Due: Algebroids, CategoriesWithAmbientObjects, CatReps, ExteriorPowersCategories, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

Update website for Algebroids 2024.04-01
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap1.html
  Algebroids/doc/chap10.html
  Algebroids/doc/chap10_mj.html
  Algebroids/doc/chap11.html
  Algebroids/doc/chap11_mj.html
  Algebroids/doc/chap12.html
  Algebroids/doc/chap12_mj.html
  Algebroids/doc/chap1_mj.html
  Algebroids/doc/chap2.html
  Algebroids/doc/chap2_mj.html
  Algebroids/doc/chap3.html
  Algebroids/doc/chap3_mj.html
  Algebroids/doc/chap4.html
  Algebroids/doc/chap4_mj.html
  Algebroids/doc/chap5.html
  Algebroids/doc/chap5_mj.html
  Algebroids/doc/chap6.html
  Algebroids/doc/chap6_mj.html
  Algebroids/doc/chap7.html
  Algebroids/doc/chap7_mj.html
  Algebroids/doc/chap8.html
  Algebroids/doc/chap8_mj.html
  Algebroids/doc/chap9.html
  Algebroids/doc/chap9_mj.html
  Algebroids/doc/chapInd.html
  Algebroids/doc/chapInd_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for CategoriesWithAmbientObjects 2024.04-01
  CategoriesWithAmbientObjects/PackageInfo.g
  CategoriesWithAmbientObjects/doc/chap0.html
  CategoriesWithAmbientObjects/doc/chap0.txt
  CategoriesWithAmbientObjects/doc/chap0_mj.html
  CategoriesWithAmbientObjects/doc/chap1.html
  CategoriesWithAmbientObjects/doc/chap1_mj.html
  CategoriesWithAmbientObjects/doc/chap2.html
  CategoriesWithAmbientObjects/doc/chap2_mj.html
  CategoriesWithAmbientObjects/doc/chapBib.html
  CategoriesWithAmbientObjects/doc/chapBib_mj.html
  CategoriesWithAmbientObjects/doc/chapInd.html
  CategoriesWithAmbientObjects/doc/chapInd_mj.html
  _data/CategoriesWithAmbientObjects.yml
Due: CategoriesWithAmbientObjects

Update website for CatReps 2024.04-02
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps
