Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

comply with CAP v2025.03-04
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteCoproductCompletion.g
  FiniteCocompletions/examples/precompileCartesianDiagonal_CategoryFromDataTables.g
  FiniteCocompletions/examples/precompileCartesianDiagonal_PathCategory.g
  FiniteCocompletions/examples/precompileLeftCartesianDistributivityFactoring_CategoryFromDataTables.g
  FiniteCocompletions/examples/precompileLeftCartesianDistributivityFactoring_PathCategory.g
  FpCategories/PackageInfo.g
  FpCategories/gap/Tools.gd
  Locales/PackageInfo.g
  Locales/gap/BooleanAlgebra.gd
  Locales/gap/CoHeytingAlgebra.gd
  Locales/gap/HeytingAlgebra.gd
  Locales/gap/Lattice.gd
  Locales/gap/Poset.gd
  Locales/gap/Proset.gd
  PreSheaves/PackageInfo.g
  PreSheaves/examples/TerminalCategory.g
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/examples/SliceCategory.g
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/gap/Tools.gd
  ToolsForCategoricalTowers/gap/Tools.gi
  ToolsForCategoricalTowers/gap/ToolsUsingDigraphs.gi
  Toposes/PackageInfo.g
  Toposes/gap/Topos.gd
Due: Locales, PreSheaves, SubcategoriesForCAP, Toposes

added ToolsForCategoricalTowers/examples/ListKnownDoctrines.g
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/examples/ListKnownDoctrines.g
  ToolsForCategoricalTowers/gap/Tools.gd
  ToolsForCategoricalTowers/tst/100_LoadPackage.tst
Due: none

added examples/julia/notebooks/DigraphOfKnownDoctrines.ipynb
  ToolsForCategoricalTowers/examples/julia/notebooks/DigraphOfKnownDoctrines.ipynb
Due: none

Update website for FiniteCocompletions 2025.03-04
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap14.html
  FiniteCocompletions/doc/chap14.txt
  FiniteCocompletions/doc/chap14_mj.html
  FiniteCocompletions/doc/chap1_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FpCategories 2025.03-04
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  _data/FpCategories.yml
Due: none

Update website for Locales 2025.03-04
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for PreSheaves 2025.03-01
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for SubcategoriesForCAP 2025.03-01
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  SubcategoriesForCAP/doc/chap4.html
  SubcategoriesForCAP/doc/chap4.txt
  SubcategoriesForCAP/doc/chap4_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Update website for ToolsForCategoricalTowers 2025.03-03
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap1.html
  ToolsForCategoricalTowers/doc/chap1.txt
  ToolsForCategoricalTowers/doc/chap1_mj.html
  ToolsForCategoricalTowers/doc/chapInd.html
  ToolsForCategoricalTowers/doc/chapInd.txt
  ToolsForCategoricalTowers/doc/chapInd_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for Toposes 2025.03-02
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

outsourced code from LazyCategories to ToolsForCategoricalTowers
  LazyCategories/PackageInfo.g
  LazyCategories/gap/LazyCategory.gd
  LazyCategories/gap/LazyCategory.gi
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/gap/Tools.gd
  ToolsForCategoricalTowers/gap/Tools.gi
Due: LazyCategories

Update website for LazyCategories 2025.04-01
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  LazyCategories/doc/chap2.html
  LazyCategories/doc/chap2.txt
  LazyCategories/doc/chap2_mj.html
  LazyCategories/doc/chapInd.html
  LazyCategories/doc/chapInd.txt
  LazyCategories/doc/chapInd_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for ToolsForCategoricalTowers 2025.04-01
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

whitespaces
  FpCategories/gap/Quivers.gi
Due: none

got rid of UnderlyingFinQuiver
  FpCategories/PackageInfo.g
  FpCategories/gap/Quivers.gd
  FpCategories/gap/Quivers.gi
Due: none

enhanced FinQuiver
  FpCategories/PackageInfo.g
  FpCategories/gap/Quivers.gi
Due: none

Update website for FpCategories 2025.04-02
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap1.html
  FpCategories/doc/chap1.txt
  FpCategories/doc/chap1_mj.html
  FpCategories/doc/chapInd.html
  FpCategories/doc/chapInd.txt
  FpCategories/doc/chapInd_mj.html
  _data/FpCategories.yml
Due: none

clean up in FpCategories
  FpCategories/PackageInfo.g
  FpCategories/gap/Tools.gd
  FpCategories/gap/Tools.gi
  FpCategories/gap/ToolsUsingDigraphs.gd
  FpCategories/gap/ToolsUsingDigraphs.gi
  FpCategories/init.g
  FpCategories/read.g
Due: none

Update website for FpCategories 2025.04-03
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  _data/FpCategories.yml
Due: none

enhanced CAP_INTERNAL_COMPACT_NAME_OF_CATEGORICAL_OPERATION
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/gap/Tools.gi
Due: none

Update website for ToolsForCategoricalTowers 2025.04-02
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

comply with CAP v2025.04-03
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/FiniteColimitCompletionWithStrictCoproducts.g
  FiniteCocompletions/examples/FreeElementaryToposOnOneObject.g
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/examples/ListKnownDoctrines.g
  ToolsForCategoricalTowers/examples/julia/notebooks/DigraphOfKnownDoctrines.ipynb
Due: none

Update website for FiniteCocompletions 2025.04-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap8.html
  FiniteCocompletions/doc/chap8.txt
  FiniteCocompletions/doc/chap8_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for ToolsForCategoricalTowers 2025.04-03
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap1.html
  ToolsForCategoricalTowers/doc/chap1.txt
  ToolsForCategoricalTowers/doc/chap1_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

comply with CAP v2025.04-04
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteCoproductCompletion.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteProductCompletion.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/TerminalCategory.g
  PreSheaves/PackageInfo.g
  PreSheaves/examples/TerminalCategory.g
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/examples/DummyCategoryInDoctrines.g
Due: FunctorCategories, PreSheaves

Update website for FiniteCocompletions 2025.04-02
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2.txt
  FiniteCocompletions/doc/chap2_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2025.04-01
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap9.html
  FunctorCategories/doc/chap9.txt
  FunctorCategories/doc/chap9_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for PreSheaves 2025.04-01
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for ToolsForCategoricalTowers 2025.04-04
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap1.html
  ToolsForCategoricalTowers/doc/chap1.txt
  ToolsForCategoricalTowers/doc/chap1_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

whitespace
  Algebroids/gap/CategoryOfFpAlgebras.gi
Due: Algebroids

improved method description string
  Algebroids/gap/CategoryOfFpAlgebras.gi
Due: Algebroids

simplified example file
  Algebroids/examples/doc/CategoryOfFpAlgebras.g
Due: Algebroids

relocated code within AddObjectConstructor in CategoryOfFpAlgebras
  Algebroids/gap/CategoryOfFpAlgebras.gi
Due: Algebroids

relocated code within AddDirectProduct in CategoryOfFpAlgebras
  Algebroids/gap/CategoryOfFpAlgebras.gi
Due: Algebroids

simplified AddDirectProduct in CategoryOfFpAlgebras
  Algebroids/gap/CategoryOfFpAlgebras.gi
Due: Algebroids

fixed AddUniversalMorphismIntoDirectProductWithGivenDirectProduct in CategoryOfFpAlgebras
  Algebroids/PackageInfo.g
  Algebroids/gap/CategoryOfFpAlgebras.gi
Due: Algebroids

unified List operations for the compiler
  Algebroids/gap/CategoryOfFpAlgebras.gi
Due: Algebroids

relocated code within AddUniversalMorphismIntoDirectProductWithGivenDirectProduct in CategoryOfFpAlgebras
  Algebroids/gap/CategoryOfFpAlgebras.gi
Due: Algebroids

CategoryOfFpAlgebras is now IsFiniteCocompleteCategory and IsBicartesianCategory
  Algebroids/examples/doc/CategoryOfFpAlgebras.g
  Algebroids/gap/CategoryOfFpAlgebras.gi
Due: Algebroids

bumped version of Algebroids
  Algebroids/PackageInfo.g
Due: Algebroids

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
