Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

replaced if fi if fi -> if elif fi as required by CompilerForCAP
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

CoYonedaLemmaOnObjects now complies with CompilerForCAP
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

removed wrong code comment
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

added several missing CapJitAddTypeSignature
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/gap/FiniteCoequalizerClosureOfCocartesianCategory.gd
  FiniteCocompletion/gap/FiniteColimitCocompletionWithStrictCoproducts.gd
  FiniteCocompletion/gap/FiniteStrictCoproductCocompletion.gd
  FiniteCocompletion/gap/FiniteStrictProductCompletion.gd
  PreSheaves/PackageInfo.g
  PreSheaves/gap/PreSheaves.gd
Due: FiniteCocompletion, PreSheaves

fixed ApplyObjectInPreSheafCategoryOfFpEnrichedCategoryToMorphism
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

replaced ValuesOnAllObjects( phi ) -> ListOfValues( ValuesOnAllObjects( phi ) )
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

adapted CoYonedaLemmaOnObjects for better compilation
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

d&i AssociatedFiniteColimitCocompletionWithStrictCoproductsOfSourceCategory
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/gap/FiniteColimitCocompletionWithStrictCoproducts.gd
  FiniteCocompletion/gap/FiniteColimitCocompletionWithStrictCoproducts.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: FiniteCocompletion, FunctorCategories

Update website for FunctorCategories 2023.03-25
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for PreSheaves 2023.03-02
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

continue adjusting to https://github.com/homalg-project/CAP_project/pull/1273
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFpCategoryInSkeletalFinSetsPrecompiled.gi
Due: FunctorCategories

Update website for FiniteCocompletion 2023.03-14
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  FiniteCocompletion/doc/chap7.html
  FiniteCocompletion/doc/chap7.txt
  FiniteCocompletion/doc/chap7_mj.html
  FiniteCocompletion/doc/chapInd.html
  FiniteCocompletion/doc/chapInd.txt
  FiniteCocompletion/doc/chapInd_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

Update website for FunctorCategories 2023.03-29
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd.txt
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for PreSheaves 2023.03-03
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

comply with CAP v2023.03-11
  Algebroids/PackageInfo.g
  Algebroids/gap/Algebroids.gi
  Algebroids/gap/CategoryFromDataTables.gi
  Algebroids/gap/CategoryFromNerveData.gi
  Algebroids/gap/FpCategories.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CoPreSheaves.gi
  FunctorCategories/gap/FunctorCategories.gi
  FunctorCategories/gap/PreSheaves.gi
Due: Algebroids, FunctorCategories

Update website for Algebroids 2023.03-09
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FunctorCategories 2023.03-30
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

continue adjusting to https://github.com/homalg-project/CAP_project/pull/1273
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/precompiled_categories/PreSheavesOfCategoryFromDataTablesInSkeletalFinSetsSubobjectClassifierPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFpCategoryInSkeletalFinSetsSubobjectClassifierPrecompiled.gi
Due: FunctorCategories

simplified CategoryOfBouquetsEnrichedOver/CategoryOfQuiversEnrichedOver
  FunctorCategories/gap/CategoryOfBouquets.gi
  FunctorCategories/gap/CategoryOfQuivers.gi
Due: FunctorCategories

simplified and fixed CategoryOfReflexiveQuiversEnrichedOver
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversAsCCCPrecompiled.gi
Due: FunctorCategories

Update website for FunctorCategories 2023.03-31
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for FunctorCategories 2023.03-32
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

replaced naive HomStructure for PreSheaves by CoYonedaLemma-based one
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/FinBouquets.g
  FunctorCategories/examples/FinQuivers.g
  FunctorCategories/examples/SubobjectClassifier.g
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  FunctorCategories/examples/notebooks/svg/SubobjectClassifierOfToposOfFinBouquets.svg
  FunctorCategories/examples/notebooks/svg/SubobjectClassifierOfToposOfFinQuivers.svg
  FunctorCategories/gap/HomStructure.gd
  FunctorCategories/gap/HomStructure.gi
  FunctorCategories/gap/PreSheaves.gi
  FunctorCategories/gap/precompiled_categories/FinBouquetsAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinBouquetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfCategoryFromDataTablesInSkeletalFinSetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFpCategoryInSkeletalFinSetsPrecompiled.gi
Due: FunctorCategories

install '/' methods for quotient categories
  PackageInfo.g
  gap/QuotientCategories.gi
Due: none

bumped version of FunctorCategories
  FunctorCategories/PackageInfo.g
Due: FunctorCategories

Update website for FunctorCategories 2023.03-33
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  FunctorCategories/doc/chap4.html
  FunctorCategories/doc/chap4.txt
  FunctorCategories/doc/chap4_mj.html
  FunctorCategories/doc/chap5.html
  FunctorCategories/doc/chap5.txt
  FunctorCategories/doc/chap5_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Add explicit preconditions to two derivations
  Toposes/PackageInfo.g
  Toposes/gap/ToposDerivedMethods.gi
Due: Toposes

Update website for Toposes 2023.03-06
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

Add explicit preconditions to all derivations
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/gap/ToolsDerivedMethods.gi
  Locales/PackageInfo.g
  Locales/gap/BooleanAlgebraDerivedMethods.gi
  Locales/gap/CoHeytingAlgebraDerivedMethods.gi
  Locales/gap/HeytingAlgebraDerivedMethods.gi
  Locales/gap/IntervalCategory.gi
  Locales/gap/LatticeDerivedMethods.gi
  Locales/gap/PosetDerivedMethods.gi
  Locales/gap/ProsetDerivedMethods.gi
  Toposes/PackageInfo.g
  Toposes/gap/ToposDerivedMethods.gi
Due: CategoryConstructor, Locales, Toposes

Update website for CategoryConstructor 2023.03-01
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/doc/chap0.html
  CategoryConstructor/doc/chap0.txt
  CategoryConstructor/doc/chap0_mj.html
  _data/CategoryConstructor.yml
Due: CategoryConstructor

Update website for Locales 2023.03-11
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for Toposes 2023.03-07
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

Pass description as second argument to derivations
  CategoryConstructor/gap/ToolsDerivedMethods.gi
  FunctorCategories/gap/ToolsDerivedMethods.gi
  Locales/gap/BooleanAlgebraDerivedMethods.gi
  Locales/gap/CoHeytingAlgebraDerivedMethods.gi
  Locales/gap/HeytingAlgebraDerivedMethods.gi
  Locales/gap/LatticeDerivedMethods.gi
  Locales/gap/PosetDerivedMethods.gi
  Locales/gap/ProsetDerivedMethods.gi
  Toposes/gap/ToposDerivedMethods.gi
Due: CategoryConstructor, FunctorCategories, Locales, Toposes

Pass description as argument to final derivations
  CategoryConstructor/gap/ToolsDerivedMethods.gi
  Locales/gap/IntervalCategory.gi
  Toposes/gap/ToposDerivedMethods.gi
Due: CategoryConstructor, Locales, Toposes

Bump versions
  CategoryConstructor/PackageInfo.g
  FunctorCategories/PackageInfo.g
  Locales/PackageInfo.g
  Toposes/PackageInfo.g
Due: CategoryConstructor, FunctorCategories, Locales, Toposes

Update website for CategoryConstructor 2023.03-02
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/doc/chap0.html
  CategoryConstructor/doc/chap0.txt
  CategoryConstructor/doc/chap0_mj.html
  _data/CategoryConstructor.yml
Due: CategoryConstructor

Update website for FunctorCategories 2023.03-34
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Locales 2023.03-12
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for Toposes 2023.03-08
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

d&i YonedaEmbeddingOfUnderlyingCategory
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/examples/FinBouquetsAsFiniteColimitCocompletion.g
  FiniteCocompletion/gap/FiniteColimitCocompletionWithStrictCoproducts.gd
  FiniteCocompletion/gap/FiniteColimitCocompletionWithStrictCoproducts.gi
Due: FiniteCocompletion
