Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

remove obsolete code
  FpCategories/gap/PathCategories.gi
Due: none

code clean up
  FpCategories/PackageInfo.g
  FpCategories/gap/PathCategories.gi
Due: none

renamed local variables
  Toposes/gap/ToposDerivedMethods.gi
Due: Toposes

got rid of global functions defined for Julia
  FpCategories/PackageInfo.g
  FpCategories/gap/Tools.gi
Due: none

Update website for FpCategories 2026.01-01
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  _data/FpCategories.yml
Due: none

relocated code
  Algebroids/gap/FpCategories.gi
Due: Algebroids

coding style/whitespaces
  FpCategories/gap/PathCategories.gi
Due: none

completed category_attribute_names in PathCategory constructor
  FpCategories/PackageInfo.g
  FpCategories/gap/PathCategories.gi
Due: none

fixed AddIsEqualForObjects/Morphisms & AddIsCongruentForMorphisms in FinQuiver
  FpCategories/PackageInfo.g
  FpCategories/gap/Quivers.gi
Due: none

fixed AddIsEqualForObjects in PathCategory
  FpCategories/PackageInfo.g
  FpCategories/gap/PathCategories.gi
Due: none

fixed deprecated use of SafePosition in some HomStructure methods
  Algebroids/PackageInfo.g
  Algebroids/gap/FpCategories.gi
  Toposes/PackageInfo.g
  Toposes/gap/ToposDerivedMethods.gi
Due: Algebroids, Toposes

Update website for Algebroids 2026.01-01
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FpCategories 2026.01-05
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  _data/FpCategories.yml
Due: none

Update website for Toposes 2026.01-01
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

whitespace
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
Due: none

added missing SetIsFiniteCategory( UC, true );
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
Due: none

used FunctionWithNamedArguments in more constructors
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
  FiniteCocompletions/gap/FiniteStrictCoproductCompletionOfObjectFiniteCategory.gi
  FiniteCocompletions/gap/FiniteStrictProductCompletion.gi
  FpCategories/PackageInfo.g
  FpCategories/gap/PathCategories.gi
  Locales/PackageInfo.g
  Locales/gap/ProsetOfCategory.gi
Due: Locales

AddSetOfObjectsOfCategory in FiniteStrictCoproductCompletionOfObjectFiniteCategory
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/FiniteStrictCoproductCompletionOfObjectFiniteCategory_poset.g
  FiniteCocompletions/gap/FiniteStrictCoproductCompletionOfObjectFiniteCategory.gd
  FiniteCocompletions/gap/FiniteStrictCoproductCompletionOfObjectFiniteCategory.gi
Due: none

Update website for FiniteCocompletions 2026.01-04
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2.txt
  FiniteCocompletions/doc/chap2_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FpCategories 2026.01-06
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  _data/FpCategories.yml
Due: none

Update website for Locales 2026.01-02
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

outsourced AllCoproducts method for thin categories from ToolsForCategoricalTowers to Locales
  Locales/PackageInfo.g
  Locales/gap/Tools.gi
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/gap/Tools.gd
  ToolsForCategoricalTowers/gap/Tools.gi
Due: Locales

fixed condition for SetIsSkeletalCategory
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/FiniteStrictCoproductCompletionOfObjectFiniteCategory.gi
Due: none

got rid of if-elif-else and improved methods for IsWellDefinedForObjects/Morphisms
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/CompilerLogic.gi
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
  FiniteCocompletions/gap/FiniteStrictCoproductCompletionOfObjectFiniteCategory.gi
  FiniteCocompletions/gap/precompiled_categories/SkeletalCategoryOfFiniteSetsAsFiniteStrictCoproductCompletionOfTerminalCategoryPrecompiled.gi
Due: none

comply with Julia
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
Due: none

Update website for FiniteCocompletions 2026.01-07
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for Locales 2026.01-03
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for ToolsForCategoricalTowers 2026.01-02
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap2.html
  ToolsForCategoricalTowers/doc/chap2.txt
  ToolsForCategoricalTowers/doc/chap2_mj.html
  ToolsForCategoricalTowers/doc/chapInd.html
  ToolsForCategoricalTowers/doc/chapInd.txt
  ToolsForCategoricalTowers/doc/chapInd_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for CatReps 2026.01-01
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2026.01-08
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2026.01-07
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2026.01-01
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for LazyCategories 2026.01-01
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2026.01-04
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for ToolsForCategoricalTowers 2026.01-03
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for ZariskiFrames 2026.01-01
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

unified local variables across code
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
  FiniteCocompletions/gap/FiniteStrictCoproductCompletionOfObjectFiniteCategory.gi
Due: none

increase code coverage
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/FiniteStrictProductCompletion_poset.g
Due: none

increase code coverage (#770)
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/FiniteStrictProductCompletion_poset.g
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
  FiniteCocompletions/gap/FiniteStrictCoproductCompletionOfObjectFiniteCategory.gi
Due: none

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
