Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

Revert "updated FiniteCocompletions"
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteCoproductCocompletion.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteProductCompletion.g
  FiniteCocompletions/tst/100_LoadPackage.tst
Due: none

Revert "relax timing comparison in AdditiveClosureOfAlgebroid_vs_QuiverRows.tst"
  Algebroids/tst/AdditiveClosureOfAlgebroid_vs_QuiverRows.tst
Due: Algebroids

Update website for FiniteCocompletions 2023.07-04
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap3.html
  FiniteCocompletions/doc/chap3.txt
  FiniteCocompletions/doc/chap3_mj.html
  _data/FiniteCocompletions.yml
Due: none

replaced ModelingCategory by UnderlyingCategory in compiler_hints.category_attribute_names
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gi
  FiniteCocompletions/gap/PairOfParallelArrowsCategory.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CategoryOfBouquets.gi
  FunctorCategories/gap/CategoryOfDecoratedQuivers.gi
  FunctorCategories/gap/CategoryOfQuivers.gi
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gi
  FunctorCategories/gap/CoPreSheaves.gi
  FunctorCategories/gap/FunctorCategories.gi
  FunctorCategories/gap/precompiled_categories/FinBouquetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversPrecompiled.gi
Due: FunctorCategories

deleted AddIsEqualForCacheForObjects/Morphisms in PreSheavesOfFpEnrichedCategory
  CatReps/PackageInfo.g
  CatReps/README.md
  CatReps/examples/CategoryOfRepresentations.g
  CatReps/examples/notebooks/CategoryOfRepresentations.ipynb
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/Dedekind2ndNumber.g
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  FunctorCategories/gap/PreSheaves.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfAlgebroidFromDataTablesInCategoryOfRowsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfAlgebroidWithRelationsInCategoryOfRowsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFreeAlgebroidInCategoryOfRowsPrecompiled.gi
  Locales/PackageInfo.g
  Locales/examples/Dedekind1stNumber.g
Due: CatReps, FunctorCategories, Locales

fixed use of SafePositionProperty and replaced it by SafeUniquePositionProperty
  FunctorCategories/gap/PreSheaves.gi
  FunctorCategories/gap/precompiled_categories/FinBouquetsAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinBouquetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversPrecompiled.gi
Due: FunctorCategories

added two temporary logic templates which improved the compiled code in *AsCCCPrecompiled.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CompilerLogic.gi
  FunctorCategories/gap/precompiled_categories/FinBouquetsAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversAsCCCPrecompiled.gi
Due: FunctorCategories

temporarily disabled examples/PrecompileAdditiveClosureOfAlgebroid.g
  Algebroids/examples/PrecompileAdditiveClosureOfAlgebroid.g
Due: Algebroids

Update website for CatReps 2023.07-02
  CatReps/PackageInfo.g
  CatReps/README.md
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  CatReps/doc/chap1.html
  CatReps/doc/chap1.txt
  CatReps/doc/chap1_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2023.07-05
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2023.07-08
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap11.html
  FunctorCategories/doc/chap11.txt
  FunctorCategories/doc/chap11_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Locales 2023.07-08
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap13.html
  Locales/doc/chap13.txt
  Locales/doc/chap13_mj.html
  _data/Locales.yml
Due: Locales

Reactivated the execution of examples/PrecompileAdditiveClosureOfAlgebroid.g
  Algebroids/PackageInfo.g
  Algebroids/examples/PrecompileAdditiveClosureOfAlgebroid.g
  Algebroids/gap/Algebroids.gi
  Algebroids/gap/precompiled_categories/AdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverFieldPrecompiled.gi
  Algebroids/gap/precompiled_categories/AdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverZPrecompiled.gi
Due: Algebroids

Update website for Algebroids 2023.07-05
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

comply PreSheaves with https://github.com/homalg-project/CAP_project/pull/1379
  PreSheaves/PackageInfo.g
  PreSheaves/gap/PreSheaves.gi
Due: PreSheaves

use DuplicateFreeList
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteCoproductCocompletion.g
  PreSheaves/PackageInfo.g
  PreSheaves/examples/TerminalCategory.g
  Toposes/PackageInfo.g
  Toposes/gap/Topos.gd
Due: PreSheaves, Toposes

added is_computable to two constructors
  Algebroids/PackageInfo.g
  Algebroids/gap/AlgebroidFromDataTables.gi
  PreSheaves/examples/PreSheavesOfSkeletalFinSets.g
  PreSheaves/gap/PreSheaves.gi
Due: Algebroids, PreSheaves

Update website for Algebroids 2023.07-06
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

bumped version of PreSheaves
  PreSheaves/PackageInfo.g
Due: PreSheaves

Update website for FiniteCocompletions 2023.07-06
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for PreSheaves 2023.07-02
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for Toposes 2023.07-04
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

Update website for PreSheaves 2023.07-03
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

relocated code
  IntrinsicCategories/gap/IntrinsicCategories.gi
Due: IntrinsicCategories

renamed local variable
  IntrinsicCategories/gap/IntrinsicCategories.gi
Due: IntrinsicCategories

switched IntrinsicCategory to default CategoryConstructor
  IntrinsicCategories/PackageInfo.g
  IntrinsicCategories/gap/IntrinsicCategories.gd
  IntrinsicCategories/gap/IntrinsicCategories.gi
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/examples/PresentationWithDegrees.g
  IntrinsicGradedModules/gap/FpGradedModulesByFreyd.autogen.gd
  IntrinsicModules/PackageInfo.g
  IntrinsicModules/gap/FpModulesByFreyd.autogen.gd
Due: IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules

Use CreateCapCategoryWithDataTypes
  Algebroids/gap/CategoryOfAlgebroids.gi
  ExteriorPowersCategories/gap/ExteriorPowersCategory.gi
Due: Algebroids, ExteriorPowersCategories

Update website for IntrinsicCategories 2023.07-01
  IntrinsicCategories/PackageInfo.g
  IntrinsicCategories/doc/chap0.html
  IntrinsicCategories/doc/chap0.txt
  IntrinsicCategories/doc/chap0_mj.html
  IntrinsicCategories/doc/chap1.html
  IntrinsicCategories/doc/chap1.txt
  IntrinsicCategories/doc/chap1_mj.html
  IntrinsicCategories/doc/chapInd.html
  IntrinsicCategories/doc/chapInd.txt
  IntrinsicCategories/doc/chapInd_mj.html
  _data/IntrinsicCategories.yml
Due: IntrinsicCategories

Update website for IntrinsicGradedModules 2023.07-01
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/doc/chap0.html
  IntrinsicGradedModules/doc/chap0.txt
  IntrinsicGradedModules/doc/chap0_mj.html
  IntrinsicGradedModules/doc/chap1.html
  IntrinsicGradedModules/doc/chap1.txt
  IntrinsicGradedModules/doc/chap1_mj.html
  _data/IntrinsicGradedModules.yml
Due: IntrinsicGradedModules

Update website for IntrinsicModules 2023.07-01
  IntrinsicModules/PackageInfo.g
  IntrinsicModules/doc/chap0.html
  IntrinsicModules/doc/chap0.txt
  IntrinsicModules/doc/chap0_mj.html
  IntrinsicModules/doc/chap1.html
  IntrinsicModules/doc/chap1.txt
  IntrinsicModules/doc/chap1_mj.html
  _data/IntrinsicModules.yml
Due: IntrinsicModules

comply with CAP v2023.07-06
  PreSheaves/PackageInfo.g
  PreSheaves/examples/PreSheavesOfSkeletalFinSets.g
Due: PreSheaves

removed obsolete AddIsEqualForCacheForObjects/Morphisms
  PreSheaves/PackageInfo.g
  PreSheaves/examples/PreSheavesOfSkeletalFinSets.g
  PreSheaves/gap/PreSheaves.gi
Due: PreSheaves

ObjectifyObject* -> CreateCapCategoryObject*
  Algebroids/gap/CategoryOfAlgebroids.gi
  Algebroids/gap/QuiverRows.gi
  ExteriorPowersCategories/gap/ExteriorPowersCategory.gi
  SubcategoriesForCAP/gap/Subcategory.gi
Due: Algebroids, ExteriorPowersCategories, SubcategoriesForCAP

ObjectifyMorphism* -> CreateCapCategoryMorphism*
  Algebroids/gap/CategoryOfAlgebroids.gi
  Algebroids/gap/QuiverRows.gi
  ExteriorPowersCategories/gap/ExteriorPowersCategory.gi
  SubcategoriesForCAP/gap/Subcategory.gi
Due: Algebroids, ExteriorPowersCategories, SubcategoriesForCAP

Update website for PreSheaves 2023.07-05
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

simplified code
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

use SafeUniquePositionProperty instead of SafePosition
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
  FunctorCategories/gap/precompiled_categories/FinBouquetsAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversAsCCCPrecompiled.gi
Due: FunctorCategories

autogenerate ENHANCED_SYNTAX_TREEs_for_CategoryOf*
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/ENHANCED_SYNTAX_TREEs_for_CategoryOfQuivers.g
  FiniteCocompletions/gap/ENHANCED_SYNTAX_TREEs_for_CategoryOfQuivers.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/ENHANCED_SYNTAX_TREEs_for_CategoryOfBouquets.g
  FunctorCategories/examples/ENHANCED_SYNTAX_TREEs_for_CategoryOfReflexiveQuivers.g
  FunctorCategories/gap/ENHANCED_SYNTAX_TREEs_for_CategoryOfBouquets.gi
  FunctorCategories/gap/ENHANCED_SYNTAX_TREEs_for_CategoryOfReflexiveQuivers.gi
Due: FunctorCategories

outsourced ENHANCED_SYNTAX_TREEs to separate files
  FiniteCocompletions/gap/ENHANCED_SYNTAX_TREEs_for_CategoryOfQuivers.gi
  FiniteCocompletions/gap/PairOfParallelArrowsCategory.gi
  FiniteCocompletions/read.g
  FunctorCategories/gap/CategoryOfBouquets.gi
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gi
  FunctorCategories/gap/ENHANCED_SYNTAX_TREEs_for_CategoryOfBouquets.gi
  FunctorCategories/gap/ENHANCED_SYNTAX_TREEs_for_CategoryOfReflexiveQuivers.gi
  FunctorCategories/read.g
Due: FunctorCategories

Update website for FunctorCategories 2023.07-09
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
