Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

Update website for IntrinsicGradedModules 2023.02-05
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/doc/chap0.html
  IntrinsicGradedModules/doc/chap0.txt
  IntrinsicGradedModules/doc/chap0_mj.html
  _data/IntrinsicGradedModules.yml
Due: IntrinsicGradedModules

Update website for IntrinsicModules 2023.02-03
  IntrinsicModules/PackageInfo.g
  IntrinsicModules/doc/chap0.html
  IntrinsicModules/doc/chap0.txt
  IntrinsicModules/doc/chap0_mj.html
  _data/IntrinsicModules.yml
Due: IntrinsicModules

Update website for LazyCategories 2023.02-04
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2023.02-06
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for PreSheaves 2023.02-05
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for SubcategoriesForCAP 2023.02-05
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Update website for Toposes 2023.02-04
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

Update website for ZariskiFrames 2023.02-04
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

comply with CAP v2023.02-11
  Toposes/PackageInfo.g
  Toposes/gap/ToposDerivedMethods.gi
Due: Toposes

Update website for Toposes 2023.02-05
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

Use CreateCapCategory with four arguments
  Algebroids/PackageInfo.g
  Algebroids/gap/Algebroids.gi
  Algebroids/gap/FpCategories.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/AbelianClosure.gi
  Toposes/PackageInfo.g
  Toposes/gap/CategoryOfRelations.gi
Due: Algebroids, FunctorCategories, Toposes

sectioning in code
  FunctorCategories/gap/CategoryOfQuivers.gi
Due: FunctorCategories

expanded ColimitPair
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/gap/Tools.gi
Due: CategoryConstructor

Update website for Algebroids 2023.03-01
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FunctorCategories 2023.03-01
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Toposes 2023.03-01
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

RightQuiver of QuiverOfCategoryOfBouquets: q(V,L)[b:V->L] -> q(P,L)[b:P->L]
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/FinBouquets.g
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/gap/CategoryOfBouquets.gi
Due: FunctorCategories

CategoryOfQuivers(InCategory) now has its own filters
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/CategoryOfQuiversInCategory.g
  FunctorCategories/gap/CategoryOfQuiversInCategory.gd
  FunctorCategories/gap/CategoryOfQuiversInCategory.gi
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Update website for CategoryConstructor 2023.02-03
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/doc/chap0.html
  CategoryConstructor/doc/chap0.txt
  CategoryConstructor/doc/chap0_mj.html
  _data/CategoryConstructor.yml
Due: CategoryConstructor

Update website for FunctorCategories 2023.03-03
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap4.html
  FunctorCategories/doc/chap4.txt
  FunctorCategories/doc/chap4_mj.html
  FunctorCategories/doc/chap9.html
  FunctorCategories/doc/chap9.txt
  FunctorCategories/doc/chap9_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd.txt
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

renamed: CategoryOfQuiversInCategory.g -> CategoryOfQuiversInFinReflexiveQuivers.g
  FunctorCategories/examples/CategoryOfQuiversInFinReflexiveQuivers.g
Due: FunctorCategories

renamed local variable: o -> m
  Algebroids/gap/FpCategories.gi
Due: Algebroids

renamed SkeletalFinSetsAs...( ) -> CategoryOfSkeletalFinSetsAs...( )
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/examples/PrecompileSkeletalFinSets.g
  FiniteCocompletion/examples/SkeletalCoproduct.g
  FiniteCocompletion/examples/SkeletalDirectProduct.g
  FiniteCocompletion/examples/SkeletalHomStructure.g
  FiniteCocompletion/examples/SkeletalInitialTerminal.g
  FiniteCocompletion/examples/SkeletalPreCompose.g
  FiniteCocompletion/examples/SkeletalWellDefined.g
  FiniteCocompletion/gap/SkeletalFinSets.gd
  FiniteCocompletion/gap/SkeletalFinSets.gi
  FiniteCocompletion/gap/precompiled_categories/CategoryOfSkeletalFinSetsAsFiniteStrictCoproductCocompletionOfTerminalCategoryPrecompiled.gi
  FiniteCocompletion/read.g
Due: FiniteCocompletion

simplified Display method for IsMorphismInFiniteStrict(Co)productCocompletion
  FiniteCocompletion/gap/FiniteStrictCoproductCocompletion.gi
  FiniteCocompletion/gap/FiniteStrictProductCompletion.gi
Due: FiniteCocompletion

installed PrintObj/Display for IsObject/MorphismInFpCategory/CategoryFromNerveData/DataTables
  Algebroids/PackageInfo.g
  Algebroids/gap/CategoryFromDataTables.gi
  Algebroids/gap/CategoryFromNerveData.gi
  Algebroids/gap/FpCategories.gi
Due: Algebroids

Set missing RangeCategoryOfHomomorphismStructure of CategoryOfRelations
  Toposes/PackageInfo.g
  Toposes/gap/CategoryOfRelations.gi
Due: Toposes

Adjust to https://github.com/homalg-project/CAP_project/pull/1272
  Algebroids/PackageInfo.g
  Algebroids/gap/Algebroids.gi
  Locales/PackageInfo.g
  Locales/gap/ProsetOfCategory.gi
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/gap/EagerSliceCategory.gi
  SubcategoriesForCAP/gap/LazySliceCategory.gi
  SubcategoriesForCAP/gap/SliceCategory.gi
Due: Algebroids, Locales, SubcategoriesForCAP

Update website for Algebroids 2023.03-02
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FiniteCocompletion 2023.03-01
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  FiniteCocompletion/doc/chap2.html
  FiniteCocompletion/doc/chap2.txt
  FiniteCocompletion/doc/chap2_mj.html
  FiniteCocompletion/doc/chap4.html
  FiniteCocompletion/doc/chap4.txt
  FiniteCocompletion/doc/chap4_mj.html
  FiniteCocompletion/doc/chapInd.html
  FiniteCocompletion/doc/chapInd.txt
  FiniteCocompletion/doc/chapInd_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

updated notebooks in FiniteCocompletion
  FiniteCocompletion/examples/notebooks/CartesianBraiding.ipynb
  FiniteCocompletion/examples/notebooks/CartesianDiagonal.ipynb
  FiniteCocompletion/examples/notebooks/ReflexivePair.ipynb
Due: FiniteCocompletion

enhanced Display method for IsMorphismInFiniteStrict(Co)ProductCompletion
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/examples/CartesianBraiding.g
  FiniteCocompletion/examples/CartesianDiagonal.g
  FiniteCocompletion/examples/CocartesianBraiding.g
  FiniteCocompletion/examples/CocartesianCodiagonal.g
  FiniteCocompletion/examples/HomStructure.g
  FiniteCocompletion/examples/notebooks/CartesianBraiding.ipynb
  FiniteCocompletion/examples/notebooks/CartesianDiagonal.ipynb
  FiniteCocompletion/gap/FiniteStrictCoproductCocompletion.gi
  FiniteCocompletion/gap/FiniteStrictProductCompletion.gi
Due: FiniteCocompletion

Update website for Algebroids 2023.03-03
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for Locales 2023.03-01
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for SubcategoriesForCAP 2023.03-01
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Update website for Toposes 2023.03-02
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

Update website for FiniteCocompletion 2023.03-02
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  FiniteCocompletion/doc/chap1.html
  FiniteCocompletion/doc/chap1.txt
  FiniteCocompletion/doc/chap1_mj.html
  FiniteCocompletion/doc/chap3.html
  FiniteCocompletion/doc/chap3.txt
  FiniteCocompletion/doc/chap3_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

changed chunk name
  FunctorCategories/examples/CategoryOfQuiversInFinReflexiveQuivers.g
  FunctorCategories/gap/CategoryOfQuiversInCategory.gd
Due: FunctorCategories

whitespace
  FunctorCategories/gap/CategoryOfQuiversInCategory.gi
Due: FunctorCategories

added a local variable for better readability
  FunctorCategories/gap/CategoryOfQuiversInCategory.gi
Due: FunctorCategories

renamed local variables for better readability
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories
