Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

switch to CreateCapCategoryObject/MorphismWithAttributes Object/MorphismInAlgebroid
  Algebroids/PackageInfo.g
  Algebroids/gap/Algebroids.gi
Due: Algebroids

deleted obsolete code in CategoryOfColimitQuivers
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gi
Due: none

Update website for Locales 2023.06-18
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap12.html
  Locales/doc/chap12.txt
  Locales/doc/chap12_mj.html
  Locales/doc/chap7.html
  Locales/doc/chap7.txt
  Locales/doc/chap7_mj.html
  Locales/doc/chapInd.html
  Locales/doc/chapInd.txt
  Locales/doc/chapInd_mj.html
  _data/Locales.yml
Due: Locales

switched to CapJitDataTypeOfListOf/CapJitDataTypeOfNTupleOf
  Algebroids/PackageInfo.g
  Algebroids/examples/PrecompileAdditiveClosureOfAlgebroid.g
  Algebroids/examples/PrecompileAdelmanCategoryOfAdditiveClosureOfAlgebroid.g
  Algebroids/gap/AlgebroidFromDataTables.gd
  Algebroids/gap/Algebroids.gd
  Algebroids/gap/CategoryFromDataTables.gd
  Algebroids/gap/CategoryFromNerveData.gd
  Algebroids/gap/FpCategories.gd
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gd
  FiniteCocompletions/gap/FiniteStrictCoproductCocompletion.gd
  FiniteCocompletions/gap/FiniteStrictCoproductCocompletion.gi
  FiniteCocompletions/gap/FiniteStrictProductCompletion.gd
  FiniteCocompletions/gap/PairOfParallelArrowsCategory.gd
  FiniteCocompletions/gap/SkeletalFinSets.gd
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CategoryOfBouquets.gd
  FunctorCategories/gap/CategoryOfDecoratedQuivers.gd
  FunctorCategories/gap/CategoryOfQuivers.gd
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gd
  FunctorCategories/gap/CoPreSheaves.gd
  FunctorCategories/gap/FunctorCategories.gd
  FunctorCategories/gap/PreSheaves.gd
  Locales/PackageInfo.g
  Locales/gap/ConstructibleObjectsAsUnionOfSingleDifferences.gd
  Locales/gap/MultipleDifferences.gd
  Locales/gap/ProsetOfCategory.gd
  Locales/gap/SingleDifferences.gd
  PreSheaves/PackageInfo.g
  PreSheaves/gap/PreSheaves.gd
  Toposes/PackageInfo.g
  Toposes/gap/CategoryOfRelations.gd
  Toposes/gap/Tools.gd
Due: Algebroids, FunctorCategories, Locales, PreSheaves, Toposes

standardized names of filters
  Algebroids/PackageInfo.g
  Algebroids/gap/AlgebroidFromDataTables.gd
  Algebroids/gap/AlgebroidFromDataTables.gi
Due: Algebroids

IsAlgebroidFromDataTablesObject/Morphism now lie in IsCellInAlgebroidFromDataTables
  Algebroids/gap/AlgebroidFromDataTables.gd
Due: Algebroids

QuiverRows now uses CreateCapCategory with 5 arguments
  Algebroids/gap/QuiverRows.gi
Due: Algebroids

switched several categories from CreateCapCategory -> CreateCapCategoryWithDataTypes
  Algebroids/PackageInfo.g
  Algebroids/gap/AlgebroidFromDataTables.gi
  Algebroids/gap/Algebroids.gi
  Algebroids/gap/CategoryFromDataTables.gi
  Algebroids/gap/FpCategories.gi
  Locales/PackageInfo.g
  Locales/examples/DiscreteSkeletalCategory.g
  Locales/examples/TotalOrderAsCategory.g
  Locales/gap/IntervalCategory.gi
  Locales/gap/ProsetAsCategory.gi
  Locales/gap/SingleDifferences.gi
  Toposes/PackageInfo.g
  Toposes/gap/CategoryOfRelations.gi
Due: Algebroids, Locales, Toposes

Update website for Algebroids 2023.07-01
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FiniteCocompletions 2023.06-18
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

simplified CapJitAddTypeSignature( "NerveData", [ IsCapCategory ], ... )
  Algebroids/gap/CategoryFromNerveData.gd
Due: Algebroids

switched to CreateCapCategoryWithDataTypes in CategoryFromNerveData
  Algebroids/gap/CategoryFromNerveData.gi
Due: Algebroids

Update website for Algebroids 2023.07-04
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap6.html
  Algebroids/doc/chap6.txt
  Algebroids/doc/chap6_mj.html
  Algebroids/doc/chap9.html
  Algebroids/doc/chap9.txt
  Algebroids/doc/chap9_mj.html
  Algebroids/doc/chapInd.html
  Algebroids/doc/chapInd.txt
  Algebroids/doc/chapInd_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FiniteCocompletions 2023.07-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2023.07-01
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Locales 2023.07-02
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap7.html
  Locales/doc/chap7.txt
  Locales/doc/chap7_mj.html
  _data/Locales.yml
Due: Locales

Update website for PreSheaves 2023.07-01
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for Toposes 2023.07-02
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

bump version of Locales
  Locales/PackageInfo.g
Due: Locales

remove wrong SetRangeCategoryOfHomomorphismStructure in ProsetAsCategory
  Locales/PackageInfo.g
  Locales/gap/IntervalCategory.gi
  Locales/gap/ProsetAsCategory.gi
Due: Locales

Load Julia convenience for "Visualize" only if Digraphs is loaded
  Locales/PackageInfo.g
  Locales/gap/JuliaWithDigraphs.gi
  Locales/read.g
Due: Locales

Update website for Locales 2023.07-04
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for Locales 2023.07-05
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

outsourced AddDerivationToCAP( IsHomSetInhabited, ... ) to FinSetsForCAP v2023.06-06
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  Toposes/PackageInfo.g
  Toposes/gap/ToposDerivedMethods.gi
Due: FunctorCategories, Toposes

Update website for FunctorCategories 2023.07-02
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Toposes 2023.07-03
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

Fix indentation
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

fixed CapJitAddTypeSignature( "DefiningPairOfColimitQuiverMorphism", ... )
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gd
Due: none

coding style
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gi
  FiniteCocompletions/gap/FiniteStrictProductCompletion.gi
  FiniteCocompletions/gap/PairOfParallelArrowsCategory.gi
  FiniteCocompletions/gap/SkeletalFinSets.gi
  FunctorCategories/gap/CategoryOfBouquets.gi
  FunctorCategories/gap/CategoryOfDecoratedQuivers.gi
  FunctorCategories/gap/CategoryOfQuivers.gi
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gi
  FunctorCategories/gap/CoPreSheaves.gi
  FunctorCategories/gap/FunctorCategories.gi
Due: FunctorCategories

Update website for FunctorCategories 2023.07-03
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

added object_datum_type/morphism_datum_type to ReinterpretationOfCategory
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gi
  FiniteCocompletions/gap/FiniteStrictProductCompletion.gi
  FiniteCocompletions/gap/PairOfParallelArrowsCategory.gi
  FiniteCocompletions/gap/SkeletalFinSets.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CategoryOfBouquets.gi
  FunctorCategories/gap/CategoryOfDecoratedQuivers.gi
  FunctorCategories/gap/CategoryOfQuivers.gi
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gi
  FunctorCategories/gap/CoPreSheaves.gi
  FunctorCategories/gap/FunctorCategories.gi
Due: FunctorCategories

Update website for FiniteCocompletions 2023.07-03
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2023.07-04
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Complying with turning ComplexesCategories into a suggested package in QPA
  CatReps/PackageInfo.g
  FiniteCocompletions/tst/100_LoadPackage.tst
  FunctorCategories/PackageInfo.g
  FunctorCategories/tst/100_LoadPackage.tst
Due: CatReps, FunctorCategories

renamed UnderlyingMeetSemilatticeOfDifferences -> UnderlyingMeetSemilatticeOfSingleDifferences
  Locales/PackageInfo.g
  Locales/gap/ConstructibleObjectsAsUnionOfSingleDifferences.gd
  Locales/gap/ConstructibleObjectsAsUnionOfSingleDifferences.gi
Due: Locales

finalize MeetSemilatticeOfSingle/MultipleDifferences called in other constructors
  Locales/PackageInfo.g
  Locales/gap/ConstructibleObjectsAsUnionOfMultipleDifferences.gi
  Locales/gap/ConstructibleObjectsAsUnionOfSingleDifferences.gi
  Locales/gap/MultipleDifferences.gi
Due: Locales

use CapJitDataTypeOfNTupleOf in MeetSemilatticeOfSingleDifferences
  Locales/gap/SingleDifferences.gi
Due: Locales

Update website for CatReps 2023.07-01
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FunctorCategories 2023.07-05
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Locales 2023.07-07
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
