Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

Revert "temporarily disable testing notebook"
  CatReps/makefile
  FunctorCategories/makefile
  InternalModules/makefile
  LazyCategories/makefile
Due: CatReps, FunctorCategories, LazyCategories

continue replacing Range -> Target where possible
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CoPreSheaves.gd
  FunctorCategories/gap/CoPreSheaves.gi
  FunctorCategories/gap/FunctorCategories.gd
  FunctorCategories/gap/FunctorCategories.gi
  FunctorCategories/gap/PreSheaves.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfAlgebroidFromDataTablesInCategoryOfRowsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfAlgebroidWithRelationsInCategoryOfRowsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfCategoryFromDataTablesInSkeletalFinSetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFpCategoryInSkeletalFinSetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFreeAlgebroidInCategoryOfRowsPrecompiled.gi
  IntrinsicCategories/PackageInfo.g
  IntrinsicCategories/gap/IntrinsicCategories.gi
  PreSheaves/PackageInfo.g
  PreSheaves/gap/PreSheaves.gd
  PreSheaves/gap/PreSheaves.gi
  PreSheaves/gap/PreSheavesWithBounds.gd
Due: FunctorCategories, IntrinsicCategories, PreSheaves

Update website for FunctorCategories 2023.10-22
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap1.html
  FunctorCategories/doc/chap1.txt
  FunctorCategories/doc/chap12.html
  FunctorCategories/doc/chap12.txt
  FunctorCategories/doc/chap12_mj.html
  FunctorCategories/doc/chap1_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd.txt
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for IntrinsicCategories 2023.10-02
  IntrinsicCategories/PackageInfo.g
  IntrinsicCategories/doc/chap0.html
  IntrinsicCategories/doc/chap0.txt
  IntrinsicCategories/doc/chap0_mj.html
  _data/IntrinsicCategories.yml
Due: IntrinsicCategories

d&i EmbeddingFunctorOfFiniteStrictCoproductCompletionIntoPreSheaves
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/Weierstrass.g
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Update website for PreSheaves 2023.10-05
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  PreSheaves/doc/chap2.html
  PreSheaves/doc/chap2.txt
  PreSheaves/doc/chap2_mj.html
  PreSheaves/doc/chapInd.html
  PreSheaves/doc/chapInd.txt
  PreSheaves/doc/chapInd_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for FunctorCategories 2023.10-23
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd.txt
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

updated example file
  FunctorCategories/examples/SubobjectClassifier.g
Due: FunctorCategories

updated examples/Weierstrass.g
  FunctorCategories/examples/Weierstrass.g
Due: FunctorCategories

whitespace
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

removed obsolete commented code
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

replace IsZero( G ) -> IsInitial( G )
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

d&i MaximalMorphismFromRepresentable
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

renamed local variable
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

renamed MorphismFromRepresentable -> MorphismFromRepresentableByYonedaLemma
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Update website for FunctorCategories 2023.10-24
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd.txt
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for FunctorCategories 2023.10-25
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd.txt
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

comply with MonoidalCategories/CartesianCategories v2023.10-01
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/examples/MorphismBetweenCoproducts.g
  CategoryConstructor/examples/MorphismBetweenDirectProducts.g
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteCoproductCompletion.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteProductCompletion.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/TerminalCategory.g
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  InternalModules/PackageInfo.g
  InternalModules/examples/SymmetricAlgebraInternalToS4rep.g
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS1rep.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS4rep.ipynb
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/examples/PresentationWithDegrees.g
  IntrinsicGradedModules/gap/FpGradedModulesByFreyd.autogen.gd
  IntrinsicModules/PackageInfo.g
  IntrinsicModules/gap/FpModulesByFreyd.autogen.gd
  Locales/PackageInfo.g
  Locales/examples/StablePosetOfCategory.g
  PreSheaves/PackageInfo.g
  PreSheaves/examples/TerminalCategory.g
  Toposes/PackageInfo.g
  Toposes/tst/Opposite.tst
Due: CategoryConstructor, FunctorCategories, IntrinsicGradedModules, IntrinsicModules, Locales, PreSheaves, Toposes

improve readability of MorphismFromRepresentableByYonedaLemma
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

d&i CoveringListOfRepresentablesUsingSplits
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

added missing category as first argument
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

d&i EpimorphismFromSomeProjectiveObjectUsingSplits
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/Weierstrass.g
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Update website for CategoryConstructor 2023.10-08
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/doc/chap0.html
  CategoryConstructor/doc/chap0.txt
  CategoryConstructor/doc/chap0_mj.html
  CategoryConstructor/doc/chap1.html
  CategoryConstructor/doc/chap1.txt
  CategoryConstructor/doc/chap1_mj.html
  _data/CategoryConstructor.yml
Due: CategoryConstructor

Update website for FiniteCocompletions 2023.10-11
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2.txt
  FiniteCocompletions/doc/chap2_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2023.10-28
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  FunctorCategories/doc/chap9.html
  FunctorCategories/doc/chap9.txt
  FunctorCategories/doc/chap9_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd.txt
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2023.10-06
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  InternalModules/doc/chap1.html
  InternalModules/doc/chap1.txt
  InternalModules/doc/chap1_mj.html
  _data/InternalModules.yml
Due: none

Update website for IntrinsicGradedModules 2023.10-06
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/doc/chap0.html
  IntrinsicGradedModules/doc/chap0.txt
  IntrinsicGradedModules/doc/chap0_mj.html
  IntrinsicGradedModules/doc/chap1.html
  IntrinsicGradedModules/doc/chap1.txt
  IntrinsicGradedModules/doc/chap1_mj.html
  _data/IntrinsicGradedModules.yml
Due: IntrinsicGradedModules

Update website for IntrinsicModules 2023.10-05
  IntrinsicModules/PackageInfo.g
  IntrinsicModules/doc/chap0.html
  IntrinsicModules/doc/chap0.txt
  IntrinsicModules/doc/chap0_mj.html
  IntrinsicModules/doc/chap1.html
  IntrinsicModules/doc/chap1.txt
  IntrinsicModules/doc/chap1_mj.html
  _data/IntrinsicModules.yml
Due: IntrinsicModules

Update website for Locales 2023.10-03
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap8.html
  Locales/doc/chap8.txt
  Locales/doc/chap8_mj.html
  _data/Locales.yml
Due: Locales

Update website for PreSheaves 2023.10-06
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for Toposes 2023.10-08
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

updated Weierstrass.g
  FunctorCategories/examples/Weierstrass.g
Due: FunctorCategories

more code comments
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

indicated alternative code for else-case that is analogous to if-case
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

use LiftOrFail instead of IsSplitEpimorphism/PreInverseForMorphisms
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

fixed MaximalMorphismFromRepresentable
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Update website for FunctorCategories 2023.10-29
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories
