Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

whitespaces
  FunctorCategories/gap/PreSheaves.gd
Due: FunctorCategories

d&i SectionByCoveringListOfRepresentables
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Update website for FunctorCategories 2023.10-30
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd.txt
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

renamed local variables *range* -> *target*
  FiniteCocompletions/gap/AdditiveClosure.gi
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gi
  FiniteCocompletions/gap/CoFreydCategory.gi
  FiniteCocompletions/gap/CoequalizerCompletion.gi
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
  FiniteCocompletions/gap/FiniteStrictProductCompletion.gi
  FiniteCocompletions/gap/FreydCategory.gi
  FiniteCocompletions/gap/PairOfParallelArrowsCategory.gi
  FiniteCocompletions/gap/SkeletalFinSets.gi
Due: none

make variable_names in logic templates more suggestive
  FiniteCocompletions/gap/CompilerLogic.gi
Due: none

turned Int -> BigInt in FiniteStrictCoproductCompletion
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/CompilerLogic.gi
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gd
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
  FiniteCocompletions/gap/FiniteStrictProductCompletion.gd
  FiniteCocompletions/gap/FiniteStrictProductCompletion.gi
  FiniteCocompletions/gap/SkeletalFinSets.gd
  FiniteCocompletions/gap/SkeletalFinSets.gi
  FiniteCocompletions/gap/precompiled_categories/SkeletalCategoryOfFiniteSetsAsFiniteStrictCoproductCompletionOfTerminalCategoryPrecompiled.gi
Due: none

fixed call of DirectProduct
  Locales/PackageInfo.g
  Locales/gap/LatticeDerivedMethods.gi
Due: Locales

d&i AddMorphismsOfExternalHomForReinterpretationOfCategory
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gi
  FiniteCocompletions/gap/CoequalizerCompletion.gi
  FiniteCocompletions/gap/FiniteStrictProductCompletion.gi
  FiniteCocompletions/gap/FreeDistributiveCategoryWithStrictProductAndCoproducts.gi
  FiniteCocompletions/gap/PairOfParallelArrowsCategory.gi
  FiniteCocompletions/gap/SkeletalFinSets.gi
  Toposes/PackageInfo.g
  Toposes/gap/Tools.gd
  Toposes/gap/Tools.gi
Due: Toposes

renamed *InSkeletalFinSets -> *InSkeletalCategoryOfFiniteSetsAsFiniteStrictCoproductCompletionOfTerminalCategory
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/SkeletalFinSets.gd
  FiniteCocompletions/gap/SkeletalFinSets.gi
Due: none

installed PrintString & DisplayString
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/SkeletalFinSets.gi
Due: none

got rid of the use of the GAP command Tuples
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/CompilerLogic.gi
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
Due: none

AddMorphismsOfExternalHom to FiniteStrictCoproductCompletion
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/Doc.autodoc
  FiniteCocompletions/examples/LeftCartesianDistributivityFactoring.g
  FiniteCocompletions/examples/SkeletalMorphismsOfExternalHom.g
  FiniteCocompletions/examples/SkeletalWellDefined.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteCoproductCompletion.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteProductCompletion.g
  FiniteCocompletions/examples/notebooks/CartesianBraiding.ipynb
  FiniteCocompletions/examples/notebooks/CartesianDiagonal.ipynb
  FiniteCocompletions/gap/CompilerLogic.gi
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
  FiniteCocompletions/gap/precompiled_categories/SkeletalCategoryOfFiniteSetsAsFiniteStrictCoproductCompletionOfTerminalCategoryPrecompiled.gi
Due: none

Update website for FiniteCocompletions 2023.10-17
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2.txt
  FiniteCocompletions/doc/chap2_mj.html
  FiniteCocompletions/doc/chap3.html
  FiniteCocompletions/doc/chap3.txt
  FiniteCocompletions/doc/chap3_mj.html
  FiniteCocompletions/doc/chap4.html
  FiniteCocompletions/doc/chap4.txt
  FiniteCocompletions/doc/chap4_mj.html
  FiniteCocompletions/doc/chapInd.html
  FiniteCocompletions/doc/chapInd.txt
  FiniteCocompletions/doc/chapInd_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for Locales 2023.10-04
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for Toposes 2023.10-09
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

AddIsLiftable & AddLift in FiniteStrictCoproductCompletion
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/Doc.autodoc
  FiniteCocompletions/examples/FreeToposOnOneObject.g
  FiniteCocompletions/examples/HomStructure.g
  FiniteCocompletions/examples/LeftCartesianDistributivityFactoring.g
  FiniteCocompletions/examples/SkeletalLift.g
  FiniteCocompletions/examples/SkeletalWellDefined.g
  FiniteCocompletions/examples/notebooks/CartesianBraiding.ipynb
  FiniteCocompletions/examples/notebooks/CartesianDiagonal.ipynb
  FiniteCocompletions/gap/CompilerLogic.gi
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
  FiniteCocompletions/gap/precompiled_categories/SkeletalCategoryOfFiniteSetsAsFiniteStrictCoproductCompletionOfTerminalCategoryPrecompiled.gi
Due: none

Update website for FiniteCocompletions 2023.10-18
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap3.html
  FiniteCocompletions/doc/chap3.txt
  FiniteCocompletions/doc/chap3_mj.html
  FiniteCocompletions/doc/chap4.html
  FiniteCocompletions/doc/chap4.txt
  FiniteCocompletions/doc/chap4_mj.html
  FiniteCocompletions/doc/chap6.html
  FiniteCocompletions/doc/chap6.txt
  FiniteCocompletions/doc/chap6_mj.html
  _data/FiniteCocompletions.yml
Due: none

changed {Range} -> {Target}
  Toposes/gap/Topos.gd
Due: Toposes

standarized documentation
  FiniteCocompletions/doc/Doc.autodoc
Due: none

d&i *CoproductComplement*/*DirectProductComplement*
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/gap/Tools.autogen.gd
  CategoryConstructor/gap/Tools.gd
  CategoryConstructor/gap/ToolsDerivedMethods.gi
  CategoryConstructor/gap/ToolsMethodRecord.gi
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/Doc.autodoc
  FiniteCocompletions/examples/FreeToposOnOneObject.g
  FiniteCocompletions/examples/HomStructure.g
  FiniteCocompletions/examples/LeftCartesianDistributivityFactoring.g
  FiniteCocompletions/examples/SkeletalCoproductComplement.g
  FiniteCocompletions/examples/SkeletalWellDefined.g
  FiniteCocompletions/examples/notebooks/CartesianBraiding.ipynb
  FiniteCocompletions/examples/notebooks/CartesianDiagonal.ipynb
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
  FiniteCocompletions/gap/precompiled_categories/SkeletalCategoryOfFiniteSetsAsFiniteStrictCoproductCompletionOfTerminalCategoryPrecompiled.gi
Due: CategoryConstructor

Update website for CategoryConstructor 2023.10-09
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/doc/chap0.html
  CategoryConstructor/doc/chap0.txt
  CategoryConstructor/doc/chap0_mj.html
  CategoryConstructor/doc/chap1.html
  CategoryConstructor/doc/chap1.txt
  CategoryConstructor/doc/chap1_mj.html
  CategoryConstructor/doc/chapInd.html
  CategoryConstructor/doc/chapInd.txt
  CategoryConstructor/doc/chapInd_mj.html
  _data/CategoryConstructor.yml
Due: CategoryConstructor

Update website for FiniteCocompletions 2023.10-19
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap3.html
  FiniteCocompletions/doc/chap3.txt
  FiniteCocompletions/doc/chap3_mj.html
  FiniteCocompletions/doc/chap4.html
  FiniteCocompletions/doc/chap4.txt
  FiniteCocompletions/doc/chap4_mj.html
  FiniteCocompletions/doc/chap6.html
  FiniteCocompletions/doc/chap6.txt
  FiniteCocompletions/doc/chap6_mj.html
  _data/FiniteCocompletions.yml
Due: none

renamed local variable of RangeCategoryOfHomomorphismStructure: V -> H
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
Due: none

use existing definition in examples/Weierstrass.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/Weierstrass.g
Due: FunctorCategories

simplified SectionByCoveringListOfRepresentables
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

moved *DirectProductComplement*/*CoproductComplement* to Toposes
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/gap/Tools.autogen.gd
  CategoryConstructor/gap/Tools.gd
  CategoryConstructor/gap/ToolsDerivedMethods.gi
  CategoryConstructor/gap/ToolsMethodRecord.gi
  FiniteCocompletions/PackageInfo.g
  Toposes/PackageInfo.g
  Toposes/gap/Topos.autogen.gd
  Toposes/gap/Topos.gd
  Toposes/gap/ToposDerivedMethods.gi
  Toposes/gap/ToposMethodRecord.gi
Due: CategoryConstructor, Toposes

missing category as first argument in IndexOfNonliftableMorphismFromDistinguishedObject
  Toposes/PackageInfo.g
  Toposes/gap/ToposDerivedMethods.gi
Due: Toposes

LoadPackage( "FiniteCocompletions", false )
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/SkeletalCoproduct.g
  FiniteCocompletions/examples/SkeletalCoproductComplement.g
  FiniteCocompletions/examples/SkeletalDirectProduct.g
  FiniteCocompletions/examples/SkeletalEqualizer.g
  FiniteCocompletions/examples/SkeletalHomStructure.g
  FiniteCocompletions/examples/SkeletalInitialTerminal.g
  FiniteCocompletions/examples/SkeletalLift.g
  FiniteCocompletions/examples/SkeletalMorphismsOfExternalHom.g
  FiniteCocompletions/examples/SkeletalPreCompose.g
  FiniteCocompletions/examples/SkeletalWellDefined.g
Due: none

whitespaces
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

renamed local variable in SectionByCoveringListOfRepresentables
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

removed obsolete code
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Update website for FunctorCategories 2023.10-31
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

AddDerivationToCAP( InjectionOfCoproductComplement, ... )
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/examples/MorphismBetweenCoproducts.g
  CategoryConstructor/examples/MorphismBetweenDirectProducts.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  Locales/PackageInfo.g
  Locales/examples/Dedekind1stNumber.g
  Toposes/PackageInfo.g
  Toposes/gap/ToposDerivedMethods.gi
  Toposes/tst/Opposite.tst
Due: CategoryConstructor, FunctorCategories, Locales, Toposes

SectionByCoveringListOfRepresentables -> SectionAndComplementByCoveringListOfRepresentables
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

d&i RetractionByCoveringListOfRepresentables
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

renamed local variable cover -> covering_list
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

improved RetractionByCoveringListOfRepresentables for IsSkeletalCategoryOfFiniteSets
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

renamed local variable sec -> section
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

RetractionByCoveringListOfRepresentables finally uses Lift instead of SolveLinearSystemInAbCategory
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/Doc.autodoc
  FunctorCategories/examples/StreamVortexSystemLinear.g
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

added local variable for better readability
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories
