Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

Update website for PreSheaves 2023.10-03
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  PreSheaves/doc/chapInd.html
  PreSheaves/doc/chapInd.txt
  PreSheaves/doc/chapInd_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

comply with FreydCategoriesForCAP v2023.10-05
  Algebroids/PackageInfo.g
  Algebroids/examples/AlgebroidFromDataTables.g
  Algebroids/examples/PrecompileAdditiveClosureOfAlgebroid.g
  Algebroids/examples/PrecompileAdelmanCategoryOfAdditiveClosureOfAlgebroid.g
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/CharacteristicMatrix.g
  FiniteCocompletions/examples/CoequalizerCompletion.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/ImageOfPullback_in_AbelianClosure_using_Adelman.ipynb
  LazyCategories/PackageInfo.g
  LazyCategories/examples/SnakeInAdditiveClosureOfAlgebroid.g
  LazyCategories/examples/SnakeInAdditiveClosureOfAlgebroidPrimitive.g
  LazyCategories/examples/SnakeInAlgebroid.g
  LazyCategories/examples/SnakeInFreeAbelian.g
  LazyCategories/examples/SnakeInFreeAbelianPrimitive.g
  LazyCategories/examples/notebooks/SnakeInFreeAbelian.ipynb
Due: Algebroids, FunctorCategories, LazyCategories

Update website for Algebroids 2023.10-02
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap6.html
  Algebroids/doc/chap6.txt
  Algebroids/doc/chap6_mj.html
  Algebroids/doc/chap9.html
  Algebroids/doc/chap9.txt
  Algebroids/doc/chap9_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FiniteCocompletions 2023.10-06
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap12.html
  FiniteCocompletions/doc/chap12.txt
  FiniteCocompletions/doc/chap12_mj.html
  FiniteCocompletions/doc/chap6.html
  FiniteCocompletions/doc/chap6.txt
  FiniteCocompletions/doc/chap6_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2023.10-09
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for LazyCategories 2023.10-03
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  LazyCategories/doc/chap1.html
  LazyCategories/doc/chap1.txt
  LazyCategories/doc/chap1_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Use IsEqualForMorphisms for IsEqualForObjects in SliceCategory
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/gap/SliceCategory.gi
Due: SubcategoriesForCAP

comply with ModulePresentationsForCAP v2023.10-01
  CategoriesWithAmbientObjects/PackageInfo.g
  CategoriesWithAmbientObjects/examples/IsZero.g
Due: CategoriesWithAmbientObjects

updated notebooks
  FunctorCategories/examples/notebooks/ImageOfPullback_in_AbelianClosure_using_Adelman.ipynb
  FunctorCategories/examples/notebooks/ImageOfPullback_in_AbelianClosure_using_Freyd.ipynb
Due: FunctorCategories

renamed (Co)YonedaEmbedding*Data -> (Co)YonedaEmbedding*DataOfSourceCategory
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CoPreSheaves.gd
  FunctorCategories/gap/CoPreSheaves.gi
  FunctorCategories/gap/Functors.gi
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
  PreSheaves/gap/PreSheaves.gd
  PreSheaves/gap/PreSheaves.gi
  PreSheaves/gap/PreSheavesWithBounds.gd
Due: FunctorCategories, PreSheaves

improved (Co)YonedaEmbeddingDataOfSourceCategory
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CoPreSheaves.gi
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Update website for FunctorCategories 2023.10-11
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for SubcategoriesForCAP 2023.10-01
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

updated notebook
  FunctorCategories/examples/notebooks/DPO_Quivers.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPushouts.ipynb
Due: FunctorCategories

d&i (Co)YonedaEmbeddingData and used it to simplify (Co)YonedaEmbeddingDataOfSourceCategory
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/gap/Tools.gd
  CategoryConstructor/gap/Tools.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CoPreSheaves.gi
  FunctorCategories/gap/PreSheaves.gi
Due: CategoryConstructor, FunctorCategories

outsourced declaration from Toposes -> CategoryConstructor
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/gap/Tools.gd
  Toposes/PackageInfo.g
  Toposes/gap/Tools.gd
Due: CategoryConstructor, Toposes

SetDefiningTripleOfUnderlyingQuiver for IsAlgebroidFromDataTables
  Algebroids/PackageInfo.g
  Algebroids/gap/AlgebroidFromDataTables.gi
Due: Algebroids

AddDerivationToCAP( IsMonomorphism/IsEpimorphism, ... )
  Algebroids/PackageInfo.g
  Algebroids/examples/CategoryFromDataTables.g
  Algebroids/examples/CategoryFromNerveData.g
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/gap/ToolsDerivedMethods.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
Due: Algebroids, CategoryConstructor, FunctorCategories

updated output PastingLawForPullbacks.ipynb
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
Due: FunctorCategories

Update website for Algebroids 2023.10-04
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap3.html
  Algebroids/doc/chap3.txt
  Algebroids/doc/chap3_mj.html
  Algebroids/doc/chap4.html
  Algebroids/doc/chap4.txt
  Algebroids/doc/chap4_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for CategoryConstructor 2023.10-04
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/doc/chap0.html
  CategoryConstructor/doc/chap0.txt
  CategoryConstructor/doc/chap0_mj.html
  CategoryConstructor/doc/chap2.html
  CategoryConstructor/doc/chap2.txt
  CategoryConstructor/doc/chap2_mj.html
  CategoryConstructor/doc/chapInd.html
  CategoryConstructor/doc/chapInd.txt
  CategoryConstructor/doc/chapInd_mj.html
  _data/CategoryConstructor.yml
Due: CategoryConstructor

Update website for FunctorCategories 2023.10-14
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Toposes 2023.10-05
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  Toposes/doc/chap3.html
  Toposes/doc/chap3.txt
  Toposes/doc/chap3_mj.html
  Toposes/doc/chapInd.html
  Toposes/doc/chapInd.txt
  Toposes/doc/chapInd_mj.html
  _data/Toposes.yml
Due: Toposes

installed PreComposeList for a Julia list
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/gap/Julia.gi
Due: CategoryConstructor

updated notebooks: 1.5.1, 1.5.6 -> 1.5.7
  CatReps/PackageInfo.g
  CatReps/examples/notebooks/CategoryOfRepresentations.ipynb
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/notebooks/CartesianBraiding.ipynb
  FiniteCocompletions/examples/notebooks/CartesianDiagonal.ipynb
  FiniteCocompletions/examples/notebooks/ReflexivePair.ipynb
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/DPO_Quivers.ipynb
  FunctorCategories/examples/notebooks/DecoratedFinQuivers.ipynb
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/FunctorCategories.ipynb
  FunctorCategories/examples/notebooks/ImageOfPullback_in_AbelianClosure_using_Adelman.ipynb
  FunctorCategories/examples/notebooks/ImageOfPullback_in_AbelianClosure_using_Freyd.ipynb
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  FunctorCategories/examples/notebooks/PairVsReflexivePair.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPushouts.ipynb
  FunctorCategories/examples/notebooks/ReflexiveCoequalizer.ipynb
  FunctorCategories/examples/notebooks/SnakeInFreeAbelian.ipynb
  InternalModules/PackageInfo.g
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS1rep.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS4rep.ipynb
  LazyCategories/PackageInfo.g
  LazyCategories/examples/notebooks/SnakeInAbelian.ipynb
  LazyCategories/examples/notebooks/SnakeInFreeAbelian.ipynb
  Locales/PackageInfo.g
  Locales/examples/julia/notebooks/IdealQuotient.ipynb
  Locales/examples/julia/notebooks/IdealQuotient2.ipynb
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/examples/julia/notebooks/CavenderFarrisNeyman_reduced.ipynb
  ZariskiFrames/examples/julia/notebooks/Example.ipynb
  ZariskiFrames/examples/julia/notebooks/Graph.ipynb
  ZariskiFrames/examples/julia/notebooks/Hyperbola.ipynb
  ZariskiFrames/examples/julia/notebooks/Hyperbola_in_3d.ipynb
  ZariskiFrames/examples/julia/notebooks/Jordan.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,3)_0dim.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,4)_0dim.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,5)_0dim.ipynb
Due: CatReps, FunctorCategories, LazyCategories, Locales, ZariskiFrames

Update website for CategoryConstructor 2023.10-05
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/doc/chap0.html
  CategoryConstructor/doc/chap0.txt
  CategoryConstructor/doc/chap0_mj.html
  _data/CategoryConstructor.yml
Due: CategoryConstructor

Update website for CatReps 2023.10-05
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2023.10-07
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2023.10-15
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2023.10-04
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for LazyCategories 2023.10-04
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2023.10-01
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for ZariskiFrames 2023.10-01
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

whitespaces
  Algebroids/gap/FpCategories.gi
  FunctorCategories/gap/PreSheaves.gi
Due: Algebroids, FunctorCategories

d&i DecompositionOfMorphismInCategoryInIndices
  Algebroids/PackageInfo.g
  Algebroids/gap/CategoryFromDataTables.gd
  Algebroids/gap/CategoryFromDataTables.gi
Due: Algebroids

d&i DecompositionOfMorphismInCategory for IsMorphismInCategoryFromDataTables
  Algebroids/PackageInfo.g
  Algebroids/examples/CategoryFromDataTables.g
  Algebroids/gap/CategoryFromDataTables.gd
  Algebroids/gap/CategoryFromDataTables.gi
Due: Algebroids

d&i OppositeMorphismInOppositeCategoryFromDataTables
  Algebroids/PackageInfo.g
  Algebroids/examples/CategoryFromDataTables.g
  Algebroids/gap/CategoryFromDataTables.gd
  Algebroids/gap/CategoryFromDataTables.gi
Due: Algebroids

ApplyObjectInPreSheafCategory*ToMorphism now supports CategoryFromDataTables
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/CategoryFromDataTables.g
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Update website for Algebroids 2023.10-07
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap4.html
  Algebroids/doc/chap4.txt
  Algebroids/doc/chap4_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FunctorCategories 2023.10-16
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories
