Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

Update website for FpLinearCategories 2026.04-02
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/doc/chap0.html
  FpLinearCategories/doc/chap0.txt
  FpLinearCategories/doc/chap0_mj.html
  _data/FpLinearCategories.yml
Due: none

Update website for Locales 2026.04-01
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for CatReps 2026.04-02
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2026.04-04
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2026.04-04
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2026.04-02
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for LazyCategories 2026.04-02
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2026.04-02
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for ToolsForCategoricalTowers 2026.04-02
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for ZariskiFrames 2026.04-01
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  ZariskiFrames/doc/chap1.html
  ZariskiFrames/doc/chap1.txt
  ZariskiFrames/doc/chap10.html
  ZariskiFrames/doc/chap10.txt
  ZariskiFrames/doc/chap10_mj.html
  ZariskiFrames/doc/chap13.html
  ZariskiFrames/doc/chap13.txt
  ZariskiFrames/doc/chap13_mj.html
  ZariskiFrames/doc/chap1_mj.html
  ZariskiFrames/doc/chap2.html
  ZariskiFrames/doc/chap2.txt
  ZariskiFrames/doc/chap2_mj.html
  ZariskiFrames/doc/chap3.html
  ZariskiFrames/doc/chap3.txt
  ZariskiFrames/doc/chap3_mj.html
  ZariskiFrames/doc/chap4.html
  ZariskiFrames/doc/chap4.txt
  ZariskiFrames/doc/chap4_mj.html
  ZariskiFrames/doc/chap5.html
  ZariskiFrames/doc/chap5.txt
  ZariskiFrames/doc/chap5_mj.html
  ZariskiFrames/doc/chap6.html
  ZariskiFrames/doc/chap6.txt
  ZariskiFrames/doc/chap6_mj.html
  ZariskiFrames/doc/chap8.html
  ZariskiFrames/doc/chap8.txt
  ZariskiFrames/doc/chap8_mj.html
  ZariskiFrames/doc/chap9.html
  ZariskiFrames/doc/chap9.txt
  ZariskiFrames/doc/chap9_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

fixed DisplayString
  Toposes/PackageInfo.g
  Toposes/gap/CategoryOfRelations.gi
Due: Toposes

Update website for Toposes 2026.04-01
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  Toposes/doc/chap2.html
  Toposes/doc/chap2.txt
  Toposes/doc/chap2_mj.html
  _data/Toposes.yml
Due: Toposes

SubcategoriesForCAP: Few Adjustments for Julia
  CatReps/PackageInfo.g
  CatReps/examples/ConcreteCategoryForCAP.g
  CatReps/examples/notebooks/CategoryOfRepresentations.ipynb
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/gap/FullSubcategory.gd
  SubcategoriesForCAP/gap/FullSubcategory.gi
  SubcategoriesForCAP/gap/Subcategory.gd
  SubcategoriesForCAP/gap/Subcategory.gi
Due: CatReps, SubcategoriesForCAP

Update website for CatReps 2026.04-03
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  CatReps/doc/chap1.html
  CatReps/doc/chap1.txt
  CatReps/doc/chap1_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for SubcategoriesForCAP 2026.04-03
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  SubcategoriesForCAP/doc/chap1.html
  SubcategoriesForCAP/doc/chap1_mj.html
  SubcategoriesForCAP/doc/chap2.html
  SubcategoriesForCAP/doc/chap2_mj.html
  SubcategoriesForCAP/doc/chapInd.html
  SubcategoriesForCAP/doc/chapInd.txt
  SubcategoriesForCAP/doc/chapInd_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

PreSheaves -> PresheafCategories
  PreSheaves/_data/package.yml
  PreSheaves/download_pdf.html
  PreSheaves/view_release.html
  PresheafCategories/PackageInfo.g
  PresheafCategories/README.md
  PresheafCategories/_data/package.yml
  PresheafCategories/badge_date.json
  PresheafCategories/badge_version.json
  PresheafCategories/doc/chap0.html
  PresheafCategories/doc/chap0.txt
  PresheafCategories/doc/chap0_mj.html
  PresheafCategories/doc/chap1.html
  PresheafCategories/doc/chap1.txt
  PresheafCategories/doc/chap1_mj.html
  PresheafCategories/doc/chap2.html
  PresheafCategories/doc/chap2.txt
  PresheafCategories/doc/chap2_mj.html
  PresheafCategories/doc/chapInd.html
  PresheafCategories/doc/chapInd.txt
  PresheafCategories/doc/chapInd_mj.html
  PresheafCategories/doc/chooser.html
  PresheafCategories/doc/lefttoc.css
  PresheafCategories/doc/manual.css
  PresheafCategories/doc/manual.js
  PresheafCategories/doc/nocolorprompt.css
  PresheafCategories/doc/ragged.css
  PresheafCategories/doc/rainbow.js
  PresheafCategories/doc/times.css
  PresheafCategories/doc/toggless.css
  PresheafCategories/doc/toggless.js
  PresheafCategories/download_pdf.html
  PresheafCategories/view_release.html
Due: PreSheaves

Update website for FiniteCocompletions 2026.05-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FpLinearCategories 2026.05-01
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/doc/chap0.html
  FpLinearCategories/doc/chap0.txt
  FpLinearCategories/doc/chap0_mj.html
  _data/FpLinearCategories.yml
Due: none

Update website for FunctorCategories 2026.05-01
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for GradedCategories 2026.05-01
  GradedCategories/PackageInfo.g
  GradedCategories/doc/chap0.html
  GradedCategories/doc/chap0.txt
  GradedCategories/doc/chap0_mj.html
  GradedCategories/doc/chap1.html
  GradedCategories/doc/chap1.txt
  GradedCategories/doc/chap1_mj.html
  GradedCategories/doc/chap2.html
  GradedCategories/doc/chap2.txt
  GradedCategories/doc/chap2_mj.html
  GradedCategories/doc/chap3.html
  GradedCategories/doc/chap3.txt
  GradedCategories/doc/chap3_mj.html
  GradedCategories/doc/chap4.html
  GradedCategories/doc/chap4.txt
  GradedCategories/doc/chap4_mj.html
  _data/GradedCategories.yml
Due: GradedCategories

Update website for PresheafCategories 2026.05-01
  PresheafCategories/PackageInfo.g
  PresheafCategories/README.md
  PresheafCategories/doc/chap0.html
  PresheafCategories/doc/chap0.txt
  PresheafCategories/doc/chap0_mj.html
  PresheafCategories/doc/chap1.html
  PresheafCategories/doc/chap1.txt
  PresheafCategories/doc/chap1_mj.html
  PresheafCategories/doc/chap2.html
  PresheafCategories/doc/chap2_mj.html
  PresheafCategories/doc/chapInd.html
  PresheafCategories/doc/chapInd_mj.html
  _data/PresheafCategories.yml
Due: none

applied PackageJanitor
  Algebroids/PackageInfo.g
  Algebroids/tst/testall_no_precompiled_code.g
  Algebroids/tst/testall_no_precompiled_code_base.g
  Algebroids/tst/testall_single_no_precompiled_code.g
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/tst/testall_no_precompiled_code.g
  FpCategories/PackageInfo.g
  FpCategories/tst/testall_no_precompiled_code.g
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/tst/testall_no_precompiled_code.g
  Locales/PackageInfo.g
  Locales/tst/testall_no_precompiled_code.g
  SliceCategories/PackageInfo.g
  SliceCategories/tst/testall_no_precompiled_code.g
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/tst/testall_no_precompiled_code.g
Due: Algebroids, Locales, SubcategoriesForCAP

fixed docu in ZariskiFrames
  ZariskiFrames/examples/doc/OpenSubsetOfSpecQ.g
  ZariskiFrames/examples/doc/RelativeAffineVariety.g
  ZariskiFrames/gap/ProjectiveClosed.gd
  ZariskiFrames/gap/ProjectiveOpen.gd
Due: ZariskiFrames

work around a bug in jupyter
  CatReps/examples/notebooks/CategoryOfRepresentations.ipynb
  FunctorCategories/examples/notebooks/DPO_Quivers.ipynb
  FunctorCategories/examples/notebooks/DecoratedFinQuivers.ipynb
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/FunctorCategories.ipynb
  FunctorCategories/examples/notebooks/ImageOfPullback_in_AbelianClosure_using_Adelman.ipynb
  FunctorCategories/examples/notebooks/ImageOfPullback_in_AbelianClosure_using_Freyd.ipynb
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  FunctorCategories/examples/notebooks/PairVsReflexivePair.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPushouts.ipynb
  FunctorCategories/examples/notebooks/ReflexiveCoequalizer.ipynb
  FunctorCategories/examples/notebooks/SnakeInFreeAbelian.ipynb
  FunctorCategories/examples/notebooks/SpecificRetractionYieldsIsomorphicCoequalizers.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS1rep.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS4rep.ipynb
Due: CatReps, FunctorCategories

clean up in Algebroids/doc/Doc.autodoc
  Algebroids/doc/Doc.autodoc
Due: Algebroids

Update website for Algebroids 2026.05-02
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap10.html
  Algebroids/doc/chap10.txt
  Algebroids/doc/chap10_mj.html
  Algebroids/doc/chap11.html
  Algebroids/doc/chap11.txt
  Algebroids/doc/chap11_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for CatReps 2026.05-02
  CatReps/PackageInfo.g
  CatReps/README.md
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  CatReps/doc/chap1.html
  CatReps/doc/chap1.txt
  CatReps/doc/chap1_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2026.05-04
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2.txt
  FiniteCocompletions/doc/chap2_mj.html
  FiniteCocompletions/doc/chap3.html
  FiniteCocompletions/doc/chap3.txt
  FiniteCocompletions/doc/chap3_mj.html
  FiniteCocompletions/doc/chap4.html
  FiniteCocompletions/doc/chap4.txt
  FiniteCocompletions/doc/chap4_mj.html
  FiniteCocompletions/doc/chap5.html
  FiniteCocompletions/doc/chap5.txt
  FiniteCocompletions/doc/chap5_mj.html
  FiniteCocompletions/doc/chap7.html
  FiniteCocompletions/doc/chap7.txt
  FiniteCocompletions/doc/chap7_mj.html
  FiniteCocompletions/doc/chap9.html
  FiniteCocompletions/doc/chap9.txt
  FiniteCocompletions/doc/chap9_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FpCategories 2026.05-01
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  _data/FpCategories.yml
Due: none

Update website for FpLinearCategories 2026.05-02
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/doc/chap0.html
  FpLinearCategories/doc/chap0.txt
  FpLinearCategories/doc/chap0_mj.html
  _data/FpLinearCategories.yml
Due: none

Update website for FunctorCategories 2026.05-03
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap11.html
  FunctorCategories/doc/chap11.txt
  FunctorCategories/doc/chap11_mj.html
  FunctorCategories/doc/chap9.html
  FunctorCategories/doc/chap9.txt
  FunctorCategories/doc/chap9_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2026.05-02
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  InternalModules/doc/chap1.html
  InternalModules/doc/chap1.txt
  InternalModules/doc/chap1_mj.html
  _data/InternalModules.yml
Due: none

Update website for IntrinsicGradedModules 2026.05-01
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/doc/chap0.html
  IntrinsicGradedModules/doc/chap0.txt
  IntrinsicGradedModules/doc/chap0_mj.html
  IntrinsicGradedModules/doc/chap1.html
  IntrinsicGradedModules/doc/chap1.txt
  IntrinsicGradedModules/doc/chap1_mj.html
  _data/IntrinsicGradedModules.yml
Due: IntrinsicGradedModules

Update website for IntrinsicModules 2026.05-01
  IntrinsicModules/PackageInfo.g
  IntrinsicModules/doc/chap0.html
  IntrinsicModules/doc/chap0.txt
  IntrinsicModules/doc/chap0_mj.html
  IntrinsicModules/doc/chap1.html
  IntrinsicModules/doc/chap1.txt
  IntrinsicModules/doc/chap1_mj.html
  _data/IntrinsicModules.yml
Due: IntrinsicModules

Update website for LazyCategories 2026.05-01
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2026.05-03
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap13.html
  Locales/doc/chap13.txt
  Locales/doc/chap13_mj.html
  Locales/doc/chap8.html
  Locales/doc/chap8.txt
  Locales/doc/chap8_mj.html
  _data/Locales.yml
Due: Locales

Update website for PresheafCategories 2026.05-02
  PresheafCategories/PackageInfo.g
  PresheafCategories/doc/chap0.html
  PresheafCategories/doc/chap0.txt
  PresheafCategories/doc/chap0_mj.html
  PresheafCategories/doc/chap1.html
  PresheafCategories/doc/chap1.txt
  PresheafCategories/doc/chap1_mj.html
  _data/PresheafCategories.yml
Due: none
