Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: FiniteCocompletion, PreSheaves

comply with CAP v2022.11-25
  PackageInfo.g
  gap/Algebroids.gd
  gap/Bialgebroids.gd
  gap/FpCategories.gd
Due: none

comply with CAP v2022.11-25
  PackageInfo.g
  gap/BooleanAlgebra.gd
  gap/CoHeytingAlgebra.gd
  gap/HeytingAlgebra.gd
  gap/Lattice.gd
  gap/Poset.gd
  gap/Proset.gd
  gap/ProsetOfCategory.gd
Due: none

whitespaces
  gap/ToposMethodRecord.gi
Due: none

comply with CAP v2022.11-22
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/examples/TerminalCategory_as_FiniteCoproductCocompletion.g
  FiniteCocompletion/examples/TerminalCategory_as_FiniteProductCompletion.g
  PreSheaves/PackageInfo.g
  PreSheaves/examples/TerminalCategory.g
Due: FiniteCocompletion, PreSheaves

Update website for FiniteCocompletion 2022.11-02
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  FiniteCocompletion/doc/chap1.html
  FiniteCocompletion/doc/chap1.txt
  FiniteCocompletion/doc/chap1_mj.html
  FiniteCocompletion/doc/chap3.html
  FiniteCocompletion/doc/chap3.txt
  FiniteCocompletion/doc/chap3_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

Update website for PreSheaves 2022.11-05
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

whitespace
  gap/Functors.gi
Due: none

ObjectConstructor( ..., 1 ) -> TerminalObject
  gap/FpCategories.gi
Due: none

fixed examples/DefiningPairOfAQuiver.g
  examples/DefiningPairOfAQuiver.g
Due: none

reading more logic influences the compilation of AdelmanCategory
  examples/PrecompileAdelmanCategoryOfAdditiveClosureOfAlgebroid.g
  gap/CompilerLogic.gi
  gap/precompiled_categories/AdelmanCategoryOfAdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverFieldPrecompiled.gi
  gap/precompiled_categories/AdelmanCategoryOfAdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverZPrecompiled.gi
Due: none

d&i CategoryFromNerveData
  PackageInfo.g
  doc/Doc.autodoc
  examples/CategoryFromNerveData.g
  examples/PrecompileCategoryFromNerveData.g
  gap/CategoryFromNerveData.gd
  gap/CategoryFromNerveData.gi
  gap/CompilerLogic.gi
  gap/precompiled_categories/CategoryFromNerveDataPrecompiled.gi
  init.g
  read.g
Due: none

fixed ApplyMorphismInPreSheafCategoryToObject and bump version of PreSheaves to v2022.11-06
  PreSheaves/PackageInfo.g
  PreSheaves/gap/PreSheaves.gi
Due: PreSheaves

import changes from FunctorCategories/gap/PreSheaves.gi
  PreSheaves/PackageInfo.g
  PreSheaves/gap/PreSheaves.gi
Due: PreSheaves

presheaf_on_morphisms/presheaf_morphism_on_objects now take a single argument
  PreSheaves/PackageInfo.g
  PreSheaves/gap/PreSheaves.gi
Due: PreSheaves

Update website for PreSheaves 2022.11-07
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

fixed PreCompose in CategoryFromNerveData
  examples/CategoryFromNerveData.g
  gap/CategoryFromNerveData.gi
  gap/precompiled_categories/CategoryFromNerveDataPrecompiled.gi
Due: none

added the homomorphism structure to CategoryFromNerveData
  PackageInfo.g
  examples/CategoryFromNerveData.g
  examples/PrecompileCategoryFromNerveDataHomStructureOnMorphisms.g
  gap/CategoryFromNerveData.gi
  gap/precompiled_categories/CategoryFromNerveDataHomStructureOnMorphismsPrecompiled.gi
  gap/precompiled_categories/CategoryFromNerveDataPrecompiled.gi
  read.g
Due: none

improved IsWellDefinedForObjects/Morphisms for CategoryFromNerveData
  PackageInfo.g
  gap/CategoryFromNerveData.gi
  gap/precompiled_categories/CategoryFromNerveDataPrecompiled.gi
Due: none

outsourced (Co)ImageObjectFunctorial to CAP v2022.11-27
  PackageInfo.g
  gap/Tools.autogen.gd
  gap/Tools.gd
  gap/ToolsDerivedMethods.gi
  gap/ToolsMethodRecord.gi
Due: none

got rid of suggested dependencies
  PackageInfo.g
  tst/100_LoadPackage.tst
  tst/Opposite.tst
Due: none

outsourced EpimorphismFromProjectiveCoverObject/MonomorphismIntoInjectiveEnvelopeObject to CAP v2022.11-28
  PackageInfo.g
  gap/Tools.autogen.gd
  gap/Tools.gd
  gap/ToolsDerivedMethods.gi
  gap/ToolsMethodRecord.gi
Due: none

got rid of dependency from CategoryConstructor & Toposes
  .github/workflows/Tests.yml
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/examples/TerminalCategory_as_FiniteCoproductCocompletion.g
  FiniteCocompletion/examples/TerminalCategory_as_FiniteProductCompletion.g
  PreSheaves/PackageInfo.g
  PreSheaves/README.md
  PreSheaves/examples/PreSheavesOfSkeletalFinSets.g
  PreSheaves/examples/TerminalCategory.g
  PreSheaves/gap/PreSheaves.gi
Due: FiniteCocompletion, PreSheaves

Update website for FiniteCocompletion 2022.11-03
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  FiniteCocompletion/doc/chap1.html
  FiniteCocompletion/doc/chap1.txt
  FiniteCocompletion/doc/chap1_mj.html
  FiniteCocompletion/doc/chap3.html
  FiniteCocompletion/doc/chap3.txt
  FiniteCocompletion/doc/chap3_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

Update website for PreSheaves 2022.11-08
  PreSheaves/PackageInfo.g
  PreSheaves/README.md
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

applied PackageJanitor
  .github/workflows/Tests.yml
  FiniteCocompletion/README.md
  PreSheaves/README.md
Due: FiniteCocompletion, PreSheaves

updated SkeletalDirectProduct.g
  FiniteCocompletion/examples/SkeletalDirectProduct.g
Due: FiniteCocompletion

applied PackageJanitor
  PreSheaves/README.md
Due: PreSheaves

bumped version
  PackageInfo.g
Due: none

comply with CAP v2022.11-27 and CategoryConstructor v2022.11-11
  .github/workflows/Tests.yml
  PackageInfo.g
  examples/notebooks/PastingLawForPullbacks.ipynb
  gap/PreSheaves.gi
  makefile
Due: none

whitespace
  gap/PreSheaves.gi
Due: none

updated comments in code
  gap/PreSheaves.gi
Due: none

deleted obsolete local variables
  gap/PreSheaves.gi
Due: none

added local variable which was read from scope
  gap/PreSheaves.gi
Due: none

applied PackageJanitor
  .github/workflows/Tests.yml
Due: none

partially Revert "got rid of suggested dependencies"
  PackageInfo.g
  tst/100_LoadPackage.tst
  tst/Opposite.tst
Due: none

presheaf_on_morphisms/presheaf_morphism_on_objects now take 3 arguments
  PreSheaves/PackageInfo.g
  PreSheaves/gap/PreSheaves.gi
Due: PreSheaves

Update website for PreSheaves 2022.11-09
  PreSheaves/PackageInfo.g
  PreSheaves/README.md
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

comply with CAP v2022.11-27
  PackageInfo.g
  examples/SymmetricAlgebraInternalToS4rep.g
Due: none

partially revert "comply with CAP v2022.11-27..."
  PackageInfo.g
  examples/notebooks/PastingLawForPullbacks.ipynb
Due: none

got rid of obsolete attributes in CategoryOfQuiversEnrichedOver
  gap/CategoryOfQuivers.gi
Due: none

Path conditions:
  FiniteCocompletion: any of: FiniteCocompletion/
  PreSheaves: any of: PreSheaves/
