Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

clean up
  FiniteCocompletions/examples/precompileCartesianDiagonal_func.g
  FiniteCocompletions/examples/precompileLeftCartesianDistributivityFactoring_func.g
Due: none

fixed and commented out unused CapJitAddTypeSignature
  Algebroids/gap/CategoryFromDataTables.gd
Due: Algebroids

added compiler_hints.category_attribute_names
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
Due: none

comply with CAP v2023.12-05 and CompilerForCAP v2023.12-09
  Algebroids/PackageInfo.g
  Algebroids/gap/AlgebroidFromDataTables.gi
  Algebroids/gap/FpCategories.gi
  Algebroids/gap/Tools.gd
  Algebroids/gap/Tools.gi
  Algebroids/gap/precompiled_categories/AdditiveClosureOfAlgebroidFromDataTablesPrecompiled.gi
  Algebroids/gap/precompiled_categories/AdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverFieldPrecompiled.gi
  Algebroids/gap/precompiled_categories/AdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverZPrecompiled.gi
  Algebroids/gap/precompiled_categories/AdelmanCategoryOfAdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverFieldPrecompiled.gi
  Algebroids/gap/precompiled_categories/AdelmanCategoryOfAdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverZPrecompiled.gi
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/PrecompileFiniteStrictCoproductCompletionOfCategoryFromDataTables.g
  FiniteCocompletions/examples/PrecompileSkeletalFinSets.g
  FiniteCocompletions/examples/precompileCartesianDiagonal_CategoryFromDataTables.g
  FiniteCocompletions/examples/precompileCartesianDiagonal_CompilerLogic.g
  FiniteCocompletions/examples/precompileCartesianDiagonal_PathCategory.g
  FiniteCocompletions/examples/precompileCartesianDiagonal_func.g
  FiniteCocompletions/examples/precompileLeftCartesianDistributivityFactoring_CategoryFromDataTables.g
  FiniteCocompletions/examples/precompileLeftCartesianDistributivityFactoring_CompilerLogic.g
  FiniteCocompletions/examples/precompileLeftCartesianDistributivityFactoring_PathCategory.g
  FiniteCocompletions/examples/precompileLeftCartesianDistributivityFactoring_func.g
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
  FpCategories/PackageInfo.g
  FpCategories/gap/PathCategories.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CompilerLogic.gi
Due: Algebroids, FunctorCategories

comply with CAP v2023.12-07 and FreydCategoriesForCAP v2023.12-09/10
  Algebroids/PackageInfo.g
  Algebroids/gap/precompiled_categories/AdditiveClosureOfAlgebroidFromDataTablesPrecompiled.gi
  Algebroids/gap/precompiled_categories/AdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverFieldPrecompiled.gi
  Algebroids/gap/precompiled_categories/AdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverZPrecompiled.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/precompiled_categories/PreSheavesOfAlgebroidFromDataTablesInCategoryOfRowsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfAlgebroidWithRelationsInCategoryOfRowsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFreeAlgebroidInCategoryOfRowsPrecompiled.gi
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/gap/precompiled_categories/SliceCategoryOfCategoryOfRowsOfRingOfIntegersOverTensorUnitPrecompiled.gi
Due: Algebroids, FunctorCategories, SubcategoriesForCAP

comply with CompilerForCAP v2023.12-11
  Algebroids/PackageInfo.g
  Algebroids/gap/precompiled_categories/AdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverFieldPrecompiled.gi
  Algebroids/gap/precompiled_categories/AdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverZPrecompiled.gi
  Algebroids/gap/precompiled_categories/AdelmanCategoryOfAdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverFieldPrecompiled.gi
  Algebroids/gap/precompiled_categories/AdelmanCategoryOfAdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverZPrecompiled.gi
Due: Algebroids

Update website for Algebroids 2023.12-06
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FiniteCocompletions 2023.12-02
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap14.html
  FiniteCocompletions/doc/chap14.txt
  FiniteCocompletions/doc/chap14_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FpCategories 2023.12-03
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  _data/FpCategories.yml
Due: none

Update website for FunctorCategories 2023.12-04
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for SubcategoriesForCAP 2023.12-02
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  SubcategoriesForCAP/doc/chap4.html
  SubcategoriesForCAP/doc/chap4.txt
  SubcategoriesForCAP/doc/chap4_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Fix IsWellDefinedFor* in LazyCategory
  LazyCategories/PackageInfo.g
  LazyCategories/gap/LazyCategory.gi
Due: LazyCategories

Simplify compiled code of AdditiveClosure( Algebroid )
  Algebroids/PackageInfo.g
  Algebroids/gap/CompilerLogic.gi
  Algebroids/gap/precompiled_categories/AdditiveClosureOfAlgebroidFromDataTablesPrecompiled.gi
  Algebroids/gap/precompiled_categories/AdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverFieldPrecompiled.gi
  Algebroids/gap/precompiled_categories/AdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverZPrecompiled.gi
Due: Algebroids

Update website for LazyCategories 2023.12-01
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Algebroids 2023.12-07
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Reactivate derive_second_projection_of_ternary_direct_sum_from_universal_morphism.tst
  Algebroids/PackageInfo.g
  Algebroids/tst/derive_second_projection_of_ternary_direct_sum_from_universal_morphism.g
  Algebroids/tst/derive_second_projection_of_ternary_direct_sum_from_universal_morphism.tst
Due: Algebroids

Update website for Algebroids 2023.12-08
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Use IsLinearCategoryOverCommutativeRingWithFinitelyGeneratedFreeExternalHoms
  Algebroids/PackageInfo.g
  Algebroids/gap/AlgebroidFromDataTables.gi
  Algebroids/gap/Algebroids.gi
  Algebroids/gap/QuotientsOfLinearClosuresOfPathCategories.gi
  Algebroids/tst/derive_second_projection_of_ternary_direct_sum_from_universal_morphism.g
  CatReps/PackageInfo.g
  CatReps/README.md
  CatReps/examples/CategoryOfRepresentations.g
  CatReps/examples/notebooks/CategoryOfRepresentations.ipynb
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteCoproductCompletion.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteProductCompletion.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/TerminalCategory.g
  FunctorCategories/gap/PreSheaves.gi
  PreSheaves/PackageInfo.g
  PreSheaves/examples/TerminalCategory.g
  QuotientCategories/PackageInfo.g
  QuotientCategories/gap/QuotientCategories.gi
Due: Algebroids, CatReps, FunctorCategories, PreSheaves

Update website for Algebroids 2023.12-09
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for CatReps 2023.12-02
  CatReps/PackageInfo.g
  CatReps/README.md
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  CatReps/doc/chap1.html
  CatReps/doc/chap1.txt
  CatReps/doc/chap1_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2023.12-03
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2.txt
  FiniteCocompletions/doc/chap2_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2023.12-05
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap9.html
  FunctorCategories/doc/chap9.txt
  FunctorCategories/doc/chap9_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for PreSheaves 2023.12-03
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for QuotientCategories 2023.12-01
  QuotientCategories/PackageInfo.g
  QuotientCategories/doc/chap0.html
  QuotientCategories/doc/chap0.txt
  QuotientCategories/doc/chap0_mj.html
  _data/QuotientCategories.yml
Due: none

switched to CapAndHomalg v1.5.8
  CatReps/PackageInfo.g
  CatReps/examples/notebooks/CategoryOfRepresentations.ipynb
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/julia/notebooks/CartesianBraiding.ipynb
  FiniteCocompletions/examples/julia/notebooks/CartesianDiagonal.ipynb
  FiniteCocompletions/examples/julia/notebooks/ReflexivePair.ipynb
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/DPO_Quivers.ipynb
  FunctorCategories/examples/notebooks/DecoratedFinQuivers.ipynb
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/FunctorCategories.ipynb
  FunctorCategories/examples/notebooks/ImageOfPullback_in_AbelianClosure_using_Adelman.ipynb
  FunctorCategories/examples/notebooks/ImageOfPullback_in_AbelianClosure_using_Freyd.ipynb
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  FunctorCategories/examples/notebooks/PairVsReflexivePair.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPushouts.ipynb
  FunctorCategories/examples/notebooks/ReflexiveCoequalizer.ipynb
  FunctorCategories/examples/notebooks/SnakeInFreeAbelian.ipynb
  FunctorCategories/examples/notebooks/SpecificRetractionYieldsIsomorphicCoequalizers.ipynb
  InternalModules/PackageInfo.g
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS1rep.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS4rep.ipynb
  LazyCategories/PackageInfo.g
  LazyCategories/examples/notebooks/SnakeInAbelian.ipynb
  LazyCategories/examples/notebooks/SnakeInFreeAbelian.ipynb
  Locales/PackageInfo.g
  Locales/examples/julia/notebooks/IdealQuotient.ipynb
  Locales/examples/julia/notebooks/IdealQuotient2.ipynb
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/examples/julia/notebooks/CavenderFarrisNeyman_reduced.ipynb
  ZariskiFrames/examples/julia/notebooks/Example.ipynb
  ZariskiFrames/examples/julia/notebooks/Graph.ipynb
  ZariskiFrames/examples/julia/notebooks/Hyperbola.ipynb
  ZariskiFrames/examples/julia/notebooks/Hyperbola_in_3d.ipynb
  ZariskiFrames/examples/julia/notebooks/Jordan.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,3)_0dim.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,4)_0dim.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,5)_0dim.ipynb
Due: CatReps, FunctorCategories, LazyCategories, Locales, ZariskiFrames

Update website for CatReps 2023.12-03
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2023.12-04
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2023.12-06
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2023.12-02
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for LazyCategories 2023.12-02
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2023.12-02
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for ZariskiFrames 2023.12-01
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

replaced • -> ⋅
  Algebroids/PackageInfo.g
  Algebroids/examples/AlgebroidFromDataTables.g
  Algebroids/examples/GroebnerBasisInLinearClosureOfPathCategory.g
  Algebroids/examples/QuotientCategoryOfLinearClosureOfPathCategory.g
  Algebroids/gap/AlgebroidFromDataTables.gi
  Algebroids/makedoc.g
  Algebroids/makedoc_with_overfull_hbox_warnings.g
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/EmbeddingOfUnderlyingCategory.g
  FiniteCocompletions/makedoc.g
  FiniteCocompletions/makedoc_with_overfull_hbox_warnings.g
  FpCategories/PackageInfo.g
  FpCategories/examples/PathCategory.g
  FpCategories/gap/PathCategories.gi
  FpCategories/makedoc.g
  FpCategories/makedoc_with_overfull_hbox_warnings.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/QuotientsOfAlgebroidFromDataTablesUsingPreSheaves.g
  FunctorCategories/makedoc.g
  FunctorCategories/makedoc_with_overfull_hbox_warnings.g
Due: Algebroids, FunctorCategories

Update website for Algebroids 2023.12-10
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap10.html
  Algebroids/doc/chap10.txt
  Algebroids/doc/chap10_mj.html
  Algebroids/doc/chap6.html
  Algebroids/doc/chap6.txt
  Algebroids/doc/chap6_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FiniteCocompletions 2023.12-05
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap10.html
  FiniteCocompletions/doc/chap10.txt
  FiniteCocompletions/doc/chap10_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FpCategories 2023.12-04
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap2.html
  FpCategories/doc/chap2.txt
  FpCategories/doc/chap2_mj.html
  _data/FpCategories.yml
Due: none

Update website for FunctorCategories 2023.12-07
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap13.html
  FunctorCategories/doc/chap13.txt
  FunctorCategories/doc/chap13_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

complete commit d3335f4a143000b04489580a15e433ca3d4f23c3
  PreSheaves/PackageInfo.g
  PreSheaves/gap/PreSheaves.gi
Due: PreSheaves

Update website for PreSheaves 2023.12-04
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

comply with CompilerForCAP v2023.12-20
  Algebroids/PackageInfo.g
  Algebroids/examples/PrecompileAdditiveClosureOfAlgebroid.g
  Algebroids/examples/PrecompileAdditiveClosureOfAlgebroidFromDataTables.g
  Algebroids/examples/PrecompileAdelmanCategoryOfAdditiveClosureOfAlgebroid.g
  Algebroids/gap/precompiled_categories/AdditiveClosureOfAlgebroidFromDataTablesPrecompiled.gi
  Algebroids/gap/precompiled_categories/AdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverFieldPrecompiled.gi
  Algebroids/gap/precompiled_categories/AdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverZPrecompiled.gi
  Algebroids/gap/precompiled_categories/AdelmanCategoryOfAdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverFieldPrecompiled.gi
  Algebroids/gap/precompiled_categories/AdelmanCategoryOfAdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverZPrecompiled.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/PrecompilePreSheavesOfAlgebroidFromDataTablesInCategoryOfRows.g
  FunctorCategories/examples/PrecompilePreSheavesOfAlgebroidInCategoryOfRows.g
  FunctorCategories/gap/precompiled_categories/PreSheavesOfAlgebroidFromDataTablesInCategoryOfRowsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfAlgebroidWithRelationsInCategoryOfRowsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFreeAlgebroidInCategoryOfRowsPrecompiled.gi
Due: Algebroids, FunctorCategories

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
