Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

Update website for LazyCategories 2025.09-02
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2025.09-03
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for ToolsForCategoricalTowers 2025.09-02
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for ZariskiFrames 2025.09-03
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

Update website for FiniteCocompletions 2025.09-03
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2025.09-04
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Algebroids 2025.09-05
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap10.html
  Algebroids/doc/chap10.txt
  Algebroids/doc/chap10_mj.html
  Algebroids/doc/chap11.html
  Algebroids/doc/chap11.txt
  Algebroids/doc/chap11_mj.html
  Algebroids/doc/chap4.html
  Algebroids/doc/chap4.txt
  Algebroids/doc/chap4_mj.html
  Algebroids/doc/chap6.html
  Algebroids/doc/chap6.txt
  Algebroids/doc/chap6_mj.html
  Algebroids/doc/chap9.html
  Algebroids/doc/chap9.txt
  Algebroids/doc/chap9_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FpCategories 2025.09-01
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap1.html
  FpCategories/doc/chap1.txt
  FpCategories/doc/chap1_mj.html
  FpCategories/doc/chap2.html
  FpCategories/doc/chap2.txt
  FpCategories/doc/chap2_mj.html
  FpCategories/doc/chap3.html
  FpCategories/doc/chap3.txt
  FpCategories/doc/chap3_mj.html
  FpCategories/doc/chap4.html
  FpCategories/doc/chap4.txt
  FpCategories/doc/chap4_mj.html
  FpCategories/doc/chap5.html
  FpCategories/doc/chap5.txt
  FpCategories/doc/chap5_mj.html
  FpCategories/doc/chap7.html
  FpCategories/doc/chap7.txt
  FpCategories/doc/chap7_mj.html
  _data/FpCategories.yml
Due: none

Update website for FunctorCategories 2025.09-05
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap1.html
  FunctorCategories/doc/chap1.txt
  FunctorCategories/doc/chap14.html
  FunctorCategories/doc/chap14.txt
  FunctorCategories/doc/chap14_mj.html
  FunctorCategories/doc/chap1_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  FunctorCategories/doc/chap4.html
  FunctorCategories/doc/chap4.txt
  FunctorCategories/doc/chap4_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Locales 2025.09-04
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap8.html
  Locales/doc/chap8.txt
  Locales/doc/chap8_mj.html
  _data/Locales.yml
Due: Locales

updated example files
  Algebroids/PackageInfo.g
  Algebroids/examples/doc/CategoryOfFpAlgebras.g
  Algebroids/examples/doc/CategoryOfFpMatrixAlgebras.g
  Algebroids/tst/CategoryOfFpAlgebras.tst
  Algebroids/tst/CategoryOfFpMatrixAlgebras.tst
Due: Algebroids

Update website for Algebroids 2025.09-06
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap10.html
  Algebroids/doc/chap10.txt
  Algebroids/doc/chap10_mj.html
  Algebroids/doc/chap11.html
  Algebroids/doc/chap11.txt
  Algebroids/doc/chap11_mj.html
  _data/Algebroids.yml
Due: Algebroids

AssociatedFunctorOfLinearClosuresOfPathCategoriesData now always cat as first argument
  Algebroids/gap/CategoryOfFpAlgebras.gd
  Algebroids/gap/CategoryOfFpAlgebras.gi
Due: Algebroids

renamed EvaluateLinearClosureMorphism -> EvaluateLinearClosureEndomorphism
  Algebroids/PackageInfo.g
  Algebroids/gap/CategoryOfFpAlgebras.gi
  Algebroids/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gd
  Algebroids/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
Due: Algebroids

Update website for Algebroids 2025.09-07
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap10.html
  Algebroids/doc/chap10.txt
  Algebroids/doc/chap10_mj.html
  Algebroids/doc/chapInd.html
  Algebroids/doc/chapInd.txt
  Algebroids/doc/chapInd_mj.html
  _data/Algebroids.yml
Due: Algebroids

refactored EvaluateLinearClosureEndomorphism
  Algebroids/PackageInfo.g
  Algebroids/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gd
  Algebroids/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
Due: Algebroids

Update website for Algebroids 2025.09-08
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

fixed a method for Pullback
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/gap/ZariskiFrameOrCoframe.gi
Due: ZariskiFrames

improved/fixed ViewString for liner closure morphisms
  Algebroids/PackageInfo.g
  Algebroids/examples/GroebnerBasisInLinearClosureOfPathCategory.g
  Algebroids/examples/QuotientCategoryOfLinearClosureOfPathCategory.g
  Algebroids/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
  FpCategories/PackageInfo.g
  FpCategories/examples/PathCategory.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/QuotientsOfAlgebroidFromDataTablesUsingPreSheaves.g
Due: Algebroids, FunctorCategories

Update website for Algebroids 2025.09-09
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap9.html
  Algebroids/doc/chap9.txt
  Algebroids/doc/chap9_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FpCategories 2025.09-02
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap2.html
  FpCategories/doc/chap2.txt
  FpCategories/doc/chap2_mj.html
  _data/FpCategories.yml
Due: none

Update website for FunctorCategories 2025.09-06
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap14.html
  FunctorCategories/doc/chap14.txt
  FunctorCategories/doc/chap14_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for ZariskiFrames 2025.09-04
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

Add with_given_objects_methods named argument in DummyCategoryInDoctrines
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/gap/Tools.gi
Due: none

Update website for ToolsForCategoricalTowers 2025.09-03
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Remove IsCellInCategoryFromNerveData
  FpCategories/gap/CategoryFromNerveData.gd
Due: none

Use BigInt for indices and lengths where needed
  FpCategories/gap/CategoryFromNerveData.gi
  FpCategories/gap/GroebnerBasesForPathCategories.gi
  FpCategories/gap/PathCategories.gd
  FpCategories/gap/PathCategories.gi
  FpCategories/gap/Tools.gi
  FpCategories/gap/precompiled_categories/CategoryFromNerveDataPrecompiled.gi
Due: none

FinQuiver: named args, colors, String methods
  FpCategories/gap/Quivers.gi
Due: none

update examples in FpCategories
  FpCategories/PackageInfo.g
  FpCategories/examples/CategoryFromNerveData.g
  FpCategories/examples/CategoryOfInternalCategories.g
  FpCategories/examples/Delta2.g
  FpCategories/examples/FinQuiver.g
  FpCategories/examples/LinearClosureOfPathCategory.g
  FpCategories/examples/NerveTruncatedInDegree2AsFunctor.g
  FpCategories/examples/PathCategory.g
  FpCategories/examples/PrecompileCategoryFromNerveData.g
  FpCategories/examples/PrecompileCategoryFromNerveDataHomStructureOnMorphisms.g
  FpCategories/examples/QuiverStringOfDigraph.g
  FpCategories/examples/YonedaCompositionAsNaturalEpimorphism.g
  FpCategories/gap/QuotientsOfPathCategories.gi
Due: none

Use FunctionWithNamedArguments in PathCategory constructor
  FpCategories/gap/PathCategories.gi
Due: none

Implement '/' methods for string-based lookup on algebroids and linear closures
  Algebroids/PackageInfo.g
  Algebroids/gap/AlgebroidFromDataTables.gi
  Algebroids/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
Due: Algebroids

Refactor RandomFinQuiver args and sort behavior
  FpCategories/gap/Quivers.gi
Due: none

Improve quiver string parsing and ranges
  FpCategories/gap/Quivers.gi
Due: none

Further adjustments to transpile to Julia
  FpCategories/gap/CategoryFromNerveData.gi
  FpCategories/gap/GroebnerBasesForPathCategories.gd
  FpCategories/gap/GroebnerBasesForPathCategories.gi
  FpCategories/gap/PathCategories.gd
  FpCategories/gap/PathCategories.gi
  FpCategories/gap/QuotientsOfPathCategories.gd
  FpCategories/gap/QuotientsOfPathCategories.gi
  FpCategories/gap/Tools.gd
  FpCategories/gap/Tools.gi
  FpCategories/init.g
  FpCategories/read.g
Due: none

Use '/' for string-based label lookup
  FpCategories/gap/CategoryFromNerveData.gi
  FpCategories/gap/PathCategories.gi
  FpCategories/gap/Quivers.gd
  FpCategories/gap/Quivers.gi
Due: none

Replace direct calls with CallFuncListAtRuntime to avoid world-age
  FpCategories/gap/CategoryFromNerveData.gi
  FpCategories/gap/QuotientsOfPathCategories.gi
  FpCategories/gap/SimplicialCategory.gi
Due: none

Replace NerveTruncatedInDegree2Data with NerveData
  FpCategories/gap/CategoryFromNerveData.gi
Due: none

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
