Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

Update website for SubcategoriesForCAP 2023.06-04
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

updated precompiled_categories/Fin*AsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinBouquetsAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversAsCCCPrecompiled.gi
Due: FunctorCategories

activated CapJitAddTypeSignature( "IndicesOfGeneratingMorphisms", [ IsCategoryFromDataTables ], ... )
  Algebroids/PackageInfo.g
  Algebroids/gap/CategoryFromDataTables.gd
Due: Algebroids

in CategoryFromDataTables: MapOfObject/Morphism -> IndexOfObject/Morphism
  Algebroids/PackageInfo.g
  Algebroids/gap/CategoryFromDataTables.gd
  Algebroids/gap/CategoryFromDataTables.gi
  Algebroids/gap/precompiled_categories/CategoryFromDataTablesPrecompiled.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/precompiled_categories/FinBouquetsAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinBouquetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfCategoryFromDataTablesInSkeletalFinSetsPrecompiled.gi
Due: Algebroids, FunctorCategories

Update website for FunctorCategories 2023.06-09
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd.txt
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

test IsEqualForMorphisms
  FunctorCategories/PackageInfo.g
  FunctorCategories/tst/homological_algebra.tst
Due: FunctorCategories

relocated code for better organization
  IntrinsicModules/PackageInfo.g
  IntrinsicModules/gap/HomalgModuleByFreyd.gi
  IntrinsicModules/gap/HomalgModuleByPresentations.gi
  IntrinsicModules/gap/IntrinsicModules.gi
Due: IntrinsicModules

Update website for Algebroids 2023.06-08
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FunctorCategories 2023.06-10
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for IntrinsicModules 2023.06-01
  IntrinsicModules/PackageInfo.g
  IntrinsicModules/doc/chap0.html
  IntrinsicModules/doc/chap0.txt
  IntrinsicModules/doc/chap0_mj.html
  IntrinsicModules/doc/chap1.html
  IntrinsicModules/doc/chap1_mj.html
  _data/IntrinsicModules.yml
Due: IntrinsicModules

Revert "deactivate testing the notebooks"
  CatReps/makefile
  FunctorCategories/makefile
  InternalModules/makefile
  LazyCategories/makefile
Due: CatReps, FunctorCategories, LazyCategories

using CapAndHomalgt -> CapAndHomalg
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/examples/julia/notebooks/Example.ipynb
  ZariskiFrames/examples/julia/notebooks/Graph.ipynb
  ZariskiFrames/examples/julia/notebooks/Hyperbola.ipynb
  ZariskiFrames/examples/julia/notebooks/Hyperbola_in_3d.ipynb
  ZariskiFrames/examples/julia/notebooks/Jordan.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,5)_0dim.ipynb
Due: ZariskiFrames

removed obsolete Project.toml
  Locales/PackageInfo.g
  Locales/Project.toml
  Locales/examples/julia/notebooks/Project.toml
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/Project.toml
  ZariskiFrames/examples/julia/notebooks/Project.toml
Due: Locales, ZariskiFrames

updated notebooks
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/examples/julia/notebooks/CavenderFarrisNeyman_reduced.ipynb
  ZariskiFrames/examples/julia/notebooks/Example.ipynb
  ZariskiFrames/examples/julia/notebooks/Graph.ipynb
  ZariskiFrames/examples/julia/notebooks/Hyperbola.ipynb
  ZariskiFrames/examples/julia/notebooks/Hyperbola_in_3d.ipynb
  ZariskiFrames/examples/julia/notebooks/Jordan.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,3)_0dim.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,5)_0dim.ipynb
  ZariskiFrames/examples/julia/uMPS(2,2,3)_0dim.jl
Due: ZariskiFrames

switched to CapAndHomalg v1.5.1
  CatReps/PackageInfo.g
  CatReps/examples/notebooks/CategoryOfRepresentations.ipynb
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/notebooks/ReflexivePair.ipynb
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/ReflexiveCoequalizer.ipynb
  InternalModules/PackageInfo.g
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS1rep.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS4rep.ipynb
  LazyCategories/PackageInfo.g
  LazyCategories/examples/notebooks/SnakeInAbelian.ipynb
  LazyCategories/examples/notebooks/SnakeInFreeAbelian.ipynb
  Locales/PackageInfo.g
  Locales/examples/julia/notebooks/IdealQuotient.ipynb
  Locales/examples/julia/notebooks/IdealQuotient2.ipynb
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/examples/julia/notebooks/CavenderFarrisNeyman_reduced.ipynb
  ZariskiFrames/examples/julia/notebooks/Example.ipynb
  ZariskiFrames/examples/julia/notebooks/Graph.ipynb
  ZariskiFrames/examples/julia/notebooks/Hyperbola.ipynb
  ZariskiFrames/examples/julia/notebooks/Hyperbola_in_3d.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,3)_0dim.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,4)_0dim.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,5)_0dim.ipynb
Due: CatReps, FunctorCategories, LazyCategories, Locales, ZariskiFrames

switched to Julia 1.9.1
  CatReps/PackageInfo.g
  CatReps/examples/notebooks/CategoryOfRepresentations.ipynb
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/notebooks/CartesianBraiding.ipynb
  FiniteCocompletions/examples/notebooks/CartesianDiagonal.ipynb
  FiniteCocompletions/examples/notebooks/ReflexivePair.ipynb
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/DPO_Quivers.ipynb
  FunctorCategories/examples/notebooks/DecoratedFinQuivers.ipynb
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/FunctorCategories.ipynb
  FunctorCategories/examples/notebooks/ImageOfPullback_in_AbelianClosure_using_Adelman.ipynb
  FunctorCategories/examples/notebooks/ImageOfPullback_in_AbelianClosure_using_Freyd.ipynb
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  FunctorCategories/examples/notebooks/PairVsReflexivePair.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPushouts.ipynb
  FunctorCategories/examples/notebooks/ReflexiveCoequalizer.ipynb
  FunctorCategories/examples/notebooks/SnakeInFreeAbelian.ipynb
  FunctorCategories/examples/notebooks/svg/PastingLawForPullbacks_svg.ipynb
  FunctorCategories/examples/notebooks/svg/SnakeInFreeAbelian_svg.ipynb
  InternalModules/PackageInfo.g
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS1rep.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS4rep.ipynb
  LazyCategories/PackageInfo.g
  LazyCategories/examples/notebooks/SnakeInAbelian.ipynb
  LazyCategories/examples/notebooks/SnakeInFreeAbelian.ipynb
  Locales/PackageInfo.g
  Locales/examples/julia/notebooks/IdealQuotient.ipynb
  Locales/examples/julia/notebooks/IdealQuotient2.ipynb
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/examples/julia/notebooks/CavenderFarrisNeyman_reduced.ipynb
  ZariskiFrames/examples/julia/notebooks/Example.ipynb
  ZariskiFrames/examples/julia/notebooks/Graph.ipynb
  ZariskiFrames/examples/julia/notebooks/Hyperbola.ipynb
  ZariskiFrames/examples/julia/notebooks/Hyperbola_in_3d.ipynb
  ZariskiFrames/examples/julia/notebooks/Jordan.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,3)_0dim.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,4)_0dim.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,5)_0dim.ipynb
Due: CatReps, FunctorCategories, LazyCategories, Locales, ZariskiFrames

improved DisplayString of Single/MultipleDifferences and ConstructibleObjects
  Locales/PackageInfo.g
  Locales/gap/ConstructibleObjects.gi
  Locales/gap/MultipleDifferences.gi
  Locales/gap/SingleDifferences.gi
  Locales/tst/NormalizeObject.tst
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/examples/CharSet.g
  ZariskiFrames/examples/Example.g
  ZariskiFrames/examples/doc/ConstructibleProjectionOfDifferences.g
  ZariskiFrames/examples/julia/notebooks/CavenderFarrisNeyman_reduced.ipynb
  ZariskiFrames/examples/julia/notebooks/Example.ipynb
  ZariskiFrames/examples/julia/notebooks/Graph.ipynb
  ZariskiFrames/examples/julia/notebooks/Hyperbola.ipynb
  ZariskiFrames/examples/julia/notebooks/Hyperbola_in_3d.ipynb
  ZariskiFrames/examples/julia/notebooks/Jordan.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,3)_0dim.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,4)_0dim.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,5)_0dim.ipynb
Due: Locales, ZariskiFrames

Update website for CatReps 2023.06-02
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2023.06-16
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2023.06-12
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2023.06-02
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for LazyCategories 2023.06-02
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2023.06-06
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for ZariskiFrames 2023.06-06
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  ZariskiFrames/doc/chap12.html
  ZariskiFrames/doc/chap12.txt
  ZariskiFrames/doc/chap12_mj.html
  ZariskiFrames/doc/chap13.html
  ZariskiFrames/doc/chap13.txt
  ZariskiFrames/doc/chap13_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

coding style
  Toposes/gap/ToposDerivedMethods.gi
Due: Toposes

declared and derived NonliftableMorphismFromDistinguishedObject
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  Locales/PackageInfo.g
  Locales/examples/Dedekind1stNumber.g
  Toposes/PackageInfo.g
  Toposes/gap/Topos.autogen.gd
  Toposes/gap/Topos.gd
  Toposes/gap/ToposDerivedMethods.gi
  Toposes/gap/ToposMethodRecord.gi
  Toposes/tst/Opposite.tst
Due: FunctorCategories, Locales, Toposes

coding style
  Locales/gap/BooleanAlgebraDerivedMethods.gi
Due: Locales

replaced List -> ListOfObjectsInMeetSemilatticeOfDifferences
  Locales/gap/ConstructibleObjectsAsUnionOfMultipleDifferences.gi
Due: Locales

relocated code
  Locales/gap/ConstructibleObjectsAsUnionOfMultipleDifferences.gi
  Locales/gap/ConstructibleObjectsAsUnionOfSingleDifferences.gi
Due: Locales

more suggestive name for local variable
  Locales/gap/ConstructibleObjectsAsUnionOfMultipleDifferences.gi
  Locales/gap/ConstructibleObjectsAsUnionOfSingleDifferences.gi
Due: Locales

Update website for FunctorCategories 2023.06-13
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Toposes 2023.06-05
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  Toposes/doc/chap1.html
  Toposes/doc/chap1.txt
  Toposes/doc/chap1_mj.html
  Toposes/doc/chapInd.html
  Toposes/doc/chapInd.txt
  Toposes/doc/chapInd_mj.html
  _data/Toposes.yml
Due: Toposes

InitialOjbect of ConstructibleObjects now has an empty list of differences as datum
  Locales/PackageInfo.g
  Locales/gap/ConstructibleObjects.gi
  Locales/gap/ConstructibleObjectsAsUnionOfMultipleDifferences.gi
  Locales/gap/ConstructibleObjectsAsUnionOfSingleDifferences.gi
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/examples/Example.g
  ZariskiFrames/examples/julia/notebooks/Example.ipynb
Due: Locales, ZariskiFrames

ConstructibleObjects now supports empty limits
  Locales/PackageInfo.g
  Locales/gap/ConstructibleObjectsAsUnionOfMultipleDifferences.gi
  Locales/gap/ConstructibleObjectsAsUnionOfSingleDifferences.gi
  Locales/tst/EmptyLimits.tst
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/examples/CharSet.g
Due: Locales, ZariskiFrames

AddCoproduct of ConstructibleObjects now filters out empty differences
  Locales/PackageInfo.g
  Locales/gap/ConstructibleObjectsAsUnionOfMultipleDifferences.gi
  Locales/gap/ConstructibleObjectsAsUnionOfSingleDifferences.gi
Due: Locales

d&i DifferenceOfSingleDifferences and Add(Co)ExponentialOnObjects
  Locales/gap/ConstructibleObjectsAsUnionOfSingleDifferences.gd
  Locales/gap/ConstructibleObjectsAsUnionOfSingleDifferences.gi
Due: Locales

added derivations for (Co)exponentialOnObjects for IsBooleanAlgebroid
  Locales/PackageInfo.g
  Locales/gap/BooleanAlgebraDerivedMethods.gi
Due: Locales

Update website for Locales 2023.06-09
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap13.html
  Locales/doc/chap13.txt
  Locales/doc/chap13_mj.html
  _data/Locales.yml
Due: Locales

Update website for Locales 2023.06-10
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for ZariskiFrames 2023.06-08
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  ZariskiFrames/doc/chap12.html
  ZariskiFrames/doc/chap12.txt
  ZariskiFrames/doc/chap12_mj.html
  ZariskiFrames/doc/chap13.html
  ZariskiFrames/doc/chap13.txt
  ZariskiFrames/doc/chap13_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
