Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

comply with MonoidalCategories v2024.09-02
  LazyCategories/PackageInfo.g
  LazyCategories/tst/TerminalCategoryMonoidal.tst
Due: LazyCategories

renamed UnderlyingObject -> UnderlyingDatum
  Locales/gap/ProsetAsCategory.gd
  Locales/gap/ProsetAsCategory.gi
Due: Locales

split UnderlyingCell -> UnderlyingObject, UnderlyingMorphism
  Locales/examples/julia/IdealQuotient.jl
  Locales/examples/julia/IdealQuotient2.jl
  Locales/examples/julia/notebooks/IdealQuotient.ipynb
  Locales/examples/julia/notebooks/IdealQuotient2.ipynb
  Locales/gap/ProsetOfCategory.gd
  Locales/gap/ProsetOfCategory.gi
  Locales/gap/precompiled_categories/StablePosetOfCategoryOfPosetOfCategoryOfSliceCategoryOverTensorUnitOfCategoryOfRowsOfCommutativeRingPrecompiled.gi
Due: Locales

coding style
  Locales/gap/ProsetOfCategory.gi
Due: Locales

got rid of AsCellOf*
  Locales/gap/ProsetOfCategory.gd
  Locales/gap/ProsetOfCategory.gi
Due: Locales

Update website for LazyCategories 2024.09-01
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

renamed argument range -> target
  Locales/gap/ProsetOfCategory.gi
Due: Locales

declare and used IsCategoryWithoutMorphismData
  Locales/PackageInfo.g
  Locales/examples/ClosedMonoidalLatticeOfIdeals.g
  Locales/examples/HeytingAlgebraOfRadicalIdeals.g
  Locales/examples/PosetOfCategory.g
  Locales/examples/ProsetOfCategory.g
  Locales/gap/Proset.gd
  Locales/gap/ProsetAsCategory.gd
  Locales/gap/ProsetAsCategory.gi
  Locales/gap/ProsetDerivedMethods.gi
  Locales/gap/ProsetOfCategory.gi
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/gap/ZariskiFrameOrCoframe.gd
Due: Locales, ZariskiFrames

Update website for Locales 2024.09-03
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap1.html
  Locales/doc/chap1.txt
  Locales/doc/chap1_mj.html
  Locales/doc/chap7.html
  Locales/doc/chap7.txt
  Locales/doc/chap7_mj.html
  Locales/doc/chap8.html
  Locales/doc/chap8.txt
  Locales/doc/chap8_mj.html
  Locales/doc/chapInd.html
  Locales/doc/chapInd.txt
  Locales/doc/chapInd_mj.html
  _data/Locales.yml
Due: Locales

Update website for ZariskiFrames 2024.09-01
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  ZariskiFrames/doc/chap1.html
  ZariskiFrames/doc/chap1_mj.html
  ZariskiFrames/doc/chapInd.html
  ZariskiFrames/doc/chapInd.txt
  ZariskiFrames/doc/chapInd_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

Update website for CatReps 2024.09-02
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2024.09-03
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2024.09-03
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2024.09-01
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for LazyCategories 2024.09-02
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2024.09-04
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for ZariskiFrames 2024.09-02
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

Remove support for return types allowing `fail`
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
  IntrinsicCategories/PackageInfo.g
  IntrinsicCategories/gap/IntrinsicCategories.gi
  LazyCategories/PackageInfo.g
  LazyCategories/gap/LazyCategory.gi
  Locales/PackageInfo.g
  Locales/gap/ProsetOfCategory.gi
  PreSheaves/PackageInfo.g
  PreSheaves/gap/PreSheaves.gi
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/gap/SliceCategory.gi
  SubcategoriesForCAP/gap/Subcategory.gi
Due: FunctorCategories, IntrinsicCategories, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP

Update website for FiniteCocompletions 2024.09-04
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2024.09-04
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for IntrinsicCategories 2024.09-02
  IntrinsicCategories/PackageInfo.g
  IntrinsicCategories/doc/chap0.html
  IntrinsicCategories/doc/chap0.txt
  IntrinsicCategories/doc/chap0_mj.html
  IntrinsicCategories/doc/chap1.html
  IntrinsicCategories/doc/chap1_mj.html
  IntrinsicCategories/doc/chap2.html
  IntrinsicCategories/doc/chap2_mj.html
  IntrinsicCategories/doc/chapInd.html
  IntrinsicCategories/doc/chapInd_mj.html
  _data/IntrinsicCategories.yml
Due: IntrinsicCategories

Update website for LazyCategories 2024.09-03
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2024.09-05
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for PreSheaves 2024.09-02
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for SubcategoriesForCAP 2024.09-02
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Adjust to CAP 2024.09-08
  FpCategories/PackageInfo.g
  FpCategories/gap/Tools.autogen.gd
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/Tools.autogen.gd
  Locales/PackageInfo.g
  Locales/gap/BooleanAlgebra.autogen.gd
  Locales/gap/CoHeytingAlgebra.autogen.gd
  Locales/gap/HeytingAlgebra.autogen.gd
  Locales/gap/Poset.autogen.gd
  Locales/gap/Proset.autogen.gd
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/gap/Tools.autogen.gd
  Toposes/PackageInfo.g
  Toposes/gap/Topos.autogen.gd
Due: FunctorCategories, Locales, Toposes

Update website for FpCategories 2024.09-02
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap4.html
  FpCategories/doc/chap4.txt
  FpCategories/doc/chap4_mj.html
  FpCategories/doc/chapInd.html
  FpCategories/doc/chapInd.txt
  FpCategories/doc/chapInd_mj.html
  _data/FpCategories.yml
Due: none

Update website for FunctorCategories 2024.09-05
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap15.html
  FunctorCategories/doc/chap15.txt
  FunctorCategories/doc/chap15_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd.txt
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Locales 2024.09-06
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap1.html
  Locales/doc/chap1.txt
  Locales/doc/chap1_mj.html
  Locales/doc/chap2.html
  Locales/doc/chap2.txt
  Locales/doc/chap2_mj.html
  Locales/doc/chap4.html
  Locales/doc/chap4.txt
  Locales/doc/chap4_mj.html
  Locales/doc/chap5.html
  Locales/doc/chap5.txt
  Locales/doc/chap5_mj.html
  Locales/doc/chap6.html
  Locales/doc/chap6.txt
  Locales/doc/chap6_mj.html
  Locales/doc/chapInd.html
  Locales/doc/chapInd.txt
  Locales/doc/chapInd_mj.html
  _data/Locales.yml
Due: Locales

Update website for ToolsForCategoricalTowers 2024.09-03
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap2.html
  ToolsForCategoricalTowers/doc/chap2.txt
  ToolsForCategoricalTowers/doc/chap2_mj.html
  ToolsForCategoricalTowers/doc/chapInd.html
  ToolsForCategoricalTowers/doc/chapInd.txt
  ToolsForCategoricalTowers/doc/chapInd_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for Toposes 2024.09-02
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  Toposes/doc/chap1.html
  Toposes/doc/chap1.txt
  Toposes/doc/chap1_mj.html
  Toposes/doc/chapInd.html
  Toposes/doc/chapInd.txt
  Toposes/doc/chapInd_mj.html
  _data/Toposes.yml
Due: Toposes

Update website for FpCategories 2024.09-03
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  _data/FpCategories.yml
Due: none

Update website for FunctorCategories 2024.09-06
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap15.html
  FunctorCategories/doc/chap15.txt
  FunctorCategories/doc/chap15_mj.html
  FunctorCategories/doc/chap16.html
  FunctorCategories/doc/chap16.txt
  FunctorCategories/doc/chap16_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd.txt
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Locales 2024.09-07
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for ToolsForCategoricalTowers 2024.09-04
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for Toposes 2024.09-03
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

Adjust to CAP 2024.08-08
  Algebroids/PackageInfo.g
  Algebroids/gap/Algebroids.gi
  Locales/PackageInfo.g
  Locales/gap/ProsetOfCategory.gi
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/gap/EagerSliceCategory.gi
  SubcategoriesForCAP/gap/LazySliceCategory.gi
  SubcategoriesForCAP/gap/SliceCategory.gi
Due: Algebroids, Locales, SubcategoriesForCAP

Update website for Algebroids 2024.09-02
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
