Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

Update website for FunctorCategories 2024.03-04
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Locales 2024.03-12
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap16.html
  Locales/doc/chap16.txt
  Locales/doc/chap16_mj.html
  _data/Locales.yml
Due: Locales

Update website for ToolsForCategoricalTowers 2024.03-01
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap2.html
  ToolsForCategoricalTowers/doc/chap2.txt
  ToolsForCategoricalTowers/doc/chap2_mj.html
  ToolsForCategoricalTowers/doc/chapInd.html
  ToolsForCategoricalTowers/doc/chapInd.txt
  ToolsForCategoricalTowers/doc/chapInd_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for Toposes 2024.03-01
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

reordered lines of code
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Update website for Locales 2024.03-13
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for Toposes 2024.03-02
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

canonized input variable names
  Locales/gap/CoHeytingAlgebraDerivedMethods.gi
Due: Locales

added missing derived methods for right adjunctions
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/Dedekind2ndNumber.g
  Locales/PackageInfo.g
  Locales/examples/Dedekind1stNumber.g
  Locales/gap/CoHeytingAlgebraDerivedMethods.gi
  Locales/gap/HeytingAlgebraDerivedMethods.gi
Due: FunctorCategories, Locales

PreSheavesOfFpEnrichedCategory in the 2-enriched case now returns a Heyting algebroid
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/Dedekind2ndNumber.g
  FunctorCategories/gap/PreSheaves.gi
  Locales/PackageInfo.g
  Locales/examples/Dedekind1stNumber.g
Due: FunctorCategories, Locales

Update website for FunctorCategories 2024.03-06
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap11.html
  FunctorCategories/doc/chap11.txt
  FunctorCategories/doc/chap11_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Locales 2024.03-15
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap13.html
  Locales/doc/chap13.txt
  Locales/doc/chap13_mj.html
  _data/Locales.yml
Due: Locales

updated test file Toposes/examples/SingletonMorphism.g
  Toposes/PackageInfo.g
  Toposes/examples/SingletonMorphism.g
Due: Toposes

Update website for Toposes 2024.03-03
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  Toposes/doc/chap1.html
  Toposes/doc/chap1.txt
  Toposes/doc/chap1_mj.html
  _data/Toposes.yml
Due: Toposes

again updated test file Toposes/examples/SingletonMorphism.g for Julia
  Toposes/examples/SingletonMorphism.g
Due: Toposes

again updated test file Toposes/examples/SingletonMorphism.g for Julia
  Toposes/PackageInfo.g
  Toposes/examples/SingletonMorphism.g
Due: Toposes

simplified logic template
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/CompilerLogic.gi
Due: none

deleted obsolete logic templates
  FiniteCocompletions/gap/CompilerLogic.gi
Due: none

comply with FinSetsForCAP v2024.03-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/CompilerLogic.gi
Due: none

Update website for Toposes 2024.03-04
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  Toposes/doc/chap1.html
  Toposes/doc/chap1.txt
  Toposes/doc/chap1_mj.html
  _data/Toposes.yml
Due: Toposes

Update website for FiniteCocompletions 2024.03-03
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

AddMorphismsOfExternalHom/BasisOfExternalHom/CoefficientsOfMorphism to PreSheaves of InitialCategory
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/TerminalCategory.g
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

AddFinalDerivation( UniqueMorphism, preorder ) and got rid of ADD_UNIQUE_MORPHISM
  Locales/PackageInfo.g
  Locales/examples/ClosedMonoidalLatticeOfIdeals.g
  Locales/examples/DiscreteSkeletalCategory.g
  Locales/examples/HeytingAlgebraOfRadicalIdeals.g
  Locales/examples/PosetOfCategory.g
  Locales/examples/ProsetOfCategory.g
  Locales/examples/TotalOrderAsCategory.g
  Locales/gap/Proset.gd
  Locales/gap/Proset.gi
  Locales/gap/ProsetDerivedMethods.gi
Due: Locales

Update website for Algebroids 2024.03-01
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap3.html
  Algebroids/doc/chap3.txt
  Algebroids/doc/chap3_mj.html
  Algebroids/doc/chap4.html
  Algebroids/doc/chap4.txt
  Algebroids/doc/chap4_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for CatReps 2024.03-02
  CatReps/PackageInfo.g
  CatReps/README.md
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  CatReps/doc/chap1.html
  CatReps/doc/chap1.txt
  CatReps/doc/chap1_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2024.03-04
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap3.html
  FiniteCocompletions/doc/chap3.txt
  FiniteCocompletions/doc/chap3_mj.html
  FiniteCocompletions/doc/chap4.html
  FiniteCocompletions/doc/chap4.txt
  FiniteCocompletions/doc/chap4_mj.html
  FiniteCocompletions/doc/chap8.html
  FiniteCocompletions/doc/chap8.txt
  FiniteCocompletions/doc/chap8_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FpCategories 2024.03-03
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap2.html
  FpCategories/doc/chap2.txt
  FpCategories/doc/chap2_mj.html
  _data/FpCategories.yml
Due: none

Update website for FunctorCategories 2024.03-08
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap11.html
  FunctorCategories/doc/chap11.txt
  FunctorCategories/doc/chap11_mj.html
  FunctorCategories/doc/chap9.html
  FunctorCategories/doc/chap9.txt
  FunctorCategories/doc/chap9_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for IntrinsicCategories 2024.03-01
  IntrinsicCategories/PackageInfo.g
  IntrinsicCategories/doc/chap0.html
  IntrinsicCategories/doc/chap0.txt
  IntrinsicCategories/doc/chap0_mj.html
  _data/IntrinsicCategories.yml
Due: IntrinsicCategories

Update website for IntrinsicGradedModules 2024.03-01
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/doc/chap0.html
  IntrinsicGradedModules/doc/chap0.txt
  IntrinsicGradedModules/doc/chap0_mj.html
  _data/IntrinsicGradedModules.yml
Due: IntrinsicGradedModules

Update website for Locales 2024.03-17
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap13.html
  Locales/doc/chap13.txt
  Locales/doc/chap13_mj.html
  Locales/doc/chap7.html
  Locales/doc/chap7.txt
  Locales/doc/chap7_mj.html
  Locales/doc/chap8.html
  Locales/doc/chap8.txt
  Locales/doc/chap8_mj.html
  _data/Locales.yml
Due: Locales

Update website for SubcategoriesForCAP 2024.03-03
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Update website for ToolsForCategoricalTowers 2024.03-02
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap1.html
  ToolsForCategoricalTowers/doc/chap1.txt
  ToolsForCategoricalTowers/doc/chap1_mj.html
  ToolsForCategoricalTowers/doc/chapInd.html
  ToolsForCategoricalTowers/doc/chapInd.txt
  ToolsForCategoricalTowers/doc/chapInd_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

installed DoctrineSpecificCoveringListOfRepresentables for the 2-enriched case
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

conditionally AddMorphismsOfExternalHom( proset, ... )
  Locales/PackageInfo.g
  Locales/examples/HeytingAlgebraOfRadicalIdeals.g
  Locales/examples/PosetOfCategory.g
  Locales/examples/ProsetOfCategory.g
  Locales/gap/ProsetOfCategory.gi
Due: Locales

updated DisplayString for presheaves and their morphisms
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
  Locales/PackageInfo.g
  Locales/examples/Dedekind1stNumber.g
Due: FunctorCategories, Locales

replaced Display -> DisplayString for IsObjectInP(r)osetOfCategory
  Locales/gap/ProsetOfCategory.gi
Due: Locales

installed PrintString for IsObject/MorphismInP(r)osetOfCategory
  Locales/PackageInfo.g
  Locales/gap/ProsetOfCategory.gi
Due: Locales

replaced ViewObj -> ViewString for IsObjectInP(r)osetOfCategory
  Locales/gap/ProsetOfCategory.gi
Due: Locales

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
