Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

Update website for FunctorCategories 2026.05-07
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

declared and set SetOfObjectsOfUnderlyingCategory
  FiniteCocompletions/gap/FiniteStrictCoproductCompletionOfObjectFiniteCategory.gd
  FiniteCocompletions/gap/FiniteStrictCoproductCompletionOfObjectFiniteCategory.gi
Due: none

fixed CapJitAddTypeSignature for SetOfObjectsOfUnderlyingCategory
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/FiniteStrictCoproductCompletionOfObjectFiniteCategory.gd
Due: none

Update website for FiniteCocompletions 2026.05-11
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap3.html
  FiniteCocompletions/doc/chap3.txt
  FiniteCocompletions/doc/chap3_mj.html
  FiniteCocompletions/doc/chapInd.html
  FiniteCocompletions/doc/chapInd.txt
  FiniteCocompletions/doc/chapInd_mj.html
  _data/FiniteCocompletions.yml
Due: none

comply with MonoidalCategories v2026.05-02
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFreeAlgebroidInCategoryOfRowsPrecompiled.gi
Due: FunctorCategories

Update website for FunctorCategories 2026.05-08
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Remove the dependency on HigherHomologicalAlgebra
  .github/workflows/Tests.yml
  Algebroids/PackageInfo.g
  Algebroids/README.md
  CatReps/PackageInfo.g
  CatReps/README.md
  FpCategories/PackageInfo.g
  FpCategories/README.md
  FunctorCategories/PackageInfo.g
  FunctorCategories/README.md
  FunctorCategories/gap/Functors.gi
  dev/.release
Due: Algebroids, CatReps, FunctorCategories

Update website for Algebroids 2026.05-04
  Algebroids/PackageInfo.g
  Algebroids/README.md
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

release-gap-package: retry tag push up to 3 times to handle GitHub transient errors
  dev/release-gap-package
Due: none

Update website for CatReps 2026.05-05
  CatReps/PackageInfo.g
  CatReps/README.md
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FpCategories 2026.05-02
  FpCategories/PackageInfo.g
  FpCategories/README.md
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  _data/FpCategories.yml
Due: none

Update website for FunctorCategories 2026.05-09
  FunctorCategories/PackageInfo.g
  FunctorCategories/README.md
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

simplified final derivation
  Toposes/PackageInfo.g
  Toposes/gap/ToposDerivedMethods.gi
Due: Toposes

Update website for Toposes 2026.05-03
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

SetOfObjectsOfUnderlyingCategory( UCm ) -> SetOfObjectsOfCategory( C )
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/FiniteStrictCoproductCompletionOfObjectFiniteCategory.gi
Due: none

Update website for FiniteCocompletions 2026.05-12
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Comply with (Cartesian/Monoidal)Categories v2026.06-01
  CatReps/PackageInfo.g
  CatReps/examples/CategoryOfRepresentations.g
  CatReps/examples/notebooks/CategoryOfRepresentations.ipynb
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteCoproductCompletion.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteProductCompletion.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/TerminalCategory.g
  InternalModules/PackageInfo.g
  InternalModules/examples/SymmetricAlgebraInternalToS4rep.g
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS1rep.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS4rep.ipynb
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/examples/PresentationWithDegrees.g
  IntrinsicGradedModules/gap/FpGradedModulesByFreyd.autogen.gd
  IntrinsicModules/PackageInfo.g
  IntrinsicModules/gap/FpModulesByFreyd.autogen.gd
  LazyCategories/PackageInfo.g
  LazyCategories/tst/TerminalCategoryMonoidal.tst
  LazyCategories/tst/TerminalCategoryTopos.tst
  Locales/PackageInfo.g
  Locales/tst/TerminalCategoryTopos.tst
  PresheafCategories/PackageInfo.g
  PresheafCategories/examples/TerminalCategory.g
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/tst/TerminalCategoryTopos.tst
Due: CatReps, FunctorCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales

Update website for CatReps 2026.06-01
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  CatReps/doc/chap1.html
  CatReps/doc/chap1.txt
  CatReps/doc/chap1_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2026.06-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2.txt
  FiniteCocompletions/doc/chap2_mj.html
  _data/FiniteCocompletions.yml
Due: none

Move 'CategoryFromDataTables' from Algebroids to FpCategories
  Algebroids/PackageInfo.g
  Algebroids/doc/Doc.autodoc
  Algebroids/gap/CompilerLogic.gi
  Algebroids/gap/FpCategories.gd
  Algebroids/gap/FpCategories.gi
  Algebroids/gap/Tools.gd
  Algebroids/gap/Tools.gi
  Algebroids/init.g
  Algebroids/read.g
  FpCategories/PackageInfo.g
  FpCategories/doc/Doc.autodoc
  FpCategories/examples/CategoryFromDataTables.g
  FpCategories/examples/PrecompileCategoryFromDataTables.g
  FpCategories/gap/CategoryFromDataTables.gd
  FpCategories/gap/CategoryFromDataTables.gi
  FpCategories/gap/CompilerLogic.gi
  FpCategories/gap/Tools.gd
  FpCategories/gap/Tools.gi
  FpCategories/gap/precompiled_categories/CategoryFromDataTablesPrecompiled.gi
  FpCategories/init.g
  FpCategories/read.g
Due: Algebroids

Update website for FunctorCategories 2026.06-01
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap9.html
  FunctorCategories/doc/chap9.txt
  FunctorCategories/doc/chap9_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2026.06-01
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  InternalModules/doc/chap1.html
  InternalModules/doc/chap1.txt
  InternalModules/doc/chap1_mj.html
  _data/InternalModules.yml
Due: none

Update website for IntrinsicGradedModules 2026.06-01
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/doc/chap0.html
  IntrinsicGradedModules/doc/chap0.txt
  IntrinsicGradedModules/doc/chap0_mj.html
  IntrinsicGradedModules/doc/chap1.html
  IntrinsicGradedModules/doc/chap1.txt
  IntrinsicGradedModules/doc/chap1_mj.html
  _data/IntrinsicGradedModules.yml
Due: IntrinsicGradedModules

Update website for IntrinsicModules 2026.06-01
  IntrinsicModules/PackageInfo.g
  IntrinsicModules/doc/chap0.html
  IntrinsicModules/doc/chap0.txt
  IntrinsicModules/doc/chap0_mj.html
  IntrinsicModules/doc/chap1.html
  IntrinsicModules/doc/chap1.txt
  IntrinsicModules/doc/chap1_mj.html
  _data/IntrinsicModules.yml
Due: IntrinsicModules

Update website for LazyCategories 2026.06-01
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2026.06-01
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for PresheafCategories 2026.06-01
  PresheafCategories/PackageInfo.g
  PresheafCategories/doc/chap0.html
  PresheafCategories/doc/chap0.txt
  PresheafCategories/doc/chap0_mj.html
  PresheafCategories/doc/chap1.html
  PresheafCategories/doc/chap1.txt
  PresheafCategories/doc/chap1_mj.html
  _data/PresheafCategories.yml
Due: none

Update website for ToolsForCategoricalTowers 2026.06-01
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

FpCategories: Few Adjustments for Julia
  FpCategories/PackageInfo.g
  FpCategories/examples/CategoryFromDataTables.g
  FpCategories/gap/CategoryFromDataTables.gd
  FpCategories/gap/CategoryFromDataTables.gi
  FpCategories/gap/CategoryFromNerveData.gi
  FpCategories/gap/QuotientsOfPathCategories.gi
Due: none

Update website for FpCategories 2026.06-02
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap1.html
  FpCategories/doc/chap1_mj.html
  FpCategories/doc/chap2.html
  FpCategories/doc/chap2_mj.html
  FpCategories/doc/chap3.html
  FpCategories/doc/chap3.txt
  FpCategories/doc/chap3_mj.html
  FpCategories/doc/chap4.html
  FpCategories/doc/chap4.txt
  FpCategories/doc/chap4_mj.html
  FpCategories/doc/chap5.html
  FpCategories/doc/chap5.txt
  FpCategories/doc/chap5_mj.html
  FpCategories/doc/chap6.html
  FpCategories/doc/chap6.txt
  FpCategories/doc/chap6_mj.html
  FpCategories/doc/chap7.html
  FpCategories/doc/chap7.txt
  FpCategories/doc/chap7_mj.html
  FpCategories/doc/chap8.html
  FpCategories/doc/chap8.txt
  FpCategories/doc/chap8_mj.html
  FpCategories/doc/chapInd.html
  FpCategories/doc/chapInd.txt
  FpCategories/doc/chapInd_mj.html
  _data/FpCategories.yml
Due: none

Apply PackageJanitor
  dev/upload_codecov.sh
Due: none

FiniteCocompletions: Remove Algebroids from dependencies
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/PrecompileFiniteStrictCoproductCompletionOfCategoryFromDataTables.g
  FiniteCocompletions/examples/precompileLeftCartesianDistributivityFactoring_CategoryFromDataTables.g
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
  FiniteCocompletions/gap/precompiled_categories/FiniteStrictCoproductCompletionOfCategoryFromDataTablesPrecompiled.gi
Due: none

Update website for FiniteCocompletions 2026.06-02
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap15.html
  FiniteCocompletions/doc/chap15.txt
  FiniteCocompletions/doc/chap15_mj.html
  _data/FiniteCocompletions.yml
Due: none

*FpCategory -> *FreeCategory
  .github/workflows/Tests.yml
  Algebroids/PackageInfo.g
  Algebroids/doc/Doc.autodoc
  Algebroids/examples/doc/Category.g
  Algebroids/examples/doc/IntegersAsMonoid.g
  Algebroids/examples/doc/NaturalNumbersAsMonoid.g
  Algebroids/gap/Algebroids.gd
  Algebroids/gap/Algebroids.gi
  Algebroids/gap/FreeCategories.gd
  Algebroids/gap/FreeCategories.gi
  Algebroids/init.g
  Algebroids/read.g
  CatReps/PackageInfo.g
  CatReps/examples/CategoryOfRepresentations.g
  CatReps/examples/CategoryRelations.g
  CatReps/examples/DecomposeOnceByRandomEndomorphism.g
  CatReps/examples/RepresentingC4C4.g
  CatReps/examples/notebooks/CategoryOfRepresentations.ipynb
  CatReps/gap/CatRepsWithCAP.gd
  CatReps/gap/CatRepsWithCAP.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/PrecompilePreSheavesOfFpCategoryInSkeletalFinSets.g
  FunctorCategories/examples/PrecompilePreSheavesOfFpCategoryInSkeletalFinSetsSubobjectClassifier.g
  FunctorCategories/gap/FunctorCategories.gi
  FunctorCategories/gap/PreSheaves.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFreeCategoryInSkeletalFinSetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFreeCategoryInSkeletalFinSetsSubobjectClassifierPrecompiled.gi
  FunctorCategories/read.g
Due: Algebroids, CatReps, FunctorCategories

Remove IsFinitePathCategory; inline finiteness check
  FpCategories/PackageInfo.g
  FpCategories/gap/PathCategories.gd
  FpCategories/gap/PathCategories.gi
Due: none

Fix ReductionOfMorphism: check source object when divisor is an identity
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/examples/QuotientCategoryOfLinearClosureOfPathCategory.g
  FpLinearCategories/gap/GroebnerBasesForLinearClosuresOfPathCategories.gi
Due: none

Rename IsFpCategory to IsFpCategoryDefinedByQuiverAlgebra
  .github/workflows/Tests.yml
  Algebroids/PackageInfo.g
  Algebroids/gap/Algebroids.gd
  Algebroids/gap/Algebroids.gi
  Algebroids/gap/FpCategoriesDefinedByQuiverAlgebras.gd
  Algebroids/gap/FpCategoriesDefinedByQuiverAlgebras.gi
  Algebroids/init.g
  Algebroids/read.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/PrecompilePreSheavesOfFpCategoryDefinedByQuiverAlgebraInSkeletalFinSets.g
  FunctorCategories/examples/PrecompilePreSheavesOfFpCategoryDefinedByQuiverAlgebraInSkeletalFinSetsSubobjectClassifier.g
  FunctorCategories/gap/FunctorCategories.gi
  FunctorCategories/gap/PreSheaves.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFpCategoryDefinedByQuiverAlgebraInSkeletalFinSetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFpCategoryDefinedByQuiverAlgebraInSkeletalFinSetsSubobjectClassifierPrecompiled.gi
  FunctorCategories/read.g
Due: Algebroids, FunctorCategories

Update website for FpCategories 2026.06-03
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap2.html
  FpCategories/doc/chap2.txt
  FpCategories/doc/chap2_mj.html
  FpCategories/doc/chapInd.html
  FpCategories/doc/chapInd.txt
  FpCategories/doc/chapInd_mj.html
  _data/FpCategories.yml
Due: none

Update website for FpLinearCategories 2026.06-01
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/doc/chap0.html
  FpLinearCategories/doc/chap0.txt
  FpLinearCategories/doc/chap0_mj.html
  FpLinearCategories/doc/chap2.html
  FpLinearCategories/doc/chap2.txt
  FpLinearCategories/doc/chap2_mj.html
  _data/FpLinearCategories.yml
Due: none

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
