Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

FunctorCategories: generalise FunctorCategory source-type guard
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/FunctorCategories.gi
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

FunctorCategories: introduce AdditionalMonoidalPreSheafOperationNames
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

FunctorCategories: make admissible algebroid structure opt-in via check_admissibility
  FunctorCategories/examples/NakayamaLeftAdjoint.g
  FunctorCategories/examples/NakayamaRightAdjoint.g
  FunctorCategories/examples/SimpleObjects.g
  FunctorCategories/examples/beilinson_quiver.g
  FunctorCategories/examples/presheaves_of_algebroid.g
  FunctorCategories/examples/presheaves_of_algebroid_from_data_tables.g
  FunctorCategories/gap/PreSheaves.gi
  FunctorCategories/tst/homological_algebra.tst
Due: FunctorCategories

FunctorCategories: introduce WellDefinednessForObjectsCheckDataOrFail
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Algebroids: Set object-finite property for Algebroids
  Algebroids/PackageInfo.g
  Algebroids/gap/Algebroids.gi
Due: Algebroids

Update website for Algebroids 2026.07-04
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FunctorCategories 2026.07-04
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap1.html
  FunctorCategories/doc/chap1.txt
  FunctorCategories/doc/chap12.html
  FunctorCategories/doc/chap12.txt
  FunctorCategories/doc/chap12_mj.html
  FunctorCategories/doc/chap1_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd.txt
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

PresheafCategories: forward overhead and respect FinalizeCategory
  PresheafCategories/PackageInfo.g
  PresheafCategories/gap/PreSheaves.gi
  PresheafCategories/gap/PreSheavesWithBounds.gi
Due: none

FunctorCategories: add AssociatedCategoryOfCoPreSheaves attribute
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

FunctorCategories: generalize AbelianClosure and add dot-method access
  FunctorCategories/gap/AbelianClosure.gd
  FunctorCategories/gap/AbelianClosure.gi
Due: FunctorCategories

Broaden Nakayama adjoints to IsFpAlgebroid
  FunctorCategories/gap/Functors.gd
  FunctorCategories/gap/Functors.gi
Due: FunctorCategories

FunctorCategories: use IsAdmissibleAlgebroid for projective cover
  FunctorCategories/gap/HomologicalMethods.gi
Due: FunctorCategories

FunctorCategories: update dot-access method for functor categories
  FunctorCategories/gap/FunctorCategories.gi
Due: FunctorCategories

FunctorCategories: guard Algebroids-dependent methods behind IsPackageMarkedForLoading
  FunctorCategories/gap/CoPreSheaves.gi
  FunctorCategories/gap/FunctorCategories.gi
  FunctorCategories/gap/PreSheaves.gi
  FunctorCategories/read.g
Due: FunctorCategories

FunctorCategories: generalize Yoneda embedding to object-finite categories
  FunctorCategories/gap/FunctorCategories.gi
Due: FunctorCategories

Update website for FunctorCategories 2026.07-05
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap10.html
  FunctorCategories/doc/chap10_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd.txt
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for PresheafCategories 2026.07-01
  PresheafCategories/PackageInfo.g
  PresheafCategories/doc/chap0.html
  PresheafCategories/doc/chap0.txt
  PresheafCategories/doc/chap0_mj.html
  _data/PresheafCategories.yml
Due: none

FpLinearCategories: fix error messages (DataTablesOfLinearCategory)
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/gap/DataTablesOfLinearCategories.gi
Due: none

FunctorCategories: adjust read.g for Julia
  FunctorCategories/PackageInfo.g
  FunctorCategories/read.g
Due: FunctorCategories

PresheafCategories: guard overhead option with Julia block-comment trick
  PresheafCategories/PackageInfo.g
  PresheafCategories/gap/PreSheaves.gi
Due: none

Update website for FpLinearCategories 2026.07-03
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/doc/chap0.html
  FpLinearCategories/doc/chap0.txt
  FpLinearCategories/doc/chap0_mj.html
  _data/FpLinearCategories.yml
Due: none

Update website for PresheafCategories 2026.07-02
  PresheafCategories/PackageInfo.g
  PresheafCategories/doc/chap0.html
  PresheafCategories/doc/chap0.txt
  PresheafCategories/doc/chap0_mj.html
  _data/PresheafCategories.yml
Due: none

PresheafCategories: guard overhead option with Julia block-comment trick
  PresheafCategories/PackageInfo.g
  PresheafCategories/gap/PreSheavesWithBounds.gi
Due: none

Update website for PresheafCategories 2026.07-03
  PresheafCategories/PackageInfo.g
  PresheafCategories/doc/chap0.html
  PresheafCategories/doc/chap0.txt
  PresheafCategories/doc/chap0_mj.html
  _data/PresheafCategories.yml
Due: none

FunctorCategories: fix test-notebooks against non-deterministic output chunking
  FunctorCategories/makefile
Due: FunctorCategories

SubcategoriesForCAP: AddSetOfObjectsOfCategory
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/gap/FullSubcategory.gi
Due: SubcategoriesForCAP

FunctorCategories: forward named args in single-arg CoPreSheaves method
  FunctorCategories/gap/CoPreSheaves.gi
Due: FunctorCategories

FpCategories: drop FinalizeCategory option from OppositeOfObjectFiniteCategory(IsCapCategory)
  FpCategories/PackageInfo.g
  FpCategories/gap/Tools.gi
  FunctorCategories/gap/FunctorCategories.gi
Due: FunctorCategories

FunctorCategories: PreSheaves: use auxiliary_indices[i][j] instead of auxiliary_indices[i,j]
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

PresheafCategories: Fix computability for doubly bounded presheaves
  PresheafCategories/gap/PreSheavesWithBounds.gi
Due: none

FunctorCategories: Pass full datum to CreateCoPreSheafByValues
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CoPreSheaves.gi
  FunctorCategories/gap/Functors.gi
Due: FunctorCategories

FunctorCategories: Support single-arg PreSheavesOfFpEnrichedCategory for f.p. algebroids
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

PresheafCategories: Refactor bounds calc and add Julia comment guards
  PresheafCategories/PackageInfo.g
  PresheafCategories/gap/PreSheavesWithBounds.gi
Due: none

FunctorCategories: Call injective envelope monomorphism at runtime
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

FpLinearCategories: Forward extra options in AlgebroidFromDataTables
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/gap/AlgebroidFromDataTables.gi
Due: none

FunctorCategories: add Julia comment
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

FunctorCategories: turn CoPreSheaves on one argument to attribute
  FunctorCategories/gap/CoPreSheaves.gd
Due: FunctorCategories

FpLinearCategories: Defer data table function calls to runtime
  FpLinearCategories/gap/DataTablesOfLinearCategories.gi
Due: none
