Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

FpCategories: Add PrintString for objs/mors of categories from data tables and from nerve data.
  FpCategories/gap/CategoryFromDataTables.gi
  FpCategories/gap/CategoryFromNerveData.gi
Due: none

Algebroids: Add PrintString for objs/mors in categories defined by quiver algebras
  Algebroids/gap/FpCategoriesDefinedByQuiverAlgebras.gi
Due: Algebroids

Move SieveFunctor, TruthMorphismOfTrueToSieveFunctor and EmbeddingOfSieveFunctor from Algebroids to FpCategories
  Algebroids/PackageInfo.g
  Algebroids/gap/FpCategoriesDefinedByQuiverAlgebras.gd
  Algebroids/gap/FpCategoriesDefinedByQuiverAlgebras.gi
  FpCategories/PackageInfo.g
  FpCategories/gap/Tools.gd
  FpCategories/gap/Tools.gi
Due: Algebroids

FiniteCocompletions: Update DisplayString of IsObjectInFiniteStrictCoproductCompletion
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
Due: none

Turn FunctorCategory on one argument to attribute
  FunctorCategories/gap/FunctorCategories.gd
Due: FunctorCategories

YonedaProjection: guard against world-age failtures in Julia
  FunctorCategories/gap/FunctorCategories.gi
Due: FunctorCategories

Declare @FilterIntersection( IsPreSheafCategoryOfFpEnrichedCategory, IsTerminalCategory ) in Julia
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Update website for Algebroids 2026.09-02
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap2.html
  Algebroids/doc/chap2.txt
  Algebroids/doc/chap2_mj.html
  Algebroids/doc/chapInd.html
  Algebroids/doc/chapInd.txt
  Algebroids/doc/chapInd_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FiniteCocompletions 2026.09-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FpCategories 2026.09-03
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap4.html
  FpCategories/doc/chap4.txt
  FpCategories/doc/chap4_mj.html
  FpCategories/doc/chapInd.html
  FpCategories/doc/chapInd.txt
  FpCategories/doc/chapInd_mj.html
  _data/FpCategories.yml
Due: none

Update website for FpLinearCategories 2026.09-03
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/doc/chap0.html
  FpLinearCategories/doc/chap0.txt
  FpLinearCategories/doc/chap0_mj.html
  FpLinearCategories/doc/chap1.html
  FpLinearCategories/doc/chap1.txt
  FpLinearCategories/doc/chap1_mj.html
  FpLinearCategories/doc/chapInd.html
  FpLinearCategories/doc/chapInd.txt
  FpLinearCategories/doc/chapInd_mj.html
  _data/FpLinearCategories.yml
Due: none

Update website for FunctorCategories 2026.09-07
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap1.html
  FunctorCategories/doc/chap1.txt
  FunctorCategories/doc/chap1_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

YonedaComposition, YonedaFibration: guard against world-age failures in Julia
  FunctorCategories/gap/FunctorCategories.gi
Due: FunctorCategories

PresheafCategories: reactivate two PreSheaves installations in Julia
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
  PresheafCategories/PackageInfo.g
  PresheafCategories/gap/PreSheaves.gi
Due: FunctorCategories

Update website for FunctorCategories 2026.09-08
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for PresheafCategories 2026.09-02
  PresheafCategories/PackageInfo.g
  PresheafCategories/doc/chap0.html
  PresheafCategories/doc/chap0.txt
  PresheafCategories/doc/chap0_mj.html
  _data/PresheafCategories.yml
Due: none

FunctorCategories: minimal updates to examples
  FunctorCategories/examples/C2.g
  FunctorCategories/examples/C3C3.g
  FunctorCategories/examples/CategoryFromDataTables.g
  FunctorCategories/examples/CategoryFromNerveData.g
  FunctorCategories/examples/DPO_Quivers.g
  FunctorCategories/examples/DecoratedFinQuivers.g
  FunctorCategories/examples/Dedekind2ndNumber.g
  FunctorCategories/examples/FinBouquets.g
  FunctorCategories/examples/FinQuivers.g
  FunctorCategories/examples/FinReflexiveQuivers.g
  FunctorCategories/examples/NakayamaLeftAdjoint.g
  FunctorCategories/examples/NakayamaRightAdjoint.g
  FunctorCategories/examples/NerveTruncatedInDegree2.g
  FunctorCategories/examples/OptimizedCoYoneda.g
  FunctorCategories/examples/QS3.g
  FunctorCategories/examples/QuotientsOfAlgebroidFromDataTablesUsingPreSheaves.g
  FunctorCategories/examples/ReflexiveModules.g
  FunctorCategories/examples/SimpleObjects.g
  FunctorCategories/examples/SnakeInFreeAbelian.g
  FunctorCategories/examples/StreamVortexSystem.g
  FunctorCategories/examples/StreamVortexSystemBig.g
  FunctorCategories/examples/StreamVortexSystemLinear.g
  FunctorCategories/examples/SubobjectClassifier.g
  FunctorCategories/examples/TerminalCategory.g
  FunctorCategories/examples/Weierstrass.g
  FunctorCategories/examples/YonedaComposition.g
  FunctorCategories/examples/presheaves_of_algebroid.g
  FunctorCategories/examples/presheaves_of_algebroid_from_data_tables.g
  FunctorCategories/makedoc.g
Due: FunctorCategories

FunctorCategories: make more .gi files available in Julia
  FunctorCategories/PackageInfo.g
  FunctorCategories/read.g
Due: FunctorCategories

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
