Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

Update website for FunctorCategories 2023.02-11
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

use ZFunctions which are located in ToolsForHomalg instead of
  GradedCategories/PackageInfo.g
  GradedCategories/README.md
  GradedCategories/gap/PositivelyZGradedCategory.gd
  GradedCategories/gap/PositivelyZGradedCategory.gi
Due: GradedCategories

comply with GradedCategories V2023.02.02
  InternalModules/PackageInfo.g
  InternalModules/gap/SymmetricAlgebra.gd
  InternalModules/gap/SymmetricAlgebra.gi
Due: none

Update website for GradedCategories 2023.02-02
  GradedCategories/PackageInfo.g
  GradedCategories/README.md
  GradedCategories/doc/chap0.html
  GradedCategories/doc/chap0.txt
  GradedCategories/doc/chap0_mj.html
  GradedCategories/doc/chap1.html
  GradedCategories/doc/chap1.txt
  GradedCategories/doc/chap1_mj.html
  GradedCategories/doc/chapInd.html
  GradedCategories/doc/chapInd.txt
  GradedCategories/doc/chapInd_mj.html
  _data/GradedCategories.yml
Due: GradedCategories

Update website for InternalModules 2023.02-05
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  InternalModules/doc/chap5.html
  InternalModules/doc/chap5.txt
  InternalModules/doc/chap5_mj.html
  InternalModules/doc/chapInd.html
  InternalModules/doc/chapInd.txt
  InternalModules/doc/chapInd_mj.html
  _data/InternalModules.yml
Due: none

Apply PackageJanitor
  .github/workflows/Tests.yml
  LazyCategories/PackageInfo.g
  LazyCategories/process_coverage_ignored_lines.py
  LazyCategories/release
  dev/make_dist.sh
  dev/simulate_dist.sh
Due: LazyCategories

Update website for LazyCategories 2023.02-02
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

replace ObjectifyObject/Morphism* -> CreateCapCategoryObject/Morphism*
  GradedCategories/gap/PositivelyZGradedCategory.gi
Due: GradedCategories

simplified code
  GradedCategories/gap/PositivelyZGradedCategory.gi
Due: GradedCategories

whitespace
  FiniteCocompletion/gap/FiniteStrictCoproductCocompletion.gd
Due: FiniteCocompletion

DeclareCategory( "IsPositivelyZGradedCategory", IsCapCategory )
  GradedCategories/gap/PositivelyZGradedCategory.gd
  GradedCategories/gap/PositivelyZGradedCategory.gi
Due: GradedCategories

minor fixes in documentation
  GradedCategories/gap/PositivelyZGradedCategory.gd
Due: GradedCategories

pass category as 1st argument to ObjectInPositivelyZGradedCategory
  GradedCategories/PackageInfo.g
  GradedCategories/gap/PositivelyZGradedCategory.gd
  GradedCategories/gap/PositivelyZGradedCategory.gi
  InternalModules/PackageInfo.g
  InternalModules/gap/SymmetricAlgebra.gi
Due: GradedCategories

use UnderlyingCategory as an attribute in PositivelyZGradedCategory
  GradedCategories/PackageInfo.g
  GradedCategories/gap/PositivelyZGradedCategory.gd
  GradedCategories/gap/PositivelyZGradedCategory.gi
Due: GradedCategories

whitespaces
  GradedCategories/gap/PositivelyZGradedCategory.gi
Due: GradedCategories

use CreateCapCategory with several arguments
  GradedCategories/gap/PositivelyZGradedCategory.gi
Due: GradedCategories

pass category as 1st argument to MorphismInPositivelyZGradedCategory
  GradedCategories/PackageInfo.g
  GradedCategories/gap/PositivelyZGradedCategory.gi
Due: GradedCategories

added assertion
  GradedCategories/gap/PositivelyZGradedCategory.gi
Due: GradedCategories

use InstallMethodForCompilerForCAP for ObjectInPositivelyZGradedCategory
  GradedCategories/gap/PositivelyZGradedCategory.gi
Due: GradedCategories

Update website for GradedCategories 2023.02-05
  GradedCategories/PackageInfo.g
  GradedCategories/doc/chap0.html
  GradedCategories/doc/chap0.txt
  GradedCategories/doc/chap0_mj.html
  GradedCategories/doc/chap1.html
  GradedCategories/doc/chap1.txt
  GradedCategories/doc/chap1_mj.html
  GradedCategories/doc/chapInd.html
  GradedCategories/doc/chapInd.txt
  GradedCategories/doc/chapInd_mj.html
  _data/GradedCategories.yml
Due: GradedCategories

Update website for InternalModules 2023.02-06
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

comply with CAP v2023.02-09 and MonoidalCategories/CartesianCategories v2023.02-04
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/gap/FiniteStrictProductCompletion.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CoPreSheaves.gi
  FunctorCategories/gap/FiniteCompletion.gi
  FunctorCategories/gap/FunctorCategories.gi
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/gap/FpGradedModulesByFreyd.gi
  Locales/PackageInfo.g
  Locales/examples/StablePosetOfCategory.g
  Locales/gap/ProsetOfCategory.gi
Due: FiniteCocompletion, FunctorCategories, IntrinsicGradedModules, Locales

d&i IntervalCategory and derive the Hom-structure for prosets from IsHomSetInhabited
  Locales/PackageInfo.g
  Locales/doc/Doc.autodoc
  Locales/examples/StablePosetOfCategory.g
  Locales/gap/ConstructibleObjectsAsUnionOfMultipleDifferences.gi
  Locales/gap/ConstructibleObjectsAsUnionOfSingleDifferences.gi
  Locales/gap/IntervalCategory.gd
  Locales/gap/IntervalCategory.gi
  Locales/gap/MultipleDifferences.gi
  Locales/gap/Proset.gd
  Locales/gap/Proset.gi
  Locales/gap/ProsetOfCategory.gi
  Locales/gap/SingleDifferences.gi
  Locales/init.g
  Locales/read.g
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/gap/ZariskiFrameOrCoframe.gi
Due: Locales, ZariskiFrames

Update website for FiniteCocompletion 2023.02-04
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

Update website for FunctorCategories 2023.02-12
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for IntrinsicGradedModules 2023.02-03
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/doc/chap0.html
  IntrinsicGradedModules/doc/chap0.txt
  IntrinsicGradedModules/doc/chap0_mj.html
  _data/IntrinsicGradedModules.yml
Due: IntrinsicGradedModules

Update website for Locales 2023.02-03
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap6.html
  Locales/doc/chap6.txt
  Locales/doc/chap6_mj.html
  _data/Locales.yml
Due: Locales

Apply PackageJanitor
  .github/workflows/Tests.yml
  InternalModules/PackageInfo.g
  InternalModules/README.md
  dev/make_dist.sh
  dev/release-gap-package
  dev/simulate_dist.sh
Due: none

bumped version of ZariskiFrames
  ZariskiFrames/PackageInfo.g
Due: ZariskiFrames

Update website for InternalModules 2023.02-07
  InternalModules/PackageInfo.g
  InternalModules/README.md
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for ZariskiFrames 2023.02-02
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

apply PackageJanitor
  gap/QuotientCategories.gd
  makefile
Due: none

comply with ComplexesCategories v2023.02-01
  FunctorCategories/examples/quiver_with_loops.g
Due: FunctorCategories

Bump version
  FunctorCategories/PackageInfo.g
Due: FunctorCategories

Fix type signature of DefiningPairOfDecoratedQuiver
  FunctorCategories/gap/CategoryOfDecoratedQuivers.gd
Due: FunctorCategories

Add checks to CategoryOfDecoratedQuivers
  FunctorCategories/gap/CategoryOfDecoratedQuivers.gi
Due: FunctorCategories

Update website for FunctorCategories 2023.02-13
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

renamed PreSheavesOfEnrichedCategory -> PreSheaves
  PreSheaves/PackageInfo.g
  PreSheaves/gap/PreSheaves.gd
  PreSheaves/gap/PreSheaves.gi
Due: PreSheaves
