Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

cleanup in CategoryOfFp(Matrix)Algebras
  Algebroids/PackageInfo.g
  Algebroids/gap/CategoryOfFpAlgebras.gd
  Algebroids/gap/CategoryOfFpAlgebras.gi
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gd
Due: Algebroids

Update website for Algebroids 2025.08-04
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap10.html
  Algebroids/doc/chap10.txt
  Algebroids/doc/chap10_mj.html
  Algebroids/doc/chap11.html
  Algebroids/doc/chap11.txt
  Algebroids/doc/chap11_mj.html
  _data/Algebroids.yml
Due: Algebroids

Simplify names of QuotientCategories
  QuotientCategories/PackageInfo.g
  QuotientCategories/examples/quotient_category_of_left_presentations_by_projectives.g
  QuotientCategories/gap/QuotientCategories.gi
Due: none

Comply with QuotientCategories V2025.08-02
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/CoequalizerCompletion.g
Due: none

Update website for FiniteCocompletions 2025.08-03
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap7.html
  FiniteCocompletions/doc/chap7.txt
  FiniteCocompletions/doc/chap7_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for QuotientCategories 2025.08-02
  QuotientCategories/PackageInfo.g
  QuotientCategories/doc/chap0.html
  QuotientCategories/doc/chap0.txt
  QuotientCategories/doc/chap0_mj.html
  QuotientCategories/doc/chap1.html
  QuotientCategories/doc/chap1.txt
  QuotientCategories/doc/chap1_mj.html
  _data/QuotientCategories.yml
Due: none

comply with MonoidalCategories v2025.08-01 and FinSetsForCAP v2025.08-05
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteCoproductCompletion.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteProductCompletion.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/TerminalCategory.g
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  InternalModules/PackageInfo.g
  InternalModules/examples/SymmetricAlgebraInternalToS4rep.g
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS1rep.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS4rep.ipynb
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/examples/PresentationWithDegrees.g
  PreSheaves/PackageInfo.g
  PreSheaves/examples/TerminalCategory.g
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/examples/ListKnownDoctrines.g
  ToolsForCategoricalTowers/examples/MorphismBetweenCoproducts.g
  ToolsForCategoricalTowers/examples/MorphismBetweenDirectProducts.g
  ToolsForCategoricalTowers/examples/julia/notebooks/DigraphOfKnownDoctrines.ipynb
  Toposes/PackageInfo.g
  Toposes/tst/Opposite.tst
Due: FunctorCategories, IntrinsicGradedModules, PreSheaves, Toposes

Update website for FiniteCocompletions 2025.08-04
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2.txt
  FiniteCocompletions/doc/chap2_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2025.08-02
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap9.html
  FunctorCategories/doc/chap9.txt
  FunctorCategories/doc/chap9_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2025.08-01
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  InternalModules/doc/chap1.html
  InternalModules/doc/chap1.txt
  InternalModules/doc/chap1_mj.html
  _data/InternalModules.yml
Due: none

Update website for IntrinsicGradedModules 2025.08-01
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/doc/chap0.html
  IntrinsicGradedModules/doc/chap0.txt
  IntrinsicGradedModules/doc/chap0_mj.html
  IntrinsicGradedModules/doc/chap1.html
  IntrinsicGradedModules/doc/chap1.txt
  IntrinsicGradedModules/doc/chap1_mj.html
  _data/IntrinsicGradedModules.yml
Due: IntrinsicGradedModules

Update website for PreSheaves 2025.08-02
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for ToolsForCategoricalTowers 2025.08-03
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap1.html
  ToolsForCategoricalTowers/doc/chap1.txt
  ToolsForCategoricalTowers/doc/chap1_mj.html
  ToolsForCategoricalTowers/doc/chap2.html
  ToolsForCategoricalTowers/doc/chap2.txt
  ToolsForCategoricalTowers/doc/chap2_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for Toposes 2025.08-06
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

fix in docu
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gd
Due: Algebroids

d&i UnderlyingFpAlgebra to simplify code
  Algebroids/PackageInfo.g
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gd
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gi
Due: Algebroids

improved \. for IsObjectInCategoryOfFp(Matrix)Algebras
  Algebroids/PackageInfo.g
  Algebroids/examples/doc/CategoryOfFpAlgebras.g
  Algebroids/examples/doc/CategoryOfFpMatrixAlgebras.g
  Algebroids/gap/CategoryOfFpAlgebras.gi
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gi
  Algebroids/tst/CategoryOfFpAlgebras.tst
  Algebroids/tst/CategoryOfFpMatrixAlgebras.tst
Due: Algebroids

clean up in CategoryOfFp(Matrix)Algebras
  Algebroids/PackageInfo.g
  Algebroids/gap/CategoryOfFpAlgebras.gd
  Algebroids/gap/CategoryOfFpAlgebras.gi
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gd
Due: Algebroids

Update website for Algebroids 2025.08-06
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap10.html
  Algebroids/doc/chap10.txt
  Algebroids/doc/chap10_mj.html
  Algebroids/doc/chap11.html
  Algebroids/doc/chap11.txt
  Algebroids/doc/chap11_mj.html
  Algebroids/doc/chapInd.html
  Algebroids/doc/chapInd.txt
  Algebroids/doc/chapInd_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for Algebroids 2025.08-07
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap10.html
  Algebroids/doc/chap10.txt
  Algebroids/doc/chap10_mj.html
  Algebroids/doc/chap11.html
  Algebroids/doc/chap11.txt
  Algebroids/doc/chap11_mj.html
  _data/Algebroids.yml
Due: Algebroids

Revert "improved \. for IsObjectInCategoryOfFp(Matrix)Algebras"
  Algebroids/examples/doc/CategoryOfFpAlgebras.g
  Algebroids/examples/doc/CategoryOfFpMatrixAlgebras.g
  Algebroids/gap/CategoryOfFpAlgebras.gi
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gi
  Algebroids/tst/CategoryOfFpAlgebras.tst
  Algebroids/tst/CategoryOfFpMatrixAlgebras.tst
Due: Algebroids

clean up in CategoryOfFp(Matrix)Algebras
  Algebroids/PackageInfo.g
  Algebroids/examples/doc/CategoryOfFpMatrixAlgebras.g
  Algebroids/gap/CategoryOfFpAlgebras.gd
  Algebroids/gap/CategoryOfFpAlgebras.gi
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gd
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gi
  Algebroids/tst/CategoryOfFpMatrixAlgebras.tst
Due: Algebroids

added a comment to avoid future regression
  Algebroids/PackageInfo.g
  Algebroids/gap/CategoryOfFpAlgebras.gi
Due: Algebroids

compute the ReducedGroebnerBasis in GroebnerBasisOfDefiningRelations( fp_algebra )
  Algebroids/PackageInfo.g
  Algebroids/gap/CategoryOfFpAlgebras.gi
Due: Algebroids

d&i ExtendContravariantFunctorToFpCategoryData
  FpCategories/PackageInfo.g
  FpCategories/gap/PathCategories.gd
  FpCategories/gap/PathCategories.gi
Due: none

Update website for Algebroids 2025.08-09
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap10.html
  Algebroids/doc/chap10.txt
  Algebroids/doc/chap10_mj.html
  Algebroids/doc/chap11.html
  Algebroids/doc/chap11.txt
  Algebroids/doc/chap11_mj.html
  Algebroids/doc/chapInd.html
  Algebroids/doc/chapInd.txt
  Algebroids/doc/chapInd_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for Algebroids 2025.08-10
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FpCategories 2025.08-02
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  _data/FpCategories.yml
Due: none

altered DisplayString and fixed declarations for CategoryOfFpMatrixAlgebras
  Algebroids/PackageInfo.g
  Algebroids/examples/doc/CategoryOfFpMatrixAlgebras.g
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gd
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gi
Due: Algebroids

Update website for Algebroids 2025.08-11
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap11.html
  Algebroids/doc/chap11.txt
  Algebroids/doc/chap11_mj.html
  Algebroids/doc/chapInd.html
  Algebroids/doc/chapInd.txt
  Algebroids/doc/chapInd_mj.html
  _data/Algebroids.yml
Due: Algebroids

export GAP_PRINT_BANNER=false
  .github/workflows/Tests.yml
Due: none

propagate the property IsSymmetricMonoidalCategoryStructureGivenBy*
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/FiniteColimitCompletionWithStrictCoproducts.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  FunctorCategories/gap/PreSheaves.gi
  PreSheaves/PackageInfo.g
  PreSheaves/examples/PreSheavesOfSkeletalFinSets.g
  PreSheaves/gap/PreSheaves.gi
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/examples/SliceCategory.g
  SubcategoriesForCAP/gap/EagerSliceCategory.gi
Due: FunctorCategories, PreSheaves, SubcategoriesForCAP

Update website for FiniteCocompletions 2025.08-05
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap8.html
  FiniteCocompletions/doc/chap8.txt
  FiniteCocompletions/doc/chap8_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2025.08-03
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for PreSheaves 2025.08-03
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for SubcategoriesForCAP 2025.08-02
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  SubcategoriesForCAP/doc/chap4.html
  SubcategoriesForCAP/doc/chap4.txt
  SubcategoriesForCAP/doc/chap4_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

renamed UnderlyingCategory -> AmbientCategory for IsQuotientCategory
  Algebroids/PackageInfo.g
  Algebroids/gap/AlgebroidFromDataTables.gi
  Algebroids/gap/Algebroids.gi
  Algebroids/gap/CategoryOfFpAlgebras.gi
  Algebroids/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
  Algebroids/gap/QuotientsOfLinearClosuresOfPathCategories.gi
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/CoequalizerCompletion.gi
  FiniteCocompletions/gap/FiniteColimitCompletionWithStrictCoproducts.gi
  FpCategories/PackageInfo.g
  FpCategories/gap/QuotientsOfPathCategories.gi
  FunctorCategories/gap/PreSheaves.gi
  QuotientCategories/PackageInfo.g
  QuotientCategories/gap/QuotientCategories.gd
  QuotientCategories/gap/QuotientCategories.gi
Due: Algebroids, FunctorCategories

Update website for Algebroids 2025.08-12
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FiniteCocompletions 2025.08-06
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FpCategories 2025.08-03
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  _data/FpCategories.yml
Due: none

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
