Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

Update website for QuotientCategories 2026.05-01
  QuotientCategories/PackageInfo.g
  QuotientCategories/doc/chap0.html
  QuotientCategories/doc/chap0.txt
  QuotientCategories/doc/chap0_mj.html
  QuotientCategories/doc/chap1.html
  QuotientCategories/doc/chap1.txt
  QuotientCategories/doc/chap1_mj.html
  _data/QuotientCategories.yml
Due: none

Update website for SliceCategories 2026.05-02
  SliceCategories/PackageInfo.g
  SliceCategories/doc/chap0.html
  SliceCategories/doc/chap0.txt
  SliceCategories/doc/chap0_mj.html
  SliceCategories/doc/chap2.html
  SliceCategories/doc/chap2.txt
  SliceCategories/doc/chap2_mj.html
  _data/SliceCategories.yml
Due: none

Update website for SubcategoriesForCAP 2026.05-01
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Update website for ToolsForCategoricalTowers 2026.05-02
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap1.html
  ToolsForCategoricalTowers/doc/chap1.txt
  ToolsForCategoricalTowers/doc/chap1_mj.html
  ToolsForCategoricalTowers/doc/chap2.html
  ToolsForCategoricalTowers/doc/chap2.txt
  ToolsForCategoricalTowers/doc/chap2_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for Toposes 2026.05-01
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

Update website for ZariskiFrames 2026.05-02
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  ZariskiFrames/doc/chap13.html
  ZariskiFrames/doc/chap13.txt
  ZariskiFrames/doc/chap13_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

Update website for Algebroids 2026.05-03
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap10.html
  Algebroids/doc/chap10.txt
  Algebroids/doc/chap10_mj.html
  Algebroids/doc/chap11.html
  Algebroids/doc/chap11.txt
  Algebroids/doc/chap11_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for CatReps 2026.05-03
  CatReps/PackageInfo.g
  CatReps/README.md
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  CatReps/doc/chap1.html
  CatReps/doc/chap1.txt
  CatReps/doc/chap1_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2026.05-05
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2.txt
  FiniteCocompletions/doc/chap2_mj.html
  FiniteCocompletions/doc/chap3.html
  FiniteCocompletions/doc/chap3.txt
  FiniteCocompletions/doc/chap3_mj.html
  FiniteCocompletions/doc/chap9.html
  FiniteCocompletions/doc/chap9.txt
  FiniteCocompletions/doc/chap9_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2026.05-04
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap11.html
  FunctorCategories/doc/chap11.txt
  FunctorCategories/doc/chap11_mj.html
  FunctorCategories/doc/chap9.html
  FunctorCategories/doc/chap9.txt
  FunctorCategories/doc/chap9_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2026.05-03
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  InternalModules/doc/chap1.html
  InternalModules/doc/chap1.txt
  InternalModules/doc/chap1_mj.html
  _data/InternalModules.yml
Due: none

Update website for IntrinsicGradedModules 2026.05-02
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/doc/chap0.html
  IntrinsicGradedModules/doc/chap0.txt
  IntrinsicGradedModules/doc/chap0_mj.html
  IntrinsicGradedModules/doc/chap1.html
  IntrinsicGradedModules/doc/chap1.txt
  IntrinsicGradedModules/doc/chap1_mj.html
  _data/IntrinsicGradedModules.yml
Due: IntrinsicGradedModules

Update website for IntrinsicModules 2026.05-02
  IntrinsicModules/PackageInfo.g
  IntrinsicModules/doc/chap0.html
  IntrinsicModules/doc/chap0.txt
  IntrinsicModules/doc/chap0_mj.html
  IntrinsicModules/doc/chap1.html
  IntrinsicModules/doc/chap1.txt
  IntrinsicModules/doc/chap1_mj.html
  _data/IntrinsicModules.yml
Due: IntrinsicModules

Update website for Locales 2026.05-04
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap13.html
  Locales/doc/chap13.txt
  Locales/doc/chap13_mj.html
  Locales/doc/chap7.html
  Locales/doc/chap7.txt
  Locales/doc/chap7_mj.html
  Locales/doc/chap8.html
  Locales/doc/chap8.txt
  Locales/doc/chap8_mj.html
  _data/Locales.yml
Due: Locales

Update website for PresheafCategories 2026.05-03
  PresheafCategories/PackageInfo.g
  PresheafCategories/doc/chap0.html
  PresheafCategories/doc/chap0.txt
  PresheafCategories/doc/chap0_mj.html
  PresheafCategories/doc/chap1.html
  PresheafCategories/doc/chap1.txt
  PresheafCategories/doc/chap1_mj.html
  _data/PresheafCategories.yml
Due: none

PresheafCategories: Few adjustments for Julia
  PresheafCategories/PackageInfo.g
  PresheafCategories/examples/PreSheavesOfSkeletalFinSets.g
  PresheafCategories/examples/TerminalCategory.g
  PresheafCategories/gap/PreSheaves.gd
  PresheafCategories/gap/PreSheaves.gi
  PresheafCategories/gap/PreSheavesWithBounds.gd
  PresheafCategories/gap/PreSheavesWithBounds.gi
Due: none

Remove duplicate installtion of IsCongruentForMorphisms
  PresheafCategories/gap/PreSheaves.gi
Due: none

Update website for CatReps 2026.05-04
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2026.05-06
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2026.05-05
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2026.05-04
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for LazyCategories 2026.05-02
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2026.05-05
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for SliceCategories 2026.05-03
  SliceCategories/PackageInfo.g
  SliceCategories/doc/chap0.html
  SliceCategories/doc/chap0.txt
  SliceCategories/doc/chap0_mj.html
  SliceCategories/doc/chap2.html
  SliceCategories/doc/chap2.txt
  SliceCategories/doc/chap2_mj.html
  _data/SliceCategories.yml
Due: none

Update website for ToolsForCategoricalTowers 2026.05-04
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap1.html
  ToolsForCategoricalTowers/doc/chap1.txt
  ToolsForCategoricalTowers/doc/chap1_mj.html
  ToolsForCategoricalTowers/doc/chap2.html
  ToolsForCategoricalTowers/doc/chap2.txt
  ToolsForCategoricalTowers/doc/chap2_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for Toposes 2026.05-02
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

Update website for ZariskiFrames 2026.05-04
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  ZariskiFrames/doc/chap13.html
  ZariskiFrames/doc/chap13.txt
  ZariskiFrames/doc/chap13_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

Update website for PresheafCategories 2026.05-04
  PresheafCategories/PackageInfo.g
  PresheafCategories/doc/chap0.html
  PresheafCategories/doc/chap0.txt
  PresheafCategories/doc/chap0_mj.html
  PresheafCategories/doc/chap1.html
  PresheafCategories/doc/chap1.txt
  PresheafCategories/doc/chap1_mj.html
  PresheafCategories/doc/chap2.html
  PresheafCategories/doc/chap2_mj.html
  PresheafCategories/doc/chapInd.html
  PresheafCategories/doc/chapInd.txt
  PresheafCategories/doc/chapInd_mj.html
  _data/PresheafCategories.yml
Due: none

avoid using ObjectDatum/MorphismDatum in code for more expressiveness
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
  FiniteCocompletions/gap/FiniteStrictCoproductCompletionOfObjectFiniteCategory.gi
Due: none

clean up CapJitAddTypeSignature
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/AbelianClosure.gd
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gd
  FiniteCocompletions/gap/CoequalizerCompletion.gd
  FiniteCocompletions/gap/FiniteColimitCompletionWithStrictCoproducts.gd
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gd
  FiniteCocompletions/gap/FiniteStrictCoproductCompletionOfObjectFiniteCategory.gd
  FiniteCocompletions/gap/FiniteStrictProductCompletion.gd
  FiniteCocompletions/gap/FreeDistributiveCategoryWithStrictProductAndCoproducts.gd
  FiniteCocompletions/gap/PairOfParallelArrowsCategory.gd
  FiniteCocompletions/gap/SkeletalFinSets.gd
Due: none

standardized code for FiniteStrictCoproductCompletionOfObjectFiniteCategory
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/FiniteStrictCoproductCompletionOfObjectFiniteCategory.gi
Due: none

Update website for FiniteCocompletions 2026.05-08
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap5.html
  FiniteCocompletions/doc/chap5.txt
  FiniteCocompletions/doc/chap5_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FiniteCocompletions 2026.05-09
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

improved code comment
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Update website for FunctorCategories 2026.05-06
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

FunctorCategories: refactor PreSheavesOfFpEnrichedCategory constructor
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

CoequalizerCompletion -> CoequalizerPreCompletion
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/CoequalizerCompletion.g
  FiniteCocompletions/examples/FiniteColimitCompletionWithStrictCoproducts.g
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gd
  FiniteCocompletions/gap/CoequalizerPreCompletion.gd
  FiniteCocompletions/gap/CoequalizerPreCompletion.gi
  FiniteCocompletions/gap/FiniteColimitCompletionWithStrictCoproducts.gd
  FiniteCocompletions/gap/FiniteColimitCompletionWithStrictCoproducts.gi
  FiniteCocompletions/init.g
  FiniteCocompletions/read.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gd
Due: FunctorCategories

Update website for FiniteCocompletions 2026.05-10
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap7.html
  FiniteCocompletions/doc/chap7.txt
  FiniteCocompletions/doc/chap7_mj.html
  FiniteCocompletions/doc/chap8.html
  FiniteCocompletions/doc/chap8.txt
  FiniteCocompletions/doc/chap8_mj.html
  FiniteCocompletions/doc/chap9.html
  FiniteCocompletions/doc/chap9.txt
  FiniteCocompletions/doc/chap9_mj.html
  FiniteCocompletions/doc/chapInd.html
  FiniteCocompletions/doc/chapInd.txt
  FiniteCocompletions/doc/chapInd_mj.html
  _data/FiniteCocompletions.yml
Due: none

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
