Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

Update website for ExteriorPowersCategories 2024.04-01
  ExteriorPowersCategories/PackageInfo.g
  ExteriorPowersCategories/doc/chap0.html
  ExteriorPowersCategories/doc/chap0.txt
  ExteriorPowersCategories/doc/chap0_mj.html
  ExteriorPowersCategories/doc/chap1.html
  ExteriorPowersCategories/doc/chap1_mj.html
  ExteriorPowersCategories/doc/chapInd.html
  ExteriorPowersCategories/doc/chapInd_mj.html
  _data/ExteriorPowersCategories.yml
Due: ExteriorPowersCategories

Update website for FiniteCocompletions 2024.04-02
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FpCategories 2024.04-02
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  _data/FpCategories.yml
Due: none

Update website for FunctorCategories 2024.04-02
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for GradedCategories 2024.04-01
  GradedCategories/PackageInfo.g
  GradedCategories/doc/chap0.html
  GradedCategories/doc/chap0.txt
  GradedCategories/doc/chap0_mj.html
  GradedCategories/doc/chap1.html
  GradedCategories/doc/chap1_mj.html
  GradedCategories/doc/chap2.html
  GradedCategories/doc/chap2_mj.html
  GradedCategories/doc/chap3.html
  GradedCategories/doc/chap3_mj.html
  GradedCategories/doc/chap4.html
  GradedCategories/doc/chap4_mj.html
  GradedCategories/doc/chapInd.html
  GradedCategories/doc/chapInd_mj.html
  _data/GradedCategories.yml
Due: GradedCategories

Update website for InternalModules 2024.04-02
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for IntrinsicGradedModules 2024.04-01
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/doc/chap0.html
  IntrinsicGradedModules/doc/chap0.txt
  IntrinsicGradedModules/doc/chap0_mj.html
  IntrinsicGradedModules/doc/chap1.html
  IntrinsicGradedModules/doc/chap1_mj.html
  IntrinsicGradedModules/doc/chap2.html
  IntrinsicGradedModules/doc/chap2_mj.html
  IntrinsicGradedModules/doc/chapInd.html
  IntrinsicGradedModules/doc/chapInd_mj.html
  _data/IntrinsicGradedModules.yml
Due: IntrinsicGradedModules

Update website for IntrinsicModules 2024.04-01
  IntrinsicModules/PackageInfo.g
  IntrinsicModules/doc/chap0.html
  IntrinsicModules/doc/chap0.txt
  IntrinsicModules/doc/chap0_mj.html
  IntrinsicModules/doc/chap1.html
  IntrinsicModules/doc/chap1_mj.html
  IntrinsicModules/doc/chap2.html
  IntrinsicModules/doc/chap2_mj.html
  IntrinsicModules/doc/chap3.html
  IntrinsicModules/doc/chap3_mj.html
  IntrinsicModules/doc/chap4.html
  IntrinsicModules/doc/chap4_mj.html
  IntrinsicModules/doc/chap5.html
  IntrinsicModules/doc/chap5_mj.html
  IntrinsicModules/doc/chap6.html
  IntrinsicModules/doc/chap6_mj.html
  IntrinsicModules/doc/chap7.html
  IntrinsicModules/doc/chap7_mj.html
  IntrinsicModules/doc/chap8.html
  IntrinsicModules/doc/chap8_mj.html
  IntrinsicModules/doc/chap9.html
  IntrinsicModules/doc/chap9_mj.html
  IntrinsicModules/doc/chapInd.html
  IntrinsicModules/doc/chapInd_mj.html
  _data/IntrinsicModules.yml
Due: IntrinsicModules

Update website for LazyCategories 2024.04-02
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2024.04-02
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for PreSheaves 2024.04-01
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1_mj.html
  PreSheaves/doc/chap2.html
  PreSheaves/doc/chap2_mj.html
  PreSheaves/doc/chapInd.html
  PreSheaves/doc/chapInd_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for QuotientCategories 2024.04-01
  QuotientCategories/PackageInfo.g
  QuotientCategories/doc/chap0.html
  QuotientCategories/doc/chap0.txt
  QuotientCategories/doc/chap0_mj.html
  QuotientCategories/doc/chapInd.html
  QuotientCategories/doc/chapInd_mj.html
  _data/QuotientCategories.yml
Due: none

Update website for SubcategoriesForCAP 2024.04-01
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  SubcategoriesForCAP/doc/chap1.html
  SubcategoriesForCAP/doc/chap1_mj.html
  SubcategoriesForCAP/doc/chap2.html
  SubcategoriesForCAP/doc/chap2_mj.html
  SubcategoriesForCAP/doc/chap3.html
  SubcategoriesForCAP/doc/chap3_mj.html
  SubcategoriesForCAP/doc/chap4.html
  SubcategoriesForCAP/doc/chap4_mj.html
  SubcategoriesForCAP/doc/chap5.html
  SubcategoriesForCAP/doc/chap5_mj.html
  SubcategoriesForCAP/doc/chapInd.html
  SubcategoriesForCAP/doc/chapInd_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Update website for ToolsForCategoricalTowers 2024.04-01
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap1.html
  ToolsForCategoricalTowers/doc/chap1_mj.html
  ToolsForCategoricalTowers/doc/chap2.html
  ToolsForCategoricalTowers/doc/chap2_mj.html
  ToolsForCategoricalTowers/doc/chapInd.html
  ToolsForCategoricalTowers/doc/chapInd_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for Toposes 2024.04-01
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  Toposes/doc/chap1.html
  Toposes/doc/chap1_mj.html
  Toposes/doc/chap2.html
  Toposes/doc/chap2_mj.html
  Toposes/doc/chap3.html
  Toposes/doc/chap3_mj.html
  Toposes/doc/chapInd.html
  Toposes/doc/chapInd_mj.html
  _data/Toposes.yml
Due: Toposes

Update website for ZariskiFrames 2024.04-02
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

added missing category as first argument in LazyCategory constructor
  LazyCategories/PackageInfo.g
  LazyCategories/gap/LazyCategory.gi
Due: LazyCategories

Update website for LazyCategories 2024.04-03
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

clean up
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/gap/SliceCategory.gi
  Toposes/PackageInfo.g
  Toposes/gap/Topos.gd
  Toposes/gap/Topos.gi
  Toposes/gap/ToposDerivedMethods.gi
Due: SubcategoriesForCAP, Toposes

Update website for SubcategoriesForCAP 2024.04-02
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Update website for Toposes 2024.04-02
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  Toposes/doc/chap1.html
  Toposes/doc/chap1.txt
  Toposes/doc/chap1_mj.html
  _data/Toposes.yml
Due: Toposes

Update website for CatReps 2024.05-01
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2024.05-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2024.05-01
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2024.05-01
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for LazyCategories 2024.05-01
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2024.05-01
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for ZariskiFrames 2024.05-01
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

PrecompilePreSheavesOfCategoryFromDataTablesInSkeletalFinSetsSubobjectClassifier.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/precompiled_categories/PreSheavesOfCategoryFromDataTablesInSkeletalFinSetsSubobjectClassifierPrecompiled.gi
Due: FunctorCategories

Update website for FunctorCategories 2024.06-01
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

updated SnakeInFreeAbelian.ipynb
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/SnakeInFreeAbelian.ipynb
Due: FunctorCategories

Update website for FunctorCategories 2024.06-02
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for FunctorCategories 2024.06-03
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

FinQuiver now supports the option name
  FpCategories/PackageInfo.g
  FpCategories/gap/Quivers.gi
Due: none

Update website for FpCategories 2024.06-01
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  _data/FpCategories.yml
Due: none

fixed typo: DotVertexLabelledDigraph -> DotVertexLabeledDigraph
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/Dedekind2ndNumber.g
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  FunctorCategories/gap/CategoryOfBouquets.gd
  FunctorCategories/gap/CategoryOfBouquets.gi
  FunctorCategories/gap/CategoryOfDecoratedQuivers.gd
  FunctorCategories/gap/CategoryOfDecoratedQuivers.gi
  FunctorCategories/gap/CategoryOfQuivers.gd
  FunctorCategories/gap/CategoryOfQuivers.gi
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gd
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gi
  LazyCategories/PackageInfo.g
  LazyCategories/gap/Julia.gi
  LazyCategories/gap/ToolsUsingDigraphs.gi
  Locales/PackageInfo.g
  Locales/gap/JuliaWithDigraphs.gi
  Locales/gap/ToolsUsingDigraphs.gi
  Toposes/PackageInfo.g
  Toposes/gap/Tools.gi
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/gap/ConstructibleImage.gi
Due: FunctorCategories, LazyCategories, Locales, Toposes, ZariskiFrames

use CanCompute( C, oper ) instead of CurrentOperationWeight( category_weight_list, c ) < infinity
  CategoriesWithAmbientObjects/PackageInfo.g
  CategoriesWithAmbientObjects/gap/CategoriesWithAmbientObjects.gi
Due: CategoriesWithAmbientObjects

Update website for CategoriesWithAmbientObjects 2024.06-01
  CategoriesWithAmbientObjects/PackageInfo.g
  CategoriesWithAmbientObjects/doc/chap0.html
  CategoriesWithAmbientObjects/doc/chap0.txt
  CategoriesWithAmbientObjects/doc/chap0_mj.html
  _data/CategoriesWithAmbientObjects.yml
Due: CategoriesWithAmbientObjects
