Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

Update website for Algebroids 2025.04-01
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap10.html
  Algebroids/doc/chap10.txt
  Algebroids/doc/chap10_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for Algebroids 2025.04-02
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

fixed AddDirectProduct in CategoryOfFpAlgebras
  Algebroids/PackageInfo.g
  Algebroids/gap/CategoryOfFpAlgebras.gi
Due: Algebroids

declared CreateAmbientLinearClosureOfFpAlgebra
  Algebroids/PackageInfo.g
  Algebroids/gap/CategoryOfFpAlgebras.gd
  Algebroids/gap/CategoryOfFpAlgebras.gi
Due: Algebroids

Update website for Algebroids 2025.04-04
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

fixed several method description strings
  Algebroids/gap/CategoryOfFpAlgebras.gi
Due: Algebroids

refactored Dimension of IsObjectInCategoryOfFpAlgebras
  Algebroids/PackageInfo.g
  Algebroids/gap/CategoryOfFpAlgebras.gi
Due: Algebroids

changed relation within AddDirectProduct in CategoryOfFpAlgebras
  Algebroids/PackageInfo.g
  Algebroids/gap/CategoryOfFpAlgebras.gi
Due: Algebroids

Update website for Algebroids 2025.04-05
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

issue warning instead of error
  Algebroids/PackageInfo.g
  Algebroids/gap/CategoryOfFpAlgebras.gi
Due: Algebroids

Update website for Algebroids 2025.04-06
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for CatReps 2025.05-01
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2025.05-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2025.05-01
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2025.05-01
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for LazyCategories 2025.05-01
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2025.05-01
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for ToolsForCategoricalTowers 2025.05-01
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for ZariskiFrames 2025.05-01
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

SetIsLinearCategoryOverCommutativeRingWithFinitelyGeneratedFreeExternalHoms
  Algebroids/PackageInfo.g
  Algebroids/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
Due: Algebroids

The order of the returned list of SetOfObjects must not change
  ToolsForCategoricalTowers/gap/Tools.gd
Due: none

Fix documentation of MorphismConstructors
  FpCategories/gap/PathCategories.gd
  FpCategories/gap/Quivers.gd
Due: none

Bump versions
  FpCategories/PackageInfo.g
  ToolsForCategoricalTowers/PackageInfo.g
Due: none

Update website for FpCategories 2025.05-01
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap1.html
  FpCategories/doc/chap1.txt
  FpCategories/doc/chap1_mj.html
  FpCategories/doc/chap6.html
  FpCategories/doc/chap6.txt
  FpCategories/doc/chap6_mj.html
  _data/FpCategories.yml
Due: none

Update website for ToolsForCategoricalTowers 2025.05-02
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap1.html
  ToolsForCategoricalTowers/doc/chap1.txt
  ToolsForCategoricalTowers/doc/chap1_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

bug-fix in DataTablesOfCategory: No need to apply Representative before
  Algebroids/PackageInfo.g
  Algebroids/gap/AlgebroidFromDataTables.gi
Due: Algebroids

Adjust to https://github.com/homalg-project/CAP_project/pull/1739
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/gap/Tools.gd
  ToolsForCategoricalTowers/gap/Tools.gi
  ToolsForCategoricalTowers/gap/ToolsDerivedMethods.gi
  ToolsForCategoricalTowers/gap/ToolsMethodRecord.gi
  ToolsForCategoricalTowers/gap/ToolsMethodRecordDeclarations.autogen.gd
  ToolsForCategoricalTowers/gap/ToolsMethodRecordInstallations.autogen.gi
Due: none

Update website for ToolsForCategoricalTowers 2025.06-01
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap1.html
  ToolsForCategoricalTowers/doc/chap1.txt
  ToolsForCategoricalTowers/doc/chap1_mj.html
  ToolsForCategoricalTowers/doc/chap2.html
  ToolsForCategoricalTowers/doc/chap2.txt
  ToolsForCategoricalTowers/doc/chap2_mj.html
  ToolsForCategoricalTowers/doc/chapInd.html
  ToolsForCategoricalTowers/doc/chapInd.txt
  ToolsForCategoricalTowers/doc/chapInd_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for Algebroids 2025.06-01
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Remove the following methods from
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/examples/OtherHomMethods.g
  ToolsForCategoricalTowers/gap/Tools.gd
  ToolsForCategoricalTowers/gap/Tools.gi
  ToolsForCategoricalTowers/gap/ToolsDerivedMethods.gi
  ToolsForCategoricalTowers/gap/ToolsMethodRecord.gi
  ToolsForCategoricalTowers/gap/ToolsMethodRecordDeclarations.autogen.gd
  ToolsForCategoricalTowers/gap/ToolsMethodRecordInstallations.autogen.gi
Due: none

Remove a primitive installation of
  Algebroids/PackageInfo.g
  Algebroids/gap/AlgebroidFromDataTables.gd
  Algebroids/gap/AlgebroidFromDataTables.gi
Due: Algebroids

Comply with CAP v2025.06-05
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/gap/FpGradedModulesByFreyd.autogen.gd
Due: IntrinsicGradedModules

Comply with CAP v2025.06-05
  IntrinsicModules/PackageInfo.g
  IntrinsicModules/gap/FpModulesByFreyd.autogen.gd
Due: IntrinsicModules

Update website for Algebroids 2025.06-02
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for IntrinsicGradedModules 2025.06-01
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/doc/chap0.html
  IntrinsicGradedModules/doc/chap0.txt
  IntrinsicGradedModules/doc/chap0_mj.html
  IntrinsicGradedModules/doc/chap1.html
  IntrinsicGradedModules/doc/chap1.txt
  IntrinsicGradedModules/doc/chap1_mj.html
  _data/IntrinsicGradedModules.yml
Due: IntrinsicGradedModules

Update website for IntrinsicModules 2025.06-01
  IntrinsicModules/PackageInfo.g
  IntrinsicModules/doc/chap0.html
  IntrinsicModules/doc/chap0.txt
  IntrinsicModules/doc/chap0_mj.html
  IntrinsicModules/doc/chap1.html
  IntrinsicModules/doc/chap1.txt
  IntrinsicModules/doc/chap1_mj.html
  _data/IntrinsicModules.yml
Due: IntrinsicModules

Update website for ToolsForCategoricalTowers 2025.06-02
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap2.html
  ToolsForCategoricalTowers/doc/chap2.txt
  ToolsForCategoricalTowers/doc/chap2_mj.html
  ToolsForCategoricalTowers/doc/chapInd.html
  ToolsForCategoricalTowers/doc/chapInd.txt
  ToolsForCategoricalTowers/doc/chapInd_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Install methods for AssignSetOfObjects
  Algebroids/PackageInfo.g
  Algebroids/examples/QuotientCategoryOfLinearClosureOfPathCategory.g
  Algebroids/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
  FpCategories/PackageInfo.g
  FpCategories/examples/PathCategory.g
  FpCategories/gap/QuotientsOfPathCategories.gd
  FpCategories/gap/QuotientsOfPathCategories.gi
Due: Algebroids

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
