Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: FiniteCocompletion, PreSheaves

added test for ProjectionInFactorOfDirectProduct
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/examples/HomStructure.g
Due: FiniteCocompletion

Update website for FiniteCocompletion 2023.01-34
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  FiniteCocompletion/doc/chap1.html
  FiniteCocompletion/doc/chap1.txt
  FiniteCocompletion/doc/chap1_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

applied PackageJanitor
  .github/workflows/Tests.yml
  FiniteCocompletion/examples/notebooks/CartesianBraiding.ipynb
  FiniteCocompletion/examples/notebooks/CartesianDiagonal.ipynb
  FiniteCocompletion/examples/notebooks/README.md
  FiniteCocompletion/makefile
  FiniteCocompletion/tst/testall_no_precompiled_code.g
  PreSheaves/makefile
Due: FiniteCocompletion, PreSheaves

comply with CartesianCategories v2023.01-01
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/examples/HomStructure.g
  FiniteCocompletion/examples/SkeletalWellDefined.g
  FiniteCocompletion/examples/TerminalCategory_as_FiniteCoproductCocompletion.g
  FiniteCocompletion/examples/TerminalCategory_as_FiniteProductCompletion.g
  PreSheaves/PackageInfo.g
  PreSheaves/examples/PreSheavesOfSkeletalFinSets.g
  PreSheaves/examples/TerminalCategory.g
Due: FiniteCocompletion, PreSheaves

comply with CartesianCategories v2023.01-01
  PackageInfo.g
  tst/Opposite.tst
Due: none

comply with CartesianCategories v2023.01-01
  PackageInfo.g
  examples/CategoryOfRepresentations.g
  examples/notebooks/CategoryOfRepresentations.ipynb
Due: none

updated examples & notebooks and added examples/CocartesianCodiagonal.g
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/Doc.autodoc
  FiniteCocompletion/examples/CartesianDiagonal.g
  FiniteCocompletion/examples/CocartesianCodiagonal.g
  FiniteCocompletion/examples/notebooks/CartesianBraiding.ipynb
  FiniteCocompletion/examples/notebooks/CartesianDiagonal.ipynb
Due: FiniteCocompletion

Update website for FiniteCocompletion 2023.01-36
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  FiniteCocompletion/doc/chap1.html
  FiniteCocompletion/doc/chap1.txt
  FiniteCocompletion/doc/chap1_mj.html
  FiniteCocompletion/doc/chap2.html
  FiniteCocompletion/doc/chap2.txt
  FiniteCocompletion/doc/chap2_mj.html
  FiniteCocompletion/doc/chap3.html
  FiniteCocompletion/doc/chap3.txt
  FiniteCocompletion/doc/chap3_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

Update website for PreSheaves 2023.01-02
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

comply with CartesianCategories v2023.01-01
  PackageInfo.g
  examples/TerminalCategory.g
  examples/notebooks/DPO_Quivers.ipynb
  examples/notebooks/FinBouquets.ipynb
  examples/notebooks/LogicInToposOfFinQuivers.ipynb
  examples/notebooks/PastingLawForPullbacks.ipynb
Due: none

comply with CartesianCategories v2023.01-01
  examples/notebooks/SymmetricAlgebraInternalToS1rep.ipynb
  examples/notebooks/SymmetricAlgebraInternalToS4rep.ipynb
Due: none

removed file added by mistake
  gap/precompiled_categories/PreSheavesInSkeletalFinSetsSubobjectClassifierPrecompiled.gi
Due: none

updated notebooks
  examples/notebooks/DPO_Quivers.ipynb
  examples/notebooks/DecoratedFinQuivers.ipynb
Due: none

avoid warning during compilation of HomomorphismStructureOnMorphismsWithGivenObjects
  PackageInfo.g
  gap/PreSheaves.gi
Due: none

coding style
  gap/CategoryOfBouquets.gi
  gap/CategoryOfQuivers.gi
Due: none

updated code comment: "the highest stage of the tower" -> "the modeling category"
  gap/CategoryOfBouquets.gi
  gap/CategoryOfDecoratedQuivers.gi
  gap/CategoryOfQuivers.gi
  gap/CoPreSheaves.gi
  gap/FunctorCategories.gi
Due: none

fixed typo
  gap/CategoryOfBouquets.gi
  gap/CategoryOfDecoratedQuivers.gi
  gap/CategoryOfQuivers.gi
Due: none

updated examples/FinQuivers.g
  examples/FinQuivers.g
Due: none

updated FinBouquets.ipynb
  examples/notebooks/FinBouquets.ipynb
Due: none

implemented the elementary topos of finite reflexive quivers
  doc/Doc.autodoc
  examples/FinReflexiveQuivers.g
  examples/PrecompileFinReflexiveQuivers.g
  examples/PrecompileFinReflexiveQuiversAsCCC.g
  gap/CategoryOfReflexiveQuivers.gd
  gap/CategoryOfReflexiveQuivers.gi
  gap/precompiled_categories/FinReflexiveQuiversAsCCCPrecompiled.gi
  gap/precompiled_categories/FinReflexiveQuiversPrecompiled.gi
  init.g
  read.g
Due: none

bumped version
  PackageInfo.g
Due: none

fixed call of UniversalMorphismFromCoproduct to support empty coproduct
  PackageInfo.g
  gap/ToposDerivedMethods.gi
Due: none

fixed AddInterpretMorphismFromDistinguishedObjectToHomomorphismStructureAsMorphism
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/gap/FiniteStrictCoproductCocompletion.gi
Due: FiniteCocompletion

Update website for FiniteCocompletion 2023.01-37
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

added examples/ReflexivePair.g & notebooks/ReflexivePair.ipynb
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/Doc.autodoc
  FiniteCocompletion/examples/ReflexivePair.g
  FiniteCocompletion/examples/notebooks/ReflexivePair.ipynb
Due: FiniteCocompletion

Update website for FiniteCocompletion 2023.01-38
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  FiniteCocompletion/doc/chap1.html
  FiniteCocompletion/doc/chap1.txt
  FiniteCocompletion/doc/chap1_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

renamed PreSheavesInSkeletalFinSets* -> PreSheavesOfFpCategoryInSkeletalFinSets*
  PackageInfo.g
  examples/PrecompilePreSheavesOfFpCategoryInSkeletalFinSets.g
  gap/PreSheaves.gi
  gap/precompiled_categories/PreSheavesOfFpCategoryInSkeletalFinSetsPrecompiled.gi
  read.g
Due: none

PrecompilePreSheavesOfFpCategoryInSkeletalFinSetsSubobjectClassifier
  PackageInfo.g
  examples/PrecompilePreSheavesOfFpCategoryInSkeletalFinSetsSubobjectClassifier.g
  gap/PreSheaves.gi
  gap/precompiled_categories/PreSheavesOfFpCategoryInSkeletalFinSetsSubobjectClassifierPrecompiled.gi
  read.g
Due: none

PrecompilePreSheavesOfCategoryFromDataTablesInSkeletalFinSets
  PackageInfo.g
  examples/PrecompilePreSheavesOfCategoryFromDataTablesInSkeletalFinSets.g
  gap/PreSheaves.gi
  gap/precompiled_categories/PreSheavesOfCategoryFromDataTablesInSkeletalFinSetsPrecompiled.gi
  read.g
Due: none

comply with CAP v2023.01-09
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/examples/CartesianDiagonal.g
  FiniteCocompletion/examples/CocartesianCodiagonal.g
  FiniteCocompletion/examples/HomStructure.g
  FiniteCocompletion/examples/ReflexivePair.g
  FiniteCocompletion/examples/SkeletalWellDefined.g
  FiniteCocompletion/examples/TerminalCategory_as_FiniteCoproductCocompletion.g
  FiniteCocompletion/examples/TerminalCategory_as_FiniteProductCompletion.g
  FiniteCocompletion/examples/notebooks/CartesianBraiding.ipynb
  FiniteCocompletion/examples/notebooks/CartesianDiagonal.ipynb
  FiniteCocompletion/examples/notebooks/ReflexivePair.ipynb
  PreSheaves/PackageInfo.g
  PreSheaves/examples/PreSheavesOfSkeletalFinSets.g
  PreSheaves/examples/TerminalCategory.g
Due: FiniteCocompletion, PreSheaves

Update website for FiniteCocompletion 2023.01-39
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  FiniteCocompletion/doc/chap1.html
  FiniteCocompletion/doc/chap1.txt
  FiniteCocompletion/doc/chap1_mj.html
  FiniteCocompletion/doc/chap2.html
  FiniteCocompletion/doc/chap2.txt
  FiniteCocompletion/doc/chap2_mj.html
  FiniteCocompletion/doc/chap3.html
  FiniteCocompletion/doc/chap3.txt
  FiniteCocompletion/doc/chap3_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

Update website for PreSheaves 2023.01-03
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

comply with CAP v2023.01-09
  PackageInfo.g
  examples/SymmetricAlgebraInternalToS4rep.g
  examples/notebooks/SymmetricAlgebraInternalToS1rep.ipynb
  examples/notebooks/SymmetricAlgebraInternalToS4rep.ipynb
Due: none

comply with CAP v2023.01-09
  PackageInfo.g
  tst/Opposite.tst
Due: none

comply with CAP v2023.01-09
  PackageInfo.g
  examples/TerminalCategory.g
  examples/notebooks/DPO_Quivers.ipynb
  examples/notebooks/DecoratedFinQuivers.ipynb
  examples/notebooks/FinBouquets.ipynb
  examples/notebooks/FunctorCategories.ipynb
  examples/notebooks/LogicInToposOfFinQuivers.ipynb
  examples/notebooks/PastingLawForPullbacks.ipynb
  examples/notebooks/PastingLawForPushouts.ipynb
  examples/notebooks/SnakeInFreeAbelian.ipynb
Due: none

comply with CAP v2023.01-09
  PackageInfo.g
  examples/CategoryOfRepresentations.g
  examples/notebooks/CategoryOfRepresentations.ipynb
Due: none

fix white-space
  gap/Functors.gi
Due: none

d&i EquivalenceFromFullSubcategoryOfProjectivesObjectsIntoAdditiveClosureOfSource
  PackageInfo.g
  gap/Functors.gd
  gap/Functors.gi
  tst/homological_algebra.tst
Due: none

Adjust to https://github.com/homalg-project/FinSetsForCAP/pull/163
  PackageInfo.g
  gap/precompiled_categories/FinBouquetsPrecompiled.gi
  gap/precompiled_categories/FinQuiversPrecompiled.gi
  gap/precompiled_categories/FinReflexiveQuiversPrecompiled.gi
Due: none

Prefer using the methods of external-hom in the ambient category rather than deriving them from hom-structure of the full-subcategory
  gap/FullSubcategory.gi
Due: none

Path conditions:
  FiniteCocompletion: any of: FiniteCocompletion/
  PreSheaves: any of: PreSheaves/
