Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

added logic template: Concatenation( list, [ ] ) => list
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CompilerLogic.gi
  FunctorCategories/gap/precompiled_categories/FinBouquetsAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversAsCCCPrecompiled.gi
Due: FunctorCategories

reactivated examples/PrecompilePreSheavesOf*InSkeletalFinSets.g
  Algebroids/PackageInfo.g
  Algebroids/gap/FpCategories.gd
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/PrecompilePreSheavesOfCategoryFromDataTablesInSkeletalFinSets.g
  FunctorCategories/examples/PrecompilePreSheavesOfFpCategoryInSkeletalFinSets.g
  FunctorCategories/gap/precompiled_categories/PreSheavesOfCategoryFromDataTablesInSkeletalFinSetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFpCategoryInSkeletalFinSetsPrecompiled.gi
Due: Algebroids, FunctorCategories

Update website for FunctorCategories 2023.08-10
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

added logic template: true and condition => condition
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CompilerLogic.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfCategoryFromDataTablesInSkeletalFinSetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFpCategoryInSkeletalFinSetsPrecompiled.gi
Due: FunctorCategories

added logic template: SafeUniquePositionProperty( ... ) => SafeUniquePosition( ... )
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CompilerLogic.gi
  FunctorCategories/gap/precompiled_categories/FinBouquetsAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinBouquetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfCategoryFromDataTablesInSkeletalFinSetsPrecompiled.gi
Due: FunctorCategories

Update website for Algebroids 2023.08-01
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FunctorCategories 2023.08-12
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap15.html
  FunctorCategories/doc/chap15.txt
  FunctorCategories/doc/chap15_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

added logic template for List( ListWithIdenticalEntries( ... ), func )
  FunctorCategories/gap/CompilerLogic.gi
  FunctorCategories/gap/PreSheaves.gi
  FunctorCategories/gap/precompiled_categories/FinBouquetsAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinBouquetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversPrecompiled.gi
Due: FunctorCategories

Update website for FunctorCategories 2023.08-13
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

bumped version of FunctorCategories
  FunctorCategories/PackageInfo.g
Due: FunctorCategories

added dual_operation for MorphismsOfExternalHom
  Toposes/PackageInfo.g
  Toposes/gap/ToposMethodRecord.gi
  Toposes/tst/Opposite.tst
Due: Toposes

updated tst/Opposite.tst
  Toposes/tst/Opposite.tst
Due: Toposes

Update website for FunctorCategories 2023.08-14
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Toposes 2023.08-02
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

d&i IndexOfNonliftableMorphismFromDistinguishedObject
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  Locales/PackageInfo.g
  Locales/examples/Dedekind1stNumber.g
  Toposes/PackageInfo.g
  Toposes/gap/Topos.autogen.gd
  Toposes/gap/Topos.gd
  Toposes/gap/ToposDerivedMethods.gi
  Toposes/gap/ToposMethodRecord.gi
  Toposes/tst/Opposite.tst
Due: FunctorCategories, Locales, Toposes

Update website for FunctorCategories 2023.08-15
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Locales 2023.08-02
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap13.html
  Locales/doc/chap13.txt
  Locales/doc/chap13_mj.html
  _data/Locales.yml
Due: Locales

Update website for Toposes 2023.08-03
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  Toposes/doc/chap1.html
  Toposes/doc/chap1.txt
  Toposes/doc/chap1_mj.html
  Toposes/doc/chapInd.html
  Toposes/doc/chapInd.txt
  Toposes/doc/chapInd_mj.html
  _data/Toposes.yml
Due: Toposes

d&i AssociatedFiniteStrictCoproductCocompletionOfSourceCategory
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

d&i EnrichmentSpecificFiniteStrictCoproductCocompletion
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/Doc.autodoc
  FiniteCocompletions/gap/AdditiveClosure.gi
  FiniteCocompletions/gap/FiniteStrictCoproductCocompletion.gd
  FiniteCocompletions/gap/FiniteStrictCoproductCocompletion.gi
  FiniteCocompletions/gap/Tools.gd
  FiniteCocompletions/gap/Tools.gi
  FiniteCocompletions/init.g
  FiniteCocompletions/read.g
Due: none

d&i AssociatedCategoryOfCoequalizerPairsOfSourceCategory
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Update website for FiniteCocompletions 2023.08-07
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap10.html
  FiniteCocompletions/doc/chap10_mj.html
  FiniteCocompletions/doc/chap11.html
  FiniteCocompletions/doc/chap11.txt
  FiniteCocompletions/doc/chap11_mj.html
  FiniteCocompletions/doc/chap12.html
  FiniteCocompletions/doc/chap12.txt
  FiniteCocompletions/doc/chap12_mj.html
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2_mj.html
  FiniteCocompletions/doc/chap3.html
  FiniteCocompletions/doc/chap3_mj.html
  FiniteCocompletions/doc/chap4.html
  FiniteCocompletions/doc/chap4_mj.html
  FiniteCocompletions/doc/chap5.html
  FiniteCocompletions/doc/chap5_mj.html
  FiniteCocompletions/doc/chap6.html
  FiniteCocompletions/doc/chap6_mj.html
  FiniteCocompletions/doc/chap7.html
  FiniteCocompletions/doc/chap7_mj.html
  FiniteCocompletions/doc/chap8.html
  FiniteCocompletions/doc/chap8_mj.html
  FiniteCocompletions/doc/chap9.html
  FiniteCocompletions/doc/chap9_mj.html
  FiniteCocompletions/doc/chapInd.html
  FiniteCocompletions/doc/chapInd_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2023.08-17
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd.txt
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

udpated examples/FinReflexiveQuiversAsFiniteColimitCocompletion.g
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/FinReflexiveQuiversAsFiniteColimitCocompletion.g
Due: none

Update website for FiniteCocompletions 2023.08-08
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap6.html
  FiniteCocompletions/doc/chap6.txt
  FiniteCocompletions/doc/chap6_mj.html
  _data/FiniteCocompletions.yml
Due: none

started using list_of_integers_and_list_of_morphisms
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/examples/MorphismBetweenCoproducts.g
  CategoryConstructor/examples/MorphismBetweenDirectProducts.g
  CategoryConstructor/gap/Tools.gd
  CategoryConstructor/gap/ToolsMethodRecord.gi
  CategoryConstructor/makedoc.g
  CategoryConstructor/makedoc_with_overfull_hbox_warnings.g
  CategoryConstructor/tst/100_LoadPackage.tst
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/examples/PresentationWithDegrees.g
Due: CategoryConstructor, IntrinsicGradedModules

Update website for CategoryConstructor 2023.08-02
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/doc/chap0.html
  CategoryConstructor/doc/chap0.txt
  CategoryConstructor/doc/chap0_mj.html
  CategoryConstructor/doc/chap1.html
  CategoryConstructor/doc/chap1.txt
  CategoryConstructor/doc/chap1_mj.html
  CategoryConstructor/doc/chapInd.html
  CategoryConstructor/doc/chapInd.txt
  CategoryConstructor/doc/chapInd_mj.html
  _data/CategoryConstructor.yml
Due: CategoryConstructor

Update website for IntrinsicGradedModules 2023.08-02
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/doc/chap0.html
  IntrinsicGradedModules/doc/chap0.txt
  IntrinsicGradedModules/doc/chap0_mj.html
  IntrinsicGradedModules/doc/chap1.html
  IntrinsicGradedModules/doc/chap1.txt
  IntrinsicGradedModules/doc/chap1_mj.html
  _data/IntrinsicGradedModules.yml
Due: IntrinsicGradedModules

d&i TensorizeObject/MorphismWithObject/MorphismInRangeCategoryOfHomomorphismStructure
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/AdditiveClosure.gi
  FiniteCocompletions/gap/FiniteStrictCoproductCocompletion.gi
  FiniteCocompletions/gap/Tools.gd
  FiniteCocompletions/gap/Tools.gi
Due: none

d&i EmbeddingFunctorOfFiniteStrictCoproductCocompletionIntoPreSheavesData
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

fixed declaration of FinReflexiveQuivers
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gd
Due: FunctorCategories

refactored CoYonedaLemmaOnObjects/Morphisms to be enrichment-agnostic
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/CategoryOfColimitQuivers.g
  FiniteCocompletions/examples/FinBouquetsAsFiniteColimitCocompletion.g
  FiniteCocompletions/examples/FinReflexiveQuiversAsFiniteColimitCocompletion.g
  FiniteCocompletions/examples/Jordan.g
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gd
  FiniteCocompletions/gap/PairOfParallelArrowsCategory.gd
  FiniteCocompletions/gap/Tools.gd
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CompilerLogic.gi
  FunctorCategories/gap/HomStructure.gi
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
  FunctorCategories/gap/precompiled_categories/FinBouquetsAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinBouquetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfAlgebroidFromDataTablesInCategoryOfRowsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfAlgebroidWithRelationsInCategoryOfRowsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfCategoryFromDataTablesInSkeletalFinSetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFpCategoryInSkeletalFinSetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFreeAlgebroidInCategoryOfRowsPrecompiled.gi
Due: FunctorCategories

Update website for FiniteCocompletions 2023.08-10
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap11.html
  FiniteCocompletions/doc/chap11.txt
  FiniteCocompletions/doc/chap11_mj.html
  FiniteCocompletions/doc/chap5.html
  FiniteCocompletions/doc/chap5.txt
  FiniteCocompletions/doc/chap5_mj.html
  FiniteCocompletions/doc/chap6.html
  FiniteCocompletions/doc/chap6.txt
  FiniteCocompletions/doc/chap6_mj.html
  FiniteCocompletions/doc/chapInd.html
  FiniteCocompletions/doc/chapInd.txt
  FiniteCocompletions/doc/chapInd_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2023.08-20
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  FunctorCategories/doc/chap7.html
  FunctorCategories/doc/chap7.txt
  FunctorCategories/doc/chap7_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd.txt
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

renamed variable
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/gap/Tools.gi
Due: CategoryConstructor

Update website for CategoryConstructor 2023.08-03
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/doc/chap0.html
  CategoryConstructor/doc/chap0.txt
  CategoryConstructor/doc/chap0_mj.html
  _data/CategoryConstructor.yml
Due: CategoryConstructor

comply with CAP v2023.08-06
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/examples/MorphismBetweenCoproducts.g
  CategoryConstructor/examples/MorphismBetweenDirectProducts.g
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteCoproductCocompletion.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteProductCompletion.g
  FiniteCocompletions/examples/notebooks/CartesianBraiding.ipynb
  FiniteCocompletions/examples/notebooks/CartesianDiagonal.ipynb
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/TerminalCategory.g
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  Locales/PackageInfo.g
  Locales/examples/Dedekind1stNumber.g
  Locales/examples/DiscreteSkeletalCategory.g
  Locales/examples/StablePosetOfCategory.g
  Locales/examples/TotalOrderAsCategory.g
  PreSheaves/PackageInfo.g
  PreSheaves/examples/TerminalCategory.g
  Toposes/PackageInfo.g
  Toposes/tst/Opposite.tst
Due: CategoryConstructor, FunctorCategories, Locales, PreSheaves, Toposes

comply with CAP v2023.08-07
  CatReps/PackageInfo.g
  CatReps/README.md
  CatReps/examples/CategoryOfRepresentations.g
  CatReps/examples/notebooks/CategoryOfRepresentations.ipynb
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteCoproductCocompletion.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteProductCompletion.g
  FunctorCategories/examples/TerminalCategory.g
  InternalModules/PackageInfo.g
  InternalModules/examples/SymmetricAlgebraInternalToS4rep.g
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS1rep.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS4rep.ipynb
  IntrinsicModules/PackageInfo.g
  IntrinsicModules/gap/FpModulesByFreyd.autogen.gd
  PreSheaves/PackageInfo.g
  PreSheaves/examples/TerminalCategory.g
Due: CatReps, FunctorCategories, IntrinsicModules, PreSheaves

fixed ExtendFunctorToWrapperCategoryData
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/gap/Tools.gi
Due: CategoryConstructor

Update website for CategoryConstructor 2023.08-04
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/doc/chap0.html
  CategoryConstructor/doc/chap0.txt
  CategoryConstructor/doc/chap0_mj.html
  CategoryConstructor/doc/chap1.html
  CategoryConstructor/doc/chap1.txt
  CategoryConstructor/doc/chap1_mj.html
  _data/CategoryConstructor.yml
Due: CategoryConstructor
