Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

Update website for SubcategoriesForCAP 2024.11-01
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

fixed CAP_INTERNAL_CORRESPONDING_WITH_GIVEN_OBJECTS_METHOD
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/gap/Tools.gi
Due: none

fixed PreSheavesWithBounds
  PreSheaves/PackageInfo.g
  PreSheaves/gap/PreSheavesWithBounds.gi
Due: PreSheaves

simplified and fixed OperationWeight in (functional) PreSheaves
  PreSheaves/PackageInfo.g
  PreSheaves/gap/PreSheaves.gi
Due: PreSheaves

Update website for PreSheaves 2024.11-05
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for ToolsForCategoricalTowers 2024.11-02
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

use ListPrimitivelyInstalledOperationsOfCategory in QuotientCategories
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/CategoryOfColimitQuivers.g
  FiniteCocompletions/examples/FiniteColimitCompletionWithStrictCoproducts.g
  FiniteCocompletions/examples/FreeElementaryToposOnOneObject.g
  FpCategories/PackageInfo.g
  FpCategories/examples/PathCategory.g
  QuotientCategories/PackageInfo.g
  QuotientCategories/gap/QuotientCategories.gi
Due: none

use ListPrimitivelyInstalledOperationsOfCategory in Subcategory
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/gap/Subcategory.gi
Due: SubcategoriesForCAP

Update website for FiniteCocompletions 2024.11-05
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap6.html
  FiniteCocompletions/doc/chap6.txt
  FiniteCocompletions/doc/chap6_mj.html
  FiniteCocompletions/doc/chap8.html
  FiniteCocompletions/doc/chap8.txt
  FiniteCocompletions/doc/chap8_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FpCategories 2024.11-01
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap2.html
  FpCategories/doc/chap2.txt
  FpCategories/doc/chap2_mj.html
  _data/FpCategories.yml
Due: none

Update website for QuotientCategories 2024.11-03
  QuotientCategories/PackageInfo.g
  QuotientCategories/doc/chap0.html
  QuotientCategories/doc/chap0.txt
  QuotientCategories/doc/chap0_mj.html
  _data/QuotientCategories.yml
Due: none

Update website for SubcategoriesForCAP 2024.11-02
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

deleted AutoDoc from NeededOtherPackages
  CategoriesWithAmbientObjects/PackageInfo.g
  IntrinsicCategories/PackageInfo.g
  QuotientCategories/PackageInfo.g
Due: CategoriesWithAmbientObjects, IntrinsicCategories

fixed examples in LazyCategories
  LazyCategories/PackageInfo.g
  LazyCategories/examples/SnakeInAbelian.g
  LazyCategories/examples/SnakeInAbelianPrimitive.g
  LazyCategories/examples/SnakeInAdditiveClosureOfAlgebroid.g
  LazyCategories/examples/SnakeInAdditiveClosureOfAlgebroidPrimitive.g
  LazyCategories/examples/SnakeInAlgebroid.g
  LazyCategories/examples/SnakeInFreeAbelian.g
  LazyCategories/examples/SnakeInFreeAbelianPrimitive.g
  LazyCategories/examples/TerminalCategory.g
Due: LazyCategories

again use *ReplacedWithCorrespondingObjectAndWithGivenOperations
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
  PreSheaves/PackageInfo.g
  PreSheaves/gap/PreSheaves.gi
  PreSheaves/gap/PreSheavesWithBounds.gi
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/gap/Tools.gi
Due: FunctorCategories, PreSheaves

Update website for CategoriesWithAmbientObjects 2024.11-01
  CategoriesWithAmbientObjects/PackageInfo.g
  CategoriesWithAmbientObjects/doc/chap0.html
  CategoriesWithAmbientObjects/doc/chap0.txt
  CategoriesWithAmbientObjects/doc/chap0_mj.html
  _data/CategoriesWithAmbientObjects.yml
Due: CategoriesWithAmbientObjects

Update website for FunctorCategories 2024.11-05
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for IntrinsicCategories 2024.11-03
  IntrinsicCategories/PackageInfo.g
  IntrinsicCategories/doc/chap0.html
  IntrinsicCategories/doc/chap0.txt
  IntrinsicCategories/doc/chap0_mj.html
  _data/IntrinsicCategories.yml
Due: IntrinsicCategories

Update website for LazyCategories 2024.11-04
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  LazyCategories/doc/chap1.html
  LazyCategories/doc/chap1.txt
  LazyCategories/doc/chap1_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for PreSheaves 2024.11-06
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for QuotientCategories 2024.11-05
  QuotientCategories/PackageInfo.g
  QuotientCategories/doc/chap0.html
  QuotientCategories/doc/chap0.txt
  QuotientCategories/doc/chap0_mj.html
  _data/QuotientCategories.yml
Due: none

Update website for ToolsForCategoricalTowers 2024.11-03
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

improved CAP_INTERNAL_CORRESPONDING_WITH_GIVEN_OBJECTS_METHOD
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/gap/Tools.gi
Due: none

Update website for ToolsForCategoricalTowers 2024.12-01
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for CatReps 2024.12-01
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2024.12-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2024.12-01
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2024.12-01
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for LazyCategories 2024.12-01
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2024.12-01
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for ZariskiFrames 2024.12-01
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

comply with CAP v2025.01-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/HomStructure.g
Due: none

Update website for FiniteCocompletions 2025.01-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  _data/FiniteCocompletions.yml
Due: none

Revert "workaround for gap-master until new digraphs version is released"
  .github/workflows/Tests.yml
Due: none

do not read nonexisiting file
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/init.g
Due: none

temporarily work around changes in GAP master
  Algebroids/PackageInfo.g
  Algebroids/examples/PrecompileAdditiveClosureOfAlgebroid.g
  Algebroids/examples/PrecompileAdditiveClosureOfAlgebroidFromDataTables.g
  Algebroids/examples/PrecompileAdelmanCategoryOfAdditiveClosureOfAlgebroid.g
  Algebroids/examples/PrecompileCategoryFromDataTables.g
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/PrecompileFiniteStrictCoproductCompletionOfCategoryFromDataTables.g
  FiniteCocompletions/examples/PrecompileSkeletalFinSets.g
  FiniteCocompletions/examples/precompileLeftCartesianDistributivityFactoring_CategoryFromDataTables.g
  FiniteCocompletions/examples/precompileLeftCartesianDistributivityFactoring_PathCategory.g
  FpCategories/PackageInfo.g
  FpCategories/examples/PrecompileCategoryFromNerveData.g
  FpCategories/examples/PrecompileCategoryFromNerveDataHomStructureOnMorphisms.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/PrecompileFinBouquets.g
  FunctorCategories/examples/PrecompileFinQuivers.g
  FunctorCategories/examples/PrecompileFinReflexiveQuivers.g
  FunctorCategories/examples/PrecompilePreSheavesOfAlgebroidFromDataTablesInCategoryOfRows.g
  FunctorCategories/examples/PrecompilePreSheavesOfAlgebroidInCategoryOfRows.g
  FunctorCategories/examples/PrecompilePreSheavesOfCategoryFromDataTablesInSkeletalFinSets.g
  FunctorCategories/examples/PrecompilePreSheavesOfCategoryFromDataTablesInSkeletalFinSetsSubobjectClassifier.g
  FunctorCategories/examples/PrecompilePreSheavesOfFpCategoryInSkeletalFinSets.g
  FunctorCategories/examples/PrecompilePreSheavesOfFpCategoryInSkeletalFinSetsSubobjectClassifier.g
Due: Algebroids, FunctorCategories

Update website for Algebroids 2025.02-01
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap9.html
  Algebroids/doc/chap9.txt
  Algebroids/doc/chap9_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FiniteCocompletions 2025.02-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap14.html
  FiniteCocompletions/doc/chap14.txt
  FiniteCocompletions/doc/chap14_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FpCategories 2025.02-01
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap4.html
  FpCategories/doc/chap4.txt
  FpCategories/doc/chap4_mj.html
  _data/FpCategories.yml
Due: none

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
