Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

new convention: full_subcat!.ObjectMembershipFunction( ambient_cat, object_in_ambient_cat )
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/gap/FullSubcategory.gi
  SubcategoriesForCAP/gap/Subcategory.gi
Due: FunctorCategories, SubcategoriesForCAP

Update website for CatReps 2025.02-02
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2025.02-04
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2025.02-08
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2025.02-02
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for IntrinsicGradedModules 2025.02-01
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/doc/chap0.html
  IntrinsicGradedModules/doc/chap0.txt
  IntrinsicGradedModules/doc/chap0_mj.html
  IntrinsicGradedModules/doc/chap1.html
  IntrinsicGradedModules/doc/chap1.txt
  IntrinsicGradedModules/doc/chap1_mj.html
  _data/IntrinsicGradedModules.yml
Due: IntrinsicGradedModules

Update website for LazyCategories 2025.02-02
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2025.02-07
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for SubcategoriesForCAP 2025.02-06
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Update website for ZariskiFrames 2025.02-02
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

removed Assert( 4, IsMonomorphism( ... ) ) from code of EmbeddingOfIntersectionSubobject
  PreSheaves/PackageInfo.g
  PreSheaves/examples/PreSheavesOfSkeletalFinSets.g
  Toposes/PackageInfo.g
  Toposes/gap/ToposDerivedMethods.gi
Due: PreSheaves, Toposes

removed Assert( 4, IsMonomorphism( ... ) ) from code of SubobjectOfClassifyingMorphism
  Toposes/PackageInfo.g
  Toposes/gap/ToposDerivedMethods.gi
  Toposes/gap/ToposDerivedMethods.semiautogen.gi
Due: Toposes

fixed derivation of ImageEmbedding
  Toposes/PackageInfo.g
  Toposes/gap/ToposDerivedMethods.gi
Due: Toposes

improved derivation of CoimageProjection
  Toposes/PackageInfo.g
  Toposes/gap/ToposDerivedMethods.gi
Due: Toposes

Update website for PreSheaves 2025.02-01
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for Toposes 2025.02-05
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

enhanced DummyCategoryInDoctrines
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/gap/Tools.gi
Due: none

use CanCompute in LazyCategory at more places
  LazyCategories/PackageInfo.g
  LazyCategories/gap/LazyCategory.gi
Due: LazyCategories

Update website for ToolsForCategoricalTowers 2025.02-04
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for LazyCategories 2025.02-03
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

more informative label of digraph
  LazyCategories/gap/ToolsUsingDigraphs.gi
Due: LazyCategories

switch arguments of PositionsOfChildrenOfALazyCell
  LazyCategories/PackageInfo.g
  LazyCategories/gap/LazyCategory.gi
  LazyCategories/gap/ToolsUsingDigraphs.gi
Due: LazyCategories

split optimizations in LazyCategory in two levels 1, 2
  LazyCategories/PackageInfo.g
  LazyCategories/gap/LazyCategory.gi
Due: LazyCategories

do not test SnakeIn*Abelian.ipynb
  LazyCategories/examples/julia/notebooks/.gitignore
  LazyCategories/examples/julia/notebooks/README.md
  LazyCategories/examples/julia/notebooks/SnakeInAbelian.ipynb
  LazyCategories/examples/julia/notebooks/SnakeInFreeAbelian.ipynb
  LazyCategories/makefile
Due: LazyCategories

whitespaces/coding style
  LazyCategories/gap/ToolsUsingDigraphs.gi
Due: LazyCategories

ListOfEvaluationNodes now considers literal lists as nodes
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/julia/notebooks/CartesianBraiding.ipynb
  FiniteCocompletions/examples/julia/notebooks/CartesianDiagonal.ipynb
  FiniteCocompletions/examples/julia/notebooks/ReflexivePair.ipynb
  LazyCategories/PackageInfo.g
  LazyCategories/examples/julia/notebooks/SnakeInAbelian.ipynb
  LazyCategories/examples/julia/notebooks/SnakeInFreeAbelian.ipynb
  LazyCategories/gap/LazyCategory.gd
  LazyCategories/gap/LazyCategory.gi
  LazyCategories/gap/ToolsUsingDigraphs.gi
  Locales/PackageInfo.g
  Locales/examples/julia/notebooks/IdealQuotient.ipynb
  Locales/examples/julia/notebooks/IdealQuotient2.ipynb
  makefile
Due: LazyCategories, Locales

renamed child(ren) -> parent(s) in LazyCategory
  LazyCategories/PackageInfo.g
  LazyCategories/gap/LazyCategory.gd
  LazyCategories/gap/LazyCategory.gi
  LazyCategories/gap/ToolsUsingDigraphs.gi
Due: LazyCategories

introduced new local variable in ListOfEvaluationNodes for better debugging
  LazyCategories/PackageInfo.g
  LazyCategories/gap/ToolsUsingDigraphs.gi
Due: LazyCategories

ListOfEvaluationNodes now considers literal lists as nodes
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/julia/notebooks/CartesianBraiding.ipynb
  FiniteCocompletions/examples/julia/notebooks/CartesianDiagonal.ipynb
  FiniteCocompletions/examples/julia/notebooks/ReflexivePair.ipynb
  LazyCategories/PackageInfo.g
  LazyCategories/examples/SnakeInFreeAbelian.g
  LazyCategories/examples/julia/notebooks/SnakeInAbelian.ipynb
  LazyCategories/examples/julia/notebooks/SnakeInFreeAbelian.ipynb
  LazyCategories/gap/LazyCategory.gd
  LazyCategories/gap/LazyCategory.gi
  LazyCategories/gap/ToolsUsingDigraphs.gi
  Locales/PackageInfo.g
  Locales/examples/julia/notebooks/IdealQuotient.ipynb
  Locales/examples/julia/notebooks/IdealQuotient2.ipynb
  makefile
Due: LazyCategories, Locales

introduced new local variable in ListOfEvaluationNodes for better debugging
  LazyCategories/PackageInfo.g
  LazyCategories/gap/ToolsUsingDigraphs.gi
  LazyCategories/tst/100_LoadPackage.tst
Due: LazyCategories

Update website for FiniteCocompletions 2025.03-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for LazyCategories 2025.03-03
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  LazyCategories/doc/chap1.html
  LazyCategories/doc/chap1.txt
  LazyCategories/doc/chap1_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2025.03-01
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

renamed *QuotientCapCategory* -> *QuotientCategory*
  Algebroids/PackageInfo.g
  Algebroids/gap/AlgebroidFromDataTables.gi
  Algebroids/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gd
  Algebroids/gap/QuotientsOfLinearClosuresOfPathCategories.gi
  FpCategories/PackageInfo.g
  FpCategories/gap/QuotientsOfPathCategories.gd
  FpCategories/gap/Tools.gi
  QuotientCategories/PackageInfo.g
  QuotientCategories/gap/QuotientCategories.gd
  QuotientCategories/gap/QuotientCategories.gi
Due: Algebroids

Update website for Algebroids 2025.03-01
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FpCategories 2025.03-01
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap2.html
  FpCategories/doc/chap2_mj.html
  FpCategories/doc/chapInd.html
  FpCategories/doc/chapInd.txt
  FpCategories/doc/chapInd_mj.html
  _data/FpCategories.yml
Due: none

Update website for QuotientCategories 2025.03-01
  QuotientCategories/PackageInfo.g
  QuotientCategories/doc/chap0.html
  QuotientCategories/doc/chap0.txt
  QuotientCategories/doc/chap0_mj.html
  _data/QuotientCategories.yml
Due: none

renamed record entry congruence_function -> congruence_func
  Algebroids/PackageInfo.g
  Algebroids/gap/QuotientsOfAlgebroidsFromDataTables.gi
  Algebroids/gap/QuotientsOfLinearClosuresOfPathCategories.gi
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/CoequalizerCompletion.gi
  FpCategories/PackageInfo.g
  FpCategories/gap/QuotientsOfPathCategories.gi
  QuotientCategories/PackageInfo.g
  QuotientCategories/gap/QuotientCategories.gi
Due: Algebroids

CapJitTypedExpression
  Algebroids/gap/AlgebroidFromDataTables.gi
Due: Algebroids

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
