Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

QuotientCategory: support 'overhead' named arg
  QuotientCategories/PackageInfo.g
  QuotientCategories/gap/QuotientCategories.gi
Due: none

FunctorCategories: pass overhead option to Co(PreSheaves)
  FunctorCategories/gap/CoPreSheaves.gi
  FunctorCategories/gap/FunctorCategories.gi
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

PresheafCategories: pass overhead options to PreSheaves constructors
  PresheafCategories/gap/PreSheaves.gi
  PresheafCategories/gap/PreSheavesWithBounds.gi
Due: none

Update website for FpCategories 2026.07-03
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  _data/FpCategories.yml
Due: none

Update website for FpLinearCategories 2026.07-04
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/doc/chap0.html
  FpLinearCategories/doc/chap0.txt
  FpLinearCategories/doc/chap0_mj.html
  _data/FpLinearCategories.yml
Due: none

Update website for FunctorCategories 2026.07-07
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap13.html
  FunctorCategories/doc/chap13.txt
  FunctorCategories/doc/chap13_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for PresheafCategories 2026.07-04
  PresheafCategories/PackageInfo.g
  PresheafCategories/doc/chap0.html
  PresheafCategories/doc/chap0.txt
  PresheafCategories/doc/chap0_mj.html
  _data/PresheafCategories.yml
Due: none

Update website for QuotientCategories 2026.07-01
  QuotientCategories/PackageInfo.g
  QuotientCategories/doc/chap0.html
  QuotientCategories/doc/chap0.txt
  QuotientCategories/doc/chap0_mj.html
  _data/QuotientCategories.yml
Due: none

Update website for SubcategoriesForCAP 2026.07-01
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

FpLinearCategories: adjust code for Julia
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
Due: none

FunctorCategories: adjust code for Julia
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/Functors.gi
Due: FunctorCategories

Update website for FpLinearCategories 2026.07-05
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/doc/chap0.html
  FpLinearCategories/doc/chap0.txt
  FpLinearCategories/doc/chap0_mj.html
  _data/FpLinearCategories.yml
Due: none

Update website for FunctorCategories 2026.07-08
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

FpLinearCategories: Refactor LaTeXOutput for AlgebroidFromDataTables
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/gap/AlgebroidFromDataTables.gi
Due: none

Update website for FpLinearCategories 2026.07-06
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/doc/chap0.html
  FpLinearCategories/doc/chap0.txt
  FpLinearCategories/doc/chap0_mj.html
  _data/FpLinearCategories.yml
Due: none

comply with CartesianCategories v2026.07-01
  Algebroids/PackageInfo.g
  Algebroids/examples/doc/CategoryOfFpAlgebras.g
  Algebroids/examples/doc/CategoryOfFpMatrixAlgebras.g
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/CategoryOfColimitQuivers.g
  FiniteCocompletions/examples/FiniteColimitCompletionWithStrictCoproducts.g
  FiniteCocompletions/examples/FreeElementaryToposOnOneObject.g
  QuotientCategories/PackageInfo.g
  QuotientCategories/examples/quotient_category_of_left_presentations_by_projectives.g
Due: Algebroids

Update website for Algebroids 2026.07-05
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap10.html
  Algebroids/doc/chap10.txt
  Algebroids/doc/chap10_mj.html
  Algebroids/doc/chap9.html
  Algebroids/doc/chap9.txt
  Algebroids/doc/chap9_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FiniteCocompletions 2026.07-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap7.html
  FiniteCocompletions/doc/chap7.txt
  FiniteCocompletions/doc/chap7_mj.html
  FiniteCocompletions/doc/chap9.html
  FiniteCocompletions/doc/chap9.txt
  FiniteCocompletions/doc/chap9_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for QuotientCategories 2026.07-02
  QuotientCategories/PackageInfo.g
  QuotientCategories/doc/chap0.html
  QuotientCategories/doc/chap0.txt
  QuotientCategories/doc/chap0_mj.html
  QuotientCategories/doc/chap1.html
  QuotientCategories/doc/chap1.txt
  QuotientCategories/doc/chap1_mj.html
  _data/QuotientCategories.yml
Due: none

clean up for Julia
  Locales/PackageInfo.g
  Locales/gap/ToolsUsingDigraphs.gi
  Toposes/PackageInfo.g
  Toposes/gap/ToolsUsingDigraphs.gd
  Toposes/gap/ToolsUsingDigraphs.gi
  Toposes/init.g
  Toposes/read.g
Due: Locales, Toposes

Update website for Locales 2026.07-01
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for Toposes 2026.07-01
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

fix(notebooks): merge consecutive stream outputs before normalizing
  CatReps/makefile
  FunctorCategories/makefile
  InternalModules/makefile
Due: CatReps, FunctorCategories

bump versions to 2026.08-01
  CatReps/PackageInfo.g
  FunctorCategories/PackageInfo.g
  InternalModules/PackageInfo.g
Due: CatReps, FunctorCategories

Update website for CatReps 2026.08-01
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FunctorCategories 2026.08-01
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2026.08-01
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

removed example file of future branch
  FiniteCocompletions/examples/FiniteStrictCoproductCompletionOfObjectFiniteCategory_CoequalizerOfIdentityAndAutomorphisms.g
Due: none

updated example files
  Locales/PackageInfo.g
  Locales/examples/ClosedMonoidalLatticeOfIdeals.g
  Locales/examples/HeytingAlgebraOfRadicalIdeals.g
  Locales/examples/IdealQuotient.g
  Locales/examples/IdealQuotient2.g
  Locales/examples/IdealQuotient3.g
  Locales/examples/NilRadical.g
  Locales/examples/PrecompileStablePosetOfCategory.g
  Locales/examples/julia/IdealQuotient.jl
  Locales/examples/julia/IdealQuotient2.jl
Due: Locales

comply with MonoidalCategories/CartesianCategories v2026.08-02
  Algebroids/PackageInfo.g
  Algebroids/examples/doc/CategoryOfFpAlgebras.g
  Algebroids/examples/doc/CategoryOfFpMatrixAlgebras.g
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/examples/doc/CategoryOfAffineAlgebras.g
Due: Algebroids, ZariskiFrames

fixed CAP_INTERNAL_CORRESPONDING_WITH_GIVEN_OBJECTS_METHOD for monoidal operations
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/gap/Tools.gi
Due: none

Update website for Algebroids 2026.08-01
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap10.html
  Algebroids/doc/chap10.txt
  Algebroids/doc/chap10_mj.html
  Algebroids/doc/chap9.html
  Algebroids/doc/chap9.txt
  Algebroids/doc/chap9_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for Locales 2026.08-01
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap15.html
  Locales/doc/chap15.txt
  Locales/doc/chap15_mj.html
  Locales/doc/chap8.html
  Locales/doc/chap8.txt
  Locales/doc/chap8_mj.html
  _data/Locales.yml
Due: Locales

Update website for ToolsForCategoricalTowers 2026.08-01
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for ZariskiFrames 2026.08-01
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  ZariskiFrames/doc/chap13.html
  ZariskiFrames/doc/chap13.txt
  ZariskiFrames/doc/chap13_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

Type signature for AmbientCategory
  SubcategoriesForCAP/gap/Subcategory.gd
Due: SubcategoriesForCAP

Bump version of SubcategoriesForCAP
  SubcategoriesForCAP/PackageInfo.g
Due: SubcategoriesForCAP

D&I AsSubcategory{Object,Morphism}
  SubcategoriesForCAP/gap/Subcategory.gd
  SubcategoriesForCAP/gap/Subcategory.gi
Due: SubcategoriesForCAP

Introduce option to install only the primitively installed operations of an ambient category for a subcategory
  SubcategoriesForCAP/gap/Subcategory.gd
  SubcategoriesForCAP/gap/Subcategory.gi
Due: SubcategoriesForCAP

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
