Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

added missing category as first argument
  LazyCategories/PackageInfo.g
  LazyCategories/examples/julia/SnakeInFreeAbelian.jl
  LazyCategories/examples/notebooks/SnakeInAbelian.ipynb
  LazyCategories/examples/notebooks/SnakeInFreeAbelian.ipynb
  LazyCategories/gap/LazyCategory.gi
Due: LazyCategories

updated notebooks to Julia 1.9.2
  CatReps/examples/notebooks/CategoryOfRepresentations.ipynb
  FiniteCocompletions/examples/notebooks/CartesianBraiding.ipynb
  FiniteCocompletions/examples/notebooks/CartesianDiagonal.ipynb
  FiniteCocompletions/examples/notebooks/ReflexivePair.ipynb
  FunctorCategories/examples/notebooks/DPO_Quivers.ipynb
  FunctorCategories/examples/notebooks/DecoratedFinQuivers.ipynb
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/FunctorCategories.ipynb
  FunctorCategories/examples/notebooks/ImageOfPullback_in_AbelianClosure_using_Adelman.ipynb
  FunctorCategories/examples/notebooks/ImageOfPullback_in_AbelianClosure_using_Freyd.ipynb
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  FunctorCategories/examples/notebooks/PairVsReflexivePair.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPushouts.ipynb
  FunctorCategories/examples/notebooks/ReflexiveCoequalizer.ipynb
  FunctorCategories/examples/notebooks/SnakeInFreeAbelian.ipynb
  FunctorCategories/examples/notebooks/svg/PastingLawForPullbacks_svg.ipynb
  FunctorCategories/examples/notebooks/svg/SnakeInFreeAbelian_svg.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS1rep.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS4rep.ipynb
  Locales/examples/julia/notebooks/IdealQuotient.ipynb
  Locales/examples/julia/notebooks/IdealQuotient2.ipynb
  ZariskiFrames/examples/julia/notebooks/CavenderFarrisNeyman_reduced.ipynb
  ZariskiFrames/examples/julia/notebooks/Example.ipynb
  ZariskiFrames/examples/julia/notebooks/Graph.ipynb
  ZariskiFrames/examples/julia/notebooks/Hyperbola.ipynb
  ZariskiFrames/examples/julia/notebooks/Hyperbola_in_3d.ipynb
  ZariskiFrames/examples/julia/notebooks/Jordan.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,3)_0dim.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,4)_0dim.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,5)_0dim.ipynb
Due: CatReps, FunctorCategories, Locales, ZariskiFrames

Update website for CategoryConstructor 2023.08-01
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/doc/chap0.html
  CategoryConstructor/doc/chap0.txt
  CategoryConstructor/doc/chap0_mj.html
  _data/CategoryConstructor.yml
Due: CategoryConstructor

Update website for FunctorCategories 2023.08-01
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for LazyCategories 2023.07-08
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

applied PackageJanitor
  FiniteCocompletions/gap/ENHANCED_SYNTAX_TREEs_for_CategoryOfQuivers.gi
  FunctorCategories/gap/ENHANCED_SYNTAX_TREEs_for_CategoryOfBouquets.gi
  FunctorCategories/gap/ENHANCED_SYNTAX_TREEs_for_CategoryOfReflexiveQuivers.gi
Due: FunctorCategories

declared and derived MorphismBetweenCoproducts/DirectProducts(WithGiven*)
  CatReps/PackageInfo.g
  CatReps/README.md
  CatReps/examples/CategoryOfRepresentations.g
  CatReps/examples/notebooks/CategoryOfRepresentations.ipynb
  CategoryConstructor/doc/Doc.autodoc
  CategoryConstructor/gap/Tools.autogen.gd
  CategoryConstructor/gap/Tools.gd
  CategoryConstructor/gap/ToolsDerivedMethods.gi
  CategoryConstructor/gap/ToolsMethodRecord.gi
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/HomStructure.g
  FiniteCocompletions/examples/LeftCartesianDistributivityFactoring.g
  FiniteCocompletions/examples/SkeletalWellDefined.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteCoproductCocompletion.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteProductCompletion.g
  FiniteCocompletions/gap/FiniteStrictCoproductCocompletion.gi
  FiniteCocompletions/gap/FiniteStrictProductCompletion.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/Dedekind2ndNumber.g
  FunctorCategories/examples/TerminalCategory.g
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  InternalModules/PackageInfo.g
  InternalModules/examples/SymmetricAlgebraInternalToS4rep.g
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS1rep.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS4rep.ipynb
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/examples/PresentationWithDegrees.g
  IntrinsicGradedModules/gap/FpGradedModulesByFreyd.autogen.gd
  IntrinsicModules/PackageInfo.g
  IntrinsicModules/gap/FpModulesByFreyd.autogen.gd
  Locales/PackageInfo.g
  Locales/examples/Dedekind1stNumber.g
  Locales/examples/StablePosetOfCategory.g
  Toposes/PackageInfo.g
  Toposes/tst/Opposite.tst
Due: CategoryConstructor, CatReps, FunctorCategories, IntrinsicGradedModules, IntrinsicModules, Locales, Toposes

Add proper IsWellDefinedForObjects/Morphisms to LazyCategory
  LazyCategories/PackageInfo.g
  LazyCategories/examples/TerminalCategory.g
  LazyCategories/gap/LazyCategory.gi
Due: LazyCategories

Update website for CatReps 2023.08-01
  CatReps/PackageInfo.g
  CatReps/README.md
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  CatReps/doc/chap1.html
  CatReps/doc/chap1.txt
  CatReps/doc/chap1_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2023.08-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2.txt
  FiniteCocompletions/doc/chap2_mj.html
  FiniteCocompletions/doc/chap3.html
  FiniteCocompletions/doc/chap3.txt
  FiniteCocompletions/doc/chap3_mj.html
  FiniteCocompletions/doc/chap4.html
  FiniteCocompletions/doc/chap4.txt
  FiniteCocompletions/doc/chap4_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2023.08-02
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap11.html
  FunctorCategories/doc/chap11.txt
  FunctorCategories/doc/chap11_mj.html
  FunctorCategories/doc/chap9.html
  FunctorCategories/doc/chap9.txt
  FunctorCategories/doc/chap9_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2023.08-01
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  InternalModules/doc/chap1.html
  InternalModules/doc/chap1.txt
  InternalModules/doc/chap1_mj.html
  _data/InternalModules.yml
Due: none

Update website for IntrinsicGradedModules 2023.08-01
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/doc/chap0.html
  IntrinsicGradedModules/doc/chap0.txt
  IntrinsicGradedModules/doc/chap0_mj.html
  IntrinsicGradedModules/doc/chap1.html
  IntrinsicGradedModules/doc/chap1.txt
  IntrinsicGradedModules/doc/chap1_mj.html
  _data/IntrinsicGradedModules.yml
Due: IntrinsicGradedModules

Update website for IntrinsicModules 2023.08-01
  IntrinsicModules/PackageInfo.g
  IntrinsicModules/doc/chap0.html
  IntrinsicModules/doc/chap0.txt
  IntrinsicModules/doc/chap0_mj.html
  IntrinsicModules/doc/chap1.html
  IntrinsicModules/doc/chap1.txt
  IntrinsicModules/doc/chap1_mj.html
  _data/IntrinsicModules.yml
Due: IntrinsicModules

Update website for Locales 2023.08-01
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap13.html
  Locales/doc/chap13.txt
  Locales/doc/chap13_mj.html
  Locales/doc/chap8.html
  Locales/doc/chap8.txt
  Locales/doc/chap8_mj.html
  _data/Locales.yml
Due: Locales

Update website for Toposes 2023.08-01
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

Update website for LazyCategories 2023.08-01
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  LazyCategories/doc/chap1.html
  LazyCategories/doc/chap1.txt
  LazyCategories/doc/chap1_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

refactored PairOfParallelArrowsCategory
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gi
  FiniteCocompletions/gap/PairOfParallelArrowsCategory.gd
  FiniteCocompletions/gap/PairOfParallelArrowsCategory.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

moved declaration of operations to new @Section Operations
  PreSheaves/PackageInfo.g
  PreSheaves/doc/Doc.autodoc
  PreSheaves/gap/PreSheaves.gd
Due: PreSheaves

outsourced AssociatedCategoryOfColimitQuiversOfSourceCategory
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gd
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

whitespace
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Update website for FiniteCocompletions 2023.08-02
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap5.html
  FiniteCocompletions/doc/chap5.txt
  FiniteCocompletions/doc/chap5_mj.html
  FiniteCocompletions/doc/chapInd.html
  FiniteCocompletions/doc/chapInd.txt
  FiniteCocompletions/doc/chapInd_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2023.08-03
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

UC support empty limits, regardless of C
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/FiniteStrictCoproductCocompletion.gi
Due: none

Update website for FiniteCocompletions 2023.08-03
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap6.html
  FiniteCocompletions/doc/chap6.txt
  FiniteCocompletions/doc/chap6_mj.html
  FiniteCocompletions/doc/chapInd.html
  FiniteCocompletions/doc/chapInd.txt
  FiniteCocompletions/doc/chapInd_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2023.08-04
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd.txt
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for PreSheaves 2023.08-01
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  PreSheaves/doc/chapInd.html
  PreSheaves/doc/chapInd.txt
  PreSheaves/doc/chapInd_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

renamed ExtendFunctorToStrictAdditiveClosureData
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/AbelianClosure.gi
  FiniteCocompletions/gap/AdditiveClosure.gd
  FiniteCocompletions/gap/AdditiveClosure.gi
Due: none

fixed typo in code comment
  FiniteCocompletions/gap/FiniteStrictCoproductCocompletion.gi
Due: none

Update website for FiniteCocompletions 2023.08-04
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FiniteCocompletions 2023.08-05
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

made CoveringListOfRepresentables enrichment agnostic
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Update website for FunctorCategories 2023.08-05
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

do not overwrite compiler_hints.category_attribute_names
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gi
  FiniteCocompletions/gap/PairOfParallelArrowsCategory.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CategoryOfBouquets.gi
  FunctorCategories/gap/CategoryOfDecoratedQuivers.gi
  FunctorCategories/gap/CategoryOfQuivers.gi
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gi
  FunctorCategories/gap/CoPreSheaves.gi
  FunctorCategories/gap/FunctorCategories.gi
Due: FunctorCategories

Update website for FiniteCocompletions 2023.08-06
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2023.08-06
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

added logic template: ListWithIdenticalEntries( 0, entry ) -> [ ]
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CompilerLogic.gi
  FunctorCategories/gap/precompiled_categories/FinBouquetsAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversAsCCCPrecompiled.gi
Due: FunctorCategories

added logic template: QUO_INT( a, 1 ) => a
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CompilerLogic.gi
  FunctorCategories/gap/precompiled_categories/FinBouquetsAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversAsCCCPrecompiled.gi
Due: FunctorCategories

added logic function: ListOfValues( [ a, b, ... ] ) => [ a, b, ... ]
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CompilerLogic.gi
  FunctorCategories/gap/precompiled_categories/FinBouquetsAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinBouquetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversPrecompiled.gi
Due: FunctorCategories

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
