Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

Update website for Algebroids 2025.07-03
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap1.html
  Algebroids/doc/chap10.html
  Algebroids/doc/chap10_mj.html
  Algebroids/doc/chap11.html
  Algebroids/doc/chap11_mj.html
  Algebroids/doc/chap12.html
  Algebroids/doc/chap12_mj.html
  Algebroids/doc/chap13.html
  Algebroids/doc/chap13.txt
  Algebroids/doc/chap13_mj.html
  Algebroids/doc/chap14.html
  Algebroids/doc/chap14.txt
  Algebroids/doc/chap14_mj.html
  Algebroids/doc/chap1_mj.html
  Algebroids/doc/chap2.html
  Algebroids/doc/chap2_mj.html
  Algebroids/doc/chap3.html
  Algebroids/doc/chap3_mj.html
  Algebroids/doc/chap4.html
  Algebroids/doc/chap4_mj.html
  Algebroids/doc/chap5.html
  Algebroids/doc/chap5_mj.html
  Algebroids/doc/chap6.html
  Algebroids/doc/chap6_mj.html
  Algebroids/doc/chap7.html
  Algebroids/doc/chap7_mj.html
  Algebroids/doc/chap8.html
  Algebroids/doc/chap8_mj.html
  Algebroids/doc/chap9.html
  Algebroids/doc/chap9_mj.html
  Algebroids/doc/chapInd.html
  Algebroids/doc/chapInd.txt
  Algebroids/doc/chapInd_mj.html
  _data/Algebroids.yml
Due: Algebroids

installed MatrixGenerators
  Algebroids/PackageInfo.g
  Algebroids/examples/doc/CategoryOfFpMatrixAlgebras.g
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gi
Due: Algebroids

documentation for CategoryOfFpAlgebras/CategoryOfFpMatrixAlgebras
  Algebroids/PackageInfo.g
  Algebroids/doc/Doc.autodoc
  Algebroids/gap/CategoryFromDataTables.gd
  Algebroids/gap/CategoryOfFpAlgebras.gd
  Algebroids/gap/CategoryOfFpAlgebras.gi
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gd
Due: Algebroids

Update website for Algebroids 2025.07-05
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap10.html
  Algebroids/doc/chap10.txt
  Algebroids/doc/chap10_mj.html
  Algebroids/doc/chap11.html
  Algebroids/doc/chap11.txt
  Algebroids/doc/chap11_mj.html
  Algebroids/doc/chap12.html
  Algebroids/doc/chap12.txt
  Algebroids/doc/chap12_mj.html
  Algebroids/doc/chap13.html
  Algebroids/doc/chap13.txt
  Algebroids/doc/chap13_mj.html
  Algebroids/doc/chap4.html
  Algebroids/doc/chap4.txt
  Algebroids/doc/chap4_mj.html
  Algebroids/doc/chapInd.html
  Algebroids/doc/chapInd.txt
  Algebroids/doc/chapInd_mj.html
  _data/Algebroids.yml
Due: Algebroids

update to CapAndHomalg v1.6.3
  CatReps/PackageInfo.g
  CatReps/examples/notebooks/CategoryOfRepresentations.ipynb
  FiniteCocompletions/examples/julia/notebooks/CartesianBraiding.ipynb
  FiniteCocompletions/examples/julia/notebooks/CartesianDiagonal.ipynb
  FiniteCocompletions/examples/julia/notebooks/ReflexivePair.ipynb
  FunctorCategories/examples/notebooks/DPO_Quivers.ipynb
  FunctorCategories/examples/notebooks/DecoratedFinQuivers.ipynb
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/FunctorCategories.ipynb
  FunctorCategories/examples/notebooks/ImageOfPullback_in_AbelianClosure_using_Adelman.ipynb
  FunctorCategories/examples/notebooks/ImageOfPullback_in_AbelianClosure_using_Freyd.ipynb
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  FunctorCategories/examples/notebooks/PairVsReflexivePair.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPushouts.ipynb
  FunctorCategories/examples/notebooks/ReflexiveCoequalizer.ipynb
  FunctorCategories/examples/notebooks/SnakeInFreeAbelian.ipynb
  FunctorCategories/examples/notebooks/SpecificRetractionYieldsIsomorphicCoequalizers.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS1rep.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS4rep.ipynb
  LazyCategories/PackageInfo.g
  LazyCategories/examples/julia/notebooks/SnakeInAbelian.ipynb
  LazyCategories/examples/julia/notebooks/SnakeInFreeAbelian.ipynb
  Locales/PackageInfo.g
  Locales/examples/julia/notebooks/IdealQuotient.ipynb
  Locales/examples/julia/notebooks/IdealQuotient2.ipynb
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/examples/julia/notebooks/DigraphOfKnownDoctrines.ipynb
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/examples/julia/notebooks/CavenderFarrisNeyman_reduced.ipynb
  ZariskiFrames/examples/julia/notebooks/Example.ipynb
  ZariskiFrames/examples/julia/notebooks/Graph.ipynb
  ZariskiFrames/examples/julia/notebooks/Hyperbola.ipynb
  ZariskiFrames/examples/julia/notebooks/Hyperbola_in_3d.ipynb
  ZariskiFrames/examples/julia/notebooks/Jordan.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,3)_0dim.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,4)_0dim.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,5)_0dim.ipynb
Due: CatReps, FunctorCategories, LazyCategories, Locales, ZariskiFrames

comply with MonoidalCategories/CartesianCategories v2025.07-03
  Algebroids/PackageInfo.g
  Algebroids/examples/doc/CategoryOfFpMatrixAlgebras.g
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteCoproductCompletion.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteProductCompletion.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/TerminalCategory.g
  InternalModules/PackageInfo.g
  InternalModules/examples/SymmetricAlgebraInternalToS4rep.g
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS1rep.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS4rep.ipynb
  PreSheaves/PackageInfo.g
  PreSheaves/examples/TerminalCategory.g
Due: Algebroids, FunctorCategories, PreSheaves

Update website for Algebroids 2025.07-06
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap11.html
  Algebroids/doc/chap11.txt
  Algebroids/doc/chap11_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for CatReps 2025.07-02
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2025.07-02
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2.txt
  FiniteCocompletions/doc/chap2_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2025.07-02
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap9.html
  FunctorCategories/doc/chap9.txt
  FunctorCategories/doc/chap9_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2025.07-01
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  InternalModules/doc/chap1.html
  InternalModules/doc/chap1.txt
  InternalModules/doc/chap1_mj.html
  _data/InternalModules.yml
Due: none

Update website for LazyCategories 2025.07-02
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2025.07-02
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for PreSheaves 2025.07-01
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for ToolsForCategoricalTowers 2025.07-02
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for ZariskiFrames 2025.07-02
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

d&i CategoryOfAffineAlgebras
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/Doc.autodoc
  ZariskiFrames/examples/doc/CategoryOfAffineAlgebras.g
  ZariskiFrames/gap/CategoryOfAffineAlgebras.gd
  ZariskiFrames/gap/CategoryOfAffineAlgebras.gi
  ZariskiFrames/init.g
  ZariskiFrames/read.g
Due: ZariskiFrames

Update website for ZariskiFrames 2025.07-03
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  ZariskiFrames/doc/chap1.html
  ZariskiFrames/doc/chap10.html
  ZariskiFrames/doc/chap10_mj.html
  ZariskiFrames/doc/chap11.html
  ZariskiFrames/doc/chap11_mj.html
  ZariskiFrames/doc/chap12.html
  ZariskiFrames/doc/chap12_mj.html
  ZariskiFrames/doc/chap13.html
  ZariskiFrames/doc/chap13.txt
  ZariskiFrames/doc/chap13_mj.html
  ZariskiFrames/doc/chap14.html
  ZariskiFrames/doc/chap14.txt
  ZariskiFrames/doc/chap14_mj.html
  ZariskiFrames/doc/chap1_mj.html
  ZariskiFrames/doc/chap2.html
  ZariskiFrames/doc/chap2_mj.html
  ZariskiFrames/doc/chap3.html
  ZariskiFrames/doc/chap3_mj.html
  ZariskiFrames/doc/chap4.html
  ZariskiFrames/doc/chap4_mj.html
  ZariskiFrames/doc/chap5.html
  ZariskiFrames/doc/chap5_mj.html
  ZariskiFrames/doc/chap6.html
  ZariskiFrames/doc/chap6_mj.html
  ZariskiFrames/doc/chap7.html
  ZariskiFrames/doc/chap7_mj.html
  ZariskiFrames/doc/chap8.html
  ZariskiFrames/doc/chap8_mj.html
  ZariskiFrames/doc/chap9.html
  ZariskiFrames/doc/chap9_mj.html
  ZariskiFrames/doc/chapInd.html
  ZariskiFrames/doc/chapInd.txt
  ZariskiFrames/doc/chapInd_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

test CoordinateAlgebraOfGraph
  ZariskiFrames/examples/doc/CategoryOfAffineAlgebras.g
Due: ZariskiFrames

simplified AddIsWellDefinedForObjects in CategoryOfAffineAlgebras
  ZariskiFrames/gap/CategoryOfAffineAlgebras.gi
Due: ZariskiFrames

fix, enhance, and test Dimension for objects in CategoryOfAffineAlgebras
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/examples/doc/CategoryOfAffineAlgebras.g
  ZariskiFrames/gap/CategoryOfAffineAlgebras.gi
Due: ZariskiFrames

fixed and tested Coequalizer in CategoryOfAffineAlgebras
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/examples/doc/CategoryOfAffineAlgebras.g
  ZariskiFrames/gap/CategoryOfAffineAlgebras.gi
Due: ZariskiFrames

Update website for ZariskiFrames 2025.07-04
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  ZariskiFrames/doc/chap13.html
  ZariskiFrames/doc/chap13.txt
  ZariskiFrames/doc/chap13_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

Update website for ZariskiFrames 2025.07-05
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  ZariskiFrames/doc/chap13.html
  ZariskiFrames/doc/chap13.txt
  ZariskiFrames/doc/chap13_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

more clean up in CategoryOfFp(Matrix)Algebras
  Algebroids/PackageInfo.g
  Algebroids/examples/doc/CategoryOfFpAlgebras.g
  Algebroids/examples/doc/CategoryOfFpMatrixAlgebras.g
  Algebroids/gap/CategoryOfFpAlgebras.gi
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gi
Due: Algebroids

Update website for Algebroids 2025.07-07
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap10.html
  Algebroids/doc/chap10.txt
  Algebroids/doc/chap10_mj.html
  Algebroids/doc/chap11.html
  Algebroids/doc/chap11.txt
  Algebroids/doc/chap11_mj.html
  _data/Algebroids.yml
Due: Algebroids

clean up tests, needs MonoidalCategories/CartesianCategories v2025.07-06
  Algebroids/PackageInfo.g
  Algebroids/examples/doc/CategoryOfFpAlgebras.g
  Algebroids/examples/doc/CategoryOfFpMatrixAlgebras.g
  Algebroids/tst/CategoryOfFpAlgebras.tst
  Algebroids/tst/CategoryOfFpMatrixAlgebras.tst
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/examples/doc/CategoryOfAffineAlgebras.g
  ZariskiFrames/tst/CategoryOfAffineAlgebras.tst
Due: Algebroids, ZariskiFrames

d&i DisplayString for IsObject/MorphismInCategoryOfFpMatrixAlgebras
  Algebroids/PackageInfo.g
  Algebroids/examples/doc/CategoryOfFpMatrixAlgebras.g
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gi
Due: Algebroids

Update website for Algebroids 2025.07-09
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap10.html
  Algebroids/doc/chap10.txt
  Algebroids/doc/chap10_mj.html
  Algebroids/doc/chap11.html
  Algebroids/doc/chap11.txt
  Algebroids/doc/chap11_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for ZariskiFrames 2025.07-06
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  ZariskiFrames/doc/chap13.html
  ZariskiFrames/doc/chap13.txt
  ZariskiFrames/doc/chap13_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

improved DisplayString for IsObjectInCategoryOfFpMatrixAlgebras
  Algebroids/PackageInfo.g
  Algebroids/examples/doc/CategoryOfFpMatrixAlgebras.g
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gi
Due: Algebroids

AddDirectProduct to CategoryOfFpMatrixAlgebras
  Algebroids/PackageInfo.g
  Algebroids/examples/doc/CategoryOfFpMatrixAlgebras.g
  Algebroids/gap/CategoryOfFpAlgebras.gi
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gi
  Algebroids/tst/CategoryOfFpAlgebras.tst
  Algebroids/tst/CategoryOfFpMatrixAlgebras.tst
Due: Algebroids

Update website for Algebroids 2025.07-11
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap11.html
  Algebroids/doc/chap11.txt
  Algebroids/doc/chap11_mj.html
  _data/Algebroids.yml
Due: Algebroids

test UniversalMorphismFromCoequalizerWithGivenCoequalizer in CategoryOfFpAlgebras
  Algebroids/examples/doc/CategoryOfFpAlgebras.g
  Algebroids/tst/CategoryOfFpAlgebras.tst
Due: Algebroids

d&i Counit/Comultiplication for IsObjectInCategoryOfFpMatrixAlgebras
  Algebroids/PackageInfo.g
  Algebroids/examples/doc/CategoryOfFpMatrixAlgebras.g
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gi
Due: Algebroids

improved AddIsWellDefinedForMorphisms in CategoryOfFpMatrixAlgebras
  Algebroids/PackageInfo.g
  Algebroids/examples/doc/CategoryOfFpMatrixAlgebras.g
  Algebroids/gap/CategoryOfFpAlgebras.gi
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gd
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gi
Due: Algebroids

Update website for Algebroids 2025.07-12
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap10.html
  Algebroids/doc/chap10.txt
  Algebroids/doc/chap10_mj.html
  Algebroids/doc/chap11.html
  Algebroids/doc/chap11.txt
  Algebroids/doc/chap11_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for Algebroids 2025.07-13
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap11.html
  Algebroids/doc/chap11.txt
  Algebroids/doc/chap11_mj.html
  Algebroids/doc/chapInd.html
  Algebroids/doc/chapInd.txt
  Algebroids/doc/chapInd_mj.html
  _data/Algebroids.yml
Due: Algebroids
