Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

Update website for FiniteCocompletion 2023.04-03
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  FiniteCocompletion/doc/chap1.html
  FiniteCocompletion/doc/chap1.txt
  FiniteCocompletion/doc/chap1_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

Update website for FunctorCategories 2023.04-05
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for FunctorCategories 2023.04-06
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap11.html
  FunctorCategories/doc/chap11.txt
  FunctorCategories/doc/chap11_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for PreSheaves 2023.04-02
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for Toposes 2023.04-03
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  Toposes/doc/chap1.html
  Toposes/doc/chap1.txt
  Toposes/doc/chap1_mj.html
  Toposes/doc/chapInd.html
  Toposes/doc/chapInd.txt
  Toposes/doc/chapInd_mj.html
  _data/Toposes.yml
Due: Toposes

fixed examples/FinBouquetsAsFiniteColimitCocompletion.g
  FiniteCocompletion/examples/FinBouquetsAsFiniteColimitCocompletion.g
Due: FiniteCocompletion

fixed documentation
  FiniteCocompletion/doc/Doc.autodoc
  FiniteCocompletion/gap/FiniteCoequalizerClosureOfCocartesianCategory.gd
Due: FiniteCocompletion

renamed FiniteCoequalizerClosureOfCocartesianCategory -> PairOfParallelArrowsCategory
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/Doc.autodoc
  FiniteCocompletion/examples/FinBouquetsAsFiniteColimitCocompletion.g
  FiniteCocompletion/gap/FiniteColimitCocompletionWithStrictCoproducts.gi
  FiniteCocompletion/gap/PairOfParallelArrowsCategory.gd
  FiniteCocompletion/gap/PairOfParallelArrowsCategory.gi
  FiniteCocompletion/init.g
  FiniteCocompletion/read.g
Due: FiniteCocompletion

renamed FiniteColimitCocompletionWithStrictCoproducts -> CategoryOfColimitQuivers
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/Doc.autodoc
  FiniteCocompletion/examples/FinBouquetsAsFiniteColimitCocompletion.g
  FiniteCocompletion/examples/FinReflexiveQuiversAsFiniteColimitCocompletion.g
  FiniteCocompletion/gap/CategoryOfColimitQuivers.gd
  FiniteCocompletion/gap/CategoryOfColimitQuivers.gi
  FiniteCocompletion/init.g
  FiniteCocompletion/read.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/HomStructure.gi
  FunctorCategories/gap/PreSheaves.gi
Due: FiniteCocompletion, FunctorCategories

Update website for FiniteCocompletion 2023.04-05
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  FiniteCocompletion/doc/chap1.html
  FiniteCocompletion/doc/chap1_mj.html
  FiniteCocompletion/doc/chap2.html
  FiniteCocompletion/doc/chap2_mj.html
  FiniteCocompletion/doc/chap3.html
  FiniteCocompletion/doc/chap3_mj.html
  FiniteCocompletion/doc/chap4.html
  FiniteCocompletion/doc/chap4.txt
  FiniteCocompletion/doc/chap4_mj.html
  FiniteCocompletion/doc/chap5.html
  FiniteCocompletion/doc/chap5.txt
  FiniteCocompletion/doc/chap5_mj.html
  FiniteCocompletion/doc/chap6.html
  FiniteCocompletion/doc/chap6.txt
  FiniteCocompletion/doc/chap6_mj.html
  FiniteCocompletion/doc/chap7.html
  FiniteCocompletion/doc/chap7.txt
  FiniteCocompletion/doc/chap7_mj.html
  FiniteCocompletion/doc/chap8.html
  FiniteCocompletion/doc/chap8.txt
  FiniteCocompletion/doc/chap8_mj.html
  FiniteCocompletion/doc/chapInd.html
  FiniteCocompletion/doc/chapInd.txt
  FiniteCocompletion/doc/chapInd_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

Update website for FunctorCategories 2023.04-07
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

added missing examples/PowerObjectFunctorial.g
  Toposes/PackageInfo.g
  Toposes/examples/PowerObjectFunctorial.g
  Toposes/gap/Topos.gd
Due: Toposes

Update website for Toposes 2023.04-04
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  Toposes/doc/chap1.html
  Toposes/doc/chap1.txt
  Toposes/doc/chap1_mj.html
  _data/Toposes.yml
Due: Toposes

installed \. for IsObject/MorphismInPairOfParallelArrowsCategory
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/gap/PairOfParallelArrowsCategory.gi
Due: FiniteCocompletion

added convenience methods for Limit/Colimit
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/gap/Tools.gi
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/examples/FinReflexiveQuiversAsFiniteColimitCocompletion.g
Due: CategoryConstructor, FiniteCocompletion

Update website for CategoryConstructor 2023.04-02
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/doc/chap0.html
  CategoryConstructor/doc/chap0.txt
  CategoryConstructor/doc/chap0_mj.html
  _data/CategoryConstructor.yml
Due: CategoryConstructor

Update website for FiniteCocompletion 2023.04-07
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  FiniteCocompletion/doc/chap5.html
  FiniteCocompletion/doc/chap5.txt
  FiniteCocompletion/doc/chap5_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

Avoid `Print` in example
  Algebroids/examples/AlgebroidFromDataTables.g
Due: Algebroids

Avoid two instances of AddIsCongruentForMorphisms which are covered by derivations
  DiscreteCategories/gap/DiscreteCategory.gi
  Locales/gap/IntervalCategory.gi
Due: Locales

Dualize a derivation of `PreCompose`
  Locales/gap/ProsetDerivedMethods.gi
Due: Locales

Bump versions
  Algebroids/PackageInfo.g
  DiscreteCategories/PackageInfo.g
  FiniteCocompletion/PackageInfo.g
  FunctorCategories/PackageInfo.g
  Locales/PackageInfo.g
Due: Algebroids, FiniteCocompletion, FunctorCategories, Locales

Make UniqueMorphism really cheap
  Locales/tst/TerminalCategoryTopos.tst
Due: Locales

Use `cat!.precompiled_functions_added;` for testing for precompiled code
  FiniteCocompletion/examples/PrecompileSkeletalFinSets.g
  FunctorCategories/examples/PrecompileFinBouquets.g
  FunctorCategories/examples/PrecompileFinQuivers.g
  FunctorCategories/examples/PrecompileFinReflexiveQuivers.g
  FunctorCategories/examples/PrecompilePreSheavesOfAlgebroidInCategoryOfRows.g
  FunctorCategories/examples/PrecompilePreSheavesOfCategoryFromDataTablesInSkeletalFinSets.g
  FunctorCategories/examples/PrecompilePreSheavesOfCategoryFromDataTablesInSkeletalFinSetsSubobjectClassifier.g
  FunctorCategories/examples/PrecompilePreSheavesOfFpCategoryInSkeletalFinSets.g
  FunctorCategories/examples/PrecompilePreSheavesOfFpCategoryInSkeletalFinSetsSubobjectClassifier.g
Due: FiniteCocompletion, FunctorCategories

Update website for Algebroids 2023.04-04
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap9.html
  Algebroids/doc/chap9.txt
  Algebroids/doc/chap9_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for DiscreteCategories 2023.04-01
  DiscreteCategories/PackageInfo.g
  DiscreteCategories/doc/chap0.html
  DiscreteCategories/doc/chap0.txt
  DiscreteCategories/doc/chap0_mj.html
  _data/DiscreteCategories.yml
Due: none

Update website for FiniteCocompletion 2023.04-08
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  FiniteCocompletion/doc/chap6.html
  FiniteCocompletion/doc/chap6.txt
  FiniteCocompletion/doc/chap6_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

Update website for FunctorCategories 2023.04-08
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap15.html
  FunctorCategories/doc/chap15.txt
  FunctorCategories/doc/chap15_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Locales 2023.04-02
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Do not fall back to create_func_morphism for "morphism_or_fail"
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/gap/CategoryConstructor.gi
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/examples/PresentationWithDegrees.g
  IntrinsicGradedModules/gap/FpGradedModulesByFreyd.autogen.gd
Due: CategoryConstructor, IntrinsicGradedModules

Update website for CategoryConstructor 2023.05-01
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/doc/chap0.html
  CategoryConstructor/doc/chap0.txt
  CategoryConstructor/doc/chap0_mj.html
  _data/CategoryConstructor.yml
Due: CategoryConstructor

Update website for IntrinsicGradedModules 2023.05-01
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/doc/chap0.html
  IntrinsicGradedModules/doc/chap0.txt
  IntrinsicGradedModules/doc/chap0_mj.html
  IntrinsicGradedModules/doc/chap1.html
  IntrinsicGradedModules/doc/chap1.txt
  IntrinsicGradedModules/doc/chap1_mj.html
  _data/IntrinsicGradedModules.yml
Due: IntrinsicGradedModules

Adjust to https://github.com/homalg-project/CAP_project/pull/1313
  Algebroids/PackageInfo.g
  Algebroids/examples/PrecompileAdditiveClosureOfAlgebroid.g
  Algebroids/gap/precompiled_categories/AdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverFieldPrecompiled.gi
  Algebroids/gap/precompiled_categories/AdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverZPrecompiled.gi
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/gap/Tools.gd
  CategoryConstructor/gap/ToolsMethodRecord.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfAlgebroidWithRelationsInCategoryOfRowsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFreeAlgebroidInCategoryOfRowsPrecompiled.gi
  GradedCategories/PackageInfo.g
  GradedCategories/gap/PositivelyZGradedCategory.gi
  InternalModules/PackageInfo.g
  InternalModules/examples/SymmetricAlgebraInternalToS4rep.g
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS1rep.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS4rep.ipynb
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/examples/PresentationWithDegrees.g
  IntrinsicGradedModules/gap/FpGradedModulesByFreyd.autogen.gd
  IntrinsicGradedModules/gap/FpGradedModulesByFreyd.gi
  PreSheaves/PackageInfo.g
  PreSheaves/gap/PreSheaves.gi
Due: Algebroids, CategoryConstructor, FunctorCategories, GradedCategories, IntrinsicGradedModules, PreSheaves

d&i ExtendYonedaEmbeddingToFiniteStrictCoproductCocompletion
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/gap/FiniteStrictCoproductCocompletion.gd
  FiniteCocompletion/gap/FiniteStrictCoproductCocompletion.gi
Due: FiniteCocompletion

renamed local variables
  FiniteCocompletion/gap/PairOfParallelArrowsCategory.gi
Due: FiniteCocompletion

improved code of CoequalizerDataOfPreSheaf
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

fix in docu
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/gap/FiniteStrictCoproductCocompletion.gd
Due: FiniteCocompletion

relocated code
  FunctorCategories/gap/HomStructure.gd
  FunctorCategories/gap/HomStructure.gi
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

renamed CoequalizerDataOfPreSheaf -> CoYonedaLemmaCoequalizerDataOfPreSheaf
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/HomStructure.gd
  FunctorCategories/gap/HomStructure.gi
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

improved CoveringListOfRepresentables by sorting output
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
