Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

Move data-table and iso methods to Algebroids.gi/gd
  Algebroids/gap/AlgebroidFromDataTables.gd
  Algebroids/gap/AlgebroidFromDataTables.gi
  Algebroids/gap/Algebroids.gd
  Algebroids/gap/Algebroids.gi
Due: Algebroids

Update website for CatReps 2025.10-01
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2025.10-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap10.html
  FiniteCocompletions/doc/chap10.txt
  FiniteCocompletions/doc/chap10_mj.html
  FiniteCocompletions/doc/chap13.html
  FiniteCocompletions/doc/chap13.txt
  FiniteCocompletions/doc/chap13_mj.html
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2.txt
  FiniteCocompletions/doc/chap2_mj.html
  FiniteCocompletions/doc/chap6.html
  FiniteCocompletions/doc/chap6.txt
  FiniteCocompletions/doc/chap6_mj.html
  FiniteCocompletions/doc/chap7.html
  FiniteCocompletions/doc/chap7.txt
  FiniteCocompletions/doc/chap7_mj.html
  FiniteCocompletions/doc/chap8.html
  FiniteCocompletions/doc/chap8.txt
  FiniteCocompletions/doc/chap8_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2025.10-01
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2025.10-01
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for LazyCategories 2025.10-01
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2025.10-01
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for ToolsForCategoricalTowers 2025.10-01
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for ZariskiFrames 2025.10-01
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

Extract a new package FpLinearCategories from Algebroids
  Algebroids/PackageInfo.g
  Algebroids/doc/Doc.autodoc
  Algebroids/examples/AlgebroidsFromDataTables.g
  Algebroids/examples/PrecompileAdditiveClosureOfAlgebroid.g
  Algebroids/gap/Algebroids.gd
  Algebroids/gap/Tools.gi
  Algebroids/init.g
  Algebroids/read.g
  FpLinearCategories/.gitignore
  FpLinearCategories/LICENSE
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/README.md
  FpLinearCategories/doc/Doc.autodoc
  FpLinearCategories/doc/clean
  FpLinearCategories/examples/AlgebroidFromDataTables.g
  FpLinearCategories/examples/GroebnerBasisInLinearClosureOfPathCategory.g
  FpLinearCategories/examples/PrecompileAdditiveClosureOfAlgebroidFromDataTables.g
  FpLinearCategories/examples/QuotientCategoryOfLinearClosureOfPathCategory.g
  FpLinearCategories/examples/a^2-1_b^3-1_abababbabb^2-1.g
  FpLinearCategories/gap/AlgebroidFromDataTables.gd
  FpLinearCategories/gap/AlgebroidFromDataTables.gi
  FpLinearCategories/gap/CompilerLogic.gi
  FpLinearCategories/gap/GroebnerBasesForLinearClosuresOfPathCategories.gi
  FpLinearCategories/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gd
  FpLinearCategories/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
  FpLinearCategories/gap/QuotientsOfAlgebroidsFromDataTables.gi
  FpLinearCategories/gap/QuotientsOfLinearClosuresOfPathCategories.gi
  FpLinearCategories/gap/Tools.gi
  FpLinearCategories/gap/precompiled_categories/AdditiveClosureOfAlgebroidFromDataTablesPrecompiled.gi
  FpLinearCategories/init.g
  FpLinearCategories/makedoc.g
  FpLinearCategories/makedoc_with_overfull_hbox_warnings.g
  FpLinearCategories/makefile
  FpLinearCategories/read.g
  FpLinearCategories/tst/100_LoadPackage.tst
  FpLinearCategories/tst/testall.g
  FpLinearCategories/tst/testall_no_precompiled_code.g
Due: Algebroids

added FpLinearCategories
  FpLinearCategories/_data/package.yml
  FpLinearCategories/badge_date.json
  FpLinearCategories/badge_version.json
  FpLinearCategories/download_pdf.html
  FpLinearCategories/view_release.html
Due: none

new package FpLinearCategories
  FpLinearCategories/_data/package.yml
  FpLinearCategories/badge_date.json
  FpLinearCategories/badge_version.json
  FpLinearCategories/download_pdf.html
  FpLinearCategories/view_release.html
Due: none

Integrate FpLinearCategories across tooling
  README.md
  dev/codecov.yml
  dev/make_dist.sh
  dev/simulate_dist.sh
  dev/upload_codecov.sh
  makefile
Due: none

update examples in FpCategories
  FpCategories/PackageInfo.g
  FpCategories/examples/CategoryFromNerveData.g
  FpCategories/examples/CategoryOfInternalCategories.g
  FpCategories/examples/Delta2.g
  FpCategories/examples/FinQuiver.g
  FpCategories/examples/LinearClosureOfPathCategory.g
  FpCategories/examples/NerveTruncatedInDegree2AsFunctor.g
  FpCategories/examples/PathCategory.g
  FpCategories/examples/PrecompileCategoryFromNerveData.g
  FpCategories/examples/PrecompileCategoryFromNerveDataHomStructureOnMorphisms.g
  FpCategories/examples/QuiverStringOfDigraph.g
  FpCategories/examples/YonedaCompositionAsNaturalEpimorphism.g
  FpCategories/gap/QuotientsOfPathCategories.gi
Due: none

Replace direct calls with CallFuncListAtRuntime to avoid world-age
  FpCategories/gap/CategoryFromNerveData.gi
  FpCategories/gap/QuotientsOfPathCategories.gi
  FpCategories/gap/SimplicialCategory.gi
Due: none

Implement string-based '/' accessors in FpLinearCategories
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/gap/AlgebroidFromDataTables.gi
  FpLinearCategories/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
Due: none

Refactor RandomFinQuiver args and sort behavior
  FpCategories/gap/Quivers.gi
Due: none

Use FunctionWithNamedArguments in PathCategory constructor
  FpCategories/gap/PathCategories.gi
Due: none

FinQuiver: named args, colors, String methods
  FpCategories/gap/Quivers.gi
Due: none

Use BigInt for indices and lengths where needed
  FpCategories/gap/CategoryFromNerveData.gi
  FpCategories/gap/GroebnerBasesForPathCategories.gi
  FpCategories/gap/PathCategories.gd
  FpCategories/gap/PathCategories.gi
  FpCategories/gap/Tools.gi
  FpCategories/gap/precompiled_categories/CategoryFromNerveDataPrecompiled.gi
Due: none

Further adjustments in FpCategories to transpile to Julia
  FpCategories/gap/CategoryFromNerveData.gi
  FpCategories/gap/GroebnerBasesForPathCategories.gd
  FpCategories/gap/GroebnerBasesForPathCategories.gi
  FpCategories/gap/PathCategories.gd
  FpCategories/gap/PathCategories.gi
  FpCategories/gap/QuotientsOfPathCategories.gd
  FpCategories/gap/QuotientsOfPathCategories.gi
  FpCategories/gap/Tools.gd
  FpCategories/gap/Tools.gi
  FpCategories/init.g
  FpCategories/read.g
Due: none

Improve quiver string parsing and ranges
  FpCategories/gap/Quivers.gi
Due: none

Replace NerveTruncatedInDegree2Data with NerveData
  FpCategories/gap/CategoryFromNerveData.gi
Due: none

Use '/' for string-based label lookup
  FpCategories/gap/CategoryFromNerveData.gi
  FpCategories/gap/PathCategories.gi
  FpCategories/gap/Quivers.gd
  FpCategories/gap/Quivers.gi
Due: none

Remove IsCellInCategoryFromNerveData
  FpCategories/gap/CategoryFromNerveData.gd
Due: none

Update website for Algebroids 2025.10-01
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap13.html
  Algebroids/doc/chap13.txt
  Algebroids/doc/chap13_mj.html
  Algebroids/doc/chap5.html
  Algebroids/doc/chap5.txt
  Algebroids/doc/chap5_mj.html
  Algebroids/doc/chap6.html
  Algebroids/doc/chap6.txt
  Algebroids/doc/chap6_mj.html
  Algebroids/doc/chap9.html
  Algebroids/doc/chap9.txt
  Algebroids/doc/chap9_mj.html
  Algebroids/doc/chapInd.html
  Algebroids/doc/chapInd.txt
  Algebroids/doc/chapInd_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FpLinearCategories 2025.10-01
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/README.md
  FpLinearCategories/doc/chap0.html
  FpLinearCategories/doc/chap0.txt
  FpLinearCategories/doc/chap0_mj.html
  FpLinearCategories/doc/chap1.html
  FpLinearCategories/doc/chap1.txt
  FpLinearCategories/doc/chap1_mj.html
  FpLinearCategories/doc/chap2.html
  FpLinearCategories/doc/chap2.txt
  FpLinearCategories/doc/chap2_mj.html
  FpLinearCategories/doc/chap3.html
  FpLinearCategories/doc/chap3.txt
  FpLinearCategories/doc/chap3_mj.html
  FpLinearCategories/doc/chapInd.html
  FpLinearCategories/doc/chapInd.txt
  FpLinearCategories/doc/chapInd_mj.html
  FpLinearCategories/doc/chooser.html
  FpLinearCategories/doc/lefttoc.css
  FpLinearCategories/doc/manual.css
  FpLinearCategories/doc/manual.js
  FpLinearCategories/doc/nocolorprompt.css
  FpLinearCategories/doc/ragged.css
  FpLinearCategories/doc/rainbow.js
  FpLinearCategories/doc/times.css
  FpLinearCategories/doc/toggless.css
  FpLinearCategories/doc/toggless.js
  _data/FpLinearCategories.yml
Due: none

Use '/' for string-based label lookup in
  FpCategories/PackageInfo.g
  FpCategories/gap/CategoryFromNerveData.gi
  FpCategories/gap/PathCategories.gi
  FpCategories/gap/Quivers.gi
Due: none

Add named args and string overload for FinQuiver
  FpCategories/PackageInfo.g
  FpCategories/gap/Quivers.gi
Due: none

Add INSTALL_DOT_METHOD for dot fallback
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/gap/Tools.gd
  ToolsForCategoricalTowers/gap/Tools.gi
Due: none

Turn RandomFinQuiver into an operation
  FpCategories/PackageInfo.g
  FpCategories/gap/Quivers.gd
  FpCategories/gap/Quivers.gi
Due: none

Add named args to PathCategories and SimplicialCategoryTruncatedInDegree
  FpCategories/PackageInfo.g
  FpCategories/gap/PathCategories.gi
  FpCategories/gap/SimplicialCategory.gi
Due: none
