Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

Update website for FunctorCategories 2023.08-24
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

comment unused CapJitAddTypeSignature
  Algebroids/gap/Algebroids.gd
Due: Algebroids

simplified CapJitAddTypeSignature
  Algebroids/PackageInfo.g
  Algebroids/examples/PrecompileAdditiveClosureOfAlgebroid.g
  Algebroids/examples/PrecompileAdditiveClosureOfAlgebroidFromDataTables.g
  Algebroids/examples/PrecompileAdelmanCategoryOfAdditiveClosureOfAlgebroid.g
  Algebroids/gap/AlgebroidFromDataTables.gd
  Algebroids/gap/Algebroids.gd
  Algebroids/gap/CategoryFromDataTables.gd
  Algebroids/gap/CategoryFromNerveData.gd
  Algebroids/gap/FpCategories.gd
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gd
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gi
  FiniteCocompletions/gap/FiniteStrictCoproductCocompletion.gd
  FiniteCocompletions/gap/FiniteStrictCoproductCocompletion.gi
  FiniteCocompletions/gap/FiniteStrictProductCompletion.gd
  FiniteCocompletions/gap/FiniteStrictProductCompletion.gi
  FiniteCocompletions/gap/SkeletalFinSets.gd
  FiniteCocompletions/gap/SkeletalFinSets.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CategoryOfBouquets.gd
  FunctorCategories/gap/CategoryOfBouquets.gi
  FunctorCategories/gap/CategoryOfDecoratedQuivers.gd
  FunctorCategories/gap/CategoryOfDecoratedQuivers.gi
  FunctorCategories/gap/CategoryOfQuivers.gd
  FunctorCategories/gap/CategoryOfQuivers.gi
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gd
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gi
  Toposes/PackageInfo.g
  Toposes/gap/Tools.gd
Due: Algebroids, FunctorCategories, Toposes

Update website for Algebroids 2023.08-05
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap9.html
  Algebroids/doc/chap9.txt
  Algebroids/doc/chap9_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FiniteCocompletions 2023.08-16
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2023.08-25
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Toposes 2023.08-06
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

got rid of Objectify*ForCAPWithAttributes
  IntrinsicCategories/PackageInfo.g
  IntrinsicCategories/gap/IntrinsicCategories.gi
Due: IntrinsicCategories

comply with CAP v2023.08-16
  Algebroids/PackageInfo.g
  Algebroids/gap/AlgebroidFromDataTables.gi
  Algebroids/gap/CategoryFromNerveData.gi
  Algebroids/gap/FpCategories.gi
  Toposes/PackageInfo.g
  Toposes/examples/precompile_derivations_pushout_complement.g
  Toposes/gap/ToposDerivedMethods.gi
Due: Algebroids, Toposes

Update website for IntrinsicCategories 2023.08-01
  IntrinsicCategories/PackageInfo.g
  IntrinsicCategories/doc/chap0.html
  IntrinsicCategories/doc/chap0.txt
  IntrinsicCategories/doc/chap0_mj.html
  _data/IntrinsicCategories.yml
Due: IntrinsicCategories

comment out unused CapJitAddTypeSignature
  PreSheaves/PackageInfo.g
  PreSheaves/gap/PreSheaves.gd
Due: PreSheaves

call Coequalizer with two arguments
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/FinReflexiveQuiversAsFiniteColimitCocompletion.g
Due: none

Update website for Algebroids 2023.08-06
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FiniteCocompletions 2023.08-17
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap5.html
  FiniteCocompletions/doc/chap5.txt
  FiniteCocompletions/doc/chap5_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for PreSheaves 2023.08-05
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for Toposes 2023.08-07
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

switched to Julia 1.9.3
  CatReps/PackageInfo.g
  CatReps/examples/notebooks/CategoryOfRepresentations.ipynb
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/notebooks/CartesianBraiding.ipynb
  FiniteCocompletions/examples/notebooks/CartesianDiagonal.ipynb
  FiniteCocompletions/examples/notebooks/ReflexivePair.ipynb
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/DPO_Quivers.ipynb
  FunctorCategories/examples/notebooks/DecoratedFinQuivers.ipynb
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/FunctorCategories.ipynb
  FunctorCategories/examples/notebooks/ImageOfPullback_in_AbelianClosure_using_Adelman.ipynb
  FunctorCategories/examples/notebooks/ImageOfPullback_in_AbelianClosure_using_Freyd.ipynb
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  FunctorCategories/examples/notebooks/PairVsReflexivePair.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPushouts.ipynb
  FunctorCategories/examples/notebooks/ReflexiveCoequalizer.ipynb
  FunctorCategories/examples/notebooks/SnakeInFreeAbelian.ipynb
  FunctorCategories/examples/notebooks/svg/PastingLawForPullbacks_svg.ipynb
  FunctorCategories/examples/notebooks/svg/SnakeInFreeAbelian_svg.ipynb
  InternalModules/PackageInfo.g
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS1rep.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS4rep.ipynb
  LazyCategories/PackageInfo.g
  LazyCategories/examples/notebooks/SnakeInAbelian.ipynb
  LazyCategories/examples/notebooks/SnakeInFreeAbelian.ipynb
  Locales/PackageInfo.g
  Locales/examples/julia/notebooks/IdealQuotient.ipynb
  Locales/examples/julia/notebooks/IdealQuotient2.ipynb
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/examples/julia/notebooks/CavenderFarrisNeyman_reduced.ipynb
  ZariskiFrames/examples/julia/notebooks/Example.ipynb
  ZariskiFrames/examples/julia/notebooks/Graph.ipynb
  ZariskiFrames/examples/julia/notebooks/Hyperbola.ipynb
  ZariskiFrames/examples/julia/notebooks/Hyperbola_in_3d.ipynb
  ZariskiFrames/examples/julia/notebooks/Jordan.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,3)_0dim.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,4)_0dim.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,5)_0dim.ipynb
Due: CatReps, FunctorCategories, LazyCategories, Locales, ZariskiFrames

renamed *PositivelyZGradedCategory -> *PositivelyZGradedClosureCategory
  GradedCategories/PackageInfo.g
  GradedCategories/gap/PositivelyZGradedClosureCategory.gd
  GradedCategories/gap/PositivelyZGradedClosureCategory.gi
  GradedCategories/init.g
  GradedCategories/read.g
  InternalModules/PackageInfo.g
  InternalModules/examples/F2vecInternalSymmetricAlgebraModules.g
  InternalModules/examples/QvecInternalSymmetricAlgebraModules.g
  InternalModules/examples/RepS4InternalSymmetricAlgebraModules.g
  InternalModules/examples/SymmetricAlgebraInternalToS4rep.g
  InternalModules/examples/ZRepS4InternalSymmetricAlgebraModules.g
  InternalModules/examples/julia/SymmetricAlgebraInternalToS4rep.jl
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS1rep.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS4rep.ipynb
  InternalModules/gap/AlgebraElements.gd
  InternalModules/gap/AlgebraElements.gi
  InternalModules/gap/InternalModules.gi
  InternalModules/gap/SymmetricAlgebra.gd
  InternalModules/gap/SymmetricAlgebra.gi
Due: GradedCategories

d&i PreSheavesWithBounds
  PreSheaves/PackageInfo.g
  PreSheaves/examples/PreSheavesOfSkeletalFinSets.g
  PreSheaves/examples/TerminalCategory.g
  PreSheaves/gap/PreSheavesWithBounds.gd
  PreSheaves/gap/PreSheavesWithBounds.gi
  PreSheaves/init.g
  PreSheaves/read.g
Due: PreSheaves

d&i ZGradedClosureCategoryWithBounds
  GradedCategories/PackageInfo.g
  GradedCategories/doc/Doc.autodoc
  GradedCategories/examples/.gitkeep
  GradedCategories/examples/FinitelyZGradedClosureCategory.g
  GradedCategories/gap/FinitelyZGradedClosureCategory.gd
  GradedCategories/gap/FinitelyZGradedClosureCategory.gi
  GradedCategories/gap/MonoidalStructure.gd
  GradedCategories/gap/MonoidalStructure.gi
  GradedCategories/gap/NegativelyZGradedClosureCategory.gd
  GradedCategories/gap/NegativelyZGradedClosureCategory.gi
  GradedCategories/gap/PositivelyZGradedClosureCategory.gd
  GradedCategories/gap/ZGradedClosureCategoryWithBounds.gd
  GradedCategories/gap/ZGradedClosureCategoryWithBounds.gi
  GradedCategories/init.g
  GradedCategories/read.g
  InternalModules/PackageInfo.g
  InternalModules/examples/F2vecInternalSymmetricAlgebraModules.g
  InternalModules/examples/QvecInternalSymmetricAlgebraModules.g
  InternalModules/examples/RepS4InternalSymmetricAlgebraModules.g
  InternalModules/examples/SymmetricAlgebraInternalToS4rep.g
  InternalModules/examples/ZRepS4InternalSymmetricAlgebraModules.g
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS1rep.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS4rep.ipynb
  InternalModules/gap/AlgebraElements.gd
  InternalModules/gap/AlgebraElements.gi
  InternalModules/gap/InternalModules.gi
  InternalModules/gap/SymmetricAlgebra.gi
Due: GradedCategories

updated InternalModules/doc/Doc.autodoc
  InternalModules/doc/Doc.autodoc
Due: none

whitespace
  Algebroids/gap/AlgebroidFromDataTables.gi
Due: Algebroids

category_as_first_argument now defaults to true in CAP v2023.08-18
  Algebroids/PackageInfo.g
  Algebroids/gap/AlgebroidFromDataTables.gi
  Algebroids/gap/Algebroids.gi
  Algebroids/gap/CategoryFromDataTables.gi
  Algebroids/gap/CategoryFromNerveData.gi
  Algebroids/gap/CategoryOfAlgebroids.gi
  Algebroids/gap/FpCategories.gi
  Algebroids/gap/QuiverRows.gi
  CategoriesWithAmbientObjects/PackageInfo.g
  CategoriesWithAmbientObjects/gap/CategoriesWithAmbientObjects.gi
  ExteriorPowersCategories/PackageInfo.g
  ExteriorPowersCategories/gap/ExteriorPowersCategory.gi
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/FiniteStrictCoproductCocompletion.gi
  Locales/PackageInfo.g
  Locales/gap/ConstructibleObjectsAsUnionOfMultipleDifferences.gi
  Locales/gap/ConstructibleObjectsAsUnionOfSingleDifferences.gi
  Locales/gap/IntervalCategory.gi
  Locales/gap/MultipleDifferences.gi
  Locales/gap/ProsetAsCategory.gi
  Locales/gap/SingleDifferences.gi
  Toposes/PackageInfo.g
  Toposes/gap/CategoryOfRelations.gi
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/gap/AffineClosed.gi
  ZariskiFrames/gap/AffineOpen.gi
  ZariskiFrames/gap/ProjectiveClosed.gi
  ZariskiFrames/gap/ProjectiveOpen.gi
Due: Algebroids, CategoriesWithAmbientObjects, ExteriorPowersCategories, Locales, Toposes, ZariskiFrames

Update website for CatReps 2023.08-04
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2023.08-18
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2023.08-26
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for GradedCategories 2023.08-02
  GradedCategories/PackageInfo.g
  GradedCategories/doc/chap0.html
  GradedCategories/doc/chap0.txt
  GradedCategories/doc/chap0_mj.html
  GradedCategories/doc/chap1.html
  GradedCategories/doc/chap1.txt
  GradedCategories/doc/chap1_mj.html
  GradedCategories/doc/chap2.html
  GradedCategories/doc/chap2.txt
  GradedCategories/doc/chap2_mj.html
  GradedCategories/doc/chap3.html
  GradedCategories/doc/chap3.txt
  GradedCategories/doc/chap3_mj.html
  GradedCategories/doc/chap4.html
  GradedCategories/doc/chap4.txt
  GradedCategories/doc/chap4_mj.html
  GradedCategories/doc/chapInd.html
  GradedCategories/doc/chapInd.txt
  GradedCategories/doc/chapInd_mj.html
  _data/GradedCategories.yml
Due: GradedCategories

Update website for InternalModules 2023.08-04
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  InternalModules/doc/chap1.html
  InternalModules/doc/chap1.txt
  InternalModules/doc/chap1_mj.html
  InternalModules/doc/chap2.html
  InternalModules/doc/chap2.txt
  InternalModules/doc/chap2_mj.html
  InternalModules/doc/chap3.html
  InternalModules/doc/chap3.txt
  InternalModules/doc/chap3_mj.html
  InternalModules/doc/chap4.html
  InternalModules/doc/chap4.txt
  InternalModules/doc/chap4_mj.html
  InternalModules/doc/chap5.html
  InternalModules/doc/chap5.txt
  InternalModules/doc/chap5_mj.html
  InternalModules/doc/chap6.html
  InternalModules/doc/chap6.txt
  InternalModules/doc/chap6_mj.html
  InternalModules/doc/chapInd.html
  InternalModules/doc/chapInd.txt
  InternalModules/doc/chapInd_mj.html
  _data/InternalModules.yml
Due: none

Update website for LazyCategories 2023.08-02
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2023.08-05
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for PreSheaves 2023.08-06
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  PreSheaves/doc/chap2.html
  PreSheaves/doc/chap2.txt
  PreSheaves/doc/chap2_mj.html
  PreSheaves/doc/chapInd.html
  PreSheaves/doc/chapInd.txt
  PreSheaves/doc/chapInd_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for ZariskiFrames 2023.08-01
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

do not load ComplexesCategories during testing
  FunctorCategories/PackageInfo.g
  FunctorCategories/tst/100_LoadPackage.tst
Due: FunctorCategories

refactored InternalModules and started supporting ExteriorAlgebra
  InternalModules/PackageInfo.g
  InternalModules/doc/Doc.autodoc
  InternalModules/examples/QvecInternalExteriorAlgebraModules.g
  InternalModules/gap/EModules.gd
  InternalModules/gap/EModules.gi
  InternalModules/gap/ExteriorAlgebra.gd
  InternalModules/gap/ExteriorAlgebra.gi
  InternalModules/gap/ExteriorOrSymmetricAlgebra.gd
  InternalModules/gap/ExteriorOrSymmetricAlgebra.gi
  InternalModules/gap/SymmetricAlgebra.gd
  InternalModules/gap/SymmetricAlgebra.gi
  InternalModules/init.g
  InternalModules/makefile
  InternalModules/read.g
Due: none

Update website for Algebroids 2023.08-07
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for CategoriesWithAmbientObjects 2023.08-02
  CategoriesWithAmbientObjects/PackageInfo.g
  CategoriesWithAmbientObjects/doc/chap0.html
  CategoriesWithAmbientObjects/doc/chap0.txt
  CategoriesWithAmbientObjects/doc/chap0_mj.html
  _data/CategoriesWithAmbientObjects.yml
Due: CategoriesWithAmbientObjects

Update website for ExteriorPowersCategories 2023.08-01
  ExteriorPowersCategories/PackageInfo.g
  ExteriorPowersCategories/doc/chap0.html
  ExteriorPowersCategories/doc/chap0.txt
  ExteriorPowersCategories/doc/chap0_mj.html
  _data/ExteriorPowersCategories.yml
Due: ExteriorPowersCategories

Update website for FiniteCocompletions 2023.08-19
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for Locales 2023.08-06
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for Toposes 2023.08-08
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes
