Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

comply with new version of LinearAlgebraForCAP and FreydCategoriesForCAP
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/precompiled_categories/PreSheavesOfAlgebroidFromDataTablesInCategoryOfRowsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfAlgebroidWithRelationsInCategoryOfRowsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFreeAlgebroidInCategoryOfRowsPrecompiled.gi
  InternalModules/PackageInfo.g
  InternalModules/examples/F2vecInternalSymmetricAlgebraModules.g
  InternalModules/examples/QvecInternalExteriorAlgebraModules.g
  InternalModules/examples/QvecInternalSymmetricAlgebraModules.g
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/examples/PrecompileSliceCategory.g
  SubcategoriesForCAP/gap/precompiled_categories/SliceCategoryOfCategoryOfRowsOfRingOfIntegersOverTensorUnitPrecompiled.gi
Due: FunctorCategories, SubcategoriesForCAP

Update website for FunctorCategories 2024.08-01
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2024.08-01
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  InternalModules/doc/chap1.html
  InternalModules/doc/chap1.txt
  InternalModules/doc/chap1_mj.html
  _data/InternalModules.yml
Due: none

Update website for SubcategoriesForCAP 2024.08-01
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  SubcategoriesForCAP/doc/chap4.html
  SubcategoriesForCAP/doc/chap4.txt
  SubcategoriesForCAP/doc/chap4_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

highlight beginning of sections
  Algebroids/gap/Tools.gd
Due: Algebroids

d&i Dimension for object-finite linear categories with free external Homs of finite rank
  Algebroids/PackageInfo.g
  Algebroids/examples/QuotientCategoryOfLinearClosureOfPathCategory.g
  Algebroids/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
  Algebroids/gap/Tools.gd
  Algebroids/gap/Tools.gi
Due: Algebroids

Update website for Algebroids 2024.08-01
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap10.html
  Algebroids/doc/chap10.txt
  Algebroids/doc/chap10_mj.html
  Algebroids/doc/chap11.html
  Algebroids/doc/chap11.txt
  Algebroids/doc/chap11_mj.html
  Algebroids/doc/chapInd.html
  Algebroids/doc/chapInd.txt
  Algebroids/doc/chapInd_mj.html
  _data/Algebroids.yml
Due: Algebroids

Avoid installing operations which would be overwritten by derivations
  Locales/PackageInfo.g
  Locales/gap/ProsetAsCategory.gi
Due: Locales

Update website for Locales 2024.08-01
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

sorted NeededOtherPackages in InternalModules/PackageInfo.g
  InternalModules/PackageInfo.g
Due: none

improved PreSheavesOfFpEnrichedCategory
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Update website for FunctorCategories 2024.08-02
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

comply with FreydCategoriesForCAP v2024.08-07
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFreeAlgebroidInCategoryOfRowsPrecompiled.gi
  Locales/PackageInfo.g
  Locales/examples/PrecompileStablePosetOfCategory.g
  Locales/gap/precompiled_categories/StablePosetOfCategoryOfPosetOfCategoryOfSliceCategoryOverTensorUnitOfCategoryOfRowsOfCommutativeRingPrecompiled.gi
Due: FunctorCategories, Locales

Update website for FunctorCategories 2024.08-03
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Locales 2024.08-02
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap15.html
  Locales/doc/chap15.txt
  Locales/doc/chap15_mj.html
  _data/Locales.yml
Due: Locales

resolves https://github.com/homalg-project/CategoricalTowers/issues/565
  Algebroids/PackageInfo.g
  Algebroids/gap/AlgebroidFromDataTables.gd
  Algebroids/gap/AlgebroidFromDataTables.gi
  Algebroids/gap/precompiled_categories/AdditiveClosureOfAlgebroidFromDataTablesPrecompiled.gi
Due: Algebroids

Update website for Algebroids 2024.08-02
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

relocated code
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
Due: none

Update website for FiniteCocompletions 2024.08-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Turn derivations of (Co)Equalizer into final derivation bundles
  FiniteCocompletions/examples/TerminalCategory_as_FiniteCoproductCompletion.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteProductCompletion.g
  FunctorCategories/examples/Dedekind2ndNumber.g
  FunctorCategories/examples/TerminalCategory.g
  Locales/examples/Dedekind1stNumber.g
  Locales/gap/ProsetDerivedMethods.gi
Due: FunctorCategories, Locales

Require existence of a relative lift in RelativeLift
  ToolsForCategoricalTowers/gap/Tools.gd
  ToolsForCategoricalTowers/gap/ToolsMethodRecord.gi
Due: none

Bump versions
  FiniteCocompletions/PackageInfo.g
  FunctorCategories/PackageInfo.g
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicModules/PackageInfo.g
  Locales/PackageInfo.g
  ToolsForCategoricalTowers/PackageInfo.g
Due: FunctorCategories, IntrinsicGradedModules, IntrinsicModules, Locales

Update website for FiniteCocompletions 2024.09-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2.txt
  FiniteCocompletions/doc/chap2_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2024.09-01
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap11.html
  FunctorCategories/doc/chap11.txt
  FunctorCategories/doc/chap11_mj.html
  FunctorCategories/doc/chap9.html
  FunctorCategories/doc/chap9.txt
  FunctorCategories/doc/chap9_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for IntrinsicGradedModules 2024.09-01
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/doc/chap0.html
  IntrinsicGradedModules/doc/chap0.txt
  IntrinsicGradedModules/doc/chap0_mj.html
  _data/IntrinsicGradedModules.yml
Due: IntrinsicGradedModules

Update website for IntrinsicModules 2024.09-01
  IntrinsicModules/PackageInfo.g
  IntrinsicModules/doc/chap0.html
  IntrinsicModules/doc/chap0.txt
  IntrinsicModules/doc/chap0_mj.html
  _data/IntrinsicModules.yml
Due: IntrinsicModules

Update website for Locales 2024.09-01
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap13.html
  Locales/doc/chap13.txt
  Locales/doc/chap13_mj.html
  _data/Locales.yml
Due: Locales

Update website for ToolsForCategoricalTowers 2024.09-01
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap2.html
  ToolsForCategoricalTowers/doc/chap2.txt
  ToolsForCategoricalTowers/doc/chap2_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for Algebroids 2024.09-01
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap3.html
  Algebroids/doc/chap3.txt
  Algebroids/doc/chap3_mj.html
  Algebroids/doc/chap4.html
  Algebroids/doc/chap4.txt
  Algebroids/doc/chap4_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for CatReps 2024.09-01
  CatReps/PackageInfo.g
  CatReps/README.md
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  CatReps/doc/chap1.html
  CatReps/doc/chap1.txt
  CatReps/doc/chap1_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2024.09-02
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2.txt
  FiniteCocompletions/doc/chap2_mj.html
  FiniteCocompletions/doc/chap3.html
  FiniteCocompletions/doc/chap3.txt
  FiniteCocompletions/doc/chap3_mj.html
  FiniteCocompletions/doc/chap4.html
  FiniteCocompletions/doc/chap4.txt
  FiniteCocompletions/doc/chap4_mj.html
  FiniteCocompletions/doc/chap8.html
  FiniteCocompletions/doc/chap8.txt
  FiniteCocompletions/doc/chap8_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FpCategories 2024.09-01
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap2.html
  FpCategories/doc/chap2.txt
  FpCategories/doc/chap2_mj.html
  _data/FpCategories.yml
Due: none

Update website for FunctorCategories 2024.09-02
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap11.html
  FunctorCategories/doc/chap11.txt
  FunctorCategories/doc/chap11_mj.html
  FunctorCategories/doc/chap9.html
  FunctorCategories/doc/chap9.txt
  FunctorCategories/doc/chap9_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for IntrinsicGradedModules 2024.09-02
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/doc/chap0.html
  IntrinsicGradedModules/doc/chap0.txt
  IntrinsicGradedModules/doc/chap0_mj.html
  IntrinsicGradedModules/doc/chap1.html
  IntrinsicGradedModules/doc/chap1.txt
  IntrinsicGradedModules/doc/chap1_mj.html
  _data/IntrinsicGradedModules.yml
Due: IntrinsicGradedModules

Update website for Locales 2024.09-02
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap13.html
  Locales/doc/chap13.txt
  Locales/doc/chap13_mj.html
  Locales/doc/chap7.html
  Locales/doc/chap7.txt
  Locales/doc/chap7_mj.html
  Locales/doc/chap8.html
  Locales/doc/chap8.txt
  Locales/doc/chap8_mj.html
  _data/Locales.yml
Due: Locales

Update website for PreSheaves 2024.09-01
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for SubcategoriesForCAP 2024.09-01
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  SubcategoriesForCAP/doc/chap4.html
  SubcategoriesForCAP/doc/chap4.txt
  SubcategoriesForCAP/doc/chap4_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Update website for ToolsForCategoricalTowers 2024.09-02
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap2.html
  ToolsForCategoricalTowers/doc/chap2.txt
  ToolsForCategoricalTowers/doc/chap2_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for Toposes 2024.09-01
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
