Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

comply with CAP v2023.02-03
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  FunctorCategories/gap/CompilerLogic.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfAlgebroidWithRelationsInCategoryOfRowsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFreeAlgebroidInCategoryOfRowsPrecompiled.gi
  PreSheaves/PackageInfo.g
  PreSheaves/examples/PreSheavesOfSkeletalFinSets.g
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/examples/PrecompileSliceCategory.g
  SubcategoriesForCAP/gap/precompiled_categories/SliceCategoryOfCategoryOfRowsOfFieldOverTensorUnitPrecompiled.gi
Due: FunctorCategories, PreSheaves, SubcategoriesForCAP

comply with AttributeCategoryForCAP v2023.02-03
  InternalModules/PackageInfo.g
  InternalModules/examples/SymmetricAlgebraInternalToS4rep.g
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS1rep.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS4rep.ipynb
Due: none

Update SubcategoriesForCAP/examples/PrecompileSliceCategory.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/PrecompilePreSheavesInCategoryOfRows.g
  FunctorCategories/gap/CompilerLogic.gi
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/examples/PrecompileSliceCategory.g
  SubcategoriesForCAP/gap/precompiled_categories/SliceCategoryOfCategoryOfRowsOfFieldOverTensorUnitPrecompiled.gi
Due: FunctorCategories, SubcategoriesForCAP

comply with MonoidalCategories/CartesianCategories v2023.02-03
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/examples/TerminalCategory_as_FiniteCoproductCocompletion.g
  FiniteCocompletion/examples/TerminalCategory_as_FiniteProductCompletion.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/TerminalCategory.g
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  InternalModules/PackageInfo.g
  InternalModules/examples/SymmetricAlgebraInternalToS4rep.g
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS1rep.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS4rep.ipynb
  PreSheaves/PackageInfo.g
  PreSheaves/examples/TerminalCategory.g
  Toposes/PackageInfo.g
  Toposes/tst/Opposite.tst
Due: FiniteCocompletion, FunctorCategories, PreSheaves, Toposes

complete commit 1691cc06
  CatReps/PackageInfo.g
  CatReps/README.md
  CatReps/examples/CategoryOfRepresentations.g
Due: CatReps

updated notebooks
  CatReps/examples/notebooks/CategoryOfRepresentations.ipynb
  FiniteCocompletion/examples/notebooks/CartesianBraiding.ipynb
  FiniteCocompletion/examples/notebooks/CartesianDiagonal.ipynb
  FiniteCocompletion/examples/notebooks/ReflexivePair.ipynb
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
Due: CatReps, FiniteCocompletion, FunctorCategories

Update website for FunctorCategories 2023.02-07
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap15.html
  FunctorCategories/doc/chap15.txt
  FunctorCategories/doc/chap15_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2023.02-01
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  InternalModules/doc/chap1.html
  InternalModules/doc/chap1.txt
  InternalModules/doc/chap1_mj.html
  _data/InternalModules.yml
Due: none

Update website for PreSheaves 2023.02-01
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for SubcategoriesForCAP 2023.02-03
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  SubcategoriesForCAP/doc/chap4.html
  SubcategoriesForCAP/doc/chap4.txt
  SubcategoriesForCAP/doc/chap4_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Update website for CatReps 2023.02-01
  CatReps/PackageInfo.g
  CatReps/README.md
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  CatReps/doc/chap1.html
  CatReps/doc/chap1.txt
  CatReps/doc/chap1_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletion 2023.02-01
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  FiniteCocompletion/doc/chap1.html
  FiniteCocompletion/doc/chap1.txt
  FiniteCocompletion/doc/chap1_mj.html
  FiniteCocompletion/doc/chap3.html
  FiniteCocompletion/doc/chap3.txt
  FiniteCocompletion/doc/chap3_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

Update website for FunctorCategories 2023.02-08
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap10.html
  FunctorCategories/doc/chap10.txt
  FunctorCategories/doc/chap10_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2023.02-02
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  InternalModules/doc/chap1.html
  InternalModules/doc/chap1.txt
  InternalModules/doc/chap1_mj.html
  _data/InternalModules.yml
Due: none

Update website for PreSheaves 2023.02-02
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for Toposes 2023.02-02
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

Exclude (Co)Equalizer for PositivelyZGradedCategory
  GradedCategories/PackageInfo.g
  GradedCategories/gap/PositivelyZGradedCategory.gi
Due: GradedCategories

applied PackageJanitor
  .github/workflows/Tests.yml
  CatReps/PackageInfo.g
  CatReps/makefile
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/makefile
  FunctorCategories/PackageInfo.g
  FunctorCategories/makefile
  InternalModules/PackageInfo.g
  InternalModules/makefile
  LazyCategories/PackageInfo.g
  LazyCategories/makefile
  dev/.release
  dev/make_dist.sh
  dev/release-gap-package
Due: CatReps, FiniteCocompletion, FunctorCategories, LazyCategories

Update website for GradedCategories 2023.02-01
  GradedCategories/PackageInfo.g
  GradedCategories/doc/chap0.html
  GradedCategories/doc/chap0.txt
  GradedCategories/doc/chap0_mj.html
  _data/GradedCategories.yml
Due: GradedCategories

Update website for CatReps 2023.02-02
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletion 2023.02-02
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

Update website for FunctorCategories 2023.02-09
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2023.02-03
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

updated notebooks
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/DPO_Quivers.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  InternalModules/PackageInfo.g
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS1rep.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS4rep.ipynb
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,4)_0dim.ipynb
Due: FunctorCategories, ZariskiFrames

Update website for FunctorCategories 2023.02-10
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2023.02-04
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

applied PackageJanitor
  .github/workflows/Tests.yml
  dev/.release
  dev/release-gap-package
Due: none

fixed and test Intrinsic*Modules/examples/generate_documentation.g
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/examples/generate_documentation.g
  IntrinsicGradedModules/gap/FpGradedModulesByFreyd.autogen.gd
  IntrinsicModules/PackageInfo.g
  IntrinsicModules/examples/generate_documentation.g
  IntrinsicModules/gap/FpModulesByFreyd.autogen.gd
  IntrinsicModules/gap/HomalgMap.gd
Due: IntrinsicGradedModules, IntrinsicModules

Update website for IntrinsicGradedModules 2023.02-01
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/doc/chap0.html
  IntrinsicGradedModules/doc/chap0.txt
  IntrinsicGradedModules/doc/chap0_mj.html
  IntrinsicGradedModules/doc/chap1.html
  IntrinsicGradedModules/doc/chap1.txt
  IntrinsicGradedModules/doc/chap1_mj.html
  IntrinsicGradedModules/doc/chap2.html
  IntrinsicGradedModules/doc/chap2.txt
  IntrinsicGradedModules/doc/chap2_mj.html
  IntrinsicGradedModules/doc/chapInd.html
  IntrinsicGradedModules/doc/chapInd_mj.html
  _data/IntrinsicGradedModules.yml
Due: IntrinsicGradedModules

Update website for IntrinsicModules 2023.02-01
  IntrinsicModules/PackageInfo.g
  IntrinsicModules/doc/chap0.html
  IntrinsicModules/doc/chap0.txt
  IntrinsicModules/doc/chap0_mj.html
  IntrinsicModules/doc/chap1.html
  IntrinsicModules/doc/chap1.txt
  IntrinsicModules/doc/chap1_mj.html
  IntrinsicModules/doc/chap2.html
  IntrinsicModules/doc/chap2_mj.html
  IntrinsicModules/doc/chap3.html
  IntrinsicModules/doc/chap3_mj.html
  IntrinsicModules/doc/chap4.html
  IntrinsicModules/doc/chap4_mj.html
  IntrinsicModules/doc/chap5.html
  IntrinsicModules/doc/chap5.txt
  IntrinsicModules/doc/chap5_mj.html
  IntrinsicModules/doc/chap6.html
  IntrinsicModules/doc/chap6_mj.html
  IntrinsicModules/doc/chap7.html
  IntrinsicModules/doc/chap7_mj.html
  IntrinsicModules/doc/chap8.html
  IntrinsicModules/doc/chap8_mj.html
  IntrinsicModules/doc/chap9.html
  IntrinsicModules/doc/chap9.txt
  IntrinsicModules/doc/chap9_mj.html
  IntrinsicModules/doc/chapInd.html
  IntrinsicModules/doc/chapInd_mj.html
  _data/IntrinsicModules.yml
Due: IntrinsicModules

Update website for LazyCategories 2023.02-01
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for ZariskiFrames 2023.02-01
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

added Asserts statements to check IsEquippedWithHomomorphismStructure
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/gap/FiniteStrictCoproductCocompletion.gi
  FiniteCocompletion/gap/FiniteStrictProductCompletion.gi
  FiniteCocompletion/gap/SkeletalFinSets.gi
Due: FiniteCocompletion

Update website for FiniteCocompletion 2023.02-03
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

show supported doctrines in IntrinsicGradedModules
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/examples/PresentationWithDegrees.g
Due: IntrinsicGradedModules

declared categorical properties Is(Co)ClosedMonoidalP(r)oset
  Locales/PackageInfo.g
  Locales/examples/StablePosetOfCategory.g
  Locales/gap/Poset.gd
  Locales/gap/Poset.gi
  Locales/gap/Proset.gd
  Locales/gap/Proset.gi
  Locales/gap/ProsetDerivedMethods.gi
  Locales/gap/ProsetOfCategory.gi
Due: Locales

Update website for IntrinsicGradedModules 2023.02-02
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/doc/chap0.html
  IntrinsicGradedModules/doc/chap0.txt
  IntrinsicGradedModules/doc/chap0_mj.html
  IntrinsicGradedModules/doc/chap1.html
  IntrinsicGradedModules/doc/chap1.txt
  IntrinsicGradedModules/doc/chap1_mj.html
  _data/IntrinsicGradedModules.yml
Due: IntrinsicGradedModules

Update website for Locales 2023.02-02
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap1.html
  Locales/doc/chap1.txt
  Locales/doc/chap1_mj.html
  Locales/doc/chap2.html
  Locales/doc/chap2.txt
  Locales/doc/chap2_mj.html
  Locales/doc/chap6.html
  Locales/doc/chap6.txt
  Locales/doc/chap6_mj.html
  Locales/doc/chapInd.html
  Locales/doc/chapInd.txt
  Locales/doc/chapInd_mj.html
  _data/Locales.yml
Due: Locales

host notebooks ImageOfPullback_in_AbelianClosure_using_Adelman/Freyd
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/ImageOfPullback_in_AbelianClosure_using_Adelman.ipynb
  FunctorCategories/examples/notebooks/ImageOfPullback_in_AbelianClosure_using_Freyd.ipynb
  FunctorCategories/examples/notebooks/svg/ImageOfPullback.svg
Due: FunctorCategories

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
