Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

Use {a, b} -> a * b instead of \*
  FpLinearCategories/gap/AlgebroidFromDataTables.gi
Due: none

Use FunctionWithNamedArguments linear closure constructors
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
Due: none

Use UnorderedTuples for indices pairs generation
  FpLinearCategories/gap/GroebnerBasesForLinearClosuresOfPathCategories.gi
Due: none

Fix few whitespaces for Julia in AlgebroidFromDataTables.gi
  FpLinearCategories/gap/AlgebroidFromDataTables.gi
Due: none

update examples in FpLinearCategories
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/examples/AlgebroidFromDataTables.g
  FpLinearCategories/examples/GroebnerBasisInLinearClosureOfPathCategory.g
  FpLinearCategories/examples/PrecompileAdditiveClosureOfAlgebroidFromDataTables.g
  FpLinearCategories/examples/QuotientCategoryOfLinearClosureOfPathCategory.g
Due: none

Use FunctionWithNamedArguments in AlgebroidFromDataTables
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/gap/AlgebroidFromDataTables.gi
Due: none

Rename DataTablesOfCategory to DataTablesOfLinearCategory
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/examples/AlgebroidFromDataTables.g
  FpLinearCategories/gap/AlgebroidFromDataTables.gd
  FpLinearCategories/gap/AlgebroidFromDataTables.gi
  FpLinearCategories/gap/DataTablesOfLinearCategories.gi
  FpLinearCategories/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
  FpLinearCategories/gap/QuotientsOfLinearClosuresOfPathCategories.gi
  FpLinearCategories/read.g
Due: none

Reduce the number of \[\] brackets to avoid few 'sed' issues when transpiling to Julia
  FpLinearCategories/gap/GroebnerBasesForLinearClosuresOfPathCategories.gi
Due: none

Refactor quotient construction for linear closures
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/gap/QuotientsOfLinearClosuresOfPathCategories.gi
Due: none

Update website for FpCategories 2025.11-05
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap1.html
  FpCategories/doc/chap1.txt
  FpCategories/doc/chap1_mj.html
  FpCategories/doc/chap2.html
  FpCategories/doc/chap2.txt
  FpCategories/doc/chap2_mj.html
  FpCategories/doc/chap3.html
  FpCategories/doc/chap3.txt
  FpCategories/doc/chap3_mj.html
  FpCategories/doc/chap4.html
  FpCategories/doc/chap4.txt
  FpCategories/doc/chap4_mj.html
  FpCategories/doc/chap5.html
  FpCategories/doc/chap5.txt
  FpCategories/doc/chap5_mj.html
  FpCategories/doc/chap6.html
  FpCategories/doc/chap6.txt
  FpCategories/doc/chap6_mj.html
  FpCategories/doc/chap7.html
  FpCategories/doc/chap7.txt
  FpCategories/doc/chap7_mj.html
  FpCategories/doc/chapInd.html
  FpCategories/doc/chapInd.txt
  FpCategories/doc/chapInd_mj.html
  _data/FpCategories.yml
Due: none

Update website for CatReps 2025.11-01
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2025.11-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2025.11-01
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2025.11-01
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for LazyCategories 2025.11-01
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2025.11-01
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for ToolsForCategoricalTowers 2025.11-01
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for ZariskiFrames 2025.11-01
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

Drop IsCellInAlgebroidFromDataTables category
  FpLinearCategories/gap/AlgebroidFromDataTables.gd
Due: none

add few comments for Julia
  FpLinearCategories/gap/AlgebroidFromDataTables.gd
  FpLinearCategories/gap/AlgebroidFromDataTables.gi
  FpLinearCategories/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
  FpLinearCategories/gap/QuotientsOfLinearClosuresOfPathCategories.gi
Due: none

Install Dimension method for IsCapCategory and verify the finiteness requirements in the function body.
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/gap/Tools.gi
Due: none

Update website for CatReps 2025.11-02
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2025.11-02
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2025.11-02
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2025.11-02
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for LazyCategories 2025.11-02
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2025.11-02
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for ToolsForCategoricalTowers 2025.11-02
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for ZariskiFrames 2025.11-02
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

Rename DataTablesOfCategory to DataTablesOfLinearCategory
  Algebroids/PackageInfo.g
  Algebroids/gap/Algebroids.gi
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/examples/AlgebroidFromDataTables.g
  FpLinearCategories/gap/AlgebroidFromDataTables.gd
  FpLinearCategories/gap/AlgebroidFromDataTables.gi
  FpLinearCategories/gap/DataTablesOfLinearCategories.gi
  FpLinearCategories/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
  FpLinearCategories/gap/QuotientsOfLinearClosuresOfPathCategories.gi
  FpLinearCategories/read.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/QuotientsOfAlgebroidFromDataTablesUsingPreSheaves.g
Due: Algebroids, FunctorCategories

Update examples in FpLinearCategories
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/examples/AlgebroidFromDataTables.g
  FpLinearCategories/examples/GroebnerBasisInLinearClosureOfPathCategory.g
  FpLinearCategories/examples/PrecompileAdditiveClosureOfAlgebroidFromDataTables.g
  FpLinearCategories/examples/QuotientCategoryOfLinearClosureOfPathCategory.g
Due: none

Colorized ViewString for objects in
  FpLinearCategories/gap/AlgebroidFromDataTables.gi
Due: none

Use CallFuncListAtRuntime instead of direct calls to avoid world-age problems in Julia
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/gap/AlgebroidFromDataTables.gi
  FpLinearCategories/gap/QuotientsOfLinearClosuresOfPathCategories.gi
Due: none

Fix Shuffle and random methods in AlgebroidFromDataTables
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/gap/AlgebroidFromDataTables.gi
Due: none
