Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

Update website for CatReps 2023.08-02
  CatReps/PackageInfo.g
  CatReps/README.md
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  CatReps/doc/chap1.html
  CatReps/doc/chap1.txt
  CatReps/doc/chap1_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for CategoryConstructor 2023.08-05
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/doc/chap0.html
  CategoryConstructor/doc/chap0.txt
  CategoryConstructor/doc/chap0_mj.html
  _data/CategoryConstructor.yml
Due: CategoryConstructor

Update website for FiniteCocompletions 2023.08-12
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2.txt
  FiniteCocompletions/doc/chap2_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2023.08-21
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap9.html
  FunctorCategories/doc/chap9.txt
  FunctorCategories/doc/chap9_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2023.08-02
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  InternalModules/doc/chap1.html
  InternalModules/doc/chap1.txt
  InternalModules/doc/chap1_mj.html
  _data/InternalModules.yml
Due: none

Update website for IntrinsicModules 2023.08-02
  IntrinsicModules/PackageInfo.g
  IntrinsicModules/doc/chap0.html
  IntrinsicModules/doc/chap0.txt
  IntrinsicModules/doc/chap0_mj.html
  IntrinsicModules/doc/chap1.html
  IntrinsicModules/doc/chap1.txt
  IntrinsicModules/doc/chap1_mj.html
  _data/IntrinsicModules.yml
Due: IntrinsicModules

Update website for Locales 2023.08-03
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap13.html
  Locales/doc/chap13.txt
  Locales/doc/chap13_mj.html
  Locales/doc/chap7.html
  Locales/doc/chap7.txt
  Locales/doc/chap7_mj.html
  Locales/doc/chap8.html
  Locales/doc/chap8.txt
  Locales/doc/chap8_mj.html
  _data/Locales.yml
Due: Locales

Update website for PreSheaves 2023.08-03
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for Toposes 2023.08-04
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

comply with CAP v2023.08-08
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/HomStructure.g
  FiniteCocompletions/examples/SkeletalWellDefined.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/Dedekind2ndNumber.g
  FunctorCategories/examples/TerminalCategory.g
  Locales/PackageInfo.g
  Locales/examples/Dedekind1stNumber.g
  Locales/examples/DiscreteSkeletalCategory.g
  Locales/examples/StablePosetOfCategory.g
  PreSheaves/PackageInfo.g
  PreSheaves/examples/PreSheavesOfSkeletalFinSets.g
Due: FunctorCategories, Locales, PreSheaves

don't rely on projective and injective resolutions
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/presheaves_of_algebroid.g
  FunctorCategories/examples/presheaves_of_algebroid_from_data_tables.g
  FunctorCategories/tst/100_LoadPackage.tst
Due: FunctorCategories

comply CatReps with CAP V2023.08-09
  CatReps/PackageInfo.g
  CatReps/README.md
  CatReps/examples/CategoryOfRepresentations.g
  CatReps/examples/notebooks/CategoryOfRepresentations.ipynb
Due: CatReps

comply with CAP v2023.08-09
  CatReps/PackageInfo.g
  CatReps/README.md
  CatReps/examples/CategoryOfRepresentations.g
  CatReps/examples/notebooks/CategoryOfRepresentations.ipynb
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/examples/PresentationWithDegrees.g
Due: CatReps, IntrinsicGradedModules

continue compling with CAP v2023.08-09
  Toposes/PackageInfo.g
  Toposes/examples/precompile_derivations_pushout_complement.g
Due: Toposes

improved NerveTruncatedInDegree2Data
  Algebroids/PackageInfo.g
  Algebroids/gap/FpCategories.gi
Due: Algebroids

Update website for CatReps 2023.08-03
  CatReps/PackageInfo.g
  CatReps/README.md
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  CatReps/doc/chap1.html
  CatReps/doc/chap1.txt
  CatReps/doc/chap1_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2023.08-13
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap4.html
  FiniteCocompletions/doc/chap4.txt
  FiniteCocompletions/doc/chap4_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2023.08-23
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap11.html
  FunctorCategories/doc/chap11.txt
  FunctorCategories/doc/chap11_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  FunctorCategories/doc/chap9.html
  FunctorCategories/doc/chap9.txt
  FunctorCategories/doc/chap9_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for IntrinsicGradedModules 2023.08-03
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/doc/chap0.html
  IntrinsicGradedModules/doc/chap0.txt
  IntrinsicGradedModules/doc/chap0_mj.html
  IntrinsicGradedModules/doc/chap1.html
  IntrinsicGradedModules/doc/chap1.txt
  IntrinsicGradedModules/doc/chap1_mj.html
  _data/IntrinsicGradedModules.yml
Due: IntrinsicGradedModules

Update website for Locales 2023.08-04
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap13.html
  Locales/doc/chap13.txt
  Locales/doc/chap13_mj.html
  Locales/doc/chap7.html
  Locales/doc/chap7.txt
  Locales/doc/chap7_mj.html
  Locales/doc/chap8.html
  Locales/doc/chap8.txt
  Locales/doc/chap8_mj.html
  _data/Locales.yml
Due: Locales

Update website for PreSheaves 2023.08-04
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for Algebroids 2023.08-02
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for Toposes 2023.08-05
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

Revert "fixed ExtendFunctorToWrapperCategoryData"
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/gap/Tools.gi
Due: CategoryConstructor

Update website for CategoryConstructor 2023.08-06
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/doc/chap0.html
  CategoryConstructor/doc/chap0.txt
  CategoryConstructor/doc/chap0_mj.html
  _data/CategoryConstructor.yml
Due: CategoryConstructor

comply with CAP V2023.08-09
  PackageInfo.g
  gap/QuotientCategories.gi
Due: none

improved ExtendFunctorTo*
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/AdditiveClosure.gi
  FiniteCocompletions/gap/CoFreydCategory.gi
  FiniteCocompletions/gap/FiniteStrictCoproductCocompletion.gi
  FiniteCocompletions/gap/FiniteStrictProductCompletion.gi
  FiniteCocompletions/gap/FreydCategory.gi
Due: none

Update website for FiniteCocompletions 2023.08-14
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

added missing category as first argument
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/gap/SliceCategory.gi
Due: SubcategoriesForCAP

Category as first argument for `CategoryOfAlgebroids`
  Algebroids/gap/CategoryOfAlgebroids.gi
Due: Algebroids

Category as first argument for `QuiverRows`
  Algebroids/gap/QuiverRows.gi
Due: Algebroids

Category as first argument for `CatsWithAmbientObjects`
  CategoriesWithAmbientObjects/gap/CategoriesWithAmbientObjects.gi
Due: CategoriesWithAmbientObjects

Update website for SubcategoriesForCAP 2023.08-01
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

updated dependancy of CategoriesWithAmbientObjects
  CategoriesWithAmbientObjects/PackageInfo.g
Due: CategoriesWithAmbientObjects

bumped version of Algebroids
  Algebroids/PackageInfo.g
Due: Algebroids

automated the generation of category_attribute_resolving_functions
  Algebroids/PackageInfo.g
  Algebroids/gap/CategoryFromDataTables.gd
  Algebroids/gap/CategoryFromDataTables.gi
  Algebroids/gap/Tools.gd
  Algebroids/gap/Tools.gi
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/ENHANCED_SYNTAX_TREEs_for_CategoryOfQuivers.g
  FiniteCocompletions/gap/ENHANCED_SYNTAX_TREEs_for_CategoryOfQuivers.gi
  FiniteCocompletions/gap/PairOfParallelArrowsCategory.gi
  FiniteCocompletions/read.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/ENHANCED_SYNTAX_TREEs_for_CategoryOfBouquets.g
  FunctorCategories/examples/ENHANCED_SYNTAX_TREEs_for_CategoryOfReflexiveQuivers.g
  FunctorCategories/gap/CategoryOfBouquets.gi
  FunctorCategories/gap/CategoryOfQuivers.gi
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gi
  FunctorCategories/gap/ENHANCED_SYNTAX_TREEs_for_CategoryOfBouquets.gi
  FunctorCategories/gap/ENHANCED_SYNTAX_TREEs_for_CategoryOfReflexiveQuivers.gi
  FunctorCategories/read.g
Due: Algebroids, FunctorCategories

Update website for Algebroids 2023.08-04
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for CategoriesWithAmbientObjects 2023.08-01
  CategoriesWithAmbientObjects/PackageInfo.g
  CategoriesWithAmbientObjects/doc/chap0.html
  CategoriesWithAmbientObjects/doc/chap0.txt
  CategoriesWithAmbientObjects/doc/chap0_mj.html
  _data/CategoriesWithAmbientObjects.yml
Due: CategoriesWithAmbientObjects

Update website for FiniteCocompletions 2023.08-15
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none
