Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

comply with MonoidalCategories/CartesianCategories v2024.06-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/FiniteColimitCompletionWithStrictCoproducts.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/TerminalCategory.g
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/examples/SliceCategory.g
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/examples/MorphismBetweenCoproducts.g
  ToolsForCategoricalTowers/examples/MorphismBetweenDirectProducts.g
  Toposes/PackageInfo.g
  Toposes/tst/Opposite.tst
Due: FunctorCategories, SubcategoriesForCAP, Toposes

Update website for FiniteCocompletions 2024.06-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap8.html
  FiniteCocompletions/doc/chap8.txt
  FiniteCocompletions/doc/chap8_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2024.06-04
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap9.html
  FunctorCategories/doc/chap9.txt
  FunctorCategories/doc/chap9_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for SubcategoriesForCAP 2024.06-01
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  SubcategoriesForCAP/doc/chap4.html
  SubcategoriesForCAP/doc/chap4.txt
  SubcategoriesForCAP/doc/chap4_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Update website for ToolsForCategoricalTowers 2024.06-01
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap2.html
  ToolsForCategoricalTowers/doc/chap2.txt
  ToolsForCategoricalTowers/doc/chap2_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for Toposes 2024.06-01
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

fix documentation of MorphismBetweenDirectProducts
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/gap/Tools.gd
Due: none

Update website for ToolsForCategoricalTowers 2024.06-02
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap2.html
  ToolsForCategoricalTowers/doc/chap2.txt
  ToolsForCategoricalTowers/doc/chap2_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Speed up SecondPageOfCohomologicalSpectralSequence.g
  Algebroids/examples/SecondPageOfCohomologicalSpectralSequence.g
  Algebroids/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gd
  Algebroids/gap/QuotientsOfLinearClosuresOfPathCategories.gi
  Algebroids/gap/precompiled_categories/AdditiveClosure_QuotientCategory_LinearClosure_precompiled.gi
  Algebroids/gap/precompiled_categories/QuotientCategory_LinearClosure_precompiled.gi
  QuotientCategories/gap/QuotientCategories.gi
Due: Algebroids

coding style
  ToolsForCategoricalTowers/gap/ToolsDerivedMethods.gi
Due: none

relocated code
  ToolsForCategoricalTowers/gap/Tools.gi
Due: none

fixed AddFinalDerivationBundle for colimits
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/FreeElementaryToposOnOneObject.g
  FiniteCocompletions/examples/HomStructure.g
  FiniteCocompletions/examples/SkeletalWellDefined.g
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/gap/Tools.gi
  ToolsForCategoricalTowers/gap/ToolsDerivedMethods.gi
Due: none

Update website for CatReps 2024.06-01
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2024.06-03
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap4.html
  FiniteCocompletions/doc/chap4.txt
  FiniteCocompletions/doc/chap4_mj.html
  FiniteCocompletions/doc/chap8.html
  FiniteCocompletions/doc/chap8.txt
  FiniteCocompletions/doc/chap8_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2024.06-05
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2024.06-01
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for LazyCategories 2024.06-01
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2024.06-01
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for ToolsForCategoricalTowers 2024.06-03
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for ZariskiFrames 2024.06-02
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

comply with Julia
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
  FiniteCocompletions/gap/FiniteStrictProductCompletion.gi
  FunctorCategories/gap/CoPreSheaves.gi
Due: FunctorCategories

removed obsolete local variable
  Locales/PackageInfo.g
  Locales/gap/IntervalCategory.gi
Due: Locales

relocated code
  FiniteCocompletions/gap/SkeletalFinSets.gi
Due: none

whitespace
  FiniteCocompletions/gap/FiniteStrictProductCompletion.gi
  FunctorCategories/gap/FunctorCategories.gi
Due: FunctorCategories

clean up
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
  FiniteCocompletions/gap/FreeDistributiveCategoryWithStrictProductAndCoproducts.gi
  FunctorCategories/gap/FreeDistributiveCompletion.gi
  PreSheaves/examples/TerminalCategory.g
Due: FunctorCategories, PreSheaves

got rid of obsolete option `install_hom_structure` in FiniteStrictCoproductCompletion
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
Due: none

got rid of special handling of InitialCategory
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteProductCompletion.g
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
  FiniteCocompletions/gap/FiniteStrictProductCompletion.gi
  FiniteCocompletions/gap/SkeletalFinSets.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/TerminalCategory.g
  FunctorCategories/gap/CoPreSheaves.gi
  FunctorCategories/gap/FiniteCocompletion.gi
  FunctorCategories/gap/FiniteCompletion.gi
  FunctorCategories/gap/FreeDistributiveCompletion.gi
  FunctorCategories/gap/FunctorCategories.gi
  FunctorCategories/gap/PreSheaves.gi
  PreSheaves/PackageInfo.g
  PreSheaves/examples/TerminalCategory.g
  PreSheaves/gap/PreSheaves.gi
Due: FunctorCategories, PreSheaves

Update website for FiniteCocompletions 2024.06-04
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2.txt
  FiniteCocompletions/doc/chap2_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2024.06-06
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap9.html
  FunctorCategories/doc/chap9.txt
  FunctorCategories/doc/chap9_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Locales 2024.06-02
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for PreSheaves 2024.06-01
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

updated notebooks
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  InternalModules/PackageInfo.g
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS1rep.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS4rep.ipynb
Due: FunctorCategories

comply with CAP v2024.06-04
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteCoproductCompletion.g
  PreSheaves/PackageInfo.g
  PreSheaves/examples/TerminalCategory.g
Due: PreSheaves

Update website for FiniteCocompletions 2024.06-05
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2024.06-07
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2024.06-02
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for PreSheaves 2024.06-02
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

comply with MonoidalCategories v2024.06-02 and CartesianCategories v2024.06-03
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteCoproductCompletion.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteProductCompletion.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/TerminalCategory.g
  InternalModules/PackageInfo.g
  InternalModules/examples/SymmetricAlgebraInternalToS4rep.g
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS1rep.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS4rep.ipynb
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/examples/PresentationWithDegrees.g
  PreSheaves/PackageInfo.g
  PreSheaves/examples/PreSheavesOfSkeletalFinSets.g
  PreSheaves/examples/TerminalCategory.g
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/examples/SliceCategory.g
Due: FunctorCategories, IntrinsicGradedModules, PreSheaves, SubcategoriesForCAP

whitespace
  LazyCategories/PackageInfo.g
  LazyCategories/gap/ToolsUsingDigraphs.gi
Due: LazyCategories

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
