Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

Update website for FiniteCocompletions 2023.07-07
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2023.07-10
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

simplified CapJitAddTypeSignature
  FiniteCocompletions/gap/FiniteStrictCoproductCocompletion.gd
  FiniteCocompletions/gap/FiniteStrictProductCompletion.gd
Due: none

fixed CapJitAddTypeSignature for a category
  Algebroids/PackageInfo.g
  Algebroids/gap/FpCategories.gd
Due: Algebroids

Update website for Algebroids 2023.07-07
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

comply with MacLane-Moerdijk
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/DecoratedFinQuivers.g
  FunctorCategories/examples/notebooks/DecoratedFinQuivers.ipynb
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/gap/SliceCategory.gi
Due: FunctorCategories, SubcategoriesForCAP

Update website for FunctorCategories 2023.07-11
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap8.html
  FunctorCategories/doc/chap8.txt
  FunctorCategories/doc/chap8_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for SubcategoriesForCAP 2023.07-01
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

renamed (Co)YonedaEmbeddingOfUnderlyingCategory -> EmbeddingOfUnderlyingCategory
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/CartesianBraiding.g
  FiniteCocompletions/examples/CartesianDiagonal.g
  FiniteCocompletions/examples/CocartesianAssociator.g
  FiniteCocompletions/examples/CocartesianBraiding.g
  FiniteCocompletions/examples/CocartesianCodiagonal.g
  FiniteCocompletions/examples/ReflexivePair.g
  FiniteCocompletions/examples/notebooks/CartesianBraiding.ipynb
  FiniteCocompletions/examples/notebooks/CartesianDiagonal.ipynb
  FiniteCocompletions/examples/notebooks/ReflexivePair.ipynb
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gd
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gi
  FiniteCocompletions/gap/FiniteStrictCoproductCocompletion.gd
  FiniteCocompletions/gap/FiniteStrictCoproductCocompletion.gi
  FiniteCocompletions/gap/FiniteStrictProductCompletion.gd
  FiniteCocompletions/gap/FiniteStrictProductCompletion.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/AbelianClosure.gd
  FunctorCategories/gap/AbelianClosure.gi
  FunctorCategories/gap/CategoryOfBouquets.gd
  FunctorCategories/gap/CategoryOfBouquets.gi
  FunctorCategories/gap/CategoryOfDecoratedQuivers.gd
  FunctorCategories/gap/CategoryOfDecoratedQuivers.gi
  FunctorCategories/gap/CategoryOfQuivers.gd
  FunctorCategories/gap/CategoryOfQuivers.gi
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gd
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gi
  FunctorCategories/gap/FiniteCocompletion.gd
  FunctorCategories/gap/FiniteCocompletion.gi
  FunctorCategories/gap/FiniteCompletion.gd
  FunctorCategories/gap/FiniteCompletion.gi
Due: FunctorCategories

Update website for FiniteCocompletions 2023.07-08
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap3.html
  FiniteCocompletions/doc/chap3.txt
  FiniteCocompletions/doc/chap3_mj.html
  FiniteCocompletions/doc/chap5.html
  FiniteCocompletions/doc/chap5.txt
  FiniteCocompletions/doc/chap5_mj.html
  FiniteCocompletions/doc/chapInd.html
  FiniteCocompletions/doc/chapInd.txt
  FiniteCocompletions/doc/chapInd_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2023.07-12
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap10.html
  FunctorCategories/doc/chap10.txt
  FunctorCategories/doc/chap10_mj.html
  FunctorCategories/doc/chap3.html
  FunctorCategories/doc/chap3.txt
  FunctorCategories/doc/chap3_mj.html
  FunctorCategories/doc/chap4.html
  FunctorCategories/doc/chap4.txt
  FunctorCategories/doc/chap4_mj.html
  FunctorCategories/doc/chap5.html
  FunctorCategories/doc/chap5.txt
  FunctorCategories/doc/chap5_mj.html
  FunctorCategories/doc/chap7.html
  FunctorCategories/doc/chap7.txt
  FunctorCategories/doc/chap7_mj.html
  FunctorCategories/doc/chap8.html
  FunctorCategories/doc/chap8.txt
  FunctorCategories/doc/chap8_mj.html
  FunctorCategories/doc/chap9.html
  FunctorCategories/doc/chap9.txt
  FunctorCategories/doc/chap9_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd.txt
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

d&i PreComposeFunctorsByData & PreComposeWithWrappingFunctorData
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/gap/Tools.gd
  CategoryConstructor/gap/Tools.gi
Due: CategoryConstructor

renamed IsCellSkeletalFinSets -> IsCellInSkeletalFinSets
  FiniteCocompletions/gap/SkeletalFinSets.gd
Due: none

fixed variable name
  FiniteCocompletions/examples/LeftCartesianDistributivityExpanding.g
Due: none

LeftCartesianDistributivityExpanding.g -> LeftCartesianDistributivityFactoring.g
  FiniteCocompletions/examples/LeftCartesianDistributivityFactoring.g
  FiniteCocompletions/gap/FiniteStrictCoproductCocompletion.gd
Due: none

d&i FreeDistributiveCategoryWithStrictProductAndCoproducts
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/Doc.autodoc
  FiniteCocompletions/examples/LeftCartesianDistributivityFactoring.g
  FiniteCocompletions/gap/FiniteStrictCoproductCocompletion.gd
  FiniteCocompletions/gap/FreeDistributiveCategoryWithStrictProductAndCoproducts.gd
  FiniteCocompletions/gap/FreeDistributiveCategoryWithStrictProductAndCoproducts.gi
  FiniteCocompletions/gap/SkeletalFinSets.gi
  FiniteCocompletions/init.g
  FiniteCocompletions/read.g
Due: none

Update website for CategoryConstructor 2023.07-01
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/doc/chap0.html
  CategoryConstructor/doc/chap0.txt
  CategoryConstructor/doc/chap0_mj.html
  _data/CategoryConstructor.yml
Due: CategoryConstructor

Update website for FiniteCocompletions 2023.07-09
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2.txt
  FiniteCocompletions/doc/chap2_mj.html
  FiniteCocompletions/doc/chap3.html
  FiniteCocompletions/doc/chap3.txt
  FiniteCocompletions/doc/chap3_mj.html
  FiniteCocompletions/doc/chap4.html
  FiniteCocompletions/doc/chap4.txt
  FiniteCocompletions/doc/chap4_mj.html
  FiniteCocompletions/doc/chap5.html
  FiniteCocompletions/doc/chap5.txt
  FiniteCocompletions/doc/chap5_mj.html
  FiniteCocompletions/doc/chap6.html
  FiniteCocompletions/doc/chap6.txt
  FiniteCocompletions/doc/chap6_mj.html
  FiniteCocompletions/doc/chap7.html
  FiniteCocompletions/doc/chap7.txt
  FiniteCocompletions/doc/chap7_mj.html
  FiniteCocompletions/doc/chapInd.html
  FiniteCocompletions/doc/chapInd.txt
  FiniteCocompletions/doc/chapInd_mj.html
  _data/FiniteCocompletions.yml
Due: none

fixed an error introduced in commit 81346b2d
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/FiniteStrictCoproductCocompletion.gi
Due: none

use more suggestive name of variable
  FiniteCocompletions/gap/FiniteStrictCoproductCocompletion.gi
  FiniteCocompletions/gap/FiniteStrictProductCompletion.gi
Due: none

coding style
  FiniteCocompletions/gap/FreeDistributiveCategoryWithStrictProductAndCoproducts.gi
Due: none

FreeDistributiveCategoryWithStrictProductAndCoproducts is now an attribute
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/FreeDistributiveCategoryWithStrictProductAndCoproducts.gd
Due: none

restricted filters of ExtendFunctorToFiniteStrict(Co)product(Co)completionData
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/FiniteStrictCoproductCocompletion.gi
  FiniteCocompletions/gap/FiniteStrictProductCompletion.gi
Due: none

d&i ExtendFunctorToWrapperCategoryData
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/gap/Tools.gd
  CategoryConstructor/gap/Tools.gi
Due: CategoryConstructor

d&i ExtendFunctorToFreeDistributiveCategoryWithStrictProductAndCoproducts(Data)
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/LeftCartesianDistributivityFactoring.g
  FiniteCocompletions/gap/FreeDistributiveCategoryWithStrictProductAndCoproducts.gd
  FiniteCocompletions/gap/FreeDistributiveCategoryWithStrictProductAndCoproducts.gi
Due: none

Update website for CategoryConstructor 2023.07-02
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/doc/chap0.html
  CategoryConstructor/doc/chap0.txt
  CategoryConstructor/doc/chap0_mj.html
  _data/CategoryConstructor.yml
Due: CategoryConstructor

Update website for FiniteCocompletions 2023.07-13
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap3.html
  FiniteCocompletions/doc/chap3.txt
  FiniteCocompletions/doc/chap3_mj.html
  FiniteCocompletions/doc/chapInd.html
  FiniteCocompletions/doc/chapInd.txt
  FiniteCocompletions/doc/chapInd_mj.html
  _data/FiniteCocompletions.yml
Due: none

comply with CAP v2023.07-07
  InternalModules/PackageInfo.g
  InternalModules/examples/SymmetricAlgebraInternalToS4rep.g
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS1rep.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS4rep.ipynb
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/gap/FpGradedModulesByFreyd.gi
Due: IntrinsicGradedModules

d&i ExtendFunctorToStrictAdditiveClosure(Data)
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/Doc.autodoc
  FiniteCocompletions/gap/AdditiveClosure.gd
  FiniteCocompletions/gap/AdditiveClosure.gi
  FiniteCocompletions/init.g
  FiniteCocompletions/read.g
Due: none

d&i ExtendFunctorTo(Co)FreydCategory(Data)
  FiniteCocompletions/doc/Doc.autodoc
  FiniteCocompletions/gap/CoFreydCategory.gd
  FiniteCocompletions/gap/CoFreydCategory.gi
  FiniteCocompletions/gap/FreydCategory.gd
  FiniteCocompletions/gap/FreydCategory.gi
  FiniteCocompletions/init.g
  FiniteCocompletions/read.g
Due: none

restricted filters in the declaration of ExtendFunctorToFiniteStrict(Co)product(Co)completionData
  FiniteCocompletions/gap/FiniteStrictCoproductCocompletion.gd
  FiniteCocompletions/gap/FiniteStrictProductCompletion.gd
Due: none

Update website for InternalModules 2023.07-01
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  InternalModules/doc/chap1.html
  InternalModules/doc/chap1.txt
  InternalModules/doc/chap1_mj.html
  _data/InternalModules.yml
Due: none

Update website for IntrinsicGradedModules 2023.07-02
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/doc/chap0.html
  IntrinsicGradedModules/doc/chap0.txt
  IntrinsicGradedModules/doc/chap0_mj.html
  _data/IntrinsicGradedModules.yml
Due: IntrinsicGradedModules

d&i *AbelianClosure*
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/Doc.autodoc
  FiniteCocompletions/examples/SnakeInFreeAbelian.g
  FiniteCocompletions/gap/AbelianClosure.gd
  FiniteCocompletions/gap/AbelianClosure.gi
  FiniteCocompletions/init.g
  FiniteCocompletions/read.g
Due: none

Update website for FiniteCocompletions 2023.07-15
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap10.html
  FiniteCocompletions/doc/chap10.txt
  FiniteCocompletions/doc/chap10_mj.html
  FiniteCocompletions/doc/chap11.html
  FiniteCocompletions/doc/chap11.txt
  FiniteCocompletions/doc/chap11_mj.html
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2_mj.html
  FiniteCocompletions/doc/chap3.html
  FiniteCocompletions/doc/chap3_mj.html
  FiniteCocompletions/doc/chap4.html
  FiniteCocompletions/doc/chap4_mj.html
  FiniteCocompletions/doc/chap5.html
  FiniteCocompletions/doc/chap5_mj.html
  FiniteCocompletions/doc/chap6.html
  FiniteCocompletions/doc/chap6.txt
  FiniteCocompletions/doc/chap6_mj.html
  FiniteCocompletions/doc/chap7.html
  FiniteCocompletions/doc/chap7.txt
  FiniteCocompletions/doc/chap7_mj.html
  FiniteCocompletions/doc/chap8.html
  FiniteCocompletions/doc/chap8.txt
  FiniteCocompletions/doc/chap8_mj.html
  FiniteCocompletions/doc/chap9.html
  FiniteCocompletions/doc/chap9.txt
  FiniteCocompletions/doc/chap9_mj.html
  FiniteCocompletions/doc/chapInd.html
  FiniteCocompletions/doc/chapInd.txt
  FiniteCocompletions/doc/chapInd_mj.html
  _data/FiniteCocompletions.yml
Due: none

got rid of obsolete AddIsEqualForCacheForObjects/Morphisms
  Algebroids/PackageInfo.g
  Algebroids/gap/CategoryOfAlgebroids.gi
  Algebroids/gap/QuiverRows.gi
Due: Algebroids

Update website for Algebroids 2023.07-08
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

relocated code
  IntrinsicCategories/PackageInfo.g
  IntrinsicCategories/gap/IntrinsicCategories.gi
Due: IntrinsicCategories

renamed IsLazyCapCategory* -> Is*InLazyCapCategory
  LazyCategories/PackageInfo.g
  LazyCategories/gap/Julia.gi
  LazyCategories/gap/LazyCategory.gd
  LazyCategories/gap/LazyCategory.gi
  LazyCategories/gap/ToolsUsingDigraphs.gi
Due: LazyCategories

Update website for IntrinsicCategories 2023.07-02
  IntrinsicCategories/PackageInfo.g
  IntrinsicCategories/doc/chap0.html
  IntrinsicCategories/doc/chap0.txt
  IntrinsicCategories/doc/chap0_mj.html
  _data/IntrinsicCategories.yml
Due: IntrinsicCategories

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
