Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: FiniteCocompletion, PreSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 2
flags:
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  PreSheaves:
    paths:
      - "PreSheaves/"

Update website for FiniteCocompletion 2023.01-09
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  FiniteCocompletion/doc/chap1.html
  FiniteCocompletion/doc/chap1.txt
  FiniteCocompletion/doc/chap1_mj.html
  FiniteCocompletion/doc/chap3.html
  FiniteCocompletion/doc/chap3.txt
  FiniteCocompletion/doc/chap3_mj.html
  FiniteCocompletion/doc/chapInd.html
  FiniteCocompletion/doc/chapInd.txt
  FiniteCocompletion/doc/chapInd_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

Update website for FiniteCocompletion 2023.01-10
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  FiniteCocompletion/doc/chap1.html
  FiniteCocompletion/doc/chap1.txt
  FiniteCocompletion/doc/chap1_mj.html
  FiniteCocompletion/doc/chap3.html
  FiniteCocompletion/doc/chap3.txt
  FiniteCocompletion/doc/chap3_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

coding style
  FiniteCocompletion/gap/FiniteProductCompletion.gi
Due: FiniteCocompletion

fixed category_filter in FiniteProductCompletion
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/gap/FiniteProductCompletion.gi
Due: FiniteCocompletion

do not overwrite finite_product_completion!.compiler_hints
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/gap/FiniteProductCompletion.gi
Due: FiniteCocompletion

fixed method filter of FiniteProductCompletion
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/gap/FiniteProductCompletion.gi
Due: FiniteCocompletion

renamed YonedaEmbeddingOfUnderlyingCategory -> CoYonedaEmbeddingOfUnderlyingCategory
  PackageInfo.g
  gap/AbelianClosure.gi
  gap/FiniteCompletion.gd
  gap/FiniteCompletion.gi
Due: none

d&i CoYonedaEmbeddingOfUnderlyingCategory
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/Doc.autodoc
  FiniteCocompletion/examples/CartesianBraiding.g
  FiniteCocompletion/gap/FiniteProductCompletion.gd
  FiniteCocompletion/gap/FiniteProductCompletion.gi
Due: FiniteCocompletion

Update website for FiniteCocompletion 2023.01-14
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  FiniteCocompletion/doc/chap1.html
  FiniteCocompletion/doc/chap1.txt
  FiniteCocompletion/doc/chap1_mj.html
  FiniteCocompletion/doc/chap3.html
  FiniteCocompletion/doc/chap3.txt
  FiniteCocompletion/doc/chap3_mj.html
  FiniteCocompletion/doc/chapInd.html
  FiniteCocompletion/doc/chapInd.txt
  FiniteCocompletion/doc/chapInd_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

d&i ExtendFunctorToFiniteProductCompletion
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/Doc.autodoc
  FiniteCocompletion/examples/CartesianBraiding.g
  FiniteCocompletion/examples/CartesianDiagonal.g
  FiniteCocompletion/gap/FiniteProductCompletion.gd
  FiniteCocompletion/gap/FiniteProductCompletion.gi
Due: FiniteCocompletion

Update website for FiniteCocompletion 2023.01-15
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  FiniteCocompletion/doc/chap1.html
  FiniteCocompletion/doc/chap1.txt
  FiniteCocompletion/doc/chap1_mj.html
  FiniteCocompletion/doc/chap3.html
  FiniteCocompletion/doc/chap3.txt
  FiniteCocompletion/doc/chap3_mj.html
  FiniteCocompletion/doc/chapInd.html
  FiniteCocompletion/doc/chapInd.txt
  FiniteCocompletion/doc/chapInd_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

updated examples/CartesianDiagonal.g
  FiniteCocompletion/examples/CartesianDiagonal.g
Due: FiniteCocompletion

introduced the notion "doctrine-specific ur-algorithm"
  FiniteCocompletion/gap/FiniteCoproductCocompletion.gi
  FiniteCocompletion/gap/FiniteProductCompletion.gi
Due: FiniteCocompletion

renamed Finite(Co)product(Co)completion -> FiniteStrict(Co)product(Co)completion
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/Doc.autodoc
  FiniteCocompletion/examples/CartesianBraiding.g
  FiniteCocompletion/examples/CartesianDiagonal.g
  FiniteCocompletion/examples/CocartesianAssociator.g
  FiniteCocompletion/examples/CocartesianBraiding.g
  FiniteCocompletion/examples/HomStructure.g
  FiniteCocompletion/examples/PrecompileSkeletalFinSets.g
  FiniteCocompletion/examples/SkeletalCoproduct.g
  FiniteCocompletion/examples/SkeletalDirectProduct.g
  FiniteCocompletion/examples/SkeletalHomStructure.g
  FiniteCocompletion/examples/SkeletalInitialTerminal.g
  FiniteCocompletion/examples/SkeletalPreCompose.g
  FiniteCocompletion/examples/SkeletalWellDefined.g
  FiniteCocompletion/examples/TerminalCategory_as_FiniteCoproductCocompletion.g
  FiniteCocompletion/examples/TerminalCategory_as_FiniteProductCompletion.g
  FiniteCocompletion/gap/FiniteStrictCoproductCocompletion.gd
  FiniteCocompletion/gap/FiniteStrictCoproductCocompletion.gi
  FiniteCocompletion/gap/FiniteStrictProductCompletion.gd
  FiniteCocompletion/gap/FiniteStrictProductCompletion.gi
  FiniteCocompletion/gap/SkeletalFinSets.gd
  FiniteCocompletion/gap/SkeletalFinSets.gi
  FiniteCocompletion/gap/precompiled_categories/SkeletalFinSetsAsFiniteStrictCoproductCocompletionOfTerminalCategoryPrecompiled.gi
  FiniteCocompletion/init.g
  FiniteCocompletion/read.g
Due: FiniteCocompletion

Update website for FiniteCocompletion 2023.01-16
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  FiniteCocompletion/doc/chap1.html
  FiniteCocompletion/doc/chap1.txt
  FiniteCocompletion/doc/chap1_mj.html
  FiniteCocompletion/doc/chap2.html
  FiniteCocompletion/doc/chap2.txt
  FiniteCocompletion/doc/chap2_mj.html
  FiniteCocompletion/doc/chap3.html
  FiniteCocompletion/doc/chap3.txt
  FiniteCocompletion/doc/chap3_mj.html
  FiniteCocompletion/doc/chap4.html
  FiniteCocompletion/doc/chap4.txt
  FiniteCocompletion/doc/chap4_mj.html
  FiniteCocompletion/doc/chapInd.html
  FiniteCocompletion/doc/chapInd.txt
  FiniteCocompletion/doc/chapInd_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

increase code coverage
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/Doc.autodoc
  FiniteCocompletion/examples/SkeletalHomStructure.g
  FiniteCocompletion/examples/SkeletalInitialTerminal.g
  FiniteCocompletion/examples/SkeletalWellDefined.g
Due: FiniteCocompletion

Update website for FiniteCocompletion 2023.01-17
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  FiniteCocompletion/doc/chap2.html
  FiniteCocompletion/doc/chap2.txt
  FiniteCocompletion/doc/chap2_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

Julia 1.7.3 -> 1.8.4
  examples/julia/notebooks/IdealQuotient.ipynb
  examples/julia/notebooks/IdealQuotient2.ipynb
Due: none

Simplify compiler_hints.object/morphism_filter
  PackageInfo.g
  gap/CategoryFromDataTables.gi
  gap/CategoryFromNerveData.gi
Due: none

Adjust to https://github.com/homalg-project/CAP_project/pull/1215
  PackageInfo.g
  gap/CategoryConstructor.gi
  gap/ToolsMethodRecord.gi
Due: none

Adjust to https://github.com/homalg-project/CAP_project/pull/1215
  PackageInfo.g
  gap/PreSheaves.gi
Due: none

Adjust to https://github.com/homalg-project/CAP_project/pull/121
  PackageInfo.g
  gap/QuotientCategories.gi
Due: none

https://github.com/homalg-project/CAP_project/pull/1215
  PreSheaves/PackageInfo.g
  PreSheaves/gap/PreSheaves.gi
Due: PreSheaves

Update website for PreSheaves 2023.01-01
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

unified ranges
  FiniteCocompletion/gap/CompilerLogic.gi
  FiniteCocompletion/gap/FiniteStrictCoproductCocompletion.gi
Due: FiniteCocompletion

Assert( 0, map = maps[1 + number] )
  FiniteCocompletion/gap/FiniteStrictCoproductCocompletion.gi
Due: FiniteCocompletion

AddInterpretMorphismFromDistinguishedObjectToHomomorphismStructureAsMorphism
  FiniteCocompletion/examples/CartesianBraiding.g
  FiniteCocompletion/examples/CartesianDiagonal.g
  FiniteCocompletion/examples/CocartesianAssociator.g
  FiniteCocompletion/examples/CocartesianBraiding.g
  FiniteCocompletion/gap/FiniteStrictCoproductCocompletion.gi
Due: FiniteCocompletion

bumped version
  FiniteCocompletion/PackageInfo.g
Due: FiniteCocompletion

updated examples
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/Doc.autodoc
  FiniteCocompletion/examples/CartesianBraiding.g
  FiniteCocompletion/examples/CartesianDiagonal.g
  FiniteCocompletion/examples/CocartesianAssociator.g
  FiniteCocompletion/examples/CocartesianBraiding.g
Due: FiniteCocompletion

added notebooks
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/examples/notebooks/.gitignore
  FiniteCocompletion/examples/notebooks/CartesianBraiding.ipynb
  FiniteCocompletion/examples/notebooks/CartesianDiagonal.ipynb
  FiniteCocompletion/examples/notebooks/README.md
Due: FiniteCocompletion

fixed notebooks/README.md
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/examples/notebooks/README.md
Due: FiniteCocompletion

Update website for FiniteCocompletion 2023.01-21
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  FiniteCocompletion/doc/chap1.html
  FiniteCocompletion/doc/chap1.txt
  FiniteCocompletion/doc/chap1_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

Adjust to https://github.com/homalg-project/CAP_project/pull/1218
  PackageInfo.g
  gap/precompiled_categories/SliceCategoryOfCategoryOfRowsOfFieldOverTensorUnitPrecompiled.gi
Due: none

Adjust to https://github.com/homalg-project/CAP_project/pull/1218
  PackageInfo.g
  gap/precompiled_categories/StablePosetOfCategoryOfPosetOfCategoryOfSliceCategoryOverTensorUnitOfCategoryOfRowsOfCommutativeRingPrecompiled.gi
Due: none

complied to coding style and added comment
  FiniteCocompletion/gap/FiniteStrictCoproductCocompletion.gi
Due: FiniteCocompletion

unified code
  FiniteCocompletion/gap/FiniteStrictCoproductCocompletion.gi
Due: FiniteCocompletion

AddDerivationToCAP( HomomorphismStructureOnMorphismsWithGivenObjects, ... )
  PackageInfo.g
  gap/ToposDerivedMethods.gi
Due: none

renamed variable Fam -> UC in example files
  FiniteCocompletion/examples/CocartesianAssociator.g
  FiniteCocompletion/examples/CocartesianBraiding.g
Due: FiniteCocompletion

fixed docu
  FiniteCocompletion/doc/Doc.autodoc
  FiniteCocompletion/gap/FiniteStrictCoproductCocompletion.gd
  FiniteCocompletion/gap/FiniteStrictProductCompletion.gd
Due: FiniteCocompletion

use MorphismsOfExternalHom to simplify examples/notebooks
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/examples/CartesianBraiding.g
  FiniteCocompletion/examples/CartesianDiagonal.g
  FiniteCocompletion/examples/CocartesianAssociator.g
  FiniteCocompletion/examples/CocartesianBraiding.g
  FiniteCocompletion/examples/notebooks/CartesianBraiding.ipynb
  FiniteCocompletion/examples/notebooks/CartesianDiagonal.ipynb
Due: FiniteCocompletion
