Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

Update website for CatReps 2025.07-03
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2025.07-03
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2025.07-03
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2025.07-02
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for LazyCategories 2025.07-03
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2025.07-03
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for ToolsForCategoricalTowers 2025.07-03
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for ZariskiFrames 2025.07-07
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

Move IsDiscreteCategory to CAP
  Locales/gap/Proset.gd
Due: Locales

DiscreteSkeletal* -> SkeletalDiscrete*
  GradedCategories/gap/ZGradedClosureCategoryWithBounds.gi
  Locales/PackageInfo.g
  Locales/examples/DiscreteSkeletalCategory.g
  Locales/gap/ProsetAsCategory.gd
  Locales/gap/ProsetAsCategory.gi
  PreSheaves/PackageInfo.g
  PreSheaves/examples/TerminalCategory.g
Due: GradedCategories, Locales, PreSheaves

Update website for Locales 2025.07-04
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap1.html
  Locales/doc/chap1.txt
  Locales/doc/chap1_mj.html
  Locales/doc/chap7.html
  Locales/doc/chap7.txt
  Locales/doc/chap7_mj.html
  Locales/doc/chapInd.html
  Locales/doc/chapInd.txt
  Locales/doc/chapInd_mj.html
  _data/Locales.yml
Due: Locales

Update website for PreSheaves 2025.07-02
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

bump version of GradedCategories
  GradedCategories/PackageInfo.g
Due: GradedCategories

comply with CAP v2025.07-04
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteCoproductCompletion.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteProductCompletion.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/TerminalCategory.g
  PreSheaves/PackageInfo.g
  PreSheaves/examples/TerminalCategory.g
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/examples/TerminalCategoryWithMultipleObjects.g
Due: FunctorCategories, PreSheaves, SubcategoriesForCAP

clean AddIsWellDefinedForObjects/Morphisms in CategoryOfFpMatrixAlgebras
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gi
Due: Algebroids

simplified code
  Algebroids/gap/CategoryOfFpAlgebras.gi
Due: Algebroids

fixed extraction of obstruction in CategoryOfFpMatrixAlgebras
  Algebroids/PackageInfo.g
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gi
Due: Algebroids

Update website for Algebroids 2025.07-14
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FiniteCocompletions 2025.07-04
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2.txt
  FiniteCocompletions/doc/chap2_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2025.07-04
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap9.html
  FunctorCategories/doc/chap9.txt
  FunctorCategories/doc/chap9_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for GradedCategories 2025.07-01
  GradedCategories/PackageInfo.g
  GradedCategories/doc/chap0.html
  GradedCategories/doc/chap0.txt
  GradedCategories/doc/chap0_mj.html
  _data/GradedCategories.yml
Due: GradedCategories

Update website for PreSheaves 2025.07-03
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for SubcategoriesForCAP 2025.07-02
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

renamed AbelianClosureWithStrictDirectSums* -> AbelianClosure*
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/SnakeInFreeAbelian.g
  FiniteCocompletions/gap/AbelianClosure.gd
  FiniteCocompletions/gap/AbelianClosure.gi
Due: none

bump version
  FiniteCocompletions/PackageInfo.g
Due: none

make data structure of morphisms between f.p. matrix algebras lazier
  Algebroids/PackageInfo.g
  Algebroids/gap/CategoryOfFpAlgebras.gd
  Algebroids/gap/CategoryOfFpAlgebras.gi
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gd
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gi
Due: Algebroids

Update website for FiniteCocompletions 2025.07-05
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap12.html
  FiniteCocompletions/doc/chap12.txt
  FiniteCocompletions/doc/chap12_mj.html
  FiniteCocompletions/doc/chapInd.html
  FiniteCocompletions/doc/chapInd.txt
  FiniteCocompletions/doc/chapInd_mj.html
  _data/FiniteCocompletions.yml
Due: none

got rid of extract_datum
  Algebroids/PackageInfo.g
  Algebroids/gap/CategoryOfFpAlgebras.gi
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gi
Due: Algebroids

clean up in ZariskiFrames
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/gap/ConstructibleImage.gd
  ZariskiFrames/gap/ConstructibleImage.gi
Due: ZariskiFrames

Update website for Algebroids 2025.07-15
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap10.html
  Algebroids/doc/chap10.txt
  Algebroids/doc/chap10_mj.html
  Algebroids/doc/chap11.html
  Algebroids/doc/chap11.txt
  Algebroids/doc/chap11_mj.html
  Algebroids/doc/chapInd.html
  Algebroids/doc/chapInd.txt
  Algebroids/doc/chapInd_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for Algebroids 2025.07-16
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for ZariskiFrames 2025.07-08
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

fixed description string of method
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gi
Due: Algebroids

d&i AssociatedAmbientHomalgRing
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/gap/CategoryOfAffineAlgebras.gd
  ZariskiFrames/gap/CategoryOfAffineAlgebras.gi
  ZariskiFrames/tst/CategoryOfAffineAlgebras.tst
Due: ZariskiFrames

d&i DecompositionByDegree2Polynomials
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/gap/CategoryOfAffineAlgebras.gd
  ZariskiFrames/gap/CategoryOfAffineAlgebras.gi
Due: ZariskiFrames

installed / for [ IsHomalgRing, IsCategoryOfAffineAlgebras ]
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/gap/CategoryOfAffineAlgebras.gi
Due: ZariskiFrames

renamed IsCategoryOfFinitelyPresented(Matrix)Algebras -> IsCategoryOfFp(Matrix)Algebras
  Algebroids/PackageInfo.g
  Algebroids/gap/CategoryOfFpAlgebras.gd
  Algebroids/gap/CategoryOfFpAlgebras.gi
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gd
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gi
Due: Algebroids

fixed NaturalTransformationFromIdenitityFunctorToSimplificationOfAffineAlgebrasByLinearEquationsData
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/gap/CategoryOfAffineAlgebras.gi
Due: ZariskiFrames

Update website for Algebroids 2025.07-17
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap10.html
  Algebroids/doc/chap10.txt
  Algebroids/doc/chap10_mj.html
  Algebroids/doc/chap11.html
  Algebroids/doc/chap11.txt
  Algebroids/doc/chap11_mj.html
  Algebroids/doc/chapInd.html
  Algebroids/doc/chapInd.txt
  Algebroids/doc/chapInd_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for ZariskiFrames 2025.07-12
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames
