Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

Update website for ZariskiFrames 2024.02-01
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  ZariskiFrames/doc/chap5.html
  ZariskiFrames/doc/chap5.txt
  ZariskiFrames/doc/chap5_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

missing category as first argument
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/gap/SliceCategory.gi
  Toposes/PackageInfo.g
  Toposes/gap/Topos.gi
  Toposes/gap/ToposDerivedMethods.gi
  Toposes/gap/ToposMethodRecord.gi
Due: SubcategoriesForCAP, Toposes

Update website for SubcategoriesForCAP 2024.02-03
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Update website for Toposes 2024.02-03
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

InstallMethod( String, [ IsQuotientOfPathCategoryObject/Morphism ] )
  FpCategories/PackageInfo.g
  FpCategories/gap/QuotientsOfPathCategories.gi
Due: none

conditionally SetIsFinite( ..., true ) in PathCategory/QuotientCategory constructor
  FpCategories/PackageInfo.g
  FpCategories/gap/PathCategories.gi
  FpCategories/gap/QuotientsOfPathCategories.gi
Due: none

installed Size for IsCapCategory and HasSetOfObjects and HasRangeCategoryOfHomomorphismStructure
  FpCategories/PackageInfo.g
  FpCategories/gap/Tools.gi
Due: none

installed ExternalHomsWithGivenLengthOp for IsQuotientOfPathCategory
  FpCategories/PackageInfo.g
  FpCategories/gap/QuotientsOfPathCategories.gi
Due: none

unifid code comments
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CoPreSheaves.gi
  FunctorCategories/gap/FunctorCategories.gi
Due: FunctorCategories

renamed PowerObjectEvaluationMorphism -> PowerObjectLeftEvaluationMorphism
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/examples/SliceCategory.g
  SubcategoriesForCAP/gap/SliceCategory.gi
  Toposes/PackageInfo.g
  Toposes/gap/Topos.autogen.gd
  Toposes/gap/Topos.gd
  Toposes/gap/Topos.gi
  Toposes/gap/ToposDerivedMethods.gi
  Toposes/gap/ToposMethodRecord.gi
Due: SubcategoriesForCAP, Toposes

Update website for FpCategories 2024.02-04
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  _data/FpCategories.yml
Due: none

Update website for FunctorCategories 2024.02-02
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for SubcategoriesForCAP 2024.02-04
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  SubcategoriesForCAP/doc/chap4.html
  SubcategoriesForCAP/doc/chap4.txt
  SubcategoriesForCAP/doc/chap4_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Update website for Toposes 2024.02-04
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  Toposes/doc/chap1.html
  Toposes/doc/chap1.txt
  Toposes/doc/chap1_mj.html
  Toposes/doc/chapInd.html
  Toposes/doc/chapInd.txt
  Toposes/doc/chapInd_mj.html
  _data/Toposes.yml
Due: Toposes

replaced last occurrences of • -> ⋅
  FpCategories/PackageInfo.g
  FpCategories/gap/PathCategories.gi
Due: none

Update website for FpCategories 2024.02-05
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  _data/FpCategories.yml
Due: none

d&i QuiverStringOfDigraph
  FpCategories/PackageInfo.g
  FpCategories/examples/FinQuiver.g
  FpCategories/examples/QuiverStringOfDigraph.g
  FpCategories/gap/Tools.gd
  FpCategories/gap/Tools.gi
  FpCategories/tst/100_LoadPackage.tst
Due: none

Update website for FpCategories 2024.02-06
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap3.html
  FpCategories/doc/chap3.txt
  FpCategories/doc/chap3_mj.html
  FpCategories/doc/chapInd.html
  FpCategories/doc/chapInd.txt
  FpCategories/doc/chapInd_mj.html
  _data/FpCategories.yml
Due: none

made code more local
  Locales/PackageInfo.g
  Locales/gap/ProsetOfCategory.gi
Due: Locales

ReadPackage -> ReadPackageOnce
  FunctorCategories/examples/PrecompilePreSheavesOfCategoryFromDataTablesInSkeletalFinSetsSubobjectClassifier.g
  FunctorCategories/examples/PrecompilePreSheavesOfFpCategoryInSkeletalFinSetsSubobjectClassifier.g
Due: FunctorCategories

Update website for Algebroids 2024.02-02
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap2.html
  Algebroids/doc/chap2.txt
  Algebroids/doc/chap2_mj.html
  Algebroids/doc/chap3.html
  Algebroids/doc/chap3.txt
  Algebroids/doc/chap3_mj.html
  Algebroids/doc/chap4.html
  Algebroids/doc/chap4.txt
  Algebroids/doc/chap4_mj.html
  Algebroids/doc/chap5.html
  Algebroids/doc/chap5.txt
  Algebroids/doc/chap5_mj.html
  Algebroids/doc/chap6.html
  Algebroids/doc/chap6.txt
  Algebroids/doc/chap6_mj.html
  Algebroids/doc/chapInd.html
  Algebroids/doc/chapInd.txt
  Algebroids/doc/chapInd_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for CatReps 2024.02-01
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  CatReps/doc/chap1.html
  CatReps/doc/chap1.txt
  CatReps/doc/chap1_mj.html
  CatReps/doc/chapInd.html
  CatReps/doc/chapInd.txt
  CatReps/doc/chapInd_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2024.02-02
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2.txt
  FiniteCocompletions/doc/chap2_mj.html
  FiniteCocompletions/doc/chap6.html
  FiniteCocompletions/doc/chap6.txt
  FiniteCocompletions/doc/chap6_mj.html
  FiniteCocompletions/doc/chap8.html
  FiniteCocompletions/doc/chap8.txt
  FiniteCocompletions/doc/chap8_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FpCategories 2024.02-07
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap1.html
  FpCategories/doc/chap1_mj.html
  FpCategories/doc/chap2.html
  FpCategories/doc/chap2.txt
  FpCategories/doc/chap2_mj.html
  FpCategories/doc/chap3.html
  FpCategories/doc/chap3.txt
  FpCategories/doc/chap3_mj.html
  FpCategories/doc/chap4.html
  FpCategories/doc/chap4.txt
  FpCategories/doc/chap4_mj.html
  FpCategories/doc/chapInd.html
  FpCategories/doc/chapInd.txt
  FpCategories/doc/chapInd_mj.html
  _data/FpCategories.yml
Due: none

Update website for FunctorCategories 2024.02-03
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap1.html
  FunctorCategories/doc/chap1.txt
  FunctorCategories/doc/chap11.html
  FunctorCategories/doc/chap11.txt
  FunctorCategories/doc/chap11_mj.html
  FunctorCategories/doc/chap12.html
  FunctorCategories/doc/chap12.txt
  FunctorCategories/doc/chap12_mj.html
  FunctorCategories/doc/chap1_mj.html
  FunctorCategories/doc/chap9.html
  FunctorCategories/doc/chap9.txt
  FunctorCategories/doc/chap9_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Locales 2024.02-04
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap13.html
  Locales/doc/chap13.txt
  Locales/doc/chap13_mj.html
  Locales/doc/chapInd.html
  Locales/doc/chapInd.txt
  Locales/doc/chapInd_mj.html
  _data/Locales.yml
Due: Locales

Update website for PreSheaves 2024.02-02
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for QuotientCategories 2024.02-01
  QuotientCategories/PackageInfo.g
  QuotientCategories/doc/chap0.html
  QuotientCategories/doc/chap0.txt
  QuotientCategories/doc/chap0_mj.html
  _data/QuotientCategories.yml
Due: none

Update website for ToolsForCategoricalTowers 2024.02-03
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap1.html
  ToolsForCategoricalTowers/doc/chap1.txt
  ToolsForCategoricalTowers/doc/chap1_mj.html
  ToolsForCategoricalTowers/doc/chap2.html
  ToolsForCategoricalTowers/doc/chap2.txt
  ToolsForCategoricalTowers/doc/chap2_mj.html
  ToolsForCategoricalTowers/doc/chapInd.html
  ToolsForCategoricalTowers/doc/chapInd.txt
  ToolsForCategoricalTowers/doc/chapInd_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Comment operations requiring Digraphs in Julia
  Toposes/PackageInfo.g
  Toposes/gap/Tools.gi
Due: Toposes

stop testing FinSetsForCAP to avoid dependancy hell
  .github/workflows/Tests.yml
Due: none

refactored CreateIntervalCategory to use 0, 1 instead of true, false
  Locales/PackageInfo.g
  Locales/gap/IntervalCategory.gd
  Locales/gap/IntervalCategory.gi
Due: Locales

AddDerivationToCAP( UniqueMorphism, ... ) using MorphismsOfExternalHom
  Locales/PackageInfo.g
  Locales/gap/ProsetDerivedMethods.gi
Due: Locales

deleted obsolete local variable
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
Due: none

temporarily relax timing comparison
  Algebroids/tst/AdditiveClosureOfAlgebroid_vs_QuiverRows.tst
Due: Algebroids

require Locales in FiniteCocompletions (preparing for the next commit)
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteCoproductCompletion.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteProductCompletion.g
Due: none

temporarily disable testing notebook
  CatReps/makefile
  FunctorCategories/makefile
  InternalModules/makefile
  LazyCategories/makefile
Due: CatReps, FunctorCategories, LazyCategories

relocated code in FiniteStrictCoproductCompletion
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
Due: none

fixed InstallTrueMethod
  Locales/PackageInfo.g
  Locales/gap/Lattice.gi
Due: Locales
