Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

renamed DecompositionOfMorphismInCategoryInIndices -> DecompositionIndicesOfMorphismInCategory
  Algebroids/PackageInfo.g
  Algebroids/gap/CategoryFromDataTables.gd
  Algebroids/gap/CategoryFromDataTables.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: Algebroids, FunctorCategories

simplified DecompositionOfMorphismInCategory for IsCategoryFromDataTables
  Algebroids/gap/CategoryFromDataTables.gi
Due: Algebroids

renamed DecompositionOfAllMorphisms* -> DecompositionIndicesOfAllMorphisms*
  Algebroids/PackageInfo.g
  Algebroids/gap/CategoryFromDataTables.gd
  Algebroids/gap/CategoryFromDataTables.gi
  Algebroids/gap/CategoryFromNerveData.gd
  Algebroids/gap/CategoryFromNerveData.gi
  Algebroids/gap/FpCategories.gd
  Algebroids/gap/FpCategories.gi
  Algebroids/gap/Tools.gd
  Algebroids/gap/Tools.gi
Due: Algebroids

d&i DecompositionIndicesOfMorphism for IsMorphismInFpCategory
  Algebroids/PackageInfo.g
  Algebroids/examples/CategoryFromDataTables.g
  Algebroids/gap/FpCategories.gd
  Algebroids/gap/FpCategories.gi
Due: Algebroids

Update website for Algebroids 2023.10-10
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap4.html
  Algebroids/doc/chap4.txt
  Algebroids/doc/chap4_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FunctorCategories 2023.10-17
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Algebroids 2023.10-11
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap9.html
  Algebroids/doc/chap9.txt
  Algebroids/doc/chap9_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for CategoryConstructor 2023.10-06
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/doc/chap0.html
  CategoryConstructor/doc/chap0.txt
  CategoryConstructor/doc/chap0_mj.html
  CategoryConstructor/doc/chap1.html
  CategoryConstructor/doc/chap1.txt
  CategoryConstructor/doc/chap1_mj.html
  _data/CategoryConstructor.yml
Due: CategoryConstructor

Update website for FiniteCocompletions 2023.10-08
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap13.html
  FiniteCocompletions/doc/chap13.txt
  FiniteCocompletions/doc/chap13_mj.html
  FiniteCocompletions/doc/chap4.html
  FiniteCocompletions/doc/chap4.txt
  FiniteCocompletions/doc/chap4_mj.html
  FiniteCocompletions/doc/chapInd.html
  FiniteCocompletions/doc/chapInd.txt
  FiniteCocompletions/doc/chapInd_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2023.10-18
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap15.html
  FunctorCategories/doc/chap15.txt
  FunctorCategories/doc/chap15_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Toposes 2023.10-06
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

whitespace
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

simplified code
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

ApplyObjectInPreSheafCategory*ToMorphism now has direct support for IsFpCategory
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

updated ReflexivePair.ipynb
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/notebooks/ReflexivePair.ipynb
Due: none

Update website for Algebroids 2023.10-12
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap1.html
  Algebroids/doc/chap1.txt
  Algebroids/doc/chap11.html
  Algebroids/doc/chap11.txt
  Algebroids/doc/chap11_mj.html
  Algebroids/doc/chap1_mj.html
  Algebroids/doc/chap3.html
  Algebroids/doc/chap3.txt
  Algebroids/doc/chap3_mj.html
  Algebroids/doc/chap4.html
  Algebroids/doc/chap4.txt
  Algebroids/doc/chap4_mj.html
  Algebroids/doc/chap6.html
  Algebroids/doc/chap6.txt
  Algebroids/doc/chap6_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for CategoriesWithAmbientObjects 2023.10-01
  CategoriesWithAmbientObjects/PackageInfo.g
  CategoriesWithAmbientObjects/doc/chap0.html
  CategoriesWithAmbientObjects/doc/chap0.txt
  CategoriesWithAmbientObjects/doc/chap0_mj.html
  CategoriesWithAmbientObjects/doc/chap2.html
  CategoriesWithAmbientObjects/doc/chap2.txt
  CategoriesWithAmbientObjects/doc/chap2_mj.html
  _data/CategoriesWithAmbientObjects.yml
Due: CategoriesWithAmbientObjects

Update website for CategoryConstructor 2023.10-07
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/doc/chap0.html
  CategoryConstructor/doc/chap0.txt
  CategoryConstructor/doc/chap0_mj.html
  _data/CategoryConstructor.yml
Due: CategoryConstructor

Update website for CatReps 2023.10-06
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for ExteriorPowersCategories 2023.10-01
  ExteriorPowersCategories/PackageInfo.g
  ExteriorPowersCategories/doc/chap0.html
  ExteriorPowersCategories/doc/chap0.txt
  ExteriorPowersCategories/doc/chap0_mj.html
  _data/ExteriorPowersCategories.yml
Due: ExteriorPowersCategories

Update website for FiniteCocompletions 2023.10-09
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap11.html
  FiniteCocompletions/doc/chap11.txt
  FiniteCocompletions/doc/chap11_mj.html
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2.txt
  FiniteCocompletions/doc/chap2_mj.html
  FiniteCocompletions/doc/chap3.html
  FiniteCocompletions/doc/chap3.txt
  FiniteCocompletions/doc/chap3_mj.html
  FiniteCocompletions/doc/chap4.html
  FiniteCocompletions/doc/chap4.txt
  FiniteCocompletions/doc/chap4_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2023.10-20
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap1.html
  FunctorCategories/doc/chap1.txt
  FunctorCategories/doc/chap11.html
  FunctorCategories/doc/chap11.txt
  FunctorCategories/doc/chap11_mj.html
  FunctorCategories/doc/chap12.html
  FunctorCategories/doc/chap12.txt
  FunctorCategories/doc/chap12_mj.html
  FunctorCategories/doc/chap1_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for GradedCategories 2023.10-01
  GradedCategories/PackageInfo.g
  GradedCategories/doc/chap0.html
  GradedCategories/doc/chap0.txt
  GradedCategories/doc/chap0_mj.html
  _data/GradedCategories.yml
Due: GradedCategories

Update website for InternalModules 2023.10-05
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for IntrinsicCategories 2023.10-01
  IntrinsicCategories/PackageInfo.g
  IntrinsicCategories/doc/chap0.html
  IntrinsicCategories/doc/chap0.txt
  IntrinsicCategories/doc/chap0_mj.html
  _data/IntrinsicCategories.yml
Due: IntrinsicCategories

Update website for IntrinsicGradedModules 2023.10-05
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/doc/chap0.html
  IntrinsicGradedModules/doc/chap0.txt
  IntrinsicGradedModules/doc/chap0_mj.html
  _data/IntrinsicGradedModules.yml
Due: IntrinsicGradedModules

Update website for IntrinsicModules 2023.10-04
  IntrinsicModules/PackageInfo.g
  IntrinsicModules/doc/chap0.html
  IntrinsicModules/doc/chap0.txt
  IntrinsicModules/doc/chap0_mj.html
  IntrinsicModules/doc/chap5.html
  IntrinsicModules/doc/chap5.txt
  IntrinsicModules/doc/chap5_mj.html
  _data/IntrinsicModules.yml
Due: IntrinsicModules

Update website for LazyCategories 2023.10-05
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  LazyCategories/doc/chap1.html
  LazyCategories/doc/chap1.txt
  LazyCategories/doc/chap1_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2023.10-02
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap8.html
  Locales/doc/chap8.txt
  Locales/doc/chap8_mj.html
  _data/Locales.yml
Due: Locales

Update website for PreSheaves 2023.10-04
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  PreSheaves/doc/chapInd.html
  PreSheaves/doc/chapInd.txt
  PreSheaves/doc/chapInd_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for QuotientCategories 2023.10-02
  QuotientCategories/PackageInfo.g
  QuotientCategories/doc/chap0.html
  QuotientCategories/doc/chap0.txt
  QuotientCategories/doc/chap0_mj.html
  _data/QuotientCategories.yml
Due: none

Update website for SubcategoriesForCAP 2023.10-02
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  SubcategoriesForCAP/doc/chap4.html
  SubcategoriesForCAP/doc/chap4.txt
  SubcategoriesForCAP/doc/chap4_mj.html
  SubcategoriesForCAP/doc/chap5.html
  SubcategoriesForCAP/doc/chap5.txt
  SubcategoriesForCAP/doc/chap5_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Update website for Toposes 2023.10-07
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  Toposes/doc/chap1.html
  Toposes/doc/chap1.txt
  Toposes/doc/chap1_mj.html
  _data/Toposes.yml
Due: Toposes

refactored the optimization of the co-Yoneda lemma
  CatReps/PackageInfo.g
  CatReps/README.md
  CatReps/examples/CategoryOfRepresentations.g
  CatReps/examples/notebooks/CategoryOfRepresentations.ipynb
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/Doc.autodoc
  FunctorCategories/examples/StreamVortexSystem.g
  FunctorCategories/examples/StreamVortexSystemBig.g
  FunctorCategories/examples/Weierstrass.g
  FunctorCategories/examples/notebooks/SpecificRetractionYieldsIsomorphicCoequalizers.ipynb
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: CatReps, FunctorCategories

Update website for CatReps 2023.10-07
  CatReps/PackageInfo.g
  CatReps/README.md
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  CatReps/doc/chap1.html
  CatReps/doc/chap1.txt
  CatReps/doc/chap1_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2023.10-10
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2023.10-21
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd.txt
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Revert "temporarily disable testing FinSetsForCAP"
  .github/workflows/Tests.yml
Due: none

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
