Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

AddDerivationToCAP( SetOfGeneratingMorphismsOfCategory, ... ) for a finite thin category
  Locales/PackageInfo.g
  Locales/gap/ProsetDerivedMethods.gi
Due: Locales

use DigitInPositionalNotation instead of RemInt o QuoInt
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
  FiniteCocompletions/gap/precompiled_categories/FiniteStrictCoproductCompletionOfCategoryFromDataTablesPrecompiled.gi
  FiniteCocompletions/gap/precompiled_categories/SkeletalCategoryOfFiniteSetsAsFiniteStrictCoproductCompletionOfTerminalCategoryPrecompiled.gi
Due: none

InstallTrueMethod( IsFiniteCategory, IsThinCategory and IsObjectFiniteCategory )
  Locales/PackageInfo.g
  Locales/gap/Proset.gi
Due: Locales

reordered lines in dependencies record
  FiniteCocompletions/PackageInfo.g
Due: none

FiniteStrict(Co)productCompletion now supports the join completion of p(r)osets
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
Due: none

updated Locales/tst/TerminalCategoryTopos.tst
  Locales/tst/TerminalCategoryTopos.tst
Due: Locales

updated timings (temporarily), it is unclear where this change comes from
  Algebroids/PackageInfo.g
  Algebroids/examples/AdelmanCategoryOfAdditiveClosureOfAlgebroidVsAdelmanCategoryOfQuiverRows.g
Due: Algebroids

enhance MeetSemilatticeOfSingleDifferences for *finite* distributive lattices
  Locales/PackageInfo.g
  Locales/gap/SingleDifferences.gi
Due: Locales

InstallMethodForCompilerForCAP( SetOfObjects, [ HasOppositeCategory ], ... )
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/gap/Tools.gi
Due: none

derive WithGiven operations for (co)equalizer
  Locales/PackageInfo.g
  Locales/gap/ProsetDerivedMethods.gi
Due: Locales

the IntervalCategory has decidable lifts and colifts
  Locales/PackageInfo.g
  Locales/examples/Dedekind1stNumber.g
  Locales/gap/IntervalCategory.gi
Due: Locales

AddDerivationToCAP( IsIsomorphicForObjects, ... ) for thin categories
  Locales/PackageInfo.g
  Locales/gap/ProsetDerivedMethods.gi
Due: Locales

updated FpCategories/gap/ToolsMethodRecord.gi
  FpCategories/gap/ToolsMethodRecord.gi
Due: none

AddDerivationToCAP( SetOfGeneratingMorphismsOfCategory, ... )
  FpCategories/PackageInfo.g
  FpCategories/gap/ToolsDerivedMethods.gi
Due: none

installed SetOfObjects/SetOfGeneratingMorphisms for Is(Co)PreSheafCategory/IsFunctorCategory
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CoPreSheaves.gi
  FunctorCategories/gap/FunctorCategories.gi
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

installed DefiningTripleOfUnderlyingQuiver for IsFinitelyPresentedCategory
  FpCategories/PackageInfo.g
  FpCategories/gap/Tools.gi
Due: none

InstallMethodForCompilerForCAP( SetOfGeneratingMorphisms, [ HasOppositeCategory ], ... )
  FpCategories/PackageInfo.g
  FpCategories/gap/Tools.gi
Due: none

d&d PRightTransposeMorphism, PowerObjectRightEvaluationMorphism, and RightFiberMorphism
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/FiniteColimitCompletionWithStrictCoproducts.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteCoproductCompletion.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteProductCompletion.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/TerminalCategory.g
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  Locales/PackageInfo.g
  Locales/examples/Dedekind1stNumber.g
  Locales/examples/StablePosetOfCategory.g
  PreSheaves/PackageInfo.g
  PreSheaves/examples/TerminalCategory.g
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/examples/SliceCategory.g
  ToolsForCategoricalTowers/examples/MorphismBetweenCoproducts.g
  ToolsForCategoricalTowers/examples/MorphismBetweenDirectProducts.g
  Toposes/PackageInfo.g
  Toposes/examples/RightFiberMorphism.g
  Toposes/gap/Topos.autogen.gd
  Toposes/gap/Topos.gd
  Toposes/gap/ToposDerivedMethods.gi
  Toposes/gap/ToposMethodRecord.gi
  Toposes/tst/Opposite.tst
Due: FunctorCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes

fixed AddDerivationToCAP( LeftFiberMorphismWithGivenObjects, ... )
  Toposes/PackageInfo.g
  Toposes/examples/LeftFiberMorphism.g
  Toposes/gap/Topos.gd
  Toposes/gap/ToposDerivedMethods.gi
  Toposes/tst/100_LoadPackage.tst
Due: Toposes

improved documentation
  Toposes/gap/Topos.gd
Due: Toposes

renamed PTransposeMorphism -> PLeftTransposeMorphism, FiberMorphism -> LeftFiberMorphism
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/examples/SliceCategory.g
  SubcategoriesForCAP/gap/SliceCategory.gi
  Toposes/PackageInfo.g
  Toposes/gap/Topos.autogen.gd
  Toposes/gap/Topos.gd
  Toposes/gap/ToposDerivedMethods.gi
  Toposes/gap/ToposMethodRecord.gi
Due: SubcategoriesForCAP, Toposes

improved derivation of LowerSegmentOfRelationWithGivenRange
  Toposes/gap/ToposDerivedMethods.gi
Due: Toposes

Update website for Algebroids 2024.02-03
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap12.html
  Algebroids/doc/chap12.txt
  Algebroids/doc/chap12_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FiniteCocompletions 2024.02-05
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2.txt
  FiniteCocompletions/doc/chap2_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FpCategories 2024.02-10
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  _data/FpCategories.yml
Due: none

Update website for FunctorCategories 2024.02-04
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Locales 2024.02-13
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap13.html
  Locales/doc/chap13.txt
  Locales/doc/chap13_mj.html
  Locales/doc/chapInd.html
  Locales/doc/chapInd.txt
  Locales/doc/chapInd_mj.html
  _data/Locales.yml
Due: Locales

Update website for ToolsForCategoricalTowers 2024.02-04
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for Toposes 2024.02-05
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

pass all properties to CategoryConstructor of PreSheaves beforehand
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/Dedekind2ndNumber.g
  FunctorCategories/gap/PreSheaves.gi
  Locales/examples/Dedekind1stNumber.g
Due: FunctorCategories, Locales

fixed arrow direction in DigraphOfSubobjects and corresponding DotVertexLabelledDigraph
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  FunctorCategories/examples/notebooks/svg/SubobjectClassifierOfToposOfFinBouquets.svg
  FunctorCategories/examples/notebooks/svg/SubobjectClassifierOfToposOfFinQuivers.svg
  Toposes/gap/Tools.gi
Due: FunctorCategories, Toposes

improved CreateProsetOrPosetOfCategory
  Locales/PackageInfo.g
  Locales/gap/ProsetOfCategory.gi
Due: Locales

d&i DigraphOfPoset
  Locales/PackageInfo.g
  Locales/gap/ToolsUsingDigraphs.gd
  Locales/gap/ToolsUsingDigraphs.gi
  Locales/init.g
Due: Locales

declared categorical property IsEquivalentToFiniteCategory
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/gap/Tools.gd
  ToolsForCategoricalTowers/gap/Tools.gi
Due: none

SetIsEquivalentToFiniteCategory( UC, true ) if IsIntervalCategory( H )
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
Due: none

installed SetOfObjects & SetOfGeneratingMorphisms for IsFiniteC(oc)ompletion
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/FiniteCocompletion.gi
  FunctorCategories/gap/FiniteCompletion.gi
Due: FunctorCategories

InstallTrueMethod( IsBiHeytingAlgebroid, IsDistributiveBicartesianProset and IsEquivalentToFiniteCategory )
  Locales/PackageInfo.g
  Locales/gap/Lattice.gi
Due: Locales

Update website for Locales 2024.02-14
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap13.html
  Locales/doc/chap13.txt
  Locales/doc/chap13_mj.html
  Locales/doc/chap8.html
  Locales/doc/chap8.txt
  Locales/doc/chap8_mj.html
  _data/Locales.yml
Due: Locales

Update website for PreSheaves 2024.02-03
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for SubcategoriesForCAP 2024.02-06
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  SubcategoriesForCAP/doc/chap4.html
  SubcategoriesForCAP/doc/chap4.txt
  SubcategoriesForCAP/doc/chap4_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
