Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

Update website for ZariskiFrames 2023.08-02
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

Update website for FunctorCategories 2023.08-27
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2023.08-05
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  InternalModules/doc/chap1.html
  InternalModules/doc/chap1.txt
  InternalModules/doc/chap1_mj.html
  InternalModules/doc/chap2.html
  InternalModules/doc/chap2_mj.html
  InternalModules/doc/chap3.html
  InternalModules/doc/chap3_mj.html
  InternalModules/doc/chap4.html
  InternalModules/doc/chap4_mj.html
  InternalModules/doc/chap5.html
  InternalModules/doc/chap5.txt
  InternalModules/doc/chap5_mj.html
  InternalModules/doc/chap6.html
  InternalModules/doc/chap6.txt
  InternalModules/doc/chap6_mj.html
  InternalModules/doc/chap7.html
  InternalModules/doc/chap7.txt
  InternalModules/doc/chap7_mj.html
  InternalModules/doc/chap8.html
  InternalModules/doc/chap8.txt
  InternalModules/doc/chap8_mj.html
  InternalModules/doc/chap9.html
  InternalModules/doc/chap9.txt
  InternalModules/doc/chap9_mj.html
  InternalModules/doc/chapInd.html
  InternalModules/doc/chapInd.txt
  InternalModules/doc/chapInd_mj.html
  _data/InternalModules.yml
Due: none

ZZ -> zz as ZZ is now occupied by StandardFF
  examples/doc/quotient_by_projectives.g
  examples/left_presentations_over_Z.g
  gap/QuotientCategories.gi
Due: none

StandardFF is now autoloaded by GAP and installs ZZ as a global variable
  Algebroids/PackageInfo.g
  Algebroids/examples/doc/IntegersAsMonoid.g
  Algebroids/gap/CompilerLogic.gi
  ExteriorPowersCategories/PackageInfo.g
  ExteriorPowersCategories/examples/ExteriorPowersCategory.g
  IntrinsicModules/PackageInfo.g
  IntrinsicModules/examples/ProcedureToNormalizeGenerators.g
  IntrinsicModules/examples/doc/AdditionForMorphisms.g
  IntrinsicModules/examples/doc/BaseChange.g
  IntrinsicModules/examples/doc/BaseChange2.g
  IntrinsicModules/examples/doc/BasisOfModule_Left.g
  IntrinsicModules/examples/doc/BasisOfModule_Right.g
  IntrinsicModules/examples/doc/ByASmallerPresentation.g
  IntrinsicModules/examples/doc/GetRidOfZeroGenerators.g
  IntrinsicModules/examples/doc/HomalgFreeLeftModule.g
  IntrinsicModules/examples/doc/HomalgFreeRightModule.g
  IntrinsicModules/examples/doc/HomalgMap.g
  IntrinsicModules/examples/doc/HomalgZeroLeftModule.g
  IntrinsicModules/examples/doc/HomalgZeroRightModule.g
  IntrinsicModules/examples/doc/LeftPresentation.g
  IntrinsicModules/examples/doc/Resolution.g
  IntrinsicModules/examples/doc/Resolution2.g
  IntrinsicModules/examples/doc/RightPresentation.g
  LazyCategories/PackageInfo.g
  LazyCategories/examples/SnakeInAdditiveClosureOfAlgebroid.g
  LazyCategories/examples/SnakeInAdditiveClosureOfAlgebroidPrimitive.g
  LazyCategories/examples/SnakeInFreeAbelian.g
  LazyCategories/examples/SnakeInFreeAbelianPrimitive.g
  Locales/PackageInfo.g
  Locales/examples/PrecompileStablePosetOfCategory.g
  Locales/tst/EmptyLimits.tst
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/examples/CharSet.g
  ZariskiFrames/examples/MultipleDifferences.g
  ZariskiFrames/examples/doc/ClosedSubsetOfSpecZ.g
  ZariskiFrames/examples/doc/ConstructibleProjectionOfDifferences.g
  ZariskiFrames/examples/doc/EmbedInSmallerAmbientSpace.g
  ZariskiFrames/examples/doc/OpenSubsetOfSpecZ.g
  ZariskiFrames/examples/doc/PseudoIteratorOfClosedPoints.g
Due: Algebroids, ExteriorPowersCategories, IntrinsicModules, LazyCategories, Locales, ZariskiFrames

Update website for Algebroids 2023.09-01
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap1.html
  Algebroids/doc/chap1.txt
  Algebroids/doc/chap1_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for ExteriorPowersCategories 2023.09-01
  ExteriorPowersCategories/PackageInfo.g
  ExteriorPowersCategories/doc/chap0.html
  ExteriorPowersCategories/doc/chap0.txt
  ExteriorPowersCategories/doc/chap0_mj.html
  _data/ExteriorPowersCategories.yml
Due: ExteriorPowersCategories

Update website for IntrinsicModules 2023.09-01
  IntrinsicModules/PackageInfo.g
  IntrinsicModules/doc/chap0.html
  IntrinsicModules/doc/chap0.txt
  IntrinsicModules/doc/chap0_mj.html
  IntrinsicModules/doc/chap1.html
  IntrinsicModules/doc/chap1.txt
  IntrinsicModules/doc/chap1_mj.html
  IntrinsicModules/doc/chap4.html
  IntrinsicModules/doc/chap4.txt
  IntrinsicModules/doc/chap4_mj.html
  IntrinsicModules/doc/chap5.html
  IntrinsicModules/doc/chap5.txt
  IntrinsicModules/doc/chap5_mj.html
  IntrinsicModules/doc/chap8.html
  IntrinsicModules/doc/chap8.txt
  IntrinsicModules/doc/chap8_mj.html
  _data/IntrinsicModules.yml
Due: IntrinsicModules

Update website for LazyCategories 2023.09-01
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  LazyCategories/doc/chap1.html
  LazyCategories/doc/chap1.txt
  LazyCategories/doc/chap1_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2023.09-01
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap15.html
  Locales/doc/chap15.txt
  Locales/doc/chap15_mj.html
  _data/Locales.yml
Due: Locales

Update website for ZariskiFrames 2023.09-01
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  ZariskiFrames/doc/chap1.html
  ZariskiFrames/doc/chap1.txt
  ZariskiFrames/doc/chap12.html
  ZariskiFrames/doc/chap12.txt
  ZariskiFrames/doc/chap12_mj.html
  ZariskiFrames/doc/chap1_mj.html
  ZariskiFrames/doc/chap5.html
  ZariskiFrames/doc/chap5.txt
  ZariskiFrames/doc/chap5_mj.html
  ZariskiFrames/doc/chap6.html
  ZariskiFrames/doc/chap6.txt
  ZariskiFrames/doc/chap6_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

renamed local variable for better readability
  FiniteCocompletions/gap/PairOfParallelArrowsCategory.gi
Due: none

renamed local variable for better readability
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gi
Due: none

simplified code
  FiniteCocompletions/gap/PairOfParallelArrowsCategory.gi
Due: none

Add*Equalizer* to FiniteStrictCoproductCocompletion
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/Doc.autodoc
  FiniteCocompletions/examples/HomStructure.g
  FiniteCocompletions/examples/SkeletalEqualizer.g
  FiniteCocompletions/examples/SkeletalWellDefined.g
  FiniteCocompletions/gap/FiniteStrictCoproductCocompletion.gi
  FiniteCocompletions/gap/precompiled_categories/CategoryOfSkeletalFinSetsAsFiniteStrictCoproductCocompletionOfTerminalCategoryPrecompiled.gi
Due: none

Update website for FiniteCocompletions 2023.09-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap4.html
  FiniteCocompletions/doc/chap4.txt
  FiniteCocompletions/doc/chap4_mj.html
  _data/FiniteCocompletions.yml
Due: none

Adjust to new detection of loops for preconditions in derivations
  Locales/PackageInfo.g
  Locales/gap/PosetDerivedMethods.gi
  Toposes/PackageInfo.g
  Toposes/gap/ToposDerivedMethods.gi
Due: Locales, Toposes

Update website for Locales 2023.09-02
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for Toposes 2023.09-01
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

updated examples/QvecInternalExteriorAlgebraModules.g
  InternalModules/examples/QvecInternalExteriorAlgebraModules.g
Due: none

added examples/RepS?InternalExteriorAlgebraModules.g
  InternalModules/PackageInfo.g
  InternalModules/examples/RepS3InternalExteriorAlgebraModules.g
  InternalModules/examples/RepS4InternalExteriorAlgebraModules.g
  InternalModules/gap/ExteriorAlgebra.gi
Due: none

Adjust to changes to the compilation of `Iterated`
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/examples/PrecompileSliceCategory.g
  SubcategoriesForCAP/gap/precompiled_categories/SliceCategoryOfCategoryOfRowsOfFieldOverTensorUnitPrecompiled.gi
Due: SubcategoriesForCAP

Update website for InternalModules 2023.09-01
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  InternalModules/doc/chap1.html
  InternalModules/doc/chap1.txt
  InternalModules/doc/chap1_mj.html
  _data/InternalModules.yml
Due: none

Update website for SubcategoriesForCAP 2023.09-01
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  SubcategoriesForCAP/doc/chap4.html
  SubcategoriesForCAP/doc/chap4.txt
  SubcategoriesForCAP/doc/chap4_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

temporarily disable testing notebook
  CatReps/makefile
  FunctorCategories/makefile
  InternalModules/makefile
  LazyCategories/makefile
Due: CatReps, FunctorCategories, LazyCategories

comply with CAP v2023.09-10
  Algebroids/PackageInfo.g
  Algebroids/gap/precompiled_categories/AdelmanCategoryOfAdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverFieldPrecompiled.gi
  Algebroids/gap/precompiled_categories/AdelmanCategoryOfAdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverZPrecompiled.gi
Due: Algebroids

fixed the preconditions in a derivation-bundle
  Toposes/PackageInfo.g
  Toposes/gap/ToposDerivedMethods.gi
Due: Toposes

Update website for Algebroids 2023.09-02
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for Toposes 2023.09-02
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

Remove logic templates which are now part of CompilerForCAP
  Algebroids/PackageInfo.g
  Algebroids/gap/CompilerLogic.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CompilerLogic.gi
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/examples/PrecompileSliceCategory.g
Due: Algebroids, FunctorCategories, SubcategoriesForCAP

bump all releases
  PackageInfo.g
Due: none

Update website for Algebroids 2023.09-03
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FunctorCategories 2023.09-01
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for SubcategoriesForCAP 2023.09-02
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  SubcategoriesForCAP/doc/chap4.html
  SubcategoriesForCAP/doc/chap4.txt
  SubcategoriesForCAP/doc/chap4_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

complete including QuotientCategories into the mono-repo
  QuotientCategories/PackageInfo.g
  QuotientCategories/README.md
  README.md
  dev/codecov.yml
  dev/make_dist.sh
  dev/simulate_dist.sh
  dev/upload_codecov.sh
  makefile
Due: none

added QuotientCategories
  QuotientCategories/_data/package.yml
  QuotientCategories/badge_date.json
  QuotientCategories/badge_version.json
  QuotientCategories/download_pdf.html
  QuotientCategories/view_release.html
Due: none

Update website for QuotientCategories 2023.09-01
  QuotientCategories/PackageInfo.g
  QuotientCategories/README.md
  QuotientCategories/doc/chap0.html
  QuotientCategories/doc/chap0.txt
  QuotientCategories/doc/chap0_mj.html
  QuotientCategories/doc/chapInd.html
  QuotientCategories/doc/chapInd.txt
  QuotientCategories/doc/chapInd_mj.html
  QuotientCategories/doc/chooser.html
  QuotientCategories/doc/lefttoc.css
  QuotientCategories/doc/manual.css
  QuotientCategories/doc/manual.js
  QuotientCategories/doc/nocolorprompt.css
  QuotientCategories/doc/ragged.css
  QuotientCategories/doc/rainbow.js
  QuotientCategories/doc/times.css
  QuotientCategories/doc/toggless.css
  QuotientCategories/doc/toggless.js
  _data/QuotientCategories.yml
Due: none

added Kamal as author of PreSheaves
  PreSheaves/PackageInfo.g
Due: PreSheaves

enhanced list of properties in PreSheavesOfFpEnrichedCategory
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/Dedekind2ndNumber.g
  FunctorCategories/gap/PreSheaves.gi
  Locales/PackageInfo.g
  Locales/examples/Dedekind1stNumber.g
Due: FunctorCategories, Locales

Update website for FunctorCategories 2023.09-02
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap11.html
  FunctorCategories/doc/chap11.txt
  FunctorCategories/doc/chap11_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories
