Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

Update website for SubcategoriesForCAP 2025.12-01
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  SubcategoriesForCAP/doc/chap1.html
  SubcategoriesForCAP/doc/chap1.txt
  SubcategoriesForCAP/doc/chap1_mj.html
  SubcategoriesForCAP/doc/chap3.html
  SubcategoriesForCAP/doc/chap3.txt
  SubcategoriesForCAP/doc/chap3_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Update website for ToolsForCategoricalTowers 2025.12-02
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap1.html
  ToolsForCategoricalTowers/doc/chap1.txt
  ToolsForCategoricalTowers/doc/chap1_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for Toposes 2025.12-03
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

Update website for ZariskiFrames 2025.12-02
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  ZariskiFrames/doc/chap1.html
  ZariskiFrames/doc/chap1.txt
  ZariskiFrames/doc/chap10.html
  ZariskiFrames/doc/chap10.txt
  ZariskiFrames/doc/chap10_mj.html
  ZariskiFrames/doc/chap1_mj.html
  ZariskiFrames/doc/chap5.html
  ZariskiFrames/doc/chap5.txt
  ZariskiFrames/doc/chap5_mj.html
  ZariskiFrames/doc/chap6.html
  ZariskiFrames/doc/chap6.txt
  ZariskiFrames/doc/chap6_mj.html
  ZariskiFrames/doc/chap9.html
  ZariskiFrames/doc/chap9.txt
  ZariskiFrames/doc/chap9_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

d&i ExtendFunctorToReinterpretedCategoryData
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/gap/Tools.gd
  ToolsForCategoricalTowers/gap/Tools.gi
Due: none

Update website for ToolsForCategoricalTowers 2025.12-03
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

fixed comment and updated PrecompileCategoryFromNerveDataHomStructureOnMorphisms.g
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/SkeletalFinSets.gi
  FpCategories/PackageInfo.g
  FpCategories/examples/PrecompileCategoryFromNerveDataHomStructureOnMorphisms.g
  FpCategories/gap/precompiled_categories/CategoryFromNerveDataHomStructureOnMorphismsPrecompiled.gi
Due: none

comply with FinSetsForCAP v2025.12-03: Length -> Cardinality
  Algebroids/PackageInfo.g
  Algebroids/gap/precompiled_categories/CategoryFromDataTablesPrecompiled.gi
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/SkeletalHomStructure.g
  FiniteCocompletions/examples/SkeletalLift.g
  FiniteCocompletions/examples/precompileCartesianDiagonal_CategoryFromDataTables.g
  FiniteCocompletions/examples/precompileCartesianDiagonal_PathCategory.g
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
  FiniteCocompletions/gap/SkeletalFinSets.gd
  FiniteCocompletions/gap/SkeletalFinSets.gi
  FiniteCocompletions/gap/precompiled_categories/FiniteStrictCoproductCompletionOfCategoryFromDataTablesPrecompiled.gi
  FiniteCocompletions/gap/precompiled_categories/SkeletalCategoryOfFiniteSetsAsFiniteStrictCoproductCompletionOfTerminalCategoryPrecompiled.gi
  FpCategories/PackageInfo.g
  FpCategories/gap/CategoryFromNerveData.gi
  FpCategories/gap/precompiled_categories/CategoryFromNerveDataHomStructureOnMorphismsPrecompiled.gi
  FpCategories/gap/precompiled_categories/CategoryFromNerveDataPrecompiled.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CategoryOfBouquets.gi
  FunctorCategories/gap/CategoryOfDecoratedQuivers.gi
  FunctorCategories/gap/CategoryOfQuivers.gi
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gi
  FunctorCategories/gap/PreSheaves.gi
  FunctorCategories/gap/precompiled_categories/FinBouquetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfCategoryFromDataTablesInSkeletalFinSetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfCategoryFromDataTablesInSkeletalFinSetsSubobjectClassifierPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFpCategoryInSkeletalFinSetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFpCategoryInSkeletalFinSetsSubobjectClassifierPrecompiled.gi
  Locales/PackageInfo.g
  Locales/gap/IntervalCategory.gd
  Locales/gap/IntervalCategory.gi
  Locales/gap/Proset.gi
Due: Algebroids, FunctorCategories, Locales

comply with FinSetsForCAP v2025.12-03: Length -> Cardinality (#759)
  Algebroids/PackageInfo.g
  Algebroids/gap/precompiled_categories/CategoryFromDataTablesPrecompiled.gi
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/SkeletalHomStructure.g
  FiniteCocompletions/examples/SkeletalLift.g
  FiniteCocompletions/examples/precompileCartesianDiagonal_CategoryFromDataTables.g
  FiniteCocompletions/examples/precompileCartesianDiagonal_PathCategory.g
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
  FiniteCocompletions/gap/SkeletalFinSets.gd
  FiniteCocompletions/gap/SkeletalFinSets.gi
  FiniteCocompletions/gap/precompiled_categories/FiniteStrictCoproductCompletionOfCategoryFromDataTablesPrecompiled.gi
  FiniteCocompletions/gap/precompiled_categories/SkeletalCategoryOfFiniteSetsAsFiniteStrictCoproductCompletionOfTerminalCategoryPrecompiled.gi
  FpCategories/PackageInfo.g
  FpCategories/gap/CategoryFromNerveData.gi
  FpCategories/gap/precompiled_categories/CategoryFromNerveDataHomStructureOnMorphismsPrecompiled.gi
  FpCategories/gap/precompiled_categories/CategoryFromNerveDataPrecompiled.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CategoryOfBouquets.gi
  FunctorCategories/gap/CategoryOfDecoratedQuivers.gi
  FunctorCategories/gap/CategoryOfQuivers.gi
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gi
  FunctorCategories/gap/PreSheaves.gi
  FunctorCategories/gap/precompiled_categories/FinBouquetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfCategoryFromDataTablesInSkeletalFinSetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfCategoryFromDataTablesInSkeletalFinSetsSubobjectClassifierPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFpCategoryInSkeletalFinSetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFpCategoryInSkeletalFinSetsSubobjectClassifierPrecompiled.gi
  Locales/PackageInfo.g
  Locales/gap/IntervalCategory.gd
  Locales/gap/IntervalCategory.gi
  Locales/gap/Proset.gi
Due: Algebroids, FunctorCategories, Locales

Update website for Algebroids 2025.12-02
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FiniteCocompletions 2025.12-08
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap4.html
  FiniteCocompletions/doc/chap4.txt
  FiniteCocompletions/doc/chap4_mj.html
  FiniteCocompletions/doc/chapInd.html
  FiniteCocompletions/doc/chapInd.txt
  FiniteCocompletions/doc/chapInd_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FpCategories 2025.12-05
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  _data/FpCategories.yml
Due: none

Update website for FunctorCategories 2025.12-07
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Locales 2025.12-04
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap13.html
  Locales/doc/chap13.txt
  Locales/doc/chap13_mj.html
  Locales/doc/chapInd.html
  Locales/doc/chapInd.txt
  Locales/doc/chapInd_mj.html
  _data/Locales.yml
Due: Locales

comply with FinSetsForCAP v2025.12-08
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/precompiled_categories/FiniteStrictCoproductCompletionOfCategoryFromDataTablesPrecompiled.gi
  FpCategories/PackageInfo.g
  FpCategories/gap/precompiled_categories/CategoryFromNerveDataPrecompiled.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/precompiled_categories/FinBouquetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfCategoryFromDataTablesInSkeletalFinSetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFpCategoryInSkeletalFinSetsPrecompiled.gi
Due: FunctorCategories

Update website for FiniteCocompletions 2025.12-09
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FpCategories 2025.12-06
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  _data/FpCategories.yml
Due: none

Update website for FunctorCategories 2025.12-08
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

clean up from future PR
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/precompileLeftCartesianDistributivityFactoring_PathCategory.g
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/examples/DummyCategoryInDoctrines.g
Due: none

Update website for FiniteCocompletions 2026.01-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for ToolsForCategoricalTowers 2026.01-01
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap1.html
  ToolsForCategoricalTowers/doc/chap1.txt
  ToolsForCategoricalTowers/doc/chap1_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

use FunctionWithNamedArguments for more constructors
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/gap/AlgebroidFromDataTables.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CoPreSheaves.gi
  FunctorCategories/gap/FunctorCategories.gi
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

fixed method for AsObjectInFunctorCategory and updated FunctorCategories.ipynb
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/FunctorCategories.ipynb
  FunctorCategories/gap/FunctorCategories.gi
  FunctorCategories/tst/FunctorCategories.tst
Due: FunctorCategories

add missing case distinction to PreSheavesOfFpEnrichedCategory
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Update website for FpLinearCategories 2026.01-01
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/doc/chap0.html
  FpLinearCategories/doc/chap0.txt
  FpLinearCategories/doc/chap0_mj.html
  _data/FpLinearCategories.yml
Due: none

Update website for FunctorCategories 2026.01-03
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

fixed DisplayString methods for IsObjectInPosetOfCategory
  Locales/PackageInfo.g
  Locales/gap/ProsetOfCategory.gi
Due: Locales

added examples/FunctorCategories.g
  FunctorCategories/examples/FunctorCategories.g
Due: FunctorCategories

standardized Display methods for IsObject/MorphismInAFullSubcategory
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/gap/FullSubcategory.gi
Due: SubcategoriesForCAP

fixed method strings
  FiniteCocompletions/gap/FiniteStrictProductCompletion.gi
Due: none

added object_datum_type/morphism_datum_type to PreSheavesOfFpEnrichedCategory
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

PreSheavesOfFpEnrichedCategory now detects is_computable
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

standardized code
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

ViewString now triggers ListOfValues( ValuesOfPreSheaf( F )[1] )
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

AddSetOfObjectsOfCategory in FiniteStrictCoproductCompletion
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/FiniteStrictCoproductCompletion_poset.g
  FiniteCocompletions/examples/FiniteStrictProductCompletion_poset.g
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gd
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
  FiniteCocompletions/gap/FiniteStrictProductCompletion.gd
  FiniteCocompletions/gap/FiniteStrictProductCompletion.gi
Due: none

PreSheavesOfFpEnrichedCategory now supports WasCreatedAsOppositeCategory( B )
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Update website for FiniteCocompletions 2026.01-02
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2.txt
  FiniteCocompletions/doc/chap2_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2026.01-06
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Locales 2026.01-01
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for SubcategoriesForCAP 2026.01-01
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
