Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

Update website for ToolsForCategoricalTowers 2026.06-03
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for Toposes 2026.06-03
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

Update website for ZariskiFrames 2026.06-01
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  ZariskiFrames/doc/chooser.html
  ZariskiFrames/doc/dark.css
  ZariskiFrames/doc/manual.css
  ZariskiFrames/doc/manual.js
  _data/ZariskiFrames.yml
Due: ZariskiFrames

Add named args and optional finalize to PreSheaves
  PresheafCategories/PackageInfo.g
  PresheafCategories/gap/PreSheaves.gi
Due: none

Support named arguments in CategoryFrom*
  FpCategories/PackageInfo.g
  FpCategories/gap/CategoryFromDataTables.gi
  FpCategories/gap/CategoryFromNerveData.gi
  FpCategories/gap/PathCategories.gi
  FpCategories/gap/QuotientsOfPathCategories.gi
Due: none

Add named-arg support to PreSheaves constructors
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Update website for FpCategories 2026.06-05
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  _data/FpCategories.yml
Due: none

Update website for FunctorCategories 2026.06-05
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for PresheafCategories 2026.06-03
  PresheafCategories/PackageInfo.g
  PresheafCategories/doc/chap0.html
  PresheafCategories/doc/chap0.txt
  PresheafCategories/doc/chap0_mj.html
  _data/PresheafCategories.yml
Due: none

Move IsFinitelyPresentedLinearCategories prop from Algebroids to FpLinearCategories
  Algebroids/PackageInfo.g
  Algebroids/gap/Algebroids.gd
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gd
Due: Algebroids

Update website for Algebroids 2026.06-05
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap4.html
  Algebroids/doc/chap4.txt
  Algebroids/doc/chap4_mj.html
  Algebroids/doc/chapInd.html
  Algebroids/doc/chapInd.txt
  Algebroids/doc/chapInd_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FpLinearCategories 2026.06-05
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/doc/chap0.html
  FpLinearCategories/doc/chap0.txt
  FpLinearCategories/doc/chap0_mj.html
  FpLinearCategories/doc/chap2.html
  FpLinearCategories/doc/chap2.txt
  FpLinearCategories/doc/chap2_mj.html
  FpLinearCategories/doc/chapInd.html
  FpLinearCategories/doc/chapInd.txt
  FpLinearCategories/doc/chapInd_mj.html
  _data/FpLinearCategories.yml
Due: none

Move dimension check from examples/ to tst/.
  FpLinearCategories/examples/QuotientCategoryOfLinearClosureOfPathCategory.g
  FpLinearCategories/tst/zero_dimensional_quotient_category.tst
Due: none

Declare IsFpLinearCategory and multiple other subfilters
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/gap/AlgebroidFromDataTables.gd
  FpLinearCategories/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gd
  FpLinearCategories/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
  FpLinearCategories/gap/QuotientsOfAlgebroidsFromDataTables.gi
  FpLinearCategories/gap/QuotientsOfLinearClosuresOfPathCategories.gi
Due: none

Update website for FpLinearCategories 2026.06-07
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/doc/chap0.html
  FpLinearCategories/doc/chap0.txt
  FpLinearCategories/doc/chap0_mj.html
  FpLinearCategories/doc/chap1.html
  FpLinearCategories/doc/chap1.txt
  FpLinearCategories/doc/chap1_mj.html
  FpLinearCategories/doc/chap2.html
  FpLinearCategories/doc/chap2.txt
  FpLinearCategories/doc/chap2_mj.html
  FpLinearCategories/doc/chapInd.html
  FpLinearCategories/doc/chapInd.txt
  FpLinearCategories/doc/chapInd_mj.html
  _data/FpLinearCategories.yml
Due: none

Introduce OppositeOfObjectFiniteCategory
  Algebroids/PackageInfo.g
  Algebroids/gap/Algebroids.gd
  Algebroids/gap/Algebroids.gi
  Algebroids/gap/FpCategoriesDefinedByQuiverAlgebras.gd
  Algebroids/gap/FpCategoriesDefinedByQuiverAlgebras.gi
  CatReps/PackageInfo.g
  CatReps/examples/CategoryOfRepresentations.g
  CatReps/examples/notebooks/CategoryOfRepresentations.ipynb
  FpCategories/PackageInfo.g
  FpCategories/examples/CategoryFromDataTables.g
  FpCategories/examples/CategoryFromNerveData.g
  FpCategories/examples/PathCategory.g
  FpCategories/gap/CategoryFromDataTables.gd
  FpCategories/gap/CategoryFromDataTables.gi
  FpCategories/gap/CategoryFromNerveData.gd
  FpCategories/gap/CategoryFromNerveData.gi
  FpCategories/gap/PathCategories.gd
  FpCategories/gap/PathCategories.gi
  FpCategories/gap/QuotientsOfPathCategories.gi
  FpCategories/gap/Tools.gi
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/examples/AlgebroidFromDataTables.g
  FpLinearCategories/gap/AlgebroidFromDataTables.gd
  FpLinearCategories/gap/AlgebroidFromDataTables.gi
  FpLinearCategories/gap/QuotientsOfAlgebroidsFromDataTables.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/FinQuiversEnrichedOverFinSets.g
  FunctorCategories/gap/FunctorCategories.gi
  FunctorCategories/gap/PreSheaves.gi
  FunctorCategories/gap/QuotientsOfAlgebroidsFromDataTablesUsingPreSheaves.gi
Due: Algebroids, CatReps, FunctorCategories

Update website for Algebroids 2026.07-01
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap2.html
  Algebroids/doc/chap2.txt
  Algebroids/doc/chap2_mj.html
  Algebroids/doc/chap4.html
  Algebroids/doc/chap4.txt
  Algebroids/doc/chap4_mj.html
  Algebroids/doc/chapInd.html
  Algebroids/doc/chapInd.txt
  Algebroids/doc/chapInd_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for CatReps 2026.07-01
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  CatReps/doc/chap1.html
  CatReps/doc/chap1.txt
  CatReps/doc/chap1_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FpCategories 2026.07-01
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap2.html
  FpCategories/doc/chap2.txt
  FpCategories/doc/chap2_mj.html
  FpCategories/doc/chap3.html
  FpCategories/doc/chap3.txt
  FpCategories/doc/chap3_mj.html
  FpCategories/doc/chap6.html
  FpCategories/doc/chap6.txt
  FpCategories/doc/chap6_mj.html
  FpCategories/doc/chap7.html
  FpCategories/doc/chap7.txt
  FpCategories/doc/chap7_mj.html
  FpCategories/doc/chapInd.html
  FpCategories/doc/chapInd.txt
  FpCategories/doc/chapInd_mj.html
  _data/FpCategories.yml
Due: none

Update website for FpLinearCategories 2026.07-01
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/doc/chap0.html
  FpLinearCategories/doc/chap0.txt
  FpLinearCategories/doc/chap0_mj.html
  FpLinearCategories/doc/chap1.html
  FpLinearCategories/doc/chap1.txt
  FpLinearCategories/doc/chap1_mj.html
  FpLinearCategories/doc/chapInd.html
  FpLinearCategories/doc/chapInd.txt
  FpLinearCategories/doc/chapInd_mj.html
  _data/FpLinearCategories.yml
Due: none

Update website for FunctorCategories 2026.07-01
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

FpLinearCategories: Add IsAdmissibleAlgebroid methods
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/examples/QuotientCategoryOfLinearClosureOfPathCategory.g
  FpLinearCategories/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gd
  FpLinearCategories/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
  FpLinearCategories/gap/QuotientsOfLinearClosuresOfPathCategories.gi
Due: none

Add admissibility flag to algebroids from data tables
  Algebroids/PackageInfo.g
  Algebroids/gap/Algebroids.gi
  FpLinearCategories/gap/AlgebroidFromDataTables.gd
  FpLinearCategories/gap/AlgebroidFromDataTables.gi
  FpLinearCategories/gap/DataTablesOfLinearCategories.gi
Due: Algebroids

FpLinearCategories: Add IsAdmissibleAlgebroid methods
  FpLinearCategories/examples/QuotientCategoryOfLinearClosureOfPathCategory.g
  FpLinearCategories/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gd
  FpLinearCategories/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
  FpLinearCategories/gap/QuotientsOfLinearClosuresOfPathCategories.gi
Due: none

Add admissibility flag to algebroids from data tables
  Algebroids/PackageInfo.g
  Algebroids/gap/Algebroids.gi
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/gap/AlgebroidFromDataTables.gd
  FpLinearCategories/gap/AlgebroidFromDataTables.gi
  FpLinearCategories/gap/DataTablesOfLinearCategories.gi
Due: Algebroids

Update website for Algebroids 2026.07-02
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FpLinearCategories 2026.07-02
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/doc/chap0.html
  FpLinearCategories/doc/chap0.txt
  FpLinearCategories/doc/chap0_mj.html
  FpLinearCategories/doc/chap1.html
  FpLinearCategories/doc/chap1.txt
  FpLinearCategories/doc/chap1_mj.html
  FpLinearCategories/doc/chap2.html
  FpLinearCategories/doc/chap2.txt
  FpLinearCategories/doc/chap2_mj.html
  _data/FpLinearCategories.yml
Due: none

FpCategories: Adjust an OppositeOfObjectFiniteCategory method
  FpCategories/PackageInfo.g
  FpCategories/gap/Tools.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/FunctorCategories.gi
Due: FunctorCategories

Algebroids: Install IsAdmissibleAlgebroid method for IsFpAlgebroidDefinedByQuiverAlgebra
  Algebroids/PackageInfo.g
  Algebroids/gap/Algebroids.gd
  Algebroids/gap/Algebroids.gi
Due: Algebroids

Switch to PathCategory in few presheaf examples/JIT
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/PrecompilePreSheavesOfAlgebroidInCategoryOfRows.g
  FunctorCategories/examples/PrecompilePreSheavesOfCategoryFromDataTablesInSkeletalFinSets.g
  FunctorCategories/examples/PrecompilePreSheavesOfCategoryFromDataTablesInSkeletalFinSetsSubobjectClassifier.g
  FunctorCategories/examples/PrecompilePreSheavesOfFpCategoryDefinedByQuiverAlgebraInSkeletalFinSets.g
  FunctorCategories/examples/PrecompilePreSheavesOfFpCategoryDefinedByQuiverAlgebraInSkeletalFinSetsSubobjectClassifier.g
  FunctorCategories/gap/precompiled_categories/PreSheavesOfCategoryFromDataTablesInSkeletalFinSetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfCategoryFromDataTablesInSkeletalFinSetsSubobjectClassifierPrecompiled.gi
Due: FunctorCategories

Update website for Algebroids 2026.07-03
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap4.html
  Algebroids/doc/chap4.txt
  Algebroids/doc/chap4_mj.html
  Algebroids/doc/chapInd.html
  Algebroids/doc/chapInd.txt
  Algebroids/doc/chapInd_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FpCategories 2026.07-02
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  _data/FpCategories.yml
Due: none

Update website for FunctorCategories 2026.07-02
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for FunctorCategories 2026.07-03
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap17.html
  FunctorCategories/doc/chap17.txt
  FunctorCategories/doc/chap17_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

FunctorCategories: introduce AddAdditionalMonoidalStructureToFunctorCategory
  FunctorCategories/gap/FunctorCategories.gd
  FunctorCategories/gap/FunctorCategories.gi
Due: FunctorCategories

FunctorCategories: introduce AddAdditionalPrecompiledFunctionsToPreSheafCategory
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

FunctorCategories: split ApplyObjectInPreSheafCategoryOfFpEnrichedCategoryToMorphism by source type
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
