Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

Update website for QuotientCategories 2025.08-03
  QuotientCategories/PackageInfo.g
  QuotientCategories/doc/chap0.html
  QuotientCategories/doc/chap0.txt
  QuotientCategories/doc/chap0_mj.html
  _data/QuotientCategories.yml
Due: none

temporarily disable testing with GAP master until GAP 4.15 is released
  .github/workflows/Tests.yml
Due: none

clean up in CategoryOfFpMatrixAlgebras
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gd
Due: Algebroids

SetUnderlyingQuiver( quo_kC / quo_k_quo_C, ... )
  Algebroids/PackageInfo.g
  Algebroids/gap/QuotientsOfLinearClosuresOfPathCategories.gi
Due: Algebroids

added Assertion and simplified code
  Algebroids/gap/CategoryOfFpAlgebras.gi
Due: Algebroids

renamed local variable
  Algebroids/gap/CategoryOfFpAlgebras.gi
Due: Algebroids

improved filters
  Algebroids/gap/CategoryOfFpAlgebras.gd
  Algebroids/gap/CategoryOfFpAlgebras.gi
Due: Algebroids

installed CoefficientsRing for IsObjectInCategoryOf(FpMatrix)Algebras
  Algebroids/PackageInfo.g
  Algebroids/gap/CategoryOfFpAlgebras.gi
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gi
Due: Algebroids

Update website for Algebroids 2025.09-02
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap10.html
  Algebroids/doc/chap10_mj.html
  Algebroids/doc/chap11.html
  Algebroids/doc/chap11.txt
  Algebroids/doc/chap11_mj.html
  Algebroids/doc/chapInd.html
  Algebroids/doc/chapInd.txt
  Algebroids/doc/chapInd_mj.html
  _data/Algebroids.yml
Due: Algebroids

updated example files
  Algebroids/PackageInfo.g
  Algebroids/examples/doc/CategoryOfFpAlgebras.g
  Algebroids/examples/doc/CategoryOfFpMatrixAlgebras.g
  Algebroids/examples/doc/NonCodistributivityOfCategoryOfFpAlgebras.g
Due: Algebroids

SetParametrizedObject in IrreducibleComponents
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/gap/ZariskiCoframe.gi
Due: ZariskiFrames

Update website for Algebroids 2025.09-03
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap10.html
  Algebroids/doc/chap10.txt
  Algebroids/doc/chap10_mj.html
  Algebroids/doc/chap11.html
  Algebroids/doc/chap11.txt
  Algebroids/doc/chap11_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for ZariskiFrames 2025.09-01
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

Update website for CatReps 2025.09-01
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2025.09-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2025.09-01
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2025.09-01
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for LazyCategories 2025.09-01
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2025.09-01
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for ZariskiFrames 2025.09-02
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

renamed the object datum of ProsetAsCategory from UnderlyingObject -> UnderlyingGapObject
  Locales/PackageInfo.g
  Locales/gap/ProsetAsCategory.gd
  Locales/gap/ProsetAsCategory.gi
  Locales/gap/ProsetOfCategory.gd
  Locales/gap/ProsetOfCategory.gi
  Locales/gap/precompiled_categories/StablePosetOfCategoryOfPosetOfCategoryOfSliceCategoryOverTensorUnitOfCategoryOfRowsOfCommutativeRingPrecompiled.gi
Due: Locales

Update website for Locales 2025.09-02
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap7.html
  Locales/doc/chap7.txt
  Locales/doc/chap7_mj.html
  Locales/doc/chap8.html
  Locales/doc/chap8.txt
  Locales/doc/chap8_mj.html
  Locales/doc/chapInd.html
  Locales/doc/chapInd.txt
  Locales/doc/chapInd_mj.html
  _data/Locales.yml
Due: Locales

installed DummyCategoryInDoctrines method for Julia
  ToolsForCategoricalTowers/gap/Julia.gi
Due: none

DummyCategoryInDoctrines now supports the option with_given_objects_methods
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/examples/julia/notebooks/DigraphOfKnownDoctrines.ipynb
  ToolsForCategoricalTowers/gap/Tools.gi
Due: none

enhance QuotientCategory
  Algebroids/PackageInfo.g
  Algebroids/gap/QuotientsOfLinearClosuresOfPathCategories.gi
Due: Algebroids

Update website for ToolsForCategoricalTowers 2025.09-01
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for Algebroids 2025.09-04
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

updated notebook
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
Due: FunctorCategories

Update website for FunctorCategories 2025.09-02
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

missing newline
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/CoequalizerCompletion.gi
Due: none

clean up in LogicInToposOfFinQuivers.ipynb
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
Due: FunctorCategories

Update website for CatReps 2025.09-02
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2025.09-02
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2025.09-03
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2025.09-02
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
