Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

Update website for Toposes 2024.02-08
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  Toposes/doc/chap1.html
  Toposes/doc/chap1.txt
  Toposes/doc/chap1_mj.html
  Toposes/doc/chapInd.html
  Toposes/doc/chapInd.txt
  Toposes/doc/chapInd_mj.html
  _data/Toposes.yml
Due: Toposes

AddSetOfObjectsOfCategory in PreSheaves constructor
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
  Locales/PackageInfo.g
  Locales/examples/Dedekind1stNumber.g
Due: FunctorCategories, Locales

load Digraphs while testing Locales
  Locales/PackageInfo.g
  Locales/examples/Dedekind1stNumber.g
  Locales/tst/100_LoadPackage.tst
Due: Locales

updated example files
  FunctorCategories/examples/Dedekind2ndNumber.g
  FunctorCategories/examples/TerminalCategory.g
Due: FunctorCategories

load Digraphs while testing FunctorCategories
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/Dedekind2ndNumber.g
  FunctorCategories/tst/100_LoadPackage.tst
Due: FunctorCategories

load Digraphs while testing FiniteCocompletions
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteCoproductCompletion.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteProductCompletion.g
  FiniteCocompletions/tst/100_LoadPackage.tst
Due: none

InstallTrueMethod( IsFinitelyPresentedCategory, IsFiniteCategory )
  Algebroids/PackageInfo.g
  Algebroids/examples/CategoryFromDataTables.g
  Algebroids/examples/CategoryFromNerveData.g
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteCoproductCompletion.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteProductCompletion.g
  FpCategories/PackageInfo.g
  FpCategories/gap/Tools.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/Dedekind2ndNumber.g
  FunctorCategories/examples/TerminalCategory.g
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  FunctorCategories/examples/notebooks/SpecificRetractionYieldsIsomorphicCoequalizers.ipynb
  Locales/PackageInfo.g
  Locales/examples/Dedekind1stNumber.g
Due: Algebroids, FunctorCategories, Locales

d&i FreeDistributiveCompletion
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/Dedekind2ndNumber.g
  FunctorCategories/gap/FreeDistributiveCompletion.gd
  FunctorCategories/gap/FreeDistributiveCompletion.gi
  FunctorCategories/init.g
  FunctorCategories/read.g
Due: FunctorCategories

Update website for Algebroids 2024.02-04
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap3.html
  Algebroids/doc/chap3.txt
  Algebroids/doc/chap3_mj.html
  Algebroids/doc/chap4.html
  Algebroids/doc/chap4.txt
  Algebroids/doc/chap4_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FiniteCocompletions 2024.02-08
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2.txt
  FiniteCocompletions/doc/chap2_mj.html
  FiniteCocompletions/doc/chap8.html
  FiniteCocompletions/doc/chap8.txt
  FiniteCocompletions/doc/chap8_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FpCategories 2024.02-11
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  _data/FpCategories.yml
Due: none

Update website for ToolsForCategoricalTowers 2024.02-05
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap1.html
  ToolsForCategoricalTowers/doc/chap1.txt
  ToolsForCategoricalTowers/doc/chap1_mj.html
  ToolsForCategoricalTowers/doc/chap2.html
  ToolsForCategoricalTowers/doc/chap2.txt
  ToolsForCategoricalTowers/doc/chap2_mj.html
  ToolsForCategoricalTowers/doc/chapInd.html
  ToolsForCategoricalTowers/doc/chapInd.txt
  ToolsForCategoricalTowers/doc/chapInd_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

renamed option `use_vertex_lables` -> `use_vertex_labels`
  Locales/PackageInfo.g
  Locales/gap/ToolsUsingDigraphs.gi
Due: Locales

Update website for Locales 2024.02-21
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

remove test Opposite( SkeletalFinSets ) from Toposes
  Toposes/PackageInfo.g
  Toposes/examples/OppositeCategory.g
Due: Toposes

comply with FinSetsForCAP v2024.02-09
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/FreeElementaryToposOnOneObject.g
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/examples/MorphismBetweenCoproducts.g
  ToolsForCategoricalTowers/examples/MorphismBetweenDirectProducts.g
Due: none

Update website for Toposes 2024.02-09
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  Toposes/doc/chap1.html
  Toposes/doc/chap1_mj.html
  Toposes/doc/chap2.html
  Toposes/doc/chap2_mj.html
  Toposes/doc/chap3.html
  Toposes/doc/chap3_mj.html
  Toposes/doc/chap4.html
  Toposes/doc/chap4.txt
  Toposes/doc/chap4_mj.html
  Toposes/doc/chapInd.html
  Toposes/doc/chapInd_mj.html
  _data/Toposes.yml
Due: Toposes

Update website for ToolsForCategoricalTowers 2024.02-06
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap2.html
  ToolsForCategoricalTowers/doc/chap2.txt
  ToolsForCategoricalTowers/doc/chap2_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

continue complying with FinSetsForCAP v2024.02-09
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
Due: FunctorCategories

comply with with CartesianCategories v2024.02-05
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  PreSheaves/PackageInfo.g
  PreSheaves/examples/PreSheavesOfSkeletalFinSets.g
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/examples/SliceCategory.g
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/examples/MorphismBetweenCoproducts.g
  ToolsForCategoricalTowers/examples/MorphismBetweenDirectProducts.g
  Toposes/PackageInfo.g
  Toposes/gap/Topos.gd
  Toposes/gap/Topos.gi
Due: FunctorCategories, PreSheaves, SubcategoriesForCAP, Toposes

made specification of code more explicit and added an error for uncovered cases
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

conditionally AddUniqueMorphism( subcategory, ... )
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/gap/Subcategory.gi
Due: SubcategoriesForCAP

conditionally AddSetOfObjectsOfCategory( subcategory, ... )
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/gap/Subcategory.gi
Due: SubcategoriesForCAP

whitespaces
  SubcategoriesForCAP/gap/FullSubcategory.gi
Due: SubcategoriesForCAP

started setting categorical properties in the subcategory constructor
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/gap/Subcategory.gi
Due: SubcategoriesForCAP

Update website for FunctorCategories 2024.02-14
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for PreSheaves 2024.02-04
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for SubcategoriesForCAP 2024.02-11
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  SubcategoriesForCAP/doc/chap4.html
  SubcategoriesForCAP/doc/chap4.txt
  SubcategoriesForCAP/doc/chap4_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Update website for ToolsForCategoricalTowers 2024.02-07
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap2.html
  ToolsForCategoricalTowers/doc/chap2.txt
  ToolsForCategoricalTowers/doc/chap2_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for Toposes 2024.02-10
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

updated FunctorCategories/examples/Dedekind2ndNumber.g
  FunctorCategories/examples/Dedekind2ndNumber.g
Due: FunctorCategories

canonized more names of category constructors in Locales
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/Dedekind2ndNumber.g
  Locales/PackageInfo.g
  Locales/gap/ConstructibleObjectsAsUnionOfMultipleDifferences.gi
  Locales/gap/ConstructibleObjectsAsUnionOfSingleDifferences.gi
  Locales/gap/MultipleDifferences.gi
  Locales/gap/SingleDifferences.gi
  Locales/tst/EmptyLimits.tst
Due: FunctorCategories, Locales

Update website for FunctorCategories 2024.02-15
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap11.html
  FunctorCategories/doc/chap11.txt
  FunctorCategories/doc/chap11_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Locales 2024.02-22
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

improved AddSetOfObjectsOfCategory( PSh, ... )
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Update website for FunctorCategories 2024.02-16
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

applied PackageJanitor to add new make-target update-notebooks
  CatReps/PackageInfo.g
  CatReps/makefile
  FunctorCategories/PackageInfo.g
  FunctorCategories/makefile
  InternalModules/PackageInfo.g
  InternalModules/makefile
  LazyCategories/PackageInfo.g
  LazyCategories/makefile
  makefile
Due: CatReps, FunctorCategories, LazyCategories

fixed AddUniqueMorphism( subcategory, ... )
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/gap/Subcategory.gi
Due: SubcategoriesForCAP
