Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

Type signatures for UnderlyingCell
  SubcategoriesForCAP/gap/Subcategory.gd
Due: SubcategoriesForCAP

c -> cell
  SubcategoriesForCAP/gap/Subcategory.gd
Due: SubcategoriesForCAP

Type signatures for AsSubcategory{Object,Morphism}
  SubcategoriesForCAP/gap/Subcategory.gd
Due: SubcategoriesForCAP

D&I PermutationCategory
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/examples/PermutationCategory.g
  SubcategoriesForCAP/examples/precompile_PermutationCategory.g
  SubcategoriesForCAP/gap/PermutationCategory.gd
  SubcategoriesForCAP/gap/PermutationCategory.gi
  SubcategoriesForCAP/gap/PermutationCategory_CompilerLogic.gi
  SubcategoriesForCAP/gap/precompiled_categories/PermutationCategory_precompiled.gi
  SubcategoriesForCAP/init.g
  SubcategoriesForCAP/read.g
Due: SubcategoriesForCAP

fixed typo in code comment
  Toposes/PackageInfo.g
  Toposes/gap/ToposDerivedMethods.gi
Due: Toposes

Update website for Toposes 2026.08-01
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

updated untested notebook
  FiniteCocompletions/examples/julia/notebooks/CartesianDiagonal.ipynb
Due: none

Update graphviz from 2.50.0 (20211204.2007) to 15.1.0 (20260618.0150)
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/julia/notebooks/CartesianDiagonal.ipynb
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/DPO_Quivers.ipynb
  FunctorCategories/examples/notebooks/DecoratedFinQuivers.ipynb
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/examples/julia/notebooks/DigraphOfKnownDoctrines.ipynb
Due: FunctorCategories

Update website for FiniteCocompletions 2026.08-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2026.08-02
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for ToolsForCategoricalTowers 2026.08-02
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

filter standalone "\r" entries in notebook comparison
  CatReps/makefile
  FunctorCategories/makefile
  InternalModules/makefile
Due: CatReps, FunctorCategories

updated PastingLawForPullbacks.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
Due: FunctorCategories

Update website for CatReps 2026.08-02
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2026.08-02
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2026.08-03
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2026.08-02
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for LazyCategories 2026.08-01
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2026.08-02
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for ToolsForCategoricalTowers 2026.08-03
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for ZariskiFrames 2026.08-02
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

FunctorCategories: document linear-algebraic algebroid quotients
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/gap/AlgebroidFromDataTables.gd
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/QuotientsOfAlgebroidsFromDataTablesUsingPreSheaves.gd
  FunctorCategories/makedoc.g
  FunctorCategories/makedoc_with_overfull_hbox_warnings.g
Due: FunctorCategories

Update website for FpLinearCategories 2026.09-01
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/doc/chap0.html
  FpLinearCategories/doc/chap0.txt
  FpLinearCategories/doc/chap0_mj.html
  FpLinearCategories/doc/chap1.html
  FpLinearCategories/doc/chap1.txt
  FpLinearCategories/doc/chap1_mj.html
  _data/FpLinearCategories.yml
Due: none

Update website for FunctorCategories 2026.09-01
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap14.html
  FunctorCategories/doc/chap14.txt
  FunctorCategories/doc/chap14_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

FpCategories: update an installation of SetOfGeneratingMorphisms
  FpCategories/gap/Tools.gi
Due: none

FpCategories: a method of SetOfGeneratingMorphisms is now obsolete
  FpCategories/PackageInfo.g
  FpCategories/gap/Tools.gi
Due: none

Locales: add a derivation of SetOfGeneratingMorphismsOfCategory in posets
  Locales/gap/PosetDerivedMethods.gi
Due: Locales

Locales: add a description string to a derivation of SetOfGeneratingMorphismsOfCategory
  Locales/PackageInfo.g
  Locales/gap/PosetDerivedMethods.gi
Due: Locales

Update website for FpCategories 2026.09-01
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  _data/FpCategories.yml
Due: none

Update website for Locales 2026.09-01
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Use IsBigInt in data types of CategoryOfReflexiveQuivers
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gi
Due: FunctorCategories

Update CategoryOfReflexiveQuivers objs/mors constructors
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gi
Due: FunctorCategories

Pass BigInt to CreateReflexiveQuiver
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gi
Due: FunctorCategories

Use QuoInt(a, b) instead of a/b in CreateReflexiveQuiver method
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gi
Due: FunctorCategories

Pass named-args to CategoryOfReflexiveQuivers
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gi
Due: FunctorCategories

Make dot methods in CategoryOfReflexiveQuivers available in Julia
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gi
Due: FunctorCategories

DotVertexLabelledDigraph on monomorphisms in CategoryOfReflexiveQuivers
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gi
Due: FunctorCategories

Install DisplayString for objs/mors in CategoryOfReflexiveQuivers
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gi
Due: FunctorCategories

CategoryOfReflexiveQuivers: guard against world-age failures
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gi
Due: FunctorCategories

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
