Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

simplified Display method for IsObjectInCategoryOfQuiversInCategory
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CategoryOfQuiversInCategory.gi
Due: FunctorCategories

installed Display for IsMorphismInCategoryOfQuiversInCategory
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CategoryOfQuiversInCategory.gi
Due: FunctorCategories

installed CreateQuiverMorphismInCategory
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CategoryOfQuiversInCategory.gi
Due: FunctorCategories

completed modeling_tower_morphism_constructor in CategoryOfQuivers
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CategoryOfQuiversInCategory.gi
Due: FunctorCategories

completed modeling_tower_morphism_datum in CategoryOfQuivers
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CategoryOfQuiversInCategory.gi
Due: FunctorCategories

d&i CoYonedaLemmaOnMorphisms
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/CategoryOfQuiversInFinBouquets.g
  FunctorCategories/gap/CategoryOfQuiversInCategory.gd
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Update website for FunctorCategories 2023.03-08
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  FunctorCategories/doc/chap9.html
  FunctorCategories/doc/chap9.txt
  FunctorCategories/doc/chap9_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd.txt
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

moved CategoryOfQuiversInCategory from FunctorCategories to FiniteCocompletion
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/Doc.autodoc
  FiniteCocompletion/examples/CategoryOfQuiversInFinBouquets.g
  FiniteCocompletion/examples/CategoryOfQuiversInFinReflexiveQuivers.g
  FiniteCocompletion/gap/CategoryOfQuiversInCategory.gd
  FiniteCocompletion/gap/CategoryOfQuiversInCategory.gi
  FiniteCocompletion/init.g
  FiniteCocompletion/makedoc.g
  FiniteCocompletion/makedoc_with_overfull_hbox_warnings.g
  FiniteCocompletion/read.g
  FiniteCocompletion/tst/100_LoadPackage.tst
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/Doc.autodoc
  FunctorCategories/gap/CategoryOfQuivers.gd
  FunctorCategories/gap/CategoryOfQuivers.gi
  FunctorCategories/gap/CategoryOfQuiversInCategory.gi
  FunctorCategories/init.g
  FunctorCategories/read.g
Due: FiniteCocompletion, FunctorCategories

fixed overfull hbox in docu
  FiniteCocompletion/examples/HomStructure.g
  FiniteCocompletion/examples/SkeletalCoproduct.g
  FiniteCocompletion/examples/SkeletalDirectProduct.g
  FiniteCocompletion/examples/SkeletalHomStructure.g
  FiniteCocompletion/examples/SkeletalInitialTerminal.g
  FiniteCocompletion/examples/SkeletalPreCompose.g
  FiniteCocompletion/examples/SkeletalWellDefined.g
Due: FiniteCocompletion

d&i FiniteCoequalizerClosureOfCocartesianCategory
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/gap/CategoryOfQuiversInCategory.gd
  FiniteCocompletion/gap/CategoryOfQuiversInCategory.gi
  FiniteCocompletion/gap/FiniteCoequalizerClosureOfCocartesianCategory.gd
  FiniteCocompletion/gap/FiniteCoequalizerClosureOfCocartesianCategory.gi
  FiniteCocompletion/init.g
  FiniteCocompletion/read.g
Due: FiniteCocompletion

updated Display method for morphisms in FiniteStrict(Co)product(Co)completion
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/examples/CartesianBraiding.g
  FiniteCocompletion/examples/CartesianDiagonal.g
  FiniteCocompletion/examples/CategoryOfQuiversInFinBouquets.g
  FiniteCocompletion/examples/CocartesianBraiding.g
  FiniteCocompletion/examples/CocartesianCodiagonal.g
  FiniteCocompletion/examples/HomStructure.g
  FiniteCocompletion/examples/notebooks/CartesianBraiding.ipynb
  FiniteCocompletion/examples/notebooks/CartesianDiagonal.ipynb
  FiniteCocompletion/gap/FiniteStrictCoproductCocompletion.gi
  FiniteCocompletion/gap/FiniteStrictProductCompletion.gi
Due: FiniteCocompletion

renamed CategoryOfQuivers -> FiniteColimitCocompletionWithStrictCoproducts
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/examples/FinBouquetsAsFiniteColimitCocompletion.g
  FiniteCocompletion/examples/FinReflexiveQuiversAsFiniteColimitCocompletion.g
  FiniteCocompletion/gap/CategoryOfQuiversInCategory.gd
  FiniteCocompletion/gap/FiniteColimitCocompletionWithStrictCoproducts.gd
  FiniteCocompletion/gap/FiniteColimitCocompletionWithStrictCoproducts.gi
  FiniteCocompletion/init.g
  FiniteCocompletion/read.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: FiniteCocompletion, FunctorCategories

fixed UnderlyingCategory in CategoryOfQuiversInCategory
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/gap/CategoryOfQuiversInCategory.gi
Due: FiniteCocompletion

rebased CategoryOfQuivers on FiniteCoequalizerClosureOfCocartesianCategory
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/examples/CategoryOfQuiversInFinBouquets.g
  FiniteCocompletion/examples/CategoryOfQuiversInFinReflexiveQuivers.g
  FiniteCocompletion/gap/CategoryOfQuiversInCategory.gi
Due: FiniteCocompletion

fixed docu
  FiniteCocompletion/gap/FiniteStrictCoproductCocompletion.gd
  FiniteCocompletion/gap/FiniteStrictProductCompletion.gd
Due: FiniteCocompletion

Update website for FiniteCocompletion 2023.03-08
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  FiniteCocompletion/doc/chap1.html
  FiniteCocompletion/doc/chap1.txt
  FiniteCocompletion/doc/chap1_mj.html
  FiniteCocompletion/doc/chap2.html
  FiniteCocompletion/doc/chap2.txt
  FiniteCocompletion/doc/chap2_mj.html
  FiniteCocompletion/doc/chap3.html
  FiniteCocompletion/doc/chap3.txt
  FiniteCocompletion/doc/chap3_mj.html
  FiniteCocompletion/doc/chap4.html
  FiniteCocompletion/doc/chap4.txt
  FiniteCocompletion/doc/chap4_mj.html
  FiniteCocompletion/doc/chap5.html
  FiniteCocompletion/doc/chap5.txt
  FiniteCocompletion/doc/chap5_mj.html
  FiniteCocompletion/doc/chap6.html
  FiniteCocompletion/doc/chap6.txt
  FiniteCocompletion/doc/chap6_mj.html
  FiniteCocompletion/doc/chap7.html
  FiniteCocompletion/doc/chap7.txt
  FiniteCocompletion/doc/chap7_mj.html
  FiniteCocompletion/doc/chap8.html
  FiniteCocompletion/doc/chap8.txt
  FiniteCocompletion/doc/chap8_mj.html
  FiniteCocompletion/doc/chapInd.html
  FiniteCocompletion/doc/chapInd.txt
  FiniteCocompletion/doc/chapInd_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

more expressive variable names in examples/FinBouquetsAsFiniteColimitCocompletion.g
  FiniteCocompletion/examples/FinBouquetsAsFiniteColimitCocompletion.g
Due: FiniteCocompletion

enhanced examples/FinBouquetsAsFiniteColimitCocompletion.g
  FiniteCocompletion/examples/FinBouquetsAsFiniteColimitCocompletion.g
Due: FiniteCocompletion

moved declaration of CoYonedaLemmaOnObjects/Morphisms to PreSheaves package
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gd
  PreSheaves/PackageInfo.g
  PreSheaves/gap/PreSheaves.gd
Due: FunctorCategories, PreSheaves

renamed *ColimitDiagram -> *ColimitQuiver etc.
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/gap/FiniteColimitCocompletionWithStrictCoproducts.gd
  FiniteCocompletion/gap/FiniteColimitCocompletionWithStrictCoproducts.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: FiniteCocompletion, FunctorCategories

fixed PreSheavesOfFpEnrichedCategory
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Update website for FiniteCocompletion 2023.03-09
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  FiniteCocompletion/doc/chap7.html
  FiniteCocompletion/doc/chap7.txt
  FiniteCocompletion/doc/chap7_mj.html
  FiniteCocompletion/doc/chapInd.html
  FiniteCocompletion/doc/chapInd.txt
  FiniteCocompletion/doc/chapInd_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

Update website for FunctorCategories 2023.03-13
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd.txt
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for PreSheaves 2023.03-01
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  PreSheaves/doc/chapInd.html
  PreSheaves/doc/chapInd.txt
  PreSheaves/doc/chapInd_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

fixed AddDerivationToCAP( ExactCoverWithGlobalElements, ... )
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/ToolsDerivedMethods.gi
Due: FunctorCategories

Update website for FunctorCategories 2023.03-14
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

delete notebook Coequalizer.ipynb
  FunctorCategories/examples/notebooks/Coequalizer.ipynb
Due: FunctorCategories

updated notebooks
  FunctorCategories/examples/notebooks/DPO_Quivers.ipynb
  FunctorCategories/examples/notebooks/DecoratedFinQuivers.ipynb
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/FunctorCategories.ipynb
  FunctorCategories/examples/notebooks/ImageOfPullback_in_AbelianClosure_using_Adelman.ipynb
  FunctorCategories/examples/notebooks/ImageOfPullback_in_AbelianClosure_using_Freyd.ipynb
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  FunctorCategories/examples/notebooks/PairVsReflexivePair.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPushouts.ipynb
  FunctorCategories/examples/notebooks/SnakeInFreeAbelian.ipynb
Due: FunctorCategories

enhanced PastingLawForPullbacks.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
Due: FunctorCategories

comply with FinSetsForCAP v2023.03-02
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
Due: FunctorCategories

Update website for FunctorCategories 2023.03-15
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

got rid of FunctionCalledBeforeInstallation in final derivation
  Toposes/PackageInfo.g
  Toposes/gap/ToposDerivedMethods.gi
Due: Toposes

Update website for Toposes 2023.03-03
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

Adjust to https://github.com/homalg-project/CAP_project/pull/1273
  Algebroids/PackageInfo.g
  Algebroids/gap/precompiled_categories/AdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverFieldPrecompiled.gi
  Algebroids/gap/precompiled_categories/AdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverZPrecompiled.gi
  Algebroids/gap/precompiled_categories/AdelmanCategoryOfAdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverFieldPrecompiled.gi
  Algebroids/gap/precompiled_categories/AdelmanCategoryOfAdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverZPrecompiled.gi
  Algebroids/gap/precompiled_categories/CategoryFromDataTablesPrecompiled.gi
  Algebroids/gap/precompiled_categories/CategoryFromNerveDataPrecompiled.gi
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/gap/precompiled_categories/CategoryOfSkeletalFinSetsAsFiniteStrictCoproductCocompletionOfTerminalCategoryPrecompiled.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/precompiled_categories/FinBouquetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfAlgebroidWithRelationsInCategoryOfRowsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFreeAlgebroidInCategoryOfRowsPrecompiled.gi
  Locales/PackageInfo.g
  Locales/gap/precompiled_categories/StablePosetOfCategoryOfPosetOfCategoryOfSliceCategoryOverTensorUnitOfCategoryOfRowsOfCommutativeRingPrecompiled.gi
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/gap/precompiled_categories/SliceCategoryOfCategoryOfRowsOfFieldOverTensorUnitPrecompiled.gi
Due: Algebroids, FiniteCocompletion, FunctorCategories, Locales, SubcategoriesForCAP

Adjust to https://github.com/homalg-project/CAP_project/pull/1275
  Algebroids/PackageInfo.g
  Algebroids/gap/precompiled_categories/AdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverFieldPrecompiled.gi
  Algebroids/gap/precompiled_categories/AdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverZPrecompiled.gi
  Algebroids/gap/precompiled_categories/AdelmanCategoryOfAdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverFieldPrecompiled.gi
  Algebroids/gap/precompiled_categories/AdelmanCategoryOfAdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverZPrecompiled.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/precompiled_categories/PreSheavesOfAlgebroidWithRelationsInCategoryOfRowsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFreeAlgebroidInCategoryOfRowsPrecompiled.gi
Due: Algebroids, FunctorCategories

Update website for Algebroids 2023.03-04
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FiniteCocompletion 2023.03-10
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

Update website for FunctorCategories 2023.03-16
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Locales 2023.03-02
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales
