Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

updated notebooks in LazyCategories
  LazyCategories/PackageInfo.g
  LazyCategories/examples/notebooks/SnakeInAbelian.ipynb
  LazyCategories/examples/notebooks/SnakeInFreeAbelian.ipynb
Due: LazyCategories

applied PackageJanitor
  CatReps/PackageInfo.g
  CatReps/examples/notebooks/CategoryOfRepresentations.ipynb
  CatReps/examples/notebooks/README.md
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/julia/notebooks/CartesianBraiding.ipynb
  FiniteCocompletions/examples/julia/notebooks/CartesianDiagonal.ipynb
  FiniteCocompletions/examples/julia/notebooks/README.md
  FiniteCocompletions/examples/julia/notebooks/ReflexivePair.ipynb
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/DPO_Quivers.ipynb
  FunctorCategories/examples/notebooks/DecoratedFinQuivers.ipynb
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/FunctorCategories.ipynb
  FunctorCategories/examples/notebooks/ImageOfPullback_in_AbelianClosure_using_Adelman.ipynb
  FunctorCategories/examples/notebooks/ImageOfPullback_in_AbelianClosure_using_Freyd.ipynb
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  FunctorCategories/examples/notebooks/PairVsReflexivePair.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPushouts.ipynb
  FunctorCategories/examples/notebooks/README.md
  FunctorCategories/examples/notebooks/ReflexiveCoequalizer.ipynb
  FunctorCategories/examples/notebooks/SnakeInFreeAbelian.ipynb
  FunctorCategories/examples/notebooks/SpecificRetractionYieldsIsomorphicCoequalizers.ipynb
  InternalModules/PackageInfo.g
  InternalModules/examples/notebooks/README.md
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS1rep.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS4rep.ipynb
  LazyCategories/PackageInfo.g
  LazyCategories/examples/notebooks/README.md
  LazyCategories/examples/notebooks/SnakeInAbelian.ipynb
  LazyCategories/examples/notebooks/SnakeInFreeAbelian.ipynb
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,4)_0dim.ipynb
Due: CatReps, FunctorCategories, LazyCategories, ZariskiFrames

Update website for Algebroids 2024.11-01
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for LazyCategories 2024.11-01
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for CatReps 2024.11-01
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2024.11-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2024.11-01
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2024.11-01
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for LazyCategories 2024.11-02
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for ZariskiFrames 2024.11-01
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

regular ImageEmbedding/CoimageProjection in finite-bicomplete categories
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/Dedekind2ndNumber.g
  Locales/PackageInfo.g
  Locales/examples/ClosedMonoidalLatticeOfIdeals.g
  Locales/examples/Dedekind1stNumber.g
  Locales/examples/HeytingAlgebraOfRadicalIdeals.g
  Toposes/PackageInfo.g
  Toposes/gap/ToposDerivedMethods.gi
Due: FunctorCategories, Locales, Toposes

Update website for FunctorCategories 2024.11-02
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap11.html
  FunctorCategories/doc/chap11.txt
  FunctorCategories/doc/chap11_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Locales 2024.11-01
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap13.html
  Locales/doc/chap13.txt
  Locales/doc/chap13_mj.html
  Locales/doc/chap8.html
  Locales/doc/chap8.txt
  Locales/doc/chap8_mj.html
  _data/Locales.yml
Due: Locales

Update website for Toposes 2024.11-01
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

workaround for gap-master until new digraphs version is released
  .github/workflows/Tests.yml
Due: none

whitespace
  PreSheaves/gap/PreSheaves.gi
Due: PreSheaves

the functional PreSheaves constructor now supports the doctrine IsElementaryTopos
  PreSheaves/PackageInfo.g
  PreSheaves/examples/PreSheavesOfSkeletalFinSets.g
  PreSheaves/gap/PreSheaves.gi
Due: PreSheaves

Update website for PreSheaves 2024.11-01
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

check when to AddSetOfObjectsOfCategory( quotient_cat, ... )
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/CategoryOfColimitQuivers.g
  FiniteCocompletions/examples/FiniteColimitCompletionWithStrictCoproducts.g
  FiniteCocompletions/examples/FreeElementaryToposOnOneObject.g
  QuotientCategories/PackageInfo.g
  QuotientCategories/gap/QuotientCategories.gi
Due: none

Update website for FiniteCocompletions 2024.11-02
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap6.html
  FiniteCocompletions/doc/chap6.txt
  FiniteCocompletions/doc/chap6_mj.html
  FiniteCocompletions/doc/chap8.html
  FiniteCocompletions/doc/chap8.txt
  FiniteCocompletions/doc/chap8_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for QuotientCategories 2024.11-01
  QuotientCategories/PackageInfo.g
  QuotientCategories/doc/chap0.html
  QuotientCategories/doc/chap0.txt
  QuotientCategories/doc/chap0_mj.html
  _data/QuotientCategories.yml
Due: none

AddInterpretMorphismAsMorphismFromDistinguishedObjectToHomomorphismStructureWithGivenObjects
  IntrinsicCategories/PackageInfo.g
  IntrinsicCategories/gap/IntrinsicCategories.gi
Due: IntrinsicCategories

the constructors PreSheaves now use the primitive operations
  CatReps/PackageInfo.g
  CatReps/README.md
  CatReps/examples/CategoryOfRepresentations.g
  CatReps/examples/notebooks/CategoryOfRepresentations.ipynb
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/FiniteColimitCompletionWithStrictCoproducts.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/Dedekind2ndNumber.g
  FunctorCategories/examples/PrecompilePreSheavesOfAlgebroidFromDataTablesInCategoryOfRows.g
  FunctorCategories/examples/PrecompilePreSheavesOfAlgebroidInCategoryOfRows.g
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  FunctorCategories/gap/PreSheaves.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfAlgebroidFromDataTablesInCategoryOfRowsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfAlgebroidWithRelationsInCategoryOfRowsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFreeAlgebroidInCategoryOfRowsPrecompiled.gi
  Locales/PackageInfo.g
  Locales/examples/Dedekind1stNumber.g
  PreSheaves/PackageInfo.g
  PreSheaves/examples/PreSheavesOfSkeletalFinSets.g
  PreSheaves/gap/PreSheaves.gd
  PreSheaves/gap/PreSheaves.gi
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/gap/Tools.gd
  ToolsForCategoricalTowers/gap/Tools.gi
Due: CatReps, FunctorCategories, Locales, PreSheaves

Update website for CatReps 2024.11-02
  CatReps/PackageInfo.g
  CatReps/README.md
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  CatReps/doc/chap1.html
  CatReps/doc/chap1.txt
  CatReps/doc/chap1_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2024.11-03
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap8.html
  FiniteCocompletions/doc/chap8.txt
  FiniteCocompletions/doc/chap8_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2024.11-03
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap11.html
  FunctorCategories/doc/chap11.txt
  FunctorCategories/doc/chap11_mj.html
  FunctorCategories/doc/chap17.html
  FunctorCategories/doc/chap17.txt
  FunctorCategories/doc/chap17_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for IntrinsicCategories 2024.11-01
  IntrinsicCategories/PackageInfo.g
  IntrinsicCategories/doc/chap0.html
  IntrinsicCategories/doc/chap0.txt
  IntrinsicCategories/doc/chap0_mj.html
  _data/IntrinsicCategories.yml
Due: IntrinsicCategories

Update website for Locales 2024.11-02
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap13.html
  Locales/doc/chap13.txt
  Locales/doc/chap13_mj.html
  _data/Locales.yml
Due: Locales

Update website for PreSheaves 2024.11-02
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for ToolsForCategoricalTowers 2024.11-01
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

equip Add-methods for CategoryConstructor with operation weight
  CatReps/PackageInfo.g
  CatReps/README.md
  CatReps/examples/CategoryOfRepresentations.g
  CatReps/examples/notebooks/CategoryOfRepresentations.ipynb
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteCoproductCompletion.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteProductCompletion.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/PrecompilePreSheavesOfAlgebroidFromDataTablesInCategoryOfRows.g
  FunctorCategories/examples/PrecompilePreSheavesOfAlgebroidInCategoryOfRows.g
  FunctorCategories/examples/TerminalCategory.g
  FunctorCategories/gap/PreSheaves.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfAlgebroidFromDataTablesInCategoryOfRowsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfAlgebroidWithRelationsInCategoryOfRowsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFreeAlgebroidInCategoryOfRowsPrecompiled.gi
  IntrinsicCategories/PackageInfo.g
  IntrinsicCategories/gap/IntrinsicCategories.gi
  LazyCategories/PackageInfo.g
  LazyCategories/gap/LazyCategory.gi
  Locales/PackageInfo.g
  Locales/gap/ProsetOfCategory.gi
  PreSheaves/PackageInfo.g
  PreSheaves/gap/PreSheaves.gi
  PreSheaves/gap/PreSheavesWithBounds.gi
  QuotientCategories/PackageInfo.g
  QuotientCategories/gap/QuotientCategories.gi
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/gap/SliceCategory.gi
  SubcategoriesForCAP/gap/Subcategory.gi
  SubcategoriesForCAP/gap/precompiled_categories/SliceCategoryOfCategoryOfRowsOfRingOfIntegersOverTensorUnitPrecompiled.gi
Due: CatReps, FunctorCategories, IntrinsicCategories, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP

Revert "temporarily disable testing notebook"
  CatReps/makefile
  FunctorCategories/makefile
  InternalModules/makefile
  LazyCategories/makefile
Due: CatReps, FunctorCategories, LazyCategories

Update website for CatReps 2024.11-03
  CatReps/PackageInfo.g
  CatReps/README.md
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  CatReps/doc/chap1.html
  CatReps/doc/chap1.txt
  CatReps/doc/chap1_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2024.11-04
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2.txt
  FiniteCocompletions/doc/chap2_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2024.11-04
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap17.html
  FunctorCategories/doc/chap17.txt
  FunctorCategories/doc/chap17_mj.html
  FunctorCategories/doc/chap9.html
  FunctorCategories/doc/chap9.txt
  FunctorCategories/doc/chap9_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for IntrinsicCategories 2024.11-02
  IntrinsicCategories/PackageInfo.g
  IntrinsicCategories/doc/chap0.html
  IntrinsicCategories/doc/chap0.txt
  IntrinsicCategories/doc/chap0_mj.html
  _data/IntrinsicCategories.yml
Due: IntrinsicCategories

Update website for LazyCategories 2024.11-03
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2024.11-03
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for PreSheaves 2024.11-03
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for QuotientCategories 2024.11-02
  QuotientCategories/PackageInfo.g
  QuotientCategories/doc/chap0.html
  QuotientCategories/doc/chap0.txt
  QuotientCategories/doc/chap0_mj.html
  _data/QuotientCategories.yml
Due: none
