Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

Update website for FunctorCategories 2026.09-05
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap11.html
  FunctorCategories/doc/chap11_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd.txt
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Locales 2026.09-03
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Pass named-args in LaTeXOutput in FunctorCategories and (Co)PreSheafCategories
  FunctorCategories/gap/CoPreSheaves.gi
  FunctorCategories/gap/FunctorCategories.gi
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Update FunctorCategories objs/mors constructors
  FunctorCategories/gap/FunctorCategories.gi
Due: FunctorCategories

Update CoPreSheaves objs/mors constructors
  FunctorCategories/gap/CoPreSheaves.gi
Due: FunctorCategories

PreSheaves.gi: in AddMonomorphismIntoInjectiveEnvelopeObject guard few ops against world-age failures in Julia
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Use CallFuncListAtRuntime in dot methods of CoPreSheaves
  FunctorCategories/gap/CoPreSheaves.gi
Due: FunctorCategories

PreSheaves: The datum of the functor's value IsInt or IsBigInt
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Fix assertion: check datum satifies IsBigInt
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Remove commented-out Julia code installing operations related to enough projectives in presheaf categories
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Cast source/target maps in CoYonedaLemmaOnObjects to Ints
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Add IsPosetCategory for skeletal presheaf cats
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

PreSheaves.gi: YonedaEmbeddingDataOfSourceCategory guards ObjectDatum against world-age failures in Julia
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Datum of Hom in MorphismFromRepresentableByYonedaLemma might be IsInt or IsBigInt
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

PreSheaves.gi: guard IsReflexive method from world-age failrues in Julia
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

PreSheaves.gi: make AssociatedCoequalizerPairInPreSheaves available in Julia
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Make further installations of CoveringListOfRepresentables and RetractionByCoveringListOfRepresentables available in Julia
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Make ApplyPreSheafToObjectInFiniteStrictCoproductCompletion available in Julia
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Adjust QuotientsOfAlgebroidsFromDataTablesUsingPreSheaves.gi to make it available in Julia
  FunctorCategories/gap/QuotientsOfAlgebroidsFromDataTablesUsingPreSheaves.gd
  FunctorCategories/gap/QuotientsOfAlgebroidsFromDataTablesUsingPreSheaves.gi
Due: FunctorCategories

PreSheaves.gi: use CallFuncListAtRuntime in an installation of WellDefinednessForObjectsCheckDataOrFail
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

CategoryOfInternalCategories attribute to two methods
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

PreSheaves: include IsFiniteCategory in the installation filter
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Set CategoryOfPreSheavesOfUnderlyingCategory( C_hat, PSh ) explicitly in CoYonedaLemmaCoequalizerPair
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Swap which duplicate PreSheaves( IsCapCategory ) method is excluded in Julia
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
  PresheafCategories/PackageInfo.g
  PresheafCategories/gap/PreSheaves.gi
Due: FunctorCategories

Introduce overloads that accept UC (IsCapCategory) for:
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

PreSheaves.gi: update ViewString methods (for Julia)
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Remove Julia block comment markers for CoYonedaLemmaOnMorphisms
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Place the return value on the same line as return; otherwise, <nothing> will be returned in Julia.
  FunctorCategories/gap/Functors.gi
Due: FunctorCategories

Use CallFuncListAtRuntime in ApplyObjectInPreSheafCategoryOfFpEnrichedCategoryToMorphism to invoke FunctorMorphismOperation
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Use CallFuncListAtRuntime in CoYonedaLemmaOnObjects and CoequalizerDataOfPreSheafUsingCoYonedaLemma in PreSheaves
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Invoke coproduct ops in SectionAndComplementByCoveringListOfReprese via CallFuncListAtRuntime
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Update website for FunctorCategories 2026.09-06
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap14.html
  FunctorCategories/doc/chap14.txt
  FunctorCategories/doc/chap14_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd.txt
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for PresheafCategories 2026.09-01
  PresheafCategories/PackageInfo.g
  PresheafCategories/doc/chap0.html
  PresheafCategories/doc/chap0.txt
  PresheafCategories/doc/chap0_mj.html
  _data/PresheafCategories.yml
Due: none

Install CreateFunctor for IsCategoryFromDataTables
  FpCategories/gap/CategoryFromDataTables.gi
Due: none

FpLinearCategories: refactor QuotientsOfAlgebroidsFromDataTables.gi
  FpLinearCategories/gap/AlgebroidFromDataTables.gd
  FpLinearCategories/gap/QuotientsOfAlgebroidsFromDataTables.gi
Due: none

Simplify IsAdmissibleAlgebroid for IsFpAlgebroidFromDataTables and make it available in Julia
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/gap/AlgebroidFromDataTables.gi
Due: none

FunctorCategories: forward "random" option in two methods
  FunctorCategories/gap/DirectSumDecomposition.gi
Due: FunctorCategories

FiniteCocompletions/gap/AdditiveClosure.gi: guard ops against world-age failures in Julia
  FiniteCocompletions/gap/AdditiveClosure.gi
Due: none

AdditiveClosure.gi: comment out the named-arg FinalizeCategory as AdditiveClosure(-) does not yet support it
  FiniteCocompletions/gap/AdditiveClosure.gi
Due: none

Make DefiningTripleOfUnderlyingQuiver applicable on more categories
  FpCategories/gap/Tools.gi
Due: none

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
