Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

Update website for Locales 2023.09-03
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap13.html
  Locales/doc/chap13.txt
  Locales/doc/chap13_mj.html
  _data/Locales.yml
Due: Locales

Update website for PreSheaves 2023.09-01
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for FiniteCocompletions 2023.09-02
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap11.html
  FiniteCocompletions/doc/chap11.txt
  FiniteCocompletions/doc/chap11_mj.html
  FiniteCocompletions/doc/chap12.html
  FiniteCocompletions/doc/chap12.txt
  FiniteCocompletions/doc/chap12_mj.html
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2.txt
  FiniteCocompletions/doc/chap2_mj.html
  FiniteCocompletions/doc/chap4.html
  FiniteCocompletions/doc/chap4.txt
  FiniteCocompletions/doc/chap4_mj.html
  FiniteCocompletions/doc/chap5.html
  FiniteCocompletions/doc/chap5.txt
  FiniteCocompletions/doc/chap5_mj.html
  FiniteCocompletions/doc/chap6.html
  FiniteCocompletions/doc/chap6.txt
  FiniteCocompletions/doc/chap6_mj.html
  FiniteCocompletions/doc/chapInd.html
  FiniteCocompletions/doc/chapInd.txt
  FiniteCocompletions/doc/chapInd_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2023.09-03
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd.txt
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

fixed doc/Doc.autodoc
  FiniteCocompletions/doc/Doc.autodoc
Due: none

renamed ColimitCocompletion -> ColimitCompletion
  FiniteCocompletions/examples/FinBouquetsAsFiniteColimitCompletion.g
  FiniteCocompletions/examples/FinReflexiveQuiversAsFiniteColimitCompletion.g
  FiniteCocompletions/gap/PairOfParallelArrowsCategory.gd
Due: none

resolves https://github.com/homalg-project/CategoricalTowers/issues/373
  Locales/PackageInfo.g
  Locales/examples/Dedekind1stNumber.g
Due: Locales

modified category name: Quotient category( ... ) -> QuotientCategory( ... )
  QuotientCategories/gap/QuotientCategories.gi
Due: none

whitespaces
  QuotientCategories/gap/QuotientCategories.gi
Due: none

added elaborate Display methods for objects/morphisms in QuotientCategories
  QuotientCategories/gap/QuotientCategories.gi
Due: none

added support for extra_properties in the QuotientCategory constructor
  QuotientCategories/gap/QuotientCategories.gi
Due: none

clean up in QuotientCategory constructor
  QuotientCategories/gap/QuotientCategories.gi
Due: none

ShallowCopy( record ) before modifying it
  QuotientCategories/gap/QuotientCategories.gi
Due: none

coding style
  QuotientCategories/gap/QuotientCategories.gi
Due: none

enhanced QuotientCategories to support Is(Co)cartesianCategory
  QuotientCategories/PackageInfo.g
  QuotientCategories/README.md
  QuotientCategories/gap/QuotientCategories.gd
  QuotientCategories/gap/QuotientCategories.gi
  QuotientCategories/init.g
  QuotientCategories/makedoc.g
  QuotientCategories/makedoc_with_overfull_hbox_warnings.g
  QuotientCategories/read.g
  QuotientCategories/tst/100_LoadPackage.tst
  QuotientCategories/tst/testall.g
  README.md
Due: none

Update website for Locales 2023.09-04
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap13.html
  Locales/doc/chap13.txt
  Locales/doc/chap13_mj.html
  _data/Locales.yml
Due: Locales

installed \. for IsAdditiveClosureCategory
  Algebroids/PackageInfo.g
  Algebroids/gap/Tools.gi
Due: Algebroids

whitespaces
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gd
Due: none

d&i CoequalizerCompletion
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/Doc.autodoc
  FiniteCocompletions/examples/CoequalizerCompletion.g
  FiniteCocompletions/examples/FreeToposOnOneObject.g
  FiniteCocompletions/gap/CoequalizerCompletion.gd
  FiniteCocompletions/gap/CoequalizerCompletion.gi
  FiniteCocompletions/init.g
  FiniteCocompletions/read.g
Due: none

Update website for Algebroids 2023.09-04
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for QuotientCategories 2023.09-02
  QuotientCategories/PackageInfo.g
  QuotientCategories/README.md
  QuotientCategories/doc/chap0.html
  QuotientCategories/doc/chap0.txt
  QuotientCategories/doc/chap0_mj.html
  _data/QuotientCategories.yml
Due: none

comply with CAP commit 8da0206c8952b4b35e7ba89586ed2b1f15248ade
  Toposes/PackageInfo.g
  Toposes/gap/ToposDerivedMethods.gi
Due: Toposes

Install ObjectInFpCategory for CompilerForCAP
  Algebroids/gap/FpCategories.gi
Due: Algebroids

Update website for Toposes 2023.10-01
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

Add an example showing how to generate algorithms from free categories
  Algebroids/tst/derive_second_projection_of_ternary_direct_sum_from_universal_morphism.g
  Algebroids/tst/derive_second_projection_of_ternary_direct_sum_from_universal_morphism.tst
Due: Algebroids

Bump version
  Algebroids/PackageInfo.g
Due: Algebroids

renamed EpimorphismFromCoYoneda* -> RetractionFromCoYoneda*
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Update website for Algebroids 2023.10-01
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FunctorCategories 2023.10-01
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd.txt
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

AddDerivationToCAP( (Inverse)MorphismFromCoimageToImageWithGivenObjects, ... )
  Toposes/PackageInfo.g
  Toposes/gap/ToposDerivedMethods.gi
Due: Toposes

updated notebooks: CapAndHomalg 1.5.3 -> 1.5.5
  CatReps/PackageInfo.g
  CatReps/examples/notebooks/CategoryOfRepresentations.ipynb
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/notebooks/CartesianBraiding.ipynb
  FiniteCocompletions/examples/notebooks/CartesianDiagonal.ipynb
  FiniteCocompletions/examples/notebooks/ReflexivePair.ipynb
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/DecoratedFinQuivers.ipynb
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  InternalModules/PackageInfo.g
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS1rep.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS4rep.ipynb
  LazyCategories/PackageInfo.g
  LazyCategories/examples/notebooks/SnakeInAbelian.ipynb
  LazyCategories/examples/notebooks/SnakeInFreeAbelian.ipynb
Due: CatReps, FunctorCategories, LazyCategories

Update website for Toposes 2023.10-02
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

added CapJitAddTypeSignature to QuotientCategories.gd
  QuotientCategories/PackageInfo.g
  QuotientCategories/gap/QuotientCategories.gd
Due: none

renamed AssociatedCategoryOfCoequalizerPairsOfSourceCategory -> AssociatedColimitCompletionOfSourceCategory
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/HomStructure.gi
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Update website for CatReps 2023.10-01
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2023.10-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2023.10-02
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2023.10-01
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none
