Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

Update website for Locales 2024.09-08
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for SubcategoriesForCAP 2024.09-03
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

turn dp instead of Dp into default order in PathCategory
  Algebroids/PackageInfo.g
  Algebroids/examples/GroebnerBasisInLinearClosureOfPathCategory.g
  Algebroids/examples/QuotientCategoryOfLinearClosureOfPathCategory.g
  FpCategories/PackageInfo.g
  FpCategories/examples/PathCategory.g
  FpCategories/gap/PathCategories.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/QuotientsOfAlgebroidFromDataTablesUsingPreSheaves.g
Due: Algebroids, FunctorCategories

Update website for Algebroids 2024.09-03
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap10.html
  Algebroids/doc/chap10.txt
  Algebroids/doc/chap10_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FpCategories 2024.09-04
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap2.html
  FpCategories/doc/chap2.txt
  FpCategories/doc/chap2_mj.html
  _data/FpCategories.yml
Due: none

Update website for FunctorCategories 2024.09-07
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap14.html
  FunctorCategories/doc/chap14.txt
  FunctorCategories/doc/chap14_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

replace b in ListImpliedFilters( a ) -> IsSpecializationOfFilter( b, a )
  LazyCategories/PackageInfo.g
  LazyCategories/gap/LazyCategory.gi
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/gap/Tools.gi
Due: LazyCategories

Update website for LazyCategories 2024.09-04
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for ToolsForCategoricalTowers 2024.09-05
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

conditionally Append( PSh!.compiler_hints.category_attribute_names, ... )
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

fixed examples/FinQuiversEnrichedOverFinSets.g
  FunctorCategories/examples/FinQuiversEnrichedOverFinSets.g
Due: FunctorCategories

added Julia method for FinQuiver
  FpCategories/PackageInfo.g
  FpCategories/gap/Julia.gi
  FpCategories/init.g
Due: none

Update website for FunctorCategories 2024.09-08
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Algebroids 2024.09-04
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap1.html
  Algebroids/doc/chap1.txt
  Algebroids/doc/chap11.html
  Algebroids/doc/chap11.txt
  Algebroids/doc/chap11_mj.html
  Algebroids/doc/chap1_mj.html
  Algebroids/doc/chap2.html
  Algebroids/doc/chap2.txt
  Algebroids/doc/chap2_mj.html
  Algebroids/doc/chap3.html
  Algebroids/doc/chap3.txt
  Algebroids/doc/chap3_mj.html
  Algebroids/doc/chap4.html
  Algebroids/doc/chap4.txt
  Algebroids/doc/chap4_mj.html
  Algebroids/doc/chap5.html
  Algebroids/doc/chap5.txt
  Algebroids/doc/chap5_mj.html
  Algebroids/doc/chap9.html
  Algebroids/doc/chap9.txt
  Algebroids/doc/chap9_mj.html
  Algebroids/doc/chapInd.html
  Algebroids/doc/chapInd.txt
  Algebroids/doc/chapInd_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FiniteCocompletions 2024.09-05
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap13.html
  FiniteCocompletions/doc/chap13.txt
  FiniteCocompletions/doc/chap13_mj.html
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap6.html
  FiniteCocompletions/doc/chap6.txt
  FiniteCocompletions/doc/chap6_mj.html
  FiniteCocompletions/doc/chap7.html
  FiniteCocompletions/doc/chap7.txt
  FiniteCocompletions/doc/chap7_mj.html
  FiniteCocompletions/doc/chap8.html
  FiniteCocompletions/doc/chap8.txt
  FiniteCocompletions/doc/chap8_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FpCategories 2024.09-06
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap1.html
  FpCategories/doc/chap1.txt
  FpCategories/doc/chap1_mj.html
  FpCategories/doc/chap2.html
  FpCategories/doc/chap2.txt
  FpCategories/doc/chap2_mj.html
  FpCategories/doc/chap3.html
  FpCategories/doc/chap3.txt
  FpCategories/doc/chap3_mj.html
  FpCategories/doc/chap4.html
  FpCategories/doc/chap4.txt
  FpCategories/doc/chap4_mj.html
  FpCategories/doc/chap5.html
  FpCategories/doc/chap5.txt
  FpCategories/doc/chap5_mj.html
  FpCategories/doc/chap6.html
  FpCategories/doc/chap6.txt
  FpCategories/doc/chap6_mj.html
  FpCategories/doc/chap7.html
  FpCategories/doc/chap7.txt
  FpCategories/doc/chap7_mj.html
  FpCategories/doc/chap8.html
  FpCategories/doc/chap8.txt
  FpCategories/doc/chap8_mj.html
  FpCategories/doc/chapInd.html
  FpCategories/doc/chapInd.txt
  FpCategories/doc/chapInd_mj.html
  _data/FpCategories.yml
Due: none

Update website for FunctorCategories 2024.09-09
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap1.html
  FunctorCategories/doc/chap1.txt
  FunctorCategories/doc/chap1_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  FunctorCategories/doc/chap4.html
  FunctorCategories/doc/chap4.txt
  FunctorCategories/doc/chap4_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Adjust to CAP 2024.09-25
  FiniteCocompletions/gap/SkeletalFinSets.gi
Due: none

Fix STOP_TEST
  FiniteCocompletions/tst/lift_for_prosets.tst
Due: none

Bump version
  FiniteCocompletions/PackageInfo.g
Due: none

Update website for FiniteCocompletions 2024.09-06
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

switch to CapAndHomalg v1.6.1
  CatReps/PackageInfo.g
  CatReps/examples/notebooks/CategoryOfRepresentations.ipynb
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/julia/notebooks/CartesianBraiding.ipynb
  FiniteCocompletions/examples/julia/notebooks/CartesianDiagonal.ipynb
  FiniteCocompletions/examples/julia/notebooks/ReflexivePair.ipynb
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/DPO_Quivers.ipynb
  FunctorCategories/examples/notebooks/DecoratedFinQuivers.ipynb
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/FunctorCategories.ipynb
  FunctorCategories/examples/notebooks/ImageOfPullback_in_AbelianClosure_using_Adelman.ipynb
  FunctorCategories/examples/notebooks/ImageOfPullback_in_AbelianClosure_using_Freyd.ipynb
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  FunctorCategories/examples/notebooks/PairVsReflexivePair.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPushouts.ipynb
  FunctorCategories/examples/notebooks/ReflexiveCoequalizer.ipynb
  FunctorCategories/examples/notebooks/SnakeInFreeAbelian.ipynb
  FunctorCategories/examples/notebooks/SpecificRetractionYieldsIsomorphicCoequalizers.ipynb
  InternalModules/PackageInfo.g
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS1rep.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS4rep.ipynb
  LazyCategories/PackageInfo.g
  LazyCategories/examples/notebooks/SnakeInAbelian.ipynb
  LazyCategories/examples/notebooks/SnakeInFreeAbelian.ipynb
  Locales/PackageInfo.g
  Locales/examples/julia/notebooks/IdealQuotient.ipynb
  Locales/examples/julia/notebooks/IdealQuotient2.ipynb
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/examples/julia/notebooks/CavenderFarrisNeyman_reduced.ipynb
  ZariskiFrames/examples/julia/notebooks/Example.ipynb
  ZariskiFrames/examples/julia/notebooks/Graph.ipynb
  ZariskiFrames/examples/julia/notebooks/Hyperbola.ipynb
  ZariskiFrames/examples/julia/notebooks/Hyperbola_in_3d.ipynb
  ZariskiFrames/examples/julia/notebooks/Jordan.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,3)_0dim.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,4)_0dim.ipynb
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,5)_0dim.ipynb
Due: CatReps, FunctorCategories, LazyCategories, Locales, ZariskiFrames

Update website for CatReps 2024.09-03
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2024.09-07
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2024.09-10
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2024.09-02
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for LazyCategories 2024.09-05
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2024.09-09
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

demonstrate AstrictionToCoimage( EpimorphismFromSomeProjectiveObject( ... ) )
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/StreamVortexSystem.g
  FunctorCategories/examples/StreamVortexSystemBig.g
Due: FunctorCategories

Update website for ZariskiFrames 2024.09-03
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

FinQuiver is now an operation
  FpCategories/PackageInfo.g
  FpCategories/gap/Quivers.gd
  FpCategories/gap/Quivers.gi
  FpCategories/init.g
  FpCategories/read.g
Due: none

Update website for FpCategories 2024.09-07
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap1.html
  FpCategories/doc/chap1.txt
  FpCategories/doc/chap1_mj.html
  FpCategories/doc/chapInd.html
  FpCategories/doc/chapInd.txt
  FpCategories/doc/chapInd_mj.html
  _data/FpCategories.yml
Due: none

Update website for FunctorCategories 2024.09-11
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

SetIsAbelianCategoryWithEnoughProjectives( PSh, true )
  CatReps/PackageInfo.g
  CatReps/README.md
  CatReps/examples/CategoryOfRepresentations.g
  CatReps/examples/notebooks/CategoryOfRepresentations.ipynb
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: CatReps, FunctorCategories

fixed SimpleObjects
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/SimpleObjects.g
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Update website for CatReps 2024.09-04
  CatReps/PackageInfo.g
  CatReps/README.md
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  CatReps/doc/chap1.html
  CatReps/doc/chap1.txt
  CatReps/doc/chap1_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FunctorCategories 2024.09-12
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for FunctorCategories 2024.10-01
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

fixed call to NakayamaLeftAdjoint/NakayamaRightAdjoint
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/NakayamaLeftAdjoint.g
  FunctorCategories/examples/NakayamaRightAdjoint.g
  FunctorCategories/gap/Functors.gd
  FunctorCategories/gap/Functors.gi
Due: FunctorCategories
