Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

relocated code
  Algebroids/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gd
Due: Algebroids

d&i EvaluateLinearClosureMorphism
  Algebroids/gap/CategoryOfFpAlgebras.gi
  Algebroids/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gd
  Algebroids/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
Due: Algebroids

relocated code
  ToolsForCategoricalTowers/gap/Julia.gi
Due: none

installed MissingOperationsForConstructivenessOfCategory for Julia
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/gap/Julia.gi
Due: none

bumped version of Algebroids
  Algebroids/PackageInfo.g
Due: Algebroids

Update website for Algebroids 2025.07-18
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap9.html
  Algebroids/doc/chap9.txt
  Algebroids/doc/chap9_mj.html
  Algebroids/doc/chapInd.html
  Algebroids/doc/chapInd.txt
  Algebroids/doc/chapInd_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for ToolsForCategoricalTowers 2025.07-04
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

clean up in Algebroids/PackageInfo.g
  Algebroids/PackageInfo.g
Due: Algebroids

outsourced IsLinearClosureOfACategory to LinearClosuresForCAP v2025.07-03
  Algebroids/PackageInfo.g
  Algebroids/gap/Algebroids.gd
Due: Algebroids

Update website for Algebroids 2025.07-19
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap5.html
  Algebroids/doc/chap5.txt
  Algebroids/doc/chap5_mj.html
  Algebroids/doc/chapInd.html
  Algebroids/doc/chapInd.txt
  Algebroids/doc/chapInd_mj.html
  _data/Algebroids.yml
Due: Algebroids

improved ListPrimitivelyInstalledOperationsOfCategoryWhere*
  ToolsForCategoricalTowers/gap/Tools.gi
Due: none

d&i ListOfDefiningWithGivenOperations
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/precompileLeftCartesianDistributivityFactoring_CategoryFromDataTables.g
  FiniteCocompletions/examples/precompileLeftCartesianDistributivityFactoring_PathCategory.g
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/gap/Tools.gd
  ToolsForCategoricalTowers/gap/Tools.gi
Due: none

improved method-record entry ClassifyingMorphismOfSubobject
  Toposes/PackageInfo.g
  Toposes/gap/ToposMethodRecord.gi
Due: Toposes

comply with CAP: remove WithGiven-methods from CAP_INTERNAL_CONSTRUCTIVE_CATEGORIES_RECORD
  Locales/PackageInfo.g
  Locales/gap/BooleanAlgebra.gd
  PreSheaves/PackageInfo.g
  PreSheaves/examples/PreSheavesOfSkeletalFinSets.g
  Toposes/PackageInfo.g
  Toposes/gap/Topos.gd
Due: Locales, PreSheaves, Toposes

Update website for FiniteCocompletions 2025.08-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap14.html
  FiniteCocompletions/doc/chap14.txt
  FiniteCocompletions/doc/chap14_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for Locales 2025.08-01
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for PreSheaves 2025.08-01
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for ToolsForCategoricalTowers 2025.08-01
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for Toposes 2025.08-02
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

comply with LinearClosuresForCAP v2025.08-01
  Algebroids/PackageInfo.g
  Algebroids/tst/derive_second_projection_of_ternary_direct_sum_from_universal_morphism.g
Due: Algebroids

Update website for Algebroids 2025.08-01
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

updated examples/CategoryOfFpMatrixAlgebras.g
  Algebroids/PackageInfo.g
  Algebroids/examples/doc/CategoryOfFpMatrixAlgebras.g
Due: Algebroids

Update website for Algebroids 2025.08-02
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap11.html
  Algebroids/doc/chap11.txt
  Algebroids/doc/chap11_mj.html
  _data/Algebroids.yml
Due: Algebroids

enhance output of DPO
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/examples/DPO.g
  Toposes/PackageInfo.g
  Toposes/gap/DPO.gi
Due: SubcategoriesForCAP, Toposes

Update website for Toposes 2025.08-03
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

bumped version
  SubcategoriesForCAP/PackageInfo.g
Due: SubcategoriesForCAP

Update website for SubcategoriesForCAP 2025.08-01
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  SubcategoriesForCAP/doc/chap4.html
  SubcategoriesForCAP/doc/chap4.txt
  SubcategoriesForCAP/doc/chap4_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

comply with FinSetsForCAP v2025.08-01
  FpCategories/PackageInfo.g
  FpCategories/gap/precompiled_categories/CategoryFromNerveDataPrecompiled.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/precompiled_categories/FinBouquetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfCategoryFromDataTablesInSkeletalFinSetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFpCategoryInSkeletalFinSetsPrecompiled.gi
  Toposes/PackageInfo.g
  Toposes/gap/ToposDerivedMethods.gi
Due: FunctorCategories, Toposes

Update website for FpCategories 2025.08-01
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  _data/FpCategories.yml
Due: none

Update website for FunctorCategories 2025.08-01
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Toposes 2025.08-04
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

Julia preperations in ToolsForCategoricalTowers
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/examples/DummyCategoryInDoctrines.g
  ToolsForCategoricalTowers/examples/ListKnownDoctrines.g
  ToolsForCategoricalTowers/examples/MorphismBetweenCoproducts.g
  ToolsForCategoricalTowers/examples/MorphismBetweenDirectProducts.g
  ToolsForCategoricalTowers/gap/Tools.gd
  ToolsForCategoricalTowers/gap/Tools.gi
  ToolsForCategoricalTowers/init.g
  ToolsForCategoricalTowers/read.g
  ToolsForCategoricalTowers/tst/100_LoadPackage.tst
  ToolsForCategoricalTowers/tst/TerminalCategoryTopos.tst
Due: none

Comply FiniteCocompletions with QuotientCategories v2025.08-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/PairOfParallelArrowsCategory.gi
Due: none

add example to QuotientCategories
  QuotientCategories/examples/doc/quotient_by_projectives.g
  QuotientCategories/examples/left_presentations_over_Z.g
  QuotientCategories/examples/quotient_category_of_left_presentations_by_projectives.g
Due: none

Julia preperations in QuotientCategories
  QuotientCategories/PackageInfo.g
  QuotientCategories/gap/QuotientCategories.gi
Due: none

Update website for FiniteCocompletions 2025.08-02
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for QuotientCategories 2025.08-01
  QuotientCategories/PackageInfo.g
  QuotientCategories/doc/chap0.html
  QuotientCategories/doc/chap0.txt
  QuotientCategories/doc/chap0_mj.html
  QuotientCategories/doc/chap1.html
  QuotientCategories/doc/chap1.txt
  QuotientCategories/doc/chap1_mj.html
  QuotientCategories/doc/chapInd.html
  QuotientCategories/doc/chapInd_mj.html
  _data/QuotientCategories.yml
Due: none

Update website for ToolsForCategoricalTowers 2025.08-02
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap1.html
  ToolsForCategoricalTowers/doc/chap1.txt
  ToolsForCategoricalTowers/doc/chap1_mj.html
  ToolsForCategoricalTowers/doc/chap2.html
  ToolsForCategoricalTowers/doc/chap2.txt
  ToolsForCategoricalTowers/doc/chap2_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

clean up in Algebroids
  Algebroids/PackageInfo.g
  Algebroids/examples/doc/CategoryOfFpMatrixAlgebras.g
  Algebroids/gap/Algebroids.gi
  Algebroids/gap/CategoryOfFpAlgebras.gd
  Algebroids/gap/CategoryOfFpAlgebras.gi
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gd
  Algebroids/gap/CategoryOfFpMatrixAlgebras.gi
  Algebroids/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
  Algebroids/gap/QuotientsOfLinearClosuresOfPathCategories.gi
Due: Algebroids

Update website for Algebroids 2025.08-03
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap10.html
  Algebroids/doc/chap10.txt
  Algebroids/doc/chap10_mj.html
  Algebroids/doc/chap11.html
  Algebroids/doc/chap11.txt
  Algebroids/doc/chap11_mj.html
  Algebroids/doc/chapInd.html
  Algebroids/doc/chapInd.txt
  Algebroids/doc/chapInd_mj.html
  _data/Algebroids.yml
Due: Algebroids
