Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

added Marc as coauthor
  FiniteCocompletions/PackageInfo.g
Due: none

Update website for FiniteCocompletions 2026.04-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Annotate examples/tests with CI job IDs
  Algebroids/examples/AdelmanCategoryOfAdditiveClosureOfAlgebroidVsAdelmanCategoryOfQuiverRows.g
  Algebroids/examples/AdelmanSnakeLemma.g
  Algebroids/examples/ExactnessConditions.g
  Algebroids/examples/SnakeLemmaProof.g
  Algebroids/examples/SnakeLemmaProof2.g
  Algebroids/examples/doc/CategoryOfFpAlgebras.g
  Algebroids/examples/doc/CategoryOfFpMatrixAlgebras.g
  Algebroids/tst/CategoryOfFpAlgebras.tst
  Algebroids/tst/CategoryOfFpMatrixAlgebras.tst
Due: Algebroids

Annotate precompile examples with CI job IDs
  FunctorCategories/examples/PrecompileFinBouquets.g
  FunctorCategories/examples/PrecompileFinQuivers.g
  FunctorCategories/examples/PrecompileFinReflexiveQuivers.g
  FunctorCategories/examples/PrecompilePreSheavesOfAlgebroidFromDataTablesInCategoryOfRows.g
  FunctorCategories/examples/PrecompilePreSheavesOfAlgebroidInCategoryOfRows.g
  FunctorCategories/examples/PrecompilePreSheavesOfCategoryFromDataTablesInSkeletalFinSets.g
  FunctorCategories/examples/PrecompilePreSheavesOfFpCategoryInSkeletalFinSets.g
Due: FunctorCategories

Add base/single test runners and CI targets
  Algebroids/makefile
  Algebroids/tst/testall_base.g
  Algebroids/tst/testall_no_precompiled_code_base.g
  Algebroids/tst/testall_single.g
  Algebroids/tst/testall_single_no_precompiled_code.g
Due: Algebroids

Add base/single CI test runners and make targets
  FunctorCategories/makefile
  FunctorCategories/tst/testall_base.g
  FunctorCategories/tst/testall_single.g
Due: FunctorCategories

Parallelize tests and decouple Codecov upload
  .github/workflows/Codecov.yml
  .github/workflows/Tests.yml
  dev/upload_codecov.sh
Due: none

updated DigraphOfKnownDoctrines.ipynb
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/examples/julia/notebooks/DigraphOfKnownDoctrines.ipynb
Due: none

Update website for Algebroids 2026.04-01
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap1.html
  Algebroids/doc/chap1.txt
  Algebroids/doc/chap10.html
  Algebroids/doc/chap10.txt
  Algebroids/doc/chap10_mj.html
  Algebroids/doc/chap11.html
  Algebroids/doc/chap11.txt
  Algebroids/doc/chap11_mj.html
  Algebroids/doc/chap13.html
  Algebroids/doc/chap13.txt
  Algebroids/doc/chap13_mj.html
  Algebroids/doc/chap1_mj.html
  Algebroids/doc/chap2.html
  Algebroids/doc/chap2.txt
  Algebroids/doc/chap2_mj.html
  Algebroids/doc/chap4.html
  Algebroids/doc/chap4.txt
  Algebroids/doc/chap4_mj.html
  Algebroids/doc/chap5.html
  Algebroids/doc/chap5.txt
  Algebroids/doc/chap5_mj.html
  Algebroids/doc/chap7.html
  Algebroids/doc/chap7.txt
  Algebroids/doc/chap7_mj.html
  Algebroids/doc/chap8.html
  Algebroids/doc/chap8.txt
  Algebroids/doc/chap8_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for CategoriesWithAmbientObjects 2026.04-01
  CategoriesWithAmbientObjects/PackageInfo.g
  CategoriesWithAmbientObjects/doc/chap0.html
  CategoriesWithAmbientObjects/doc/chap0.txt
  CategoriesWithAmbientObjects/doc/chap0_mj.html
  CategoriesWithAmbientObjects/doc/chap1.html
  CategoriesWithAmbientObjects/doc/chap1.txt
  CategoriesWithAmbientObjects/doc/chap1_mj.html
  _data/CategoriesWithAmbientObjects.yml
Due: CategoriesWithAmbientObjects

Update website for CatReps 2026.04-01
  CatReps/PackageInfo.g
  CatReps/README.md
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  CatReps/doc/chap1.html
  CatReps/doc/chap1.txt
  CatReps/doc/chap1_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for ExteriorPowersCategories 2026.04-01
  ExteriorPowersCategories/PackageInfo.g
  ExteriorPowersCategories/doc/chap0.html
  ExteriorPowersCategories/doc/chap0.txt
  ExteriorPowersCategories/doc/chap0_mj.html
  ExteriorPowersCategories/doc/chap1.html
  ExteriorPowersCategories/doc/chap1.txt
  ExteriorPowersCategories/doc/chap1_mj.html
  _data/ExteriorPowersCategories.yml
Due: ExteriorPowersCategories

Update website for FiniteCocompletions 2026.04-02
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FpLinearCategories 2026.04-01
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/doc/chap0.html
  FpLinearCategories/doc/chap0.txt
  FpLinearCategories/doc/chap0_mj.html
  FpLinearCategories/doc/chap1.html
  FpLinearCategories/doc/chap1.txt
  FpLinearCategories/doc/chap1_mj.html
  _data/FpLinearCategories.yml
Due: none

Update website for FunctorCategories 2026.04-01
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap1.html
  FunctorCategories/doc/chap1.txt
  FunctorCategories/doc/chap12.html
  FunctorCategories/doc/chap12.txt
  FunctorCategories/doc/chap12_mj.html
  FunctorCategories/doc/chap13.html
  FunctorCategories/doc/chap13.txt
  FunctorCategories/doc/chap13_mj.html
  FunctorCategories/doc/chap17.html
  FunctorCategories/doc/chap17.txt
  FunctorCategories/doc/chap17_mj.html
  FunctorCategories/doc/chap1_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2026.04-01
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  InternalModules/doc/chap2.html
  InternalModules/doc/chap2.txt
  InternalModules/doc/chap2_mj.html
  InternalModules/doc/chap3.html
  InternalModules/doc/chap3.txt
  InternalModules/doc/chap3_mj.html
  InternalModules/doc/chap4.html
  InternalModules/doc/chap4.txt
  InternalModules/doc/chap4_mj.html
  InternalModules/doc/chap6.html
  InternalModules/doc/chap6.txt
  InternalModules/doc/chap6_mj.html
  InternalModules/doc/chap7.html
  InternalModules/doc/chap7.txt
  InternalModules/doc/chap7_mj.html
  InternalModules/doc/chap8.html
  InternalModules/doc/chap8.txt
  InternalModules/doc/chap8_mj.html
  InternalModules/doc/chap9.html
  InternalModules/doc/chap9.txt
  InternalModules/doc/chap9_mj.html
  _data/InternalModules.yml
Due: none

Update website for IntrinsicCategories 2026.04-01
  IntrinsicCategories/PackageInfo.g
  IntrinsicCategories/doc/chap0.html
  IntrinsicCategories/doc/chap0.txt
  IntrinsicCategories/doc/chap0_mj.html
  IntrinsicCategories/doc/chap1.html
  IntrinsicCategories/doc/chap1.txt
  IntrinsicCategories/doc/chap1_mj.html
  _data/IntrinsicCategories.yml
Due: IntrinsicCategories

Update website for IntrinsicGradedModules 2026.04-01
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/doc/chap0.html
  IntrinsicGradedModules/doc/chap0.txt
  IntrinsicGradedModules/doc/chap0_mj.html
  IntrinsicGradedModules/doc/chap1.html
  IntrinsicGradedModules/doc/chap1.txt
  IntrinsicGradedModules/doc/chap1_mj.html
  _data/IntrinsicGradedModules.yml
Due: IntrinsicGradedModules

Update website for IntrinsicModules 2026.04-01
  IntrinsicModules/PackageInfo.g
  IntrinsicModules/doc/chap0.html
  IntrinsicModules/doc/chap0.txt
  IntrinsicModules/doc/chap0_mj.html
  IntrinsicModules/doc/chap1.html
  IntrinsicModules/doc/chap1.txt
  IntrinsicModules/doc/chap1_mj.html
  _data/IntrinsicModules.yml
Due: IntrinsicModules

Update website for LazyCategories 2026.04-01
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  LazyCategories/doc/chap2.html
  LazyCategories/doc/chap2.txt
  LazyCategories/doc/chap2_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for PreSheaves 2026.04-01
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  PreSheaves/doc/chap2.html
  PreSheaves/doc/chap2.txt
  PreSheaves/doc/chap2_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for QuotientCategories 2026.04-01
  QuotientCategories/PackageInfo.g
  QuotientCategories/doc/chap0.html
  QuotientCategories/doc/chap0.txt
  QuotientCategories/doc/chap0_mj.html
  _data/QuotientCategories.yml
Due: none

Update website for SubcategoriesForCAP 2026.04-01
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  SubcategoriesForCAP/doc/chap1.html
  SubcategoriesForCAP/doc/chap1.txt
  SubcategoriesForCAP/doc/chap1_mj.html
  SubcategoriesForCAP/doc/chap2.html
  SubcategoriesForCAP/doc/chap2.txt
  SubcategoriesForCAP/doc/chap2_mj.html
  SubcategoriesForCAP/doc/chap3.html
  SubcategoriesForCAP/doc/chap3.txt
  SubcategoriesForCAP/doc/chap3_mj.html
  SubcategoriesForCAP/doc/chap4.html
  SubcategoriesForCAP/doc/chap4.txt
  SubcategoriesForCAP/doc/chap4_mj.html
  SubcategoriesForCAP/doc/chap5.html
  SubcategoriesForCAP/doc/chap5.txt
  SubcategoriesForCAP/doc/chap5_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Update website for ToolsForCategoricalTowers 2026.04-01
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap1.html
  ToolsForCategoricalTowers/doc/chap1.txt
  ToolsForCategoricalTowers/doc/chap1_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Apply PackageJanitor
  .github/workflows/Codecov.yml
  .github/workflows/Tests.yml
  Algebroids/makefile
  Algebroids/tst/testall_base.g
  Algebroids/tst/testall_no_precompiled_code_base.g
  Algebroids/tst/testall_single.g
  Algebroids/tst/testall_single_no_precompiled_code.g
  FunctorCategories/makefile
  FunctorCategories/tst/testall_base.g
  FunctorCategories/tst/testall_single.g
  dev/upload_codecov.sh
Due: Algebroids, FunctorCategories

bump versions of Algebroids and FunctorCategories
  Algebroids/PackageInfo.g
  FunctorCategories/PackageInfo.g
Due: Algebroids, FunctorCategories

Update website for Algebroids 2026.04-02
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap10.html
  Algebroids/doc/chap10.txt
  Algebroids/doc/chap10_mj.html
  Algebroids/doc/chap11.html
  Algebroids/doc/chap11.txt
  Algebroids/doc/chap11_mj.html
  Algebroids/doc/chap14.html
  Algebroids/doc/chap14.txt
  Algebroids/doc/chap14_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FunctorCategories 2026.04-02
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap17.html
  FunctorCategories/doc/chap17.txt
  FunctorCategories/doc/chap17_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

added SliceCategories
  SliceCategories/_data/package.yml
  SliceCategories/badge_date.json
  SliceCategories/badge_version.json
  SliceCategories/download_pdf.html
  SliceCategories/view_release.html
Due: none

bump versions
  Algebroids/PackageInfo.g
  FiniteCocompletions/PackageInfo.g
  FpCategories/PackageInfo.g
  FpLinearCategories/PackageInfo.g
  Locales/PackageInfo.g
Due: Algebroids, Locales

Update website for FunctorCategories 2026.04-03
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for SliceCategories 2026.04-01
  SliceCategories/PackageInfo.g
  SliceCategories/README.md
  SliceCategories/doc/chap0.html
  SliceCategories/doc/chap0.txt
  SliceCategories/doc/chap0_mj.html
  SliceCategories/doc/chap1.html
  SliceCategories/doc/chap1.txt
  SliceCategories/doc/chap1_mj.html
  SliceCategories/doc/chap2.html
  SliceCategories/doc/chap2.txt
  SliceCategories/doc/chap2_mj.html
  SliceCategories/doc/chap3.html
  SliceCategories/doc/chap3.txt
  SliceCategories/doc/chap3_mj.html
  SliceCategories/doc/chapInd.html
  SliceCategories/doc/chapInd.txt
  SliceCategories/doc/chapInd_mj.html
  SliceCategories/doc/chooser.html
  SliceCategories/doc/lefttoc.css
  SliceCategories/doc/manual.css
  SliceCategories/doc/manual.js
  SliceCategories/doc/nocolorprompt.css
  SliceCategories/doc/ragged.css
  SliceCategories/doc/rainbow.js
  SliceCategories/doc/times.css
  SliceCategories/doc/toggless.css
  SliceCategories/doc/toggless.js
  _data/SliceCategories.yml
Due: none

Update website for SubcategoriesForCAP 2026.04-02
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  SubcategoriesForCAP/doc/chap1.html
  SubcategoriesForCAP/doc/chap1_mj.html
  SubcategoriesForCAP/doc/chap2.html
  SubcategoriesForCAP/doc/chap2_mj.html
  SubcategoriesForCAP/doc/chap3.html
  SubcategoriesForCAP/doc/chap3.txt
  SubcategoriesForCAP/doc/chap3_mj.html
  SubcategoriesForCAP/doc/chap4.html
  SubcategoriesForCAP/doc/chap4.txt
  SubcategoriesForCAP/doc/chap4_mj.html
  SubcategoriesForCAP/doc/chap5.html
  SubcategoriesForCAP/doc/chap5.txt
  SubcategoriesForCAP/doc/chap5_mj.html
  SubcategoriesForCAP/doc/chapInd.html
  SubcategoriesForCAP/doc/chapInd.txt
  SubcategoriesForCAP/doc/chapInd_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Update website for Algebroids 2026.04-03
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FiniteCocompletions 2026.04-03
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FpCategories 2026.04-01
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  _data/FpCategories.yml
Due: none
