Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

coding style
  Toposes/gap/Tools.gi
Due: Toposes

MakeShowable( ... IsDigraphByOutNeighboursRep and IsDigraphOfSubobjects )
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  Toposes/PackageInfo.g
  Toposes/gap/Tools.gd
  Toposes/gap/Tools.gi
Due: FunctorCategories, Toposes

standardized some entries of CAP_INTERNAL_CONSTRUCTIVE_CATEGORIES_RECORD
  Locales/PackageInfo.g
  Locales/gap/BooleanAlgebra.gd
  Locales/gap/CoHeytingAlgebra.gd
  Locales/gap/HeytingAlgebra.gd
  Locales/gap/Poset.gd
  Locales/gap/Proset.gd
  PreSheaves/PackageInfo.g
  PreSheaves/examples/PreSheavesOfSkeletalFinSets.g
  PreSheaves/examples/TerminalCategory.g
  Toposes/PackageInfo.g
  Toposes/gap/Topos.gd
Due: Locales, PreSheaves, Toposes

d&i DigraphOfKnownDoctrines/ListKnownDoctrines/ListMethodsOfDoctrine/DummyCategoryInDoctrines
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/examples/DummyCategoryInDoctrines.g
  ToolsForCategoricalTowers/gap/Tools.gd
  ToolsForCategoricalTowers/gap/Tools.gi
  ToolsForCategoricalTowers/gap/ToolsUsingDigraphs.gd
  ToolsForCategoricalTowers/gap/ToolsUsingDigraphs.gi
  ToolsForCategoricalTowers/init.g
  ToolsForCategoricalTowers/read.g
  ToolsForCategoricalTowers/tst/100_LoadPackage.tst
Due: none

Update website for FiniteCocompletions 2024.06-06
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2.txt
  FiniteCocompletions/doc/chap2_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2024.06-09
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap9.html
  FunctorCategories/doc/chap9.txt
  FunctorCategories/doc/chap9_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2024.06-03
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  InternalModules/doc/chap1.html
  InternalModules/doc/chap1.txt
  InternalModules/doc/chap1_mj.html
  _data/InternalModules.yml
Due: none

Update website for IntrinsicGradedModules 2024.06-01
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/doc/chap0.html
  IntrinsicGradedModules/doc/chap0.txt
  IntrinsicGradedModules/doc/chap0_mj.html
  IntrinsicGradedModules/doc/chap1.html
  IntrinsicGradedModules/doc/chap1.txt
  IntrinsicGradedModules/doc/chap1_mj.html
  _data/IntrinsicGradedModules.yml
Due: IntrinsicGradedModules

Update website for LazyCategories 2024.06-02
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2024.06-03
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for PreSheaves 2024.06-04
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for SubcategoriesForCAP 2024.06-02
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  SubcategoriesForCAP/doc/chap4.html
  SubcategoriesForCAP/doc/chap4.txt
  SubcategoriesForCAP/doc/chap4_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Update website for Toposes 2024.06-03
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  Toposes/doc/chap3.html
  Toposes/doc/chap3.txt
  Toposes/doc/chap3_mj.html
  Toposes/doc/chapInd.html
  Toposes/doc/chapInd.txt
  Toposes/doc/chapInd_mj.html
  _data/Toposes.yml
Due: Toposes

improved DigraphOfKnownDoctrines
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/gap/ToolsUsingDigraphs.gi
Due: none

Update website for ToolsForCategoricalTowers 2024.06-04
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap1.html
  ToolsForCategoricalTowers/doc/chap1.txt
  ToolsForCategoricalTowers/doc/chap1_mj.html
  ToolsForCategoricalTowers/doc/chap2.html
  ToolsForCategoricalTowers/doc/chap2_mj.html
  ToolsForCategoricalTowers/doc/chap3.html
  ToolsForCategoricalTowers/doc/chap3.txt
  ToolsForCategoricalTowers/doc/chap3_mj.html
  ToolsForCategoricalTowers/doc/chapInd.html
  ToolsForCategoricalTowers/doc/chapInd.txt
  ToolsForCategoricalTowers/doc/chapInd_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for ToolsForCategoricalTowers 2024.06-05
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

DummyCategoryInDoctrines now accepts the option `minimal`
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/examples/DummyCategoryInDoctrines.g
  ToolsForCategoricalTowers/gap/Tools.gd
  ToolsForCategoricalTowers/gap/Tools.gi
Due: none

Update website for ToolsForCategoricalTowers 2024.06-06
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap1.html
  ToolsForCategoricalTowers/doc/chap1.txt
  ToolsForCategoricalTowers/doc/chap1_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Get rid of needed_packages
  Algebroids/PackageInfo.g
  Algebroids/gap/CompilerLogic.gi
  Locales/PackageInfo.g
  Locales/examples/PrecompileStablePosetOfCategory.g
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/examples/PrecompileSliceCategory.g
Due: Algebroids, Locales, SubcategoriesForCAP

Update website for Algebroids 2024.07-01
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for Locales 2024.07-01
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap15.html
  Locales/doc/chap15.txt
  Locales/doc/chap15_mj.html
  _data/Locales.yml
Due: Locales

Update website for SubcategoriesForCAP 2024.07-01
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  SubcategoriesForCAP/doc/chap4.html
  SubcategoriesForCAP/doc/chap4.txt
  SubcategoriesForCAP/doc/chap4_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

comply with LinearAlgebraForCAP/FreydCategoriesForCAP v2024-07.02
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFreeAlgebroidInCategoryOfRowsPrecompiled.gi
  Locales/PackageInfo.g
  Locales/examples/PrecompileStablePosetOfCategory.g
  Locales/gap/precompiled_categories/StablePosetOfCategoryOfPosetOfCategoryOfSliceCategoryOverTensorUnitOfCategoryOfRowsOfCommutativeRingPrecompiled.gi
Due: FunctorCategories, Locales

Update website for FunctorCategories 2024.07-01
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Locales 2024.07-02
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap15.html
  Locales/doc/chap15.txt
  Locales/doc/chap15_mj.html
  _data/Locales.yml
Due: Locales

Adjust to https://github.com/homalg-project/CAP_project/pull/1623
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/FiniteStrictProductCompletion.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CoPreSheaves.gi
  FunctorCategories/gap/FunctorCategories.gi
Due: FunctorCategories

Adjust to https://github.com/homalg-project/CAP_project/pull/1628
  Algebroids/PackageInfo.g
  Algebroids/examples/PrecompileAdditiveClosureOfAlgebroid.g
  Algebroids/examples/PrecompileAdditiveClosureOfAlgebroidFromDataTables.g
  Algebroids/examples/PrecompileAdelmanCategoryOfAdditiveClosureOfAlgebroid.g
  Algebroids/gap/AlgebroidFromDataTables.gd
  Algebroids/gap/AlgebroidFromDataTables.gi
  Algebroids/gap/Algebroids.gd
  Algebroids/gap/Algebroids.gi
  Algebroids/gap/FpCategories.gd
  Algebroids/gap/FpCategories.gi
  Algebroids/gap/Functors.gi
  Algebroids/tst/derive_second_projection_of_ternary_direct_sum_from_universal_morphism.g
Due: Algebroids

Adjust to https://github.com/homalg-project/CAP_project/pull/1630
  Algebroids/PackageInfo.g
  Algebroids/examples/AdelmanHom.g
  Algebroids/examples/PrecompileAdditiveClosureOfAlgebroidFromDataTables.g
  Algebroids/gap/Algebroids.gi
  Algebroids/gap/precompiled_categories/AdditiveClosureOfAlgebroidFromDataTablesPrecompiled.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/PrecompilePreSheavesOfAlgebroidFromDataTablesInCategoryOfRows.g
  FunctorCategories/examples/PrecompilePreSheavesOfAlgebroidInCategoryOfRows.g
Due: Algebroids, FunctorCategories

Update website for Algebroids 2024.07-03
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap12.html
  Algebroids/doc/chap12.txt
  Algebroids/doc/chap12_mj.html
  Algebroids/doc/chap9.html
  Algebroids/doc/chap9.txt
  Algebroids/doc/chap9_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FiniteCocompletions 2024.07-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2024.07-03
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap17.html
  FunctorCategories/doc/chap17.txt
  FunctorCategories/doc/chap17_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Fix data types in a logic template
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/CompilerLogic.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversPrecompiled.gi
Due: FunctorCategories

Update website for FunctorCategories 2024.07-04
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

comply with CompilerForCAP v2024.07-09
  Algebroids/PackageInfo.g
  Algebroids/examples/PrecompileAdditiveClosureOfAlgebroid.g
  Algebroids/examples/PrecompileAdditiveClosureOfAlgebroidFromDataTables.g
  Algebroids/examples/PrecompileAdelmanCategoryOfAdditiveClosureOfAlgebroid.g
  Algebroids/examples/PrecompileCategoryFromDataTables.g
  Algebroids/examples/PrecompileCategoryFromNerveData.g
  Algebroids/examples/PrecompileCategoryFromNerveDataHomStructureOnMorphisms.g
  Algebroids/gap/precompiled_categories/AdditiveClosureOfAlgebroidFromDataTablesPrecompiled.gi
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/PrecompileFiniteStrictCoproductCompletionOfCategoryFromDataTables.g
  FiniteCocompletions/examples/PrecompileSkeletalFinSets.g
  FiniteCocompletions/gap/precompiled_categories/SkeletalCategoryOfFiniteSetsAsFiniteStrictCoproductCompletionOfTerminalCategoryPrecompiled.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/PrecompileFinBouquets.g
  FunctorCategories/examples/PrecompileFinBouquetsAsCCC.g
  FunctorCategories/examples/PrecompileFinQuivers.g
  FunctorCategories/examples/PrecompileFinQuiversAsCCC.g
  FunctorCategories/examples/PrecompileFinReflexiveQuivers.g
  FunctorCategories/examples/PrecompileFinReflexiveQuiversAsCCC.g
  FunctorCategories/examples/PrecompilePreSheavesOfCategoryFromDataTablesInSkeletalFinSets.g
  FunctorCategories/examples/PrecompilePreSheavesOfCategoryFromDataTablesInSkeletalFinSetsSubobjectClassifier.g
  FunctorCategories/examples/PrecompilePreSheavesOfFpCategoryInSkeletalFinSets.g
  FunctorCategories/examples/PrecompilePreSheavesOfFpCategoryInSkeletalFinSetsSubobjectClassifier.g
  FunctorCategories/gap/precompiled_categories/FinBouquetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfCategoryFromDataTablesInSkeletalFinSetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFpCategoryInSkeletalFinSetsPrecompiled.gi
Due: Algebroids, FunctorCategories

Update website for Algebroids 2024.07-04
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap9.html
  Algebroids/doc/chap9.txt
  Algebroids/doc/chap9_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FiniteCocompletions 2024.07-02
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap14.html
  FiniteCocompletions/doc/chap14.txt
  FiniteCocompletions/doc/chap14_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2024.07-05
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap17.html
  FunctorCategories/doc/chap17.txt
  FunctorCategories/doc/chap17_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Add two type signatures for PreSheaves
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gd
Due: FunctorCategories

Update website for FunctorCategories 2024.07-06
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Revert "temporarily disable testing notebook"
  CatReps/PackageInfo.g
  CatReps/makefile
  FunctorCategories/PackageInfo.g
  FunctorCategories/makefile
  InternalModules/PackageInfo.g
  InternalModules/makefile
  LazyCategories/PackageInfo.g
  LazyCategories/makefile
Due: CatReps, FunctorCategories, LazyCategories
