Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

fixed bug AddDerivationToCAP( CocartesianCoevaluationMorphismWithGivenSource, ... )
  Locales/PackageInfo.g
  Locales/gap/CoHeytingAlgebraDerivedMethods.gi
  Locales/gap/HeytingAlgebraDerivedMethods.gi
  Locales/tst/TerminalCategoryTopos.tst
Due: Locales

get rid of ADD_COMMON_METHODS_FOR_* in Locales
  Locales/PackageInfo.g
  Locales/gap/BooleanAlgebra.gd
  Locales/gap/BooleanAlgebra.gi
  Locales/gap/CoHeytingAlgebra.gd
  Locales/gap/CoHeytingAlgebra.gi
  Locales/gap/ConstructibleObjectsAsUnionOfMultipleDifferences.gi
  Locales/gap/ConstructibleObjectsAsUnionOfSingleDifferences.gi
  Locales/gap/HeytingAlgebra.gd
  Locales/gap/HeytingAlgebra.gi
  Locales/gap/Lattice.gd
  Locales/gap/Lattice.gi
  Locales/gap/MultipleDifferences.gi
  Locales/gap/Poset.gd
  Locales/gap/Poset.gi
  Locales/gap/Proset.gd
  Locales/gap/Proset.gi
  Locales/gap/ProsetOfCategory.gi
  Locales/gap/SingleDifferences.gi
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/gap/AffineClosed.gi
  ZariskiFrames/gap/AffineOpen.gi
  ZariskiFrames/gap/ProjectiveClosed.gi
  ZariskiFrames/gap/ProjectiveOpen.gi
  ZariskiFrames/gap/ZariskiFrameOrCoframe.gi
Due: Locales, ZariskiFrames

Update website for Locales 2023.01-04
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

CategoryFromNerveData/DataTables now takes an input record
  Algebroids/PackageInfo.g
  Algebroids/examples/CategoryFromDataTables.g
  Algebroids/examples/CategoryFromNerveData.g
  Algebroids/gap/CategoryFromDataTables.gd
  Algebroids/gap/CategoryFromDataTables.gi
  Algebroids/gap/CategoryFromNerveData.gd
  Algebroids/gap/CategoryFromNerveData.gi
  Algebroids/gap/FpCategories.gi
Due: Algebroids

continue adjustment to https://github.com/homalg-project/CAP_project/pull/1231
  Algebroids/gap/precompiled_categories/CategoryFromNerveDataHomStructureOnMorphismsPrecompiled.gi
Due: Algebroids

Update website for Locales 2023.01-05
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for ZariskiFrames 2023.01-02
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

Update website for Algebroids 2023.01-08
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap3.html
  Algebroids/doc/chap3.txt
  Algebroids/doc/chap3_mj.html
  Algebroids/doc/chap4.html
  Algebroids/doc/chap4.txt
  Algebroids/doc/chap4_mj.html
  Algebroids/doc/chapInd.html
  Algebroids/doc/chapInd.txt
  Algebroids/doc/chapInd_mj.html
  _data/Algebroids.yml
Due: Algebroids

Call PreCompose with category as first argument in a derivation
  Toposes/gap/ToposDerivedMethods.gi
Due: Toposes

Add cat as first argument in output_range_getter_string of SingletonMorphism
  Toposes/gap/ToposMethodRecord.gi
Due: Toposes

Add output_source/range_getter_string to UniqueMorphism
  Locales/gap/Proset.autogen.gd
  Locales/gap/ProsetMethodRecord.gi
Due: Locales

Fix source and range in derivation of LiftAlongMonomorphism from UniqueMorphism
  Locales/gap/ProsetDerivedMethods.gi
Due: Locales

Bump versions
  Locales/PackageInfo.g
  Toposes/PackageInfo.g
Due: Locales, Toposes

coding style
  Locales/PackageInfo.g
Due: Locales

Update website for Locales 2023.02-01
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap1.html
  Locales/doc/chap1.txt
  Locales/doc/chap1_mj.html
  _data/Locales.yml
Due: Locales

Update website for Toposes 2023.02-01
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

the slice category over the tensor unit of IsStrictMonoidalCategory is IsStrictMonoidalCategory
  SubcategoriesForCAP/gap/SliceCategory.gi
Due: SubcategoriesForCAP

bumped version
  SubcategoriesForCAP/PackageInfo.g
Due: SubcategoriesForCAP

PrecompileFinBouquetsAsCCC
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/FinBouquets.g
  FunctorCategories/examples/PrecompileFinBouquetsAsCCC.g
  FunctorCategories/gap/CategoryOfBouquets.gi
  FunctorCategories/gap/precompiled_categories/FinBouquetsAsCCCPrecompiled.gi
  FunctorCategories/read.g
Due: FunctorCategories

Update website for FunctorCategories 2023.02-01
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap4.html
  FunctorCategories/doc/chap4.txt
  FunctorCategories/doc/chap4_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for SubcategoriesForCAP 2023.02-01
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

fixed CoYonedaLemma
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Update website for FunctorCategories 2023.02-02
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

improved CoYonedaLemma
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

trigger PrecompilePreSheavesInCategoryOfRows.g during tests
  FunctorCategories/examples/PrecompilePreSheavesInCategoryOfRows.g
  FunctorCategories/examples/notebooks/FunctorCategories.ipynb
  FunctorCategories/gap/CompilerLogic.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfAlgebroidWithRelationsInCategoryOfRowsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFreeAlgebroidInCategoryOfRowsPrecompiled.gi
Due: FunctorCategories

DefiningPair*Quiver* -> DefiningTriple*Quiver*
  Algebroids/examples/DefiningTripleOfAQuiver.g
  Algebroids/gap/Algebroids.gi
  Algebroids/gap/CategoryFromDataTables.gi
  Algebroids/gap/CategoryFromNerveData.gi
  Algebroids/gap/FpCategories.gi
  Algebroids/gap/Tools.gd
  Algebroids/gap/Tools.gi
  FunctorCategories/gap/CategoryOfBouquets.gi
  FunctorCategories/gap/CategoryOfQuivers.gi
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gi
  FunctorCategories/gap/CoPreSheaves.gi
  FunctorCategories/gap/FunctorCategories.gi
  FunctorCategories/gap/Functors.gi
  FunctorCategories/gap/HomStructure.gi
  FunctorCategories/gap/HomologicalMethods.gi
  FunctorCategories/gap/PreSheaves.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfAlgebroidWithRelationsInCategoryOfRowsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfCategoryFromDataTablesInSkeletalFinSetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfCategoryFromDataTablesInSkeletalFinSetsSubobjectClassifierPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFpCategoryInSkeletalFinSetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFpCategoryInSkeletalFinSetsSubobjectClassifierPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFreeAlgebroidInCategoryOfRowsPrecompiled.gi
Due: Algebroids, FunctorCategories

bumped versions
  Algebroids/PackageInfo.g
  FunctorCategories/PackageInfo.g
Due: Algebroids, FunctorCategories

Update website for Algebroids 2023.02-01
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap9.html
  Algebroids/doc/chap9.txt
  Algebroids/doc/chap9_mj.html
  Algebroids/doc/chapInd.html
  Algebroids/doc/chapInd.txt
  Algebroids/doc/chapInd_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FunctorCategories 2023.02-03
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap15.html
  FunctorCategories/doc/chap15.txt
  FunctorCategories/doc/chap15_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

simplified the code of SomeDiagramOfRepresentables
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

renamed CoYonedaLemma -> CoYonedaLemmaOnObjects
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Update website for FunctorCategories 2023.02-04
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd.txt
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

set short names for FinBouquets/FinQuivers/FinReflexiveQuivers
  FunctorCategories/examples/DPO_Quivers.g
  FunctorCategories/examples/DecoratedFinQuivers.g
  FunctorCategories/examples/FinBouquets.g
  FunctorCategories/examples/FinQuivers.g
  FunctorCategories/examples/FinReflexiveQuivers.g
  FunctorCategories/examples/PrecompileFinBouquets.g
  FunctorCategories/examples/PrecompileFinQuivers.g
  FunctorCategories/examples/PrecompileFinReflexiveQuivers.g
  FunctorCategories/examples/notebooks/DPO_Quivers.ipynb
  FunctorCategories/examples/notebooks/DecoratedFinQuivers.ipynb
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  FunctorCategories/gap/CategoryOfBouquets.gi
  FunctorCategories/gap/CategoryOfQuivers.gi
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gi
Due: FunctorCategories

bumped version
  FunctorCategories/PackageInfo.g
Due: FunctorCategories

fixed documentation
  FunctorCategories/gap/CategoryOfBouquets.gd
  FunctorCategories/gap/CategoryOfQuivers.gd
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gd
  FunctorCategories/gap/precompiled_categories/FinQuiversPrecompiled.gi
Due: FunctorCategories

CategoryOf*EnrichedOver is now an attribute
  FunctorCategories/gap/CategoryOfBouquets.gd
  FunctorCategories/gap/CategoryOfBouquets.gi
  FunctorCategories/gap/CategoryOfQuivers.gd
  FunctorCategories/gap/CategoryOfQuivers.gi
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gd
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gi
Due: FunctorCategories

Defining*Of* -> Defining*Of*OverSkeletalFinSets
  FunctorCategories/gap/CategoryOfBouquets.gd
  FunctorCategories/gap/CategoryOfBouquets.gi
  FunctorCategories/gap/CategoryOfQuivers.gd
  FunctorCategories/gap/CategoryOfQuivers.gi
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gd
  FunctorCategories/gap/CategoryOfReflexiveQuivers.gi
  FunctorCategories/gap/precompiled_categories/FinBouquetsAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinBouquetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversAsCCCPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversPrecompiled.gi
Due: FunctorCategories

started CategoryOfQuivers in a category C
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/CategoryOfQuivers.g
  FunctorCategories/gap/CategoryOfQuivers.gd
  FunctorCategories/gap/CategoryOfQuivers.gi
Due: FunctorCategories

Update website for FunctorCategories 2023.02-06
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap15.html
  FunctorCategories/doc/chap15.txt
  FunctorCategories/doc/chap15_mj.html
  FunctorCategories/doc/chap4.html
  FunctorCategories/doc/chap4.txt
  FunctorCategories/doc/chap4_mj.html
  FunctorCategories/doc/chap5.html
  FunctorCategories/doc/chap5.txt
  FunctorCategories/doc/chap5_mj.html
  FunctorCategories/doc/chap6.html
  FunctorCategories/doc/chap6.txt
  FunctorCategories/doc/chap6_mj.html
  FunctorCategories/doc/chap7.html
  FunctorCategories/doc/chap7.txt
  FunctorCategories/doc/chap7_mj.html
  FunctorCategories/doc/chap8.html
  FunctorCategories/doc/chap8.txt
  FunctorCategories/doc/chap8_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd.txt
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

applied PackageJanitor
  .github/workflows/Tests.yml
  dev/ci_gaprc
  dev/codecov.yml
  dev/make_dist.sh
  dev/process_coverage.py
  dev/release-gap-package
  dev/upload_codecov.sh
Due: none

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
