Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

d&i IsAdmissibleAlgebroid
  Algebroids/PackageInfo.g
  Algebroids/doc/Doc.autodoc
  Algebroids/examples/AdmissibleAlgebroidsFromDataTables.g
  Algebroids/gap/AlgebroidFromDataTables.gd
  Algebroids/gap/AlgebroidFromDataTables.gi
Due: Algebroids

Update website for Algebroids 2023.05-11
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap6.html
  Algebroids/doc/chap6.txt
  Algebroids/doc/chap6_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for Algebroids 2023.05-12
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap6.html
  Algebroids/doc/chap6.txt
  Algebroids/doc/chap6_mj.html
  Algebroids/doc/chapInd.html
  Algebroids/doc/chapInd.txt
  Algebroids/doc/chapInd_mj.html
  _data/Algebroids.yml
Due: Algebroids

comply with FinSetsForCAP v2023.05-05
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  FunctorCategories/gap/precompiled_categories/FinBouquetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversPrecompiled.gi
Due: FunctorCategories

comply with FinSetsForCAP v2023.05-06
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/precompiled_categories/FinBouquetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversPrecompiled.gi
Due: FunctorCategories

Update website for FunctorCategories 2023.05-14
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Adjust to https://github.com/homalg-project/CAP_project/pull/1320
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/tst/TerminalCategoryTopos.tst
  LazyCategories/PackageInfo.g
  LazyCategories/tst/TerminalCategoryMonoidal.tst
  LazyCategories/tst/TerminalCategoryTopos.tst
  Locales/PackageInfo.g
  Locales/tst/TerminalCategoryTopos.tst
Due: CategoryConstructor, LazyCategories, Locales

synchronize IsAdmissibleAlgebroid between an algebroid from data tables and its opposite category
  Algebroids/gap/AlgebroidFromDataTables.gi
Due: Algebroids

d&i CapFunctor & DefiningTripleOfUnderlyingQuiver for algebroids from data tables
  Algebroids/PackageInfo.g
  Algebroids/gap/AlgebroidFromDataTables.gi
Due: Algebroids

add DataTypes for SetOfObjects/SetOfGeneratingMorphisms
  Algebroids/gap/AlgebroidFromDataTables.gd
  Algebroids/gap/AlgebroidFromDataTables.gi
Due: Algebroids

Update website for CategoryConstructor 2023.05-04
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/doc/chap0.html
  CategoryConstructor/doc/chap0.txt
  CategoryConstructor/doc/chap0_mj.html
  _data/CategoryConstructor.yml
Due: CategoryConstructor

Update website for LazyCategories 2023.05-02
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2023.05-02
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

make sure we can construct (partially precompiled) presheaves category of an algebroid from data tables
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/PrecompilePreSheavesOfAlgebroidFromDataTablesInCategoryOfRows.g
  FunctorCategories/examples/presheaves_of_algebroid.g
  FunctorCategories/examples/presheaves_of_algebroid_from_data_tables.g
  FunctorCategories/gap/FunctorCategories.gi
  FunctorCategories/gap/Functors.gi
  FunctorCategories/gap/HomologicalMethods.gi
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfAlgebroidFromDataTablesInCategoryOfRowsPrecompiled.gi
  FunctorCategories/makedoc.g
  FunctorCategories/makedoc_with_overfull_hbox_warnings.g
  FunctorCategories/read.g
Due: FunctorCategories

Update website for Algebroids 2023.05-13
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FunctorCategories 2023.05-15
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap15.html
  FunctorCategories/doc/chap15.txt
  FunctorCategories/doc/chap15_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Precompile derivations relying on CategoryOfRelations
  Toposes/examples/precompile_derivations_pushout_complement.g
  Toposes/gap/ToposDerivedMethods.gi
Due: Toposes

Improve compatibility with Julia
  Toposes/gap/CategoryOfRelations.gi
Due: Toposes

Bump version
  Toposes/PackageInfo.g
Due: Toposes

Update website for Toposes 2023.05-05
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

Make line continuation explicit
  Toposes/PackageInfo.g
  Toposes/examples/DPO_FinSets.g
  Toposes/examples/SingletonMorphism.g
Due: Toposes

Update website for Toposes 2023.05-06
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  Toposes/doc/chap1.html
  Toposes/doc/chap1.txt
  Toposes/doc/chap1_mj.html
  _data/Toposes.yml
Due: Toposes

renamed package: FiniteCocompletion -> FiniteCocompletions
  FiniteCocompletions/_data/package.yml
  FiniteCocompletions/badge_date.json
  FiniteCocompletions/badge_version.json
  FiniteCocompletions/download_pdf.html
  FiniteCocompletions/view_release.html
Due: none

Update website for FiniteCocompletions 2023.05-07
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/README.md
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2.txt
  FiniteCocompletions/doc/chap2_mj.html
  FiniteCocompletions/doc/chap3.html
  FiniteCocompletions/doc/chap3.txt
  FiniteCocompletions/doc/chap3_mj.html
  FiniteCocompletions/doc/chap4.html
  FiniteCocompletions/doc/chap4.txt
  FiniteCocompletions/doc/chap4_mj.html
  FiniteCocompletions/doc/chap5.html
  FiniteCocompletions/doc/chap5.txt
  FiniteCocompletions/doc/chap5_mj.html
  FiniteCocompletions/doc/chap6.html
  FiniteCocompletions/doc/chap6.txt
  FiniteCocompletions/doc/chap6_mj.html
  FiniteCocompletions/doc/chapInd.html
  FiniteCocompletions/doc/chapInd.txt
  FiniteCocompletions/doc/chapInd_mj.html
  FiniteCocompletions/doc/chooser.html
  FiniteCocompletions/doc/lefttoc.css
  FiniteCocompletions/doc/manual.css
  FiniteCocompletions/doc/manual.js
  FiniteCocompletions/doc/nocolorprompt.css
  FiniteCocompletions/doc/ragged.css
  FiniteCocompletions/doc/rainbow.js
  FiniteCocompletions/doc/times.css
  FiniteCocompletions/doc/toggless.css
  FiniteCocompletions/doc/toggless.js
  _data/FiniteCocompletions.yml
Due: none

miscellaneous improvements to
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/examples/OtherHomMethods.g
  CategoryConstructor/gap/Tools.gd
  CategoryConstructor/gap/Tools.gi
  CategoryConstructor/gap/ToolsDerivedMethods.gi
  CategoryConstructor/gap/ToolsMethodRecord.gi
  CategoryConstructor/tst/100_LoadPackage.tst
Due: CategoryConstructor

use BasisOfSolutionsOfHomogeneousLinearSystemInLinearCategory
  Algebroids/PackageInfo.g
  Algebroids/examples/AlgebroidFromDataTables.g
  Algebroids/gap/AlgebroidFromDataTables.gd
  Algebroids/gap/AlgebroidFromDataTables.gi
Due: Algebroids

standardized names of filters
  Locales/PackageInfo.g
  Locales/gap/ProsetOfCategory.gd
  Locales/gap/ProsetOfCategory.gi
Due: Locales

made sections more visible in Proset.gd
  Locales/gap/Proset.gd
Due: Locales

coding style
  Locales/gap/Proset.gd
Due: Locales

Update website for Algebroids 2023.05-14
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap6.html
  Algebroids/doc/chap6.txt
  Algebroids/doc/chap6_mj.html
  _data/Algebroids.yml
Due: Algebroids

declared IsDiscreteCategory as a categorical property
  DiscreteCategories/PackageInfo.g
  DiscreteCategories/gap/DiscreteCategory.gd
  DiscreteCategories/gap/DiscreteCategory.gi
  Locales/PackageInfo.g
  Locales/gap/Proset.gd
  Locales/gap/Proset.gi
  Locales/gap/ProsetDerivedMethods.gi
Due: Locales

Update website for CategoryConstructor 2023.05-05
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/doc/chap0.html
  CategoryConstructor/doc/chap0.txt
  CategoryConstructor/doc/chap0_mj.html
  CategoryConstructor/doc/chap2.html
  CategoryConstructor/doc/chap2.txt
  CategoryConstructor/doc/chap2_mj.html
  _data/CategoryConstructor.yml
Due: CategoryConstructor

normalized whitespaces according to coding style
  Locales/gap/PosetDerivedMethods.gi
  Locales/gap/ProsetDerivedMethods.gi
Due: Locales

declared categorical property IsTotalOrderCategory
  Locales/gap/Poset.gd
  Locales/gap/Poset.gi
  Locales/gap/PosetDerivedMethods.gi
Due: Locales

d&i the constructors ProsetAsCategory, DiscreteSkeletalCategory, TotalOrderAsCategory
  DiscreteCategories/.gitignore
  DiscreteCategories/LICENSE
  DiscreteCategories/PackageInfo.g
  DiscreteCategories/README.md
  DiscreteCategories/TODO.md
  DiscreteCategories/doc/Doc.autodoc
  DiscreteCategories/doc/clean
  DiscreteCategories/examples/DiscreteCategory.g
  DiscreteCategories/gap/DiscreteCategory.gd
  DiscreteCategories/gap/DiscreteCategory.gi
  DiscreteCategories/init.g
  DiscreteCategories/makedoc.g
  DiscreteCategories/makedoc_with_overfull_hbox_warnings.g
  DiscreteCategories/makefile
  DiscreteCategories/read.g
  DiscreteCategories/tst/100_LoadPackage.tst
  DiscreteCategories/tst/testall.g
  DiscreteCategories/tst/testall_no_precompiled_code.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/TerminalCategory.g
  Locales/PackageInfo.g
  Locales/doc/Doc.autodoc
  Locales/examples/DiscreteSkeletalCategory.g
  Locales/examples/TotalOrderAsCategory.g
  Locales/gap/ProsetAsCategory.gd
  Locales/gap/ProsetAsCategory.gi
  Locales/init.g
  Locales/makedoc.g
  Locales/makedoc_with_overfull_hbox_warnings.g
  Locales/read.g
  README.md
  dev/codecov.yml
  dev/make_dist.sh
  dev/simulate_dist.sh
  dev/upload_codecov.sh
  makefile
Due: FunctorCategories, Locales

Update website for FunctorCategories 2023.05-16
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap9.html
  FunctorCategories/doc/chap9.txt
  FunctorCategories/doc/chap9_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

renamed local variables H, C by sFinSets and added missing assertions
  Algebroids/PackageInfo.g
  Algebroids/gap/FpCategories.gi
  Algebroids/gap/Tools.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: Algebroids, FunctorCategories

replace use of of MapOfFinSets with category as 1st argument by MorphismConstructor
  Algebroids/PackageInfo.g
  Algebroids/gap/FpCategories.gi
  Algebroids/gap/Tools.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: Algebroids, FunctorCategories

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
