Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

coequalizer closure -> coequalizer completion
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/Doc.autodoc
  FiniteCocompletions/gap/CoequalizerCompletion.gd
  FiniteCocompletions/gap/CoequalizerCompletion.gi
Due: none

deleted obsolete local variable
  FiniteCocompletions/gap/CoequalizerCompletion.gi
Due: none

reordered lines in init.g/read.g and doc/Doc.autodoc
  FiniteCocompletions/doc/Doc.autodoc
  FiniteCocompletions/init.g
  FiniteCocompletions/read.g
Due: none

\. for IsCoequalizerCompletion now also works for the nonlinear case
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/CoequalizerCompletion.gi
Due: none

Update website for Toposes 2023.11-06
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

d&i FiniteColimitCompletionWithStrictCoproducts
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/Doc.autodoc
  FiniteCocompletions/examples/FiniteColimitCompletionWithStrictCoproducts.g
  FiniteCocompletions/examples/FreeElementaryToposOnOneObject.g
  FiniteCocompletions/gap/FiniteColimitCompletionWithStrictCoproducts.gd
  FiniteCocompletions/gap/FiniteColimitCompletionWithStrictCoproducts.gi
  FiniteCocompletions/init.g
  FiniteCocompletions/read.g
Due: none

renamed AssociatedColimitCompletionOfSourceCategory -> AssociatedFiniteColimitCompletionWithStrictCoproductsOfSourceCategory
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/HomStructure.gi
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

CoYonedaLemmaOn* now return cells in FiniteColimitCompletionWithStrictCoproducts
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/Doc.autodoc
  FiniteCocompletions/examples/CategoryOfColimitQuivers.g
  FiniteCocompletions/examples/CharacteristicMatrix.g
  FiniteCocompletions/examples/FinBouquetsAsFiniteColimitCompletion.g
  FiniteCocompletions/examples/FinReflexiveQuiversAsFiniteColimitCompletion.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/StreamVortexSystem.g
  FunctorCategories/examples/StreamVortexSystemBig.g
  FunctorCategories/gap/HomStructure.gi
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

renamed FiniteCoproductCompletionOfUnderlyingCategory -> FiniteStrictCoproductCompletionOfUnderlyingCategory
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/FreeElementaryToposOnOneObject.g
  FiniteCocompletions/gap/FiniteColimitCompletionWithStrictCoproducts.gd
  FiniteCocompletions/gap/FiniteColimitCompletionWithStrictCoproducts.gi
Due: none

simplified code of ExternalHomOnMorphismsEqualizerFunctorialDataUsingCoYonedaLemma
  FunctorCategories/gap/HomStructure.gi
Due: FunctorCategories

ColimitCompletionWithStrictCoproducts now calls EnrichmentSpecificFiniteStrictCoproductCompletion
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/FiniteColimitCompletionWithStrictCoproducts.gi
Due: none

Update website for FiniteCocompletions 2023.11-08
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap13.html
  FiniteCocompletions/doc/chap13.txt
  FiniteCocompletions/doc/chap13_mj.html
  FiniteCocompletions/doc/chap6.html
  FiniteCocompletions/doc/chap6.txt
  FiniteCocompletions/doc/chap6_mj.html
  FiniteCocompletions/doc/chap7.html
  FiniteCocompletions/doc/chap7.txt
  FiniteCocompletions/doc/chap7_mj.html
  FiniteCocompletions/doc/chap8.html
  FiniteCocompletions/doc/chap8.txt
  FiniteCocompletions/doc/chap8_mj.html
  FiniteCocompletions/doc/chapInd.html
  FiniteCocompletions/doc/chapInd.txt
  FiniteCocompletions/doc/chapInd_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2023.11-07
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd.txt
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

relocated code from ToolsForCategoricalTowers -> FpCategories
  FpCategories/PackageInfo.g
  FpCategories/gap/Tools.gd
  FpCategories/gap/Tools.gi
  FpCategories/gap/ToolsDerivedMethods.gi
  FpCategories/read.g
  InternalModules/PackageInfo.g
  InternalModules/examples/SymmetricAlgebraInternalToS4rep.g
  Locales/PackageInfo.g
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/tst/100_LoadPackage.tst
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/gap/Tools.gd
  ToolsForCategoricalTowers/gap/Tools.gi
  ToolsForCategoricalTowers/gap/ToolsDerivedMethods.gi
Due: Locales, SubcategoriesForCAP

PARSE_CAP_QUIVER_DATUM_FROM_STRING can now treat quivers with no morphisms
  FpCategories/PackageInfo.g
  FpCategories/gap/Quivers.gi
Due: none

use CreateCapCategoryWithDataTypes for CreateCapQuiver and PathCategory
  FpCategories/PackageInfo.g
  FpCategories/gap/PathCategories.gi
  FpCategories/gap/Quivers.gi
Due: none

SetUnderlyingQuiver in QuotientCategory and LinearClosure constructors
  FpCategories/PackageInfo.g
  FpCategories/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
  FpCategories/gap/QuotientsOfPathCategories.gi
Due: none

renamed CapQuiver( C ) -> UnderlyingQuiver( C )
  Algebroids/PackageInfo.g
  Algebroids/gap/Algebroids.gi
  Algebroids/gap/FpCategories.gi
  FpCategories/PackageInfo.g
  FpCategories/gap/GroebnerBasesForPathCategories.gi
  FpCategories/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
  FpCategories/gap/PathCategories.gd
  FpCategories/gap/PathCategories.gi
  FpCategories/gap/QuotientsOfPathCategories.gi
Due: Algebroids

added C!.compiler_hints in PathCategory, QuotientCategory, and LinearClosure constructors
  FpCategories/PackageInfo.g
  FpCategories/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
  FpCategories/gap/PathCategories.gi
  FpCategories/gap/QuotientsOfPathCategories.gi
Due: none

SetDefiningTripleOfUnderlyingQuiver in PathCategory, QuotientCategory, and LinearClosure constructors
  FpCategories/PackageInfo.g
  FpCategories/examples/PathCategory.g
  FpCategories/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
  FpCategories/gap/PathCategories.gi
  FpCategories/gap/QuotientsOfPathCategories.gi
Due: none

enable Opposite in FiniteStrictProductCompletion to have HomStructure
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/FiniteStrictProductCompletion.gi
Due: none

Update website for Algebroids 2023.11-03
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for ToolsForCategoricalTowers 2023.11-04
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap2.html
  ToolsForCategoricalTowers/doc/chap2.txt
  ToolsForCategoricalTowers/doc/chap2_mj.html
  ToolsForCategoricalTowers/doc/chapInd.html
  ToolsForCategoricalTowers/doc/chapInd.txt
  ToolsForCategoricalTowers/doc/chapInd_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for FpCategories 2023.11-08
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap2.html
  FpCategories/doc/chap2.txt
  FpCategories/doc/chap2_mj.html
  FpCategories/doc/chap3.html
  FpCategories/doc/chap3.txt
  FpCategories/doc/chap3_mj.html
  FpCategories/doc/chapInd.html
  FpCategories/doc/chapInd.txt
  FpCategories/doc/chapInd_mj.html
  _data/FpCategories.yml
Due: none

Update website for InternalModules 2023.11-02
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  InternalModules/doc/chap1.html
  InternalModules/doc/chap1.txt
  InternalModules/doc/chap1_mj.html
  _data/InternalModules.yml
Due: none

Update website for Locales 2023.11-04
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for FiniteCocompletions 2023.11-09
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

delete overhead := false in LinearClosure
  FpCategories/PackageInfo.g
  FpCategories/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
Due: none

hotfix: Reevaluate after SetDefiningTripleOfUnderlyingQuiver in LinearClosure
  FpCategories/PackageInfo.g
  FpCategories/examples/PathCategory.g
  FpCategories/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
Due: none

Update website for SubcategoriesForCAP 2023.11-07
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Update website for FpCategories 2023.11-10
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap2.html
  FpCategories/doc/chap2.txt
  FpCategories/doc/chap2_mj.html
  _data/FpCategories.yml
Due: none

add more documentation to CAP quivers
  FpCategories/gap/Quivers.gd
Due: none

d&i IndicesPairsOfCompatibleMorphisms and
  FpCategories/PackageInfo.g
  FpCategories/examples/CapQuivers.g
  FpCategories/gap/Quivers.gd
  FpCategories/gap/Quivers.gi
Due: none

now quivers can also be defined by strings of the form
  FpCategories/PackageInfo.g
  FpCategories/examples/CapQuivers.g
  FpCategories/gap/Quivers.gi
Due: none

add myself as author to FpCategories
  FpCategories/PackageInfo.g
Due: none

pass colors to opposite quivers
  FpCategories/gap/Quivers.gi
Due: none

refactor and simplify AlgebroidsFromDataTables
  Algebroids/PackageInfo.g
  Algebroids/examples/AlgebroidFromDataTables.g
  Algebroids/examples/PrecompileAdditiveClosureOfAlgebroidFromDataTables.g
  Algebroids/gap/AlgebroidFromDataTables.gd
  Algebroids/gap/AlgebroidFromDataTables.gi
  Algebroids/gap/FunctionalPreSheavesOfAlgebroidsFromDataTables.gi
  Algebroids/gap/precompiled_categories/AdditiveClosureOfAlgebroidFromDataTablesPrecompiled.gi
  Algebroids/read.g
  FpCategories/PackageInfo.g
  FpCategories/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: Algebroids, FunctorCategories

no newlines for better grepping
  Algebroids/gap/Algebroids.gd
  Algebroids/gap/FpCategories.gd
Due: Algebroids

Update website for Algebroids 2023.11-04
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap6.html
  Algebroids/doc/chap6.txt
  Algebroids/doc/chap6_mj.html
  Algebroids/doc/chap9.html
  Algebroids/doc/chap9.txt
  Algebroids/doc/chap9_mj.html
  Algebroids/doc/chapInd.html
  Algebroids/doc/chapInd.txt
  Algebroids/doc/chapInd_mj.html
  _data/Algebroids.yml
Due: Algebroids

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
