Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

Change data structure PairOfLists -> TripleOfLists
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/FiniteStrictCoproductCompletionOfObjectFiniteCategory_CoequalizerOfIdentityAndAutomorphisms.g
  FiniteCocompletions/examples/FiniteStrictCoproductCompletionOfObjectFiniteCategory_ColiftAlongEpimorphism.g
  FiniteCocompletions/examples/FiniteStrictCoproductCompletionOfObjectFiniteCategory_Equalizer.g
  FiniteCocompletions/gap/FiniteStrictCoproductCompletionOfObjectFiniteCategory.gd
  FiniteCocompletions/gap/FiniteStrictCoproductCompletionOfObjectFiniteCategory.gi
Due: none

Update website for Algebroids 2026.06-02
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap2.html
  Algebroids/doc/chap2.txt
  Algebroids/doc/chap2_mj.html
  Algebroids/doc/chapInd.html
  Algebroids/doc/chapInd.txt
  Algebroids/doc/chapInd_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FunctorCategories 2026.06-02
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap17.html
  FunctorCategories/doc/chap17.txt
  FunctorCategories/doc/chap17_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for FiniteCocompletions 2026.06-03
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap3.html
  FiniteCocompletions/doc/chap3.txt
  FiniteCocompletions/doc/chap3_mj.html
  FiniteCocompletions/doc/chapInd.html
  FiniteCocompletions/doc/chapInd.txt
  FiniteCocompletions/doc/chapInd_mj.html
  _data/FiniteCocompletions.yml
Due: none

Introduce IsFpAlgebroid filters
  Algebroids/PackageInfo.g
  Algebroids/examples/PrecompileAdelmanCategoryOfAdditiveClosureOfAlgebroid.g
  Algebroids/gap/Algebroids.gd
  Algebroids/gap/Algebroids.gi
  Algebroids/gap/Bialgebroids.gd
  Algebroids/gap/Bialgebroids.gi
  Algebroids/gap/CategoryOfAlgebroids.gd
  Algebroids/gap/CategoryOfAlgebroids.gi
  Algebroids/gap/Functors.gd
  Algebroids/gap/Functors.gi
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/gap/AlgebroidFromDataTables.gd
  FpLinearCategories/gap/AlgebroidFromDataTables.gi
  FpLinearCategories/gap/DataTablesOfLinearCategories.gi
  FpLinearCategories/gap/QuotientsOfAlgebroidsFromDataTables.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/AbelianClosure.gd
  FunctorCategories/gap/AbelianClosure.gi
  FunctorCategories/gap/CoPreSheaves.gi
  FunctorCategories/gap/FunctorCategories.gi
  FunctorCategories/gap/Functors.gd
  FunctorCategories/gap/Functors.gi
  FunctorCategories/gap/HomologicalMethods.gi
  FunctorCategories/gap/PreSheaves.gi
  FunctorCategories/gap/QuotientsOfAlgebroidsFromDataTablesUsingPreSheaves.gd
  FunctorCategories/gap/QuotientsOfAlgebroidsFromDataTablesUsingPreSheaves.gi
Due: Algebroids, FunctorCategories

Skip already loaded GAP packages in ci_gaprc
  dev/ci_gaprc
Due: none

Update website for Algebroids 2026.06-03
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap12.html
  Algebroids/doc/chap12.txt
  Algebroids/doc/chap12_mj.html
  Algebroids/doc/chap4.html
  Algebroids/doc/chap4.txt
  Algebroids/doc/chap4_mj.html
  Algebroids/doc/chap6.html
  Algebroids/doc/chap6_mj.html
  Algebroids/doc/chap7.html
  Algebroids/doc/chap7_mj.html
  Algebroids/doc/chapInd.html
  Algebroids/doc/chapInd.txt
  Algebroids/doc/chapInd_mj.html
  Algebroids/doc/chooser.html
  Algebroids/doc/dark.css
  Algebroids/doc/manual.css
  Algebroids/doc/manual.js
  _data/Algebroids.yml
Due: Algebroids

Update website for FpLinearCategories 2026.06-02
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/doc/chap0.html
  FpLinearCategories/doc/chap0.txt
  FpLinearCategories/doc/chap0_mj.html
  FpLinearCategories/doc/chap1.html
  FpLinearCategories/doc/chap1.txt
  FpLinearCategories/doc/chap1_mj.html
  FpLinearCategories/doc/chapInd.html
  FpLinearCategories/doc/chapInd.txt
  FpLinearCategories/doc/chapInd_mj.html
  FpLinearCategories/doc/chooser.html
  FpLinearCategories/doc/dark.css
  FpLinearCategories/doc/manual.css
  FpLinearCategories/doc/manual.js
  _data/FpLinearCategories.yml
Due: none

Update website for FunctorCategories 2026.06-03
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap10.html
  FunctorCategories/doc/chap10_mj.html
  FunctorCategories/doc/chap14.html
  FunctorCategories/doc/chap14_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd.txt
  FunctorCategories/doc/chapInd_mj.html
  FunctorCategories/doc/chooser.html
  FunctorCategories/doc/dark.css
  FunctorCategories/doc/manual.css
  FunctorCategories/doc/manual.js
  _data/FunctorCategories.yml
Due: FunctorCategories

d&i SubobjectsOfGeneratedSublattice
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/julia/notebooks/NoetherSecondIsoThm4Subobjects.ipynb
  Toposes/PackageInfo.g
  Toposes/gap/Julia.gi
  Toposes/gap/Tools.gd
  Toposes/gap/Tools.gi
  Toposes/read.g
Due: FunctorCategories, Toposes

FiniteCocompletions: Few Adjustments for Julia
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/AbelianClosure.gd
  FiniteCocompletions/gap/AbelianClosure.gi
  FiniteCocompletions/gap/AdditiveClosure.gd
  FiniteCocompletions/gap/AdditiveClosure.gi
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gd
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gi
  FiniteCocompletions/gap/CoFreydCategory.gd
  FiniteCocompletions/gap/CoFreydCategory.gi
  FiniteCocompletions/gap/CoequalizerPreCompletion.gd
  FiniteCocompletions/gap/CoequalizerPreCompletion.gi
  FiniteCocompletions/gap/FiniteColimitCompletionWithStrictCoproducts.gd
  FiniteCocompletions/gap/FiniteColimitCompletionWithStrictCoproducts.gi
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gd
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
  FiniteCocompletions/gap/FiniteStrictCoproductCompletionOfObjectFiniteCategory.gd
  FiniteCocompletions/gap/FiniteStrictCoproductCompletionOfObjectFiniteCategory.gi
  FiniteCocompletions/gap/FiniteStrictProductCompletion.gd
  FiniteCocompletions/gap/FiniteStrictProductCompletion.gi
  FiniteCocompletions/gap/FreeDistributiveCategoryWithStrictProductAndCoproducts.gd
  FiniteCocompletions/gap/FreeDistributiveCategoryWithStrictProductAndCoproducts.gi
  FiniteCocompletions/gap/FreydCategory.gd
  FiniteCocompletions/gap/FreydCategory.gi
  FiniteCocompletions/gap/PairOfParallelArrowsCategory.gd
  FiniteCocompletions/gap/PairOfParallelArrowsCategory.gi
  FiniteCocompletions/gap/SkeletalFinSets.gd
  FiniteCocompletions/gap/SkeletalFinSets.gi
  FiniteCocompletions/gap/Tools.gd
Due: none

Update website for FiniteCocompletions 2026.06-04
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap13.html
  FiniteCocompletions/doc/chap13_mj.html
  FiniteCocompletions/doc/chap14.html
  FiniteCocompletions/doc/chap14.txt
  FiniteCocompletions/doc/chap14_mj.html
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2_mj.html
  FiniteCocompletions/doc/chap3.html
  FiniteCocompletions/doc/chap3_mj.html
  FiniteCocompletions/doc/chap4.html
  FiniteCocompletions/doc/chap4_mj.html
  FiniteCocompletions/doc/chap5.html
  FiniteCocompletions/doc/chap5_mj.html
  FiniteCocompletions/doc/chap6.html
  FiniteCocompletions/doc/chap6.txt
  FiniteCocompletions/doc/chap6_mj.html
  FiniteCocompletions/doc/chap7.html
  FiniteCocompletions/doc/chap7_mj.html
  FiniteCocompletions/doc/chap8.html
  FiniteCocompletions/doc/chap8.txt
  FiniteCocompletions/doc/chap8_mj.html
  FiniteCocompletions/doc/chap9.html
  FiniteCocompletions/doc/chap9_mj.html
  FiniteCocompletions/doc/chapInd.html
  FiniteCocompletions/doc/chapInd.txt
  FiniteCocompletions/doc/chapInd_mj.html
  FiniteCocompletions/doc/chooser.html
  FiniteCocompletions/doc/dark.css
  FiniteCocompletions/doc/manual.css
  FiniteCocompletions/doc/manual.js
  _data/FiniteCocompletions.yml
Due: none

InstallMethodWithCache( LinearClosure, [ IsCategoryOfRows, IsPathCategory ], ... )
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
Due: none

Update website for FpLinearCategories 2026.06-03
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/doc/chap0.html
  FpLinearCategories/doc/chap0.txt
  FpLinearCategories/doc/chap0_mj.html
  _data/FpLinearCategories.yml
Due: none

@Arguments cell -> D
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/gap/ToolsUsingDigraphs.gd
Due: none

d&i Visualize for IsDigraphOfSubobjects
  Toposes/PackageInfo.g
  Toposes/gap/Tools.gd
  Toposes/gap/Tools.gi
Due: Toposes

d&i DigraphOfSubobjects for [ IsCapCategoryObject, IsList ]
  Toposes/PackageInfo.g
  Toposes/gap/Tools.gd
  Toposes/gap/Tools.gi
Due: Toposes

Update website for ToolsForCategoricalTowers 2026.06-02
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap3.html
  ToolsForCategoricalTowers/doc/chap3.txt
  ToolsForCategoricalTowers/doc/chap3_mj.html
  ToolsForCategoricalTowers/doc/chooser.html
  ToolsForCategoricalTowers/doc/dark.css
  ToolsForCategoricalTowers/doc/manual.css
  ToolsForCategoricalTowers/doc/manual.js
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for Toposes 2026.06-02
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  Toposes/doc/chap3.html
  Toposes/doc/chap3.txt
  Toposes/doc/chap3_mj.html
  Toposes/doc/chapInd.html
  Toposes/doc/chapInd.txt
  Toposes/doc/chapInd_mj.html
  Toposes/doc/chooser.html
  Toposes/doc/dark.css
  Toposes/doc/manual.css
  Toposes/doc/manual.js
  _data/Toposes.yml
Due: Toposes

Apply PackageJanitor
  Algebroids/makefile
  CatReps/makefile
  CategoriesWithAmbientObjects/makefile
  ExteriorPowersCategories/makefile
  FiniteCocompletions/makefile
  FpCategories/makefile
  FpLinearCategories/makefile
  FunctorCategories/makefile
  GradedCategories/makefile
  InternalModules/makefile
  IntrinsicCategories/makefile
  IntrinsicGradedModules/makefile
  IntrinsicModules/makefile
  LazyCategories/makefile
  Locales/makefile
  PresheafCategories/makefile
  QuotientCategories/makefile
  SliceCategories/makefile
  SubcategoriesForCAP/makefile
  ToolsForCategoricalTowers/makefile
  Toposes/makefile
  ZariskiFrames/makefile
  dev/match_tst_to_examples.py
  makefile
Due: Algebroids, CategoriesWithAmbientObjects, CatReps, ExteriorPowersCategories, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, SubcategoriesForCAP, Toposes, ZariskiFrames

Bump versions after applying PJ
  Algebroids/PackageInfo.g
  CatReps/PackageInfo.g
  CategoriesWithAmbientObjects/PackageInfo.g
  ExteriorPowersCategories/PackageInfo.g
  FiniteCocompletions/PackageInfo.g
  FpCategories/PackageInfo.g
  FpLinearCategories/PackageInfo.g
  FunctorCategories/PackageInfo.g
  GradedCategories/PackageInfo.g
  InternalModules/PackageInfo.g
  IntrinsicCategories/PackageInfo.g
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicModules/PackageInfo.g
  LazyCategories/PackageInfo.g
  Locales/PackageInfo.g
  PresheafCategories/PackageInfo.g
  QuotientCategories/PackageInfo.g
  SliceCategories/PackageInfo.g
  SubcategoriesForCAP/PackageInfo.g
  ToolsForCategoricalTowers/PackageInfo.g
  Toposes/PackageInfo.g
  ZariskiFrames/PackageInfo.g
Due: Algebroids, CategoriesWithAmbientObjects, CatReps, ExteriorPowersCategories, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, SubcategoriesForCAP, Toposes, ZariskiFrames

Update website for Algebroids 2026.06-04
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for CategoriesWithAmbientObjects 2026.06-01
  CategoriesWithAmbientObjects/PackageInfo.g
  CategoriesWithAmbientObjects/doc/chap0.html
  CategoriesWithAmbientObjects/doc/chap0.txt
  CategoriesWithAmbientObjects/doc/chap0_mj.html
  CategoriesWithAmbientObjects/doc/chooser.html
  CategoriesWithAmbientObjects/doc/dark.css
  CategoriesWithAmbientObjects/doc/manual.css
  CategoriesWithAmbientObjects/doc/manual.js
  _data/CategoriesWithAmbientObjects.yml
Due: CategoriesWithAmbientObjects

Update website for CatReps 2026.06-02
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  CatReps/doc/chooser.html
  CatReps/doc/dark.css
  CatReps/doc/manual.css
  CatReps/doc/manual.js
  _data/CatReps.yml
Due: CatReps

Update website for ExteriorPowersCategories 2026.06-01
  ExteriorPowersCategories/PackageInfo.g
  ExteriorPowersCategories/doc/chap0.html
  ExteriorPowersCategories/doc/chap0.txt
  ExteriorPowersCategories/doc/chap0_mj.html
  ExteriorPowersCategories/doc/chooser.html
  ExteriorPowersCategories/doc/dark.css
  ExteriorPowersCategories/doc/manual.css
  ExteriorPowersCategories/doc/manual.js
  _data/ExteriorPowersCategories.yml
Due: ExteriorPowersCategories

Update website for FiniteCocompletions 2026.06-05
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FpCategories 2026.06-04
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chooser.html
  FpCategories/doc/dark.css
  FpCategories/doc/manual.css
  FpCategories/doc/manual.js
  _data/FpCategories.yml
Due: none

Update website for FpLinearCategories 2026.06-04
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/doc/chap0.html
  FpLinearCategories/doc/chap0.txt
  FpLinearCategories/doc/chap0_mj.html
  _data/FpLinearCategories.yml
Due: none

Update website for FunctorCategories 2026.06-04
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for GradedCategories 2026.06-01
  GradedCategories/PackageInfo.g
  GradedCategories/doc/chap0.html
  GradedCategories/doc/chap0.txt
  GradedCategories/doc/chap0_mj.html
  GradedCategories/doc/chooser.html
  GradedCategories/doc/dark.css
  GradedCategories/doc/manual.css
  GradedCategories/doc/manual.js
  _data/GradedCategories.yml
Due: GradedCategories

Update website for InternalModules 2026.06-02
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  InternalModules/doc/chooser.html
  InternalModules/doc/dark.css
  InternalModules/doc/manual.css
  InternalModules/doc/manual.js
  _data/InternalModules.yml
Due: none

Update website for IntrinsicCategories 2026.06-01
  IntrinsicCategories/PackageInfo.g
  IntrinsicCategories/doc/chap0.html
  IntrinsicCategories/doc/chap0.txt
  IntrinsicCategories/doc/chap0_mj.html
  IntrinsicCategories/doc/chooser.html
  IntrinsicCategories/doc/dark.css
  IntrinsicCategories/doc/manual.css
  IntrinsicCategories/doc/manual.js
  _data/IntrinsicCategories.yml
Due: IntrinsicCategories

Update website for IntrinsicGradedModules 2026.06-02
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/doc/chap0.html
  IntrinsicGradedModules/doc/chap0.txt
  IntrinsicGradedModules/doc/chap0_mj.html
  IntrinsicGradedModules/doc/chooser.html
  IntrinsicGradedModules/doc/dark.css
  IntrinsicGradedModules/doc/manual.css
  IntrinsicGradedModules/doc/manual.js
  _data/IntrinsicGradedModules.yml
Due: IntrinsicGradedModules

Update website for IntrinsicModules 2026.06-02
  IntrinsicModules/PackageInfo.g
  IntrinsicModules/doc/chap0.html
  IntrinsicModules/doc/chap0.txt
  IntrinsicModules/doc/chap0_mj.html
  IntrinsicModules/doc/chooser.html
  IntrinsicModules/doc/dark.css
  IntrinsicModules/doc/manual.css
  IntrinsicModules/doc/manual.js
  _data/IntrinsicModules.yml
Due: IntrinsicModules

Update website for LazyCategories 2026.06-02
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  LazyCategories/doc/chooser.html
  LazyCategories/doc/dark.css
  LazyCategories/doc/manual.css
  LazyCategories/doc/manual.js
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2026.06-02
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chooser.html
  Locales/doc/dark.css
  Locales/doc/manual.css
  Locales/doc/manual.js
  _data/Locales.yml
Due: Locales

Update website for PresheafCategories 2026.06-02
  PresheafCategories/PackageInfo.g
  PresheafCategories/doc/chap0.html
  PresheafCategories/doc/chap0.txt
  PresheafCategories/doc/chap0_mj.html
  PresheafCategories/doc/chooser.html
  PresheafCategories/doc/dark.css
  PresheafCategories/doc/manual.css
  PresheafCategories/doc/manual.js
  _data/PresheafCategories.yml
Due: none

Update website for QuotientCategories 2026.06-01
  QuotientCategories/PackageInfo.g
  QuotientCategories/doc/chap0.html
  QuotientCategories/doc/chap0.txt
  QuotientCategories/doc/chap0_mj.html
  QuotientCategories/doc/chooser.html
  QuotientCategories/doc/dark.css
  QuotientCategories/doc/manual.css
  QuotientCategories/doc/manual.js
  _data/QuotientCategories.yml
Due: none

Update website for SliceCategories 2026.06-01
  SliceCategories/PackageInfo.g
  SliceCategories/doc/chap0.html
  SliceCategories/doc/chap0.txt
  SliceCategories/doc/chap0_mj.html
  SliceCategories/doc/chooser.html
  SliceCategories/doc/dark.css
  SliceCategories/doc/manual.css
  SliceCategories/doc/manual.js
  _data/SliceCategories.yml
Due: none

Update website for SubcategoriesForCAP 2026.06-01
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  SubcategoriesForCAP/doc/chooser.html
  SubcategoriesForCAP/doc/dark.css
  SubcategoriesForCAP/doc/manual.css
  SubcategoriesForCAP/doc/manual.js
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
