Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

Update website for LazyCategories 2023.07-01
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  LazyCategories/doc/chap2.html
  LazyCategories/doc/chap2.txt
  LazyCategories/doc/chap2_mj.html
  LazyCategories/doc/chapInd.html
  LazyCategories/doc/chapInd.txt
  LazyCategories/doc/chapInd_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

coding style
  Toposes/gap/Topos.gi
Due: Toposes

renamed local variables
  SubcategoriesForCAP/gap/SliceCategory.gi
Due: SubcategoriesForCAP

d&i IntersectWithPreimagesWithGivenObjects
  Toposes/PackageInfo.g
  Toposes/gap/Topos.gd
  Toposes/gap/Topos.gi
Due: Toposes

AddSingletonMorphismWithGivenPowerObject( Slice_over_B, ... )
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/examples/SliceCategory.g
  SubcategoriesForCAP/gap/SliceCategory.gi
Due: SubcategoriesForCAP

Update website for SubcategoriesForCAP 2023.07-02
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  SubcategoriesForCAP/doc/chap4.html
  SubcategoriesForCAP/doc/chap4.txt
  SubcategoriesForCAP/doc/chap4_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Update website for Toposes 2023.07-05
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  Toposes/doc/chap1.html
  Toposes/doc/chap1.txt
  Toposes/doc/chap1_mj.html
  Toposes/doc/chapInd.html
  Toposes/doc/chapInd.txt
  Toposes/doc/chapInd_mj.html
  _data/Toposes.yml
Due: Toposes

improved DualOverTensorUnit
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/gap/SliceCategory.gi
Due: SubcategoriesForCAP

relocated examples/TerminalCategoryWithMultipleObjects.g
  SubcategoriesForCAP/examples/TerminalCategoryWithMultipleObjects.g
Due: SubcategoriesForCAP

improved examples/DualOverTensorUnit.g
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/examples/DualOverTensorUnit.g
Due: SubcategoriesForCAP

Update website for SubcategoriesForCAP 2023.07-03
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

started restructuring LazyCategories and deleted the legacy CategoryConstructor
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/doc/Doc.autodoc
  CategoryConstructor/gap/CategoryConstructor.gd
  CategoryConstructor/gap/CategoryConstructor.gi
  CategoryConstructor/gap/Tools.gd
  CategoryConstructor/gap/Tools.gi
  CategoryConstructor/init.g
  CategoryConstructor/read.g
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/tst/cartesian.tst
  LazyCategories/PackageInfo.g
  LazyCategories/examples/notebooks/SnakeInAbelian.ipynb
  LazyCategories/examples/notebooks/SnakeInFreeAbelian.ipynb
  LazyCategories/gap/LazyCategory.gd
  LazyCategories/gap/LazyCategory.gi
Due: CategoryConstructor, LazyCategories

Update website for CategoryConstructor 2023.07-03
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/doc/chap0.html
  CategoryConstructor/doc/chap0.txt
  CategoryConstructor/doc/chap0_mj.html
  CategoryConstructor/doc/chap1.html
  CategoryConstructor/doc/chap1.txt
  CategoryConstructor/doc/chap1_mj.html
  CategoryConstructor/doc/chap2.html
  CategoryConstructor/doc/chap2.txt
  CategoryConstructor/doc/chap2_mj.html
  CategoryConstructor/doc/chap3.html
  CategoryConstructor/doc/chap3.txt
  CategoryConstructor/doc/chap3_mj.html
  CategoryConstructor/doc/chapInd.html
  CategoryConstructor/doc/chapInd.txt
  CategoryConstructor/doc/chapInd_mj.html
  _data/CategoryConstructor.yml
Due: CategoryConstructor

Update website for FiniteCocompletions 2023.07-16
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for LazyCategories 2023.07-02
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  LazyCategories/doc/chap2.html
  LazyCategories/doc/chap2.txt
  LazyCategories/doc/chap2_mj.html
  LazyCategories/doc/chapInd.html
  LazyCategories/doc/chapInd.txt
  LazyCategories/doc/chapInd_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for SubcategoriesForCAP 2023.07-04
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  SubcategoriesForCAP/doc/chap4.html
  SubcategoriesForCAP/doc/chap4.txt
  SubcategoriesForCAP/doc/chap4_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

relocated and simplified code
  LazyCategories/gap/LazyCategory.gi
Due: LazyCategories

coding style
  LazyCategories/gap/LazyCategory.gi
Due: LazyCategories

category as first argument
  LazyCategories/gap/LazyCategory.gi
Due: LazyCategories

AddInterpretMorphismAsMorphismFromDistinguishedObjectToHomomorphismStructureWithGivenObjects
  LazyCategories/PackageInfo.g
  LazyCategories/gap/LazyCategory.gi
Due: LazyCategories

AddDistinguishedObjectOfHomomorphismStructure is now lazy
  LazyCategories/PackageInfo.g
  LazyCategories/gap/LazyCategory.gi
Due: LazyCategories

improved AddInterpretMorphismFromDistinguishedObjectToHomomorphismStructureAsMorphism
  LazyCategories/PackageInfo.g
  LazyCategories/gap/LazyCategory.gi
Due: LazyCategories

the option lazify_range_of_hom_structure of LazyCategory now defaults to false
  LazyCategories/PackageInfo.g
  LazyCategories/examples/SnakeInAdditiveClosureOfAlgebroid.g
  LazyCategories/examples/SnakeInAdditiveClosureOfAlgebroidPrimitive.g
  LazyCategories/gap/LazyCategory.gi
Due: LazyCategories

Update website for LazyCategories 2023.07-04
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

LazyCategory now supports Object/MorphismConstructor/Datum
  LazyCategories/examples/julia/SnakeInFreeAbelian.jl
  LazyCategories/examples/notebooks/SnakeInAbelian.ipynb
  LazyCategories/examples/notebooks/SnakeInFreeAbelian.ipynb
  LazyCategories/gap/LazyCategory.gd
  LazyCategories/gap/LazyCategory.gi
  LazyCategories/gap/ToolsUsingDigraphs.gi
Due: LazyCategories

Update website for LazyCategories 2023.07-06
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  LazyCategories/doc/chap1.html
  LazyCategories/doc/chap1.txt
  LazyCategories/doc/chap1_mj.html
  LazyCategories/doc/chap2.html
  LazyCategories/doc/chap2.txt
  LazyCategories/doc/chap2_mj.html
  LazyCategories/doc/chapInd.html
  LazyCategories/doc/chapInd.txt
  LazyCategories/doc/chapInd_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Simplify PositivelyZGradedCategory
  GradedCategories/PackageInfo.g
  GradedCategories/gap/PositivelyZGradedCategory.gi
Due: GradedCategories

Update website for GradedCategories 2023.07-01
  GradedCategories/PackageInfo.g
  GradedCategories/doc/chap0.html
  GradedCategories/doc/chap0.txt
  GradedCategories/doc/chap0_mj.html
  _data/GradedCategories.yml
Due: GradedCategories

Clean up LazyCategory
  LazyCategories/PackageInfo.g
  LazyCategories/gap/LazyCategory.gi
Due: LazyCategories

Adjust to AttributeCategoryForCAP 2023.07-01
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/examples/PresentationWithDegrees.g
Due: IntrinsicGradedModules

change style of added functions in AlgebroidsFromDataTables from
  Algebroids/gap/AlgebroidFromDataTables.gi
Due: Algebroids

make sure all "CreateMorphism" installations in
  Algebroids/PackageInfo.g
  Algebroids/gap/AlgebroidFromDataTables.gi
Due: Algebroids

Replace io_types by input_arguments_names etc.
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/gap/ToolsMethodRecord.gi
  Locales/PackageInfo.g
  Locales/gap/BooleanAlgebraMethodRecord.gi
  Locales/gap/CoHeytingAlgebraMethodRecord.gi
  Locales/gap/HeytingAlgebraMethodRecord.gi
  Toposes/PackageInfo.g
  Toposes/gap/ToposMethodRecord.gi
Due: CategoryConstructor, Locales, Toposes

Update website for IntrinsicGradedModules 2023.07-03
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/doc/chap0.html
  IntrinsicGradedModules/doc/chap0.txt
  IntrinsicGradedModules/doc/chap0_mj.html
  IntrinsicGradedModules/doc/chap1.html
  IntrinsicGradedModules/doc/chap1.txt
  IntrinsicGradedModules/doc/chap1_mj.html
  _data/IntrinsicGradedModules.yml
Due: IntrinsicGradedModules

Update website for LazyCategories 2023.07-07
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Algebroids 2023.07-09
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for CategoryConstructor 2023.07-04
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/doc/chap0.html
  CategoryConstructor/doc/chap0.txt
  CategoryConstructor/doc/chap0_mj.html
  _data/CategoryConstructor.yml
Due: CategoryConstructor

Update website for Locales 2023.07-09
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for Toposes 2023.07-06
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

Adjust to CAP 2023.08-01
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/gap/ToolsMethodRecord.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/ToolsMethodRecord.gi
Due: CategoryConstructor, FunctorCategories
