Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

Update website for FiniteCocompletion 2023.04-01
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  FiniteCocompletion/doc/chap7.html
  FiniteCocompletion/doc/chap7.txt
  FiniteCocompletion/doc/chap7_mj.html
  FiniteCocompletion/doc/chapInd.html
  FiniteCocompletion/doc/chapInd.txt
  FiniteCocompletion/doc/chapInd_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

Remove well_defined_todo
  CategoryConstructor/gap/ToolsMethodRecord.gi
  FunctorCategories/gap/ToolsMethodRecord.gi
Due: CategoryConstructor, FunctorCategories

Add output_source/range_getter_preconditions
  Locales/gap/BooleanAlgebraMethodRecord.gi
  Locales/gap/CoHeytingAlgebraMethodRecord.gi
  Locales/gap/HeytingAlgebraMethodRecord.gi
  Toposes/gap/ToposMethodRecord.gi
Due: Locales, Toposes

Bump versions
  CategoryConstructor/PackageInfo.g
  FunctorCategories/PackageInfo.g
  Locales/PackageInfo.g
  Toposes/PackageInfo.g
Due: CategoryConstructor, FunctorCategories, Locales, Toposes

Update website for CategoryConstructor 2023.04-01
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/doc/chap0.html
  CategoryConstructor/doc/chap0.txt
  CategoryConstructor/doc/chap0_mj.html
  _data/CategoryConstructor.yml
Due: CategoryConstructor

Update website for FunctorCategories 2023.04-01
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Locales 2023.04-01
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for Toposes 2023.04-01
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

Fix whitespace
  Toposes/init.g
  Toposes/read.g
Due: Toposes

Install ViewString and DisplayString instead of ViewObj and Display
  Toposes/gap/CategoryOfRelations.gi
Due: Toposes

Drop cell filter of category of relations
  Toposes/gap/CategoryOfRelations.gd
Due: Toposes

Avoid `and` of filters
  Toposes/gap/ToposDerivedMethods.gi
Due: Toposes

Do not enlarge TOPOS_METHOD_NAME_RECORD
  Toposes/gap/ToposMethodRecord.gi
Due: Toposes

Do not view lists in tests
  Toposes/examples/LawvereTierney.g
Due: Toposes

Comment CategoryOfRelations for Julia
  Toposes/gap/CategoryOfRelations.gi
Due: Toposes

Make line continuation explicit
  Toposes/examples/OppositeCategory.g
Due: Toposes

Bump version
  Toposes/PackageInfo.g
Due: Toposes

add "\." method to quotient categroies & bump version of QuotientCategories to v2023.04.01
  PackageInfo.g
  gap/QuotientCategories.gi
Due: none

Update website for Toposes 2023.04-02
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  Toposes/doc/chap1.html
  Toposes/doc/chap1.txt
  Toposes/doc/chap1_mj.html
  Toposes/doc/chap2.html
  Toposes/doc/chap2.txt
  Toposes/doc/chap2_mj.html
  Toposes/doc/chap5.html
  Toposes/doc/chap5.txt
  Toposes/doc/chap5_mj.html
  Toposes/doc/chapInd.html
  Toposes/doc/chapInd.txt
  Toposes/doc/chapInd_mj.html
  _data/Toposes.yml
Due: Toposes

Adjust to https://github.com/homalg-project/CAP_project/pull/1300
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/gap/precompiled_categories/CategoryOfSkeletalFinSetsAsFiniteStrictCoproductCocompletionOfTerminalCategoryPrecompiled.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/precompiled_categories/PreSheavesOfAlgebroidWithRelationsInCategoryOfRowsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFreeAlgebroidInCategoryOfRowsPrecompiled.gi
Due: FiniteCocompletion, FunctorCategories

fix a bug in PreSheaves, install "." methods using Yoneda embedding
  PreSheaves/PackageInfo.g
  PreSheaves/gap/PreSheaves.gi
Due: PreSheaves

Update website for FiniteCocompletion 2023.04-02
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

Update website for FunctorCategories 2023.04-02
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

introduce AlgebroidFromDataTables category constructor
  Algebroids/PackageInfo.g
  Algebroids/examples/AlgebroidFromDataTables.g
  Algebroids/gap/AlgebroidFromDataTables.gd
  Algebroids/gap/AlgebroidFromDataTables.gi
  Algebroids/init.g
  Algebroids/makedoc.g
  Algebroids/read.g
  PreSheaves/gap/PreSheaves.gd
  PreSheaves/gap/PreSheaves.gi
Due: Algebroids, PreSheaves

Update website for Algebroids 2023.04-01
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap1.html
  Algebroids/doc/chap10.html
  Algebroids/doc/chap10.txt
  Algebroids/doc/chap10_mj.html
  Algebroids/doc/chap11.html
  Algebroids/doc/chap11.txt
  Algebroids/doc/chap11_mj.html
  Algebroids/doc/chap1_mj.html
  Algebroids/doc/chap2.html
  Algebroids/doc/chap2_mj.html
  Algebroids/doc/chap3.html
  Algebroids/doc/chap3_mj.html
  Algebroids/doc/chap4.html
  Algebroids/doc/chap4_mj.html
  Algebroids/doc/chap5.html
  Algebroids/doc/chap5_mj.html
  Algebroids/doc/chap6.html
  Algebroids/doc/chap6_mj.html
  Algebroids/doc/chap7.html
  Algebroids/doc/chap7_mj.html
  Algebroids/doc/chap8.html
  Algebroids/doc/chap8_mj.html
  Algebroids/doc/chap9.html
  Algebroids/doc/chap9.txt
  Algebroids/doc/chap9_mj.html
  Algebroids/doc/chapInd.html
  Algebroids/doc/chapInd.txt
  Algebroids/doc/chapInd_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for PreSheaves 2023.04-01
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

renamed PrecompilePreSheavesInCategoryOfRows.g -> PrecompilePreSheavesOfAlgebroidInCategoryOfRows.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/PrecompilePreSheavesOfAlgebroidInCategoryOfRows.g
Due: FunctorCategories

Fix a logic template in Algebroids
  Algebroids/gap/CompilerLogic.gi
Due: Algebroids

Bump versions
  Algebroids/PackageInfo.g
  FunctorCategories/PackageInfo.g
Due: Algebroids, FunctorCategories

Adjust to https://github.com/homalg-project/FinSetsForCAP/pull/193
  Algebroids/gap/precompiled_categories/CategoryFromDataTablesPrecompiled.gi
  Algebroids/gap/precompiled_categories/CategoryFromNerveDataPrecompiled.gi
  FunctorCategories/gap/CompilerLogic.gi
  FunctorCategories/gap/precompiled_categories/FinBouquetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversPrecompiled.gi
Due: Algebroids, FunctorCategories

Apply PackageJanitor
  PackageInfo.g
  README.md
Due: none

Apply PackageJanitor
  .github/workflows/Tests.yml
  makefile
Due: none

Update website for Algebroids 2023.04-02
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FunctorCategories 2023.04-04
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap15.html
  FunctorCategories/doc/chap15.txt
  FunctorCategories/doc/chap15_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

AddEpimorphismFromSomeProjectiveObject( PSh, ... )
  FunctorCategories/examples/SubobjectClassifier.g
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  FunctorCategories/gap/HomStructure.gd
  FunctorCategories/gap/HomStructure.gi
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Apply PackageJanitor
  Algebroids/PackageInfo.g
  Algebroids/makedoc_with_overfull_hbox_warnings.g
Due: Algebroids

Update website for Algebroids 2023.04-03
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

renamed PowerObject -> PowerOfObject
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/FinBouquets.g
  Toposes/PackageInfo.g
  Toposes/gap/Topos.autogen.gd
  Toposes/gap/Topos.gd
  Toposes/gap/ToposDerivedMethods.gi
  Toposes/gap/ToposMethodRecord.gi
Due: FunctorCategories, Toposes

d&i PowerObjectFunctorial(WithGivenPowerObjects)
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/examples/TerminalCategory_as_FiniteCoproductCocompletion.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  PreSheaves/PackageInfo.g
  PreSheaves/examples/TerminalCategory.g
  Toposes/PackageInfo.g
  Toposes/gap/Topos.autogen.gd
  Toposes/gap/Topos.gd
  Toposes/gap/ToposDerivedMethods.gi
  Toposes/gap/ToposMethodRecord.gi
  Toposes/tst/Opposite.tst
Due: FiniteCocompletion, FunctorCategories, PreSheaves, Toposes

improved CoveringListOfRepresentables to produce much smaller coverings
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/C2.g
  FunctorCategories/gap/HomStructure.gi
Due: FunctorCategories
