Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

Update website for FpCategories 2023.11-13
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap1.html
  FpCategories/doc/chap1.txt
  FpCategories/doc/chap1_mj.html
  FpCategories/doc/chapInd.html
  FpCategories/doc/chapInd.txt
  FpCategories/doc/chapInd_mj.html
  _data/FpCategories.yml
Due: none

Update website for FunctorCategories 2023.11-08
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

DeclareAttribute -> DeclareProperty
  FpCategories/gap/PathCategories.gd
Due: none

replace 0 -> BigInt( 0 ), 1 -> BigInt( 1 )
  FpCategories/PackageInfo.g
  FpCategories/gap/PathCategories.gi
Due: none

InstallMethod( SetOfObjects/GeneratingMorphisms -> InstallMethodForCompilerForCAP( ...
  FpCategories/gap/PathCategories.gi
Due: none

obsolete newlines
  FpCategories/gap/PathCategories.gi
Due: none

modified ObjectDatum and MorphismDatum of PathCategory
  FpCategories/PackageInfo.g
  FpCategories/examples/PathCategory.g
  FpCategories/gap/GroebnerBasesForPathCategories.gi
  FpCategories/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
  FpCategories/gap/PathCategories.gd
  FpCategories/gap/PathCategories.gi
  FpCategories/gap/QuotientsOfPathCategories.gi
Due: none

Update website for FpCategories 2023.11-16
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap2.html
  FpCategories/doc/chap2.txt
  FpCategories/doc/chap2_mj.html
  FpCategories/doc/chapInd.html
  FpCategories/doc/chapInd.txt
  FpCategories/doc/chapInd_mj.html
  _data/FpCategories.yml
Due: none

relaxed assertion to cover one more case
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

relaxed condition for AddDerivationToCAP( ExactCoverWithGlobalElements, ... )
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/ToolsDerivedMethods.gi
Due: FunctorCategories

Update website for FunctorCategories 2023.11-10
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

moved notebooks -> julia/notebooks
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/julia/notebooks/.gitignore
  FiniteCocompletions/examples/julia/notebooks/CartesianBraiding.ipynb
  FiniteCocompletions/examples/julia/notebooks/CartesianDiagonal.ipynb
  FiniteCocompletions/examples/julia/notebooks/README.md
  FiniteCocompletions/examples/julia/notebooks/ReflexivePair.ipynb
  FiniteCocompletions/makefile
Due: none

moved LinearClosuresOfPathCategoriesAndTheirQuotients* back to Algebroids
  Algebroids/PackageInfo.g
  Algebroids/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gd
  Algebroids/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
  Algebroids/init.g
  Algebroids/read.g
  FpCategories/PackageInfo.g
  FpCategories/examples/CapQuivers.g
  FpCategories/examples/PathCategory.g
  FpCategories/init.g
  FpCategories/read.g
  FpCategories/tst/100_LoadPackage.tst
Due: Algebroids

deleted trailing newlines
  Algebroids/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gd
  QuotientCategories/gap/QuotientCategories.gi
Due: Algebroids

renamed CapQuiver -> UnderlyingFinQuiver
  FpCategories/PackageInfo.g
  FpCategories/gap/Quivers.gd
  FpCategories/gap/Quivers.gi
Due: none

renamed *CapQuiver* -> *FinQuiver*
  Algebroids/PackageInfo.g
  Algebroids/examples/PrecompileAdditiveClosureOfAlgebroidFromDataTables.g
  Algebroids/gap/AlgebroidFromDataTables.gi
  FpCategories/PackageInfo.g
  FpCategories/examples/FinQuiver.g
  FpCategories/examples/PathCategory.g
  FpCategories/gap/PathCategories.gd
  FpCategories/gap/PathCategories.gi
  FpCategories/gap/Quivers.gd
  FpCategories/gap/Quivers.gi
Due: Algebroids

renamed CreateFinQuiver -> FinQuiver
  Algebroids/PackageInfo.g
  Algebroids/examples/PrecompileAdditiveClosureOfAlgebroidFromDataTables.g
  Algebroids/gap/AlgebroidFromDataTables.gi
  FpCategories/PackageInfo.g
  FpCategories/examples/FinQuiver.g
  FpCategories/examples/PathCategory.g
  FpCategories/gap/Quivers.gd
  FpCategories/gap/Quivers.gi
  InternalModules/PackageInfo.g
  InternalModules/examples/SymmetricAlgebraInternalToS4rep.g
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/tst/100_LoadPackage.tst
Due: Algebroids, SubcategoriesForCAP

In GroebnerBasis( C, relations )
  FpCategories/gap/GroebnerBasesForPathCategories.gi
Due: none

fix the method <HasFiniteNumberOfNonMultiples>
  FpCategories/PackageInfo.g
  FpCategories/gap/PathCategories.gi
Due: none

Update website for Algebroids 2023.11-07
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap9.html
  Algebroids/doc/chap9.txt
  Algebroids/doc/chap9_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FiniteCocompletions 2023.11-10
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FpCategories 2023.11-20
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap1.html
  FpCategories/doc/chap1.txt
  FpCategories/doc/chap1_mj.html
  FpCategories/doc/chap2.html
  FpCategories/doc/chap2.txt
  FpCategories/doc/chap2_mj.html
  FpCategories/doc/chapInd.html
  FpCategories/doc/chapInd.txt
  FpCategories/doc/chapInd_mj.html
  _data/FpCategories.yml
Due: none

Update website for InternalModules 2023.11-03
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  InternalModules/doc/chap1.html
  InternalModules/doc/chap1.txt
  InternalModules/doc/chap1_mj.html
  _data/InternalModules.yml
Due: none

Update website for SubcategoriesForCAP 2023.11-08
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

fixed DisplayString for IsFinQuiverObject/Morphism
  FpCategories/gap/Quivers.gi
Due: none

installed DisplayString for IsPathCategoryMorphism
  FpCategories/PackageInfo.g
  FpCategories/gap/PathCategories.gi
Due: none

use PathCategory( FinQuiver( ... ) ) in C(oc)artesian(Co)Diagonal.g
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/CartesianDiagonal.g
  FiniteCocompletions/examples/CocartesianCodiagonal.g
Due: none

relocated code
  FpCategories/gap/PathCategories.gi
Due: none

installed String for IsPathCategoryObject/Morphism
  FpCategories/PackageInfo.g
  FpCategories/gap/PathCategories.gi
Due: none

Update website for FpCategories 2023.11-21
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  _data/FpCategories.yml
Due: none

d&i CellAsEvaluatableString & DatumOfCellAsEvaluatableString
  Algebroids/PackageInfo.g
  Algebroids/gap/AlgebroidFromDataTables.gi
  Algebroids/gap/Algebroids.gi
  Algebroids/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/CartesianDiagonal.g
  FiniteCocompletions/examples/CocartesianCodiagonal.g
  FiniteCocompletions/examples/CoequalizerCompletion.g
  FiniteCocompletions/gap/AdditiveClosure.gi
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
  FiniteCocompletions/gap/FiniteStrictProductCompletion.gi
  FiniteCocompletions/makedoc.g
  FiniteCocompletions/makedoc_with_overfull_hbox_warnings.g
  FpCategories/PackageInfo.g
  FpCategories/examples/PathCategory.g
  FpCategories/gap/PathCategories.gi
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/Doc.autodoc
  ToolsForCategoricalTowers/gap/Tools.gd
  ToolsForCategoricalTowers/gap/Tools.gi
Due: Algebroids

Update website for Algebroids 2023.11-08
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for ToolsForCategoricalTowers 2023.11-05
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap1.html
  ToolsForCategoricalTowers/doc/chap1.txt
  ToolsForCategoricalTowers/doc/chap1_mj.html
  ToolsForCategoricalTowers/doc/chap2.html
  ToolsForCategoricalTowers/doc/chap2.txt
  ToolsForCategoricalTowers/doc/chap2_mj.html
  ToolsForCategoricalTowers/doc/chapInd.html
  ToolsForCategoricalTowers/doc/chapInd.txt
  ToolsForCategoricalTowers/doc/chapInd_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

fxied section title
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gd
Due: none

d&i ExtendFunctorToFpCategoryData (for IsPathCategory)
  FpCategories/PackageInfo.g
  FpCategories/gap/PathCategories.gd
  FpCategories/gap/PathCategories.gi
Due: none

d&i ExtendFunctorToFpCategoryData (for IsCategoryFromDataTables)
  Algebroids/PackageInfo.g
  Algebroids/gap/CategoryFromDataTables.gd
  Algebroids/gap/CategoryFromDataTables.gi
Due: Algebroids

CapJitAddTypeSignature for path categories
  FpCategories/PackageInfo.g
  FpCategories/gap/PathCategories.gd
  FpCategories/gap/Quivers.gd
Due: none

Update website for FiniteCocompletions 2023.11-12
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2.txt
  FiniteCocompletions/doc/chap2_mj.html
  FiniteCocompletions/doc/chap7.html
  FiniteCocompletions/doc/chap7.txt
  FiniteCocompletions/doc/chap7_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FpCategories 2023.11-24
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap2.html
  FpCategories/doc/chap2.txt
  FpCategories/doc/chap2_mj.html
  _data/FpCategories.yml
Due: none

added examples/precompileCartesianDiagonal*.g
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/precompileCartesianDiagonal_CategoryFromDataTables.g
  FiniteCocompletions/examples/precompileCartesianDiagonal_PathCategory.g
Due: none
