Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

renamed local variable S -> Slice_over_B for better readability
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/gap/SliceCategory.gi
Due: SubcategoriesForCAP

d&i EmbeddingOfRelativePowerObject + AddPowerObject(Functorial) for slice categories
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/examples/SliceCategory.g
  SubcategoriesForCAP/gap/SliceCategory.gi
  Toposes/PackageInfo.g
  Toposes/gap/Topos.gd
  Toposes/gap/Topos.gi
Due: SubcategoriesForCAP, Toposes

enhanced examples/SliceCategory.g
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/examples/SliceCategory.g
Due: SubcategoriesForCAP

Update website for SubcategoriesForCAP 2023.06-06
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  SubcategoriesForCAP/doc/chap4.html
  SubcategoriesForCAP/doc/chap4.txt
  SubcategoriesForCAP/doc/chap4_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Update website for Toposes 2023.06-06
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  Toposes/doc/chap1.html
  Toposes/doc/chap1.txt
  Toposes/doc/chap1_mj.html
  Toposes/doc/chapInd.html
  Toposes/doc/chapInd.txt
  Toposes/doc/chapInd_mj.html
  _data/Toposes.yml
Due: Toposes

made Digraphs a suggested package
  LazyCategories/PackageInfo.g
  LazyCategories/gap/LazyCategory.gi
  LazyCategories/gap/ToolsUsingDigraphs.gi
  LazyCategories/read.g
  Locales/PackageInfo.g
  Locales/gap/Tools.gi
  Locales/gap/ToolsUsingDigraphs.gi
  Locales/read.g
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/tst/100_LoadPackage.tst
Due: LazyCategories, Locales, ZariskiFrames

Update website for LazyCategories 2023.06-03
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2023.06-12
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for SubcategoriesForCAP 2023.06-07
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  SubcategoriesForCAP/doc/chap4.html
  SubcategoriesForCAP/doc/chap4.txt
  SubcategoriesForCAP/doc/chap4_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Update website for ZariskiFrames 2023.06-09
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

replace [ ] -> Pair
  Locales/PackageInfo.g
  Locales/gap/SingleDifferences.gi
Due: Locales

renamed CoYonedaLemmaCoequalizerDataOfPreSheaf -> CoequalizerDataOfPreSheafUsingCoYonedaLemma
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/HomStructure.gi
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

renamed *ProjectiveCoverObject* -> *OptimizedCoYonedaProjectiveObject*
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

added to ExternalHomOnObjectsEqualizerData the suffix UsingOptimizedCoYonedaLemma
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/HomStructure.gd
  FunctorCategories/gap/HomStructure.gi
  FunctorCategories/tst/external_hom.tst
Due: FunctorCategories

Update website for Locales 2023.06-13
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for FunctorCategories 2023.06-16
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd.txt
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Fix IsWellDefinedForMorphisms and UniversalMorphismFromCoproduct in SliceCategory
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/gap/SliceCategory.gi
  SubcategoriesForCAP/gap/precompiled_categories/SliceCategoryOfCategoryOfRowsOfFieldOverTensorUnitPrecompiled.gi
Due: SubcategoriesForCAP

updated FiniteCocompletions
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteCoproductCocompletion.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteProductCompletion.g
Due: none

added error message to constructors MeetSemilatticeOfSingle/MultipleDifferences
  Locales/PackageInfo.g
  Locales/gap/MultipleDifferences.gi
  Locales/gap/SingleDifferences.gi
Due: Locales

Update website for FiniteCocompletions 2023.06-17
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap3.html
  FiniteCocompletions/doc/chap3.txt
  FiniteCocompletions/doc/chap3_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for SubcategoriesForCAP 2023.06-08
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

renamed *HeytingOrCoHeytingAlgebra -> *HeytingOrCoHeytingAlgebroid
  Locales/PackageInfo.g
  Locales/gap/MultipleDifferences.gi
  Locales/gap/SingleDifferences.gd
  Locales/gap/SingleDifferences.gi
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/gap/ZariskiFrame.gi
  ZariskiFrames/gap/ZariskiFrameOrCoframe.gi
Due: Locales, ZariskiFrames

replaced Is(Co)cartesian(Co)closedCategory -> Is(Co)HeytingAlgebroid
  Locales/PackageInfo.g
  Locales/gap/MultipleDifferences.gi
  Locales/gap/SingleDifferences.gi
Due: Locales

Update website for Locales 2023.06-14
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

coding style
  SubcategoriesForCAP/gap/SliceCategory.gi
Due: SubcategoriesForCAP

standardized names of filters in SubcategoriesForCAP
  SubcategoriesForCAP/gap/EagerSliceCategory.gd
  SubcategoriesForCAP/gap/EagerSliceCategory.gi
  SubcategoriesForCAP/gap/FullSubcategory.gd
  SubcategoriesForCAP/gap/FullSubcategory.gi
  SubcategoriesForCAP/gap/LazySliceCategory.gd
  SubcategoriesForCAP/gap/LazySliceCategory.gi
  SubcategoriesForCAP/gap/SliceCategory.gd
  SubcategoriesForCAP/gap/SliceCategory.gi
  SubcategoriesForCAP/gap/Subcategory.gd
  SubcategoriesForCAP/gap/Subcategory.gi
Due: SubcategoriesForCAP

pass object_constructor & object_datum to CAP_INTERNAL_SLICE_CATEGORY
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/gap/EagerSliceCategory.gi
  SubcategoriesForCAP/gap/LazySliceCategory.gi
  SubcategoriesForCAP/gap/SliceCategory.gi
Due: SubcategoriesForCAP

for a CAP slice category object -> for a slice category object
  SubcategoriesForCAP/gap/SliceCategory.gi
Due: SubcategoriesForCAP

Update website for Locales 2023.06-16
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for ZariskiFrames 2023.06-10
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

improved docu
  SubcategoriesForCAP/gap/SliceCategory.gd
Due: SubcategoriesForCAP

d&i SourceOfUnderlyingMorphism for slice category objects
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/gap/SliceCategory.gd
  SubcategoriesForCAP/gap/SliceCategory.gi
Due: SubcategoriesForCAP

relocated code
  Locales/gap/ProsetOfCategory.gi
Due: Locales

CreateProsetOrPosetOfCategory now uses the default CategoryConstructor
  Locales/PackageInfo.g
  Locales/gap/ProsetOfCategory.gi
Due: Locales

Update website for Locales 2023.06-17
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for SubcategoriesForCAP 2023.06-10
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  SubcategoriesForCAP/doc/chap1.html
  SubcategoriesForCAP/doc/chap1.txt
  SubcategoriesForCAP/doc/chap1_mj.html
  SubcategoriesForCAP/doc/chap2.html
  SubcategoriesForCAP/doc/chap2.txt
  SubcategoriesForCAP/doc/chap2_mj.html
  SubcategoriesForCAP/doc/chap3.html
  SubcategoriesForCAP/doc/chap3.txt
  SubcategoriesForCAP/doc/chap3_mj.html
  SubcategoriesForCAP/doc/chap4.html
  SubcategoriesForCAP/doc/chap4.txt
  SubcategoriesForCAP/doc/chap4_mj.html
  SubcategoriesForCAP/doc/chap5.html
  SubcategoriesForCAP/doc/chap5.txt
  SubcategoriesForCAP/doc/chap5_mj.html
  SubcategoriesForCAP/doc/chapInd.html
  SubcategoriesForCAP/doc/chapInd.txt
  SubcategoriesForCAP/doc/chapInd_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

altered examples/DiscreteSkeletalCategory.g to demonstrate IsPosInt instead of IsInt
  Locales/examples/DiscreteSkeletalCategory.g
Due: Locales

renamed *MeetSemilatticeOf(Differences -> MultipleDifferences)
  Locales/PackageInfo.g
  Locales/gap/ConstructibleObjectsAsUnionOfMultipleDifferences.gd
  Locales/gap/ConstructibleObjectsAsUnionOfMultipleDifferences.gi
Due: Locales

coding style
  Algebroids/gap/Algebroids.gi
Due: Algebroids

relax timing comparison in AdditiveClosureOfAlgebroid_vs_QuiverRows.tst
  Algebroids/tst/AdditiveClosureOfAlgebroid_vs_QuiverRows.tst
Due: Algebroids
