Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

Update website for Algebroids 2023.05-15
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FunctorCategories 2023.05-17
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Algebroids 2023.05-16
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FunctorCategories 2023.05-18
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Reorder statements to make assertions as early as possible
  Algebroids/PackageInfo.g
  Algebroids/gap/FpCategories.gi
Due: Algebroids

Update website for Algebroids 2023.06-01
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

declared UnderlyingCategory for IsPairOfParallelArrowsCategory
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/PairOfParallelArrowsCategory.gd
  FiniteCocompletions/gap/PairOfParallelArrowsCategory.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/HomStructure.gi
  FunctorCategories/gap/PreSheaves.gi
  FunctorCategories/gap/precompiled_categories/FinBouquetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversPrecompiled.gi
Due: FunctorCategories

Update website for FiniteCocompletions 2023.06-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap4.html
  FiniteCocompletions/doc/chap4.txt
  FiniteCocompletions/doc/chap4_mj.html
  FiniteCocompletions/doc/chapInd.html
  FiniteCocompletions/doc/chapInd.txt
  FiniteCocompletions/doc/chapInd_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2023.06-01
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

added code comment
  Toposes/gap/ToposDerivedMethods.gi
Due: Toposes

coding style
  Toposes/gap/ToposDerivedMethods.gi
Due: Toposes

relocated code
  Toposes/gap/ToposMethodRecord.gi
Due: Toposes

fixed documentation of ExactCoverWithGlobalElements
  Toposes/PackageInfo.g
  Toposes/gap/Topos.gd
Due: Toposes

Update website for Toposes 2023.06-01
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  Toposes/doc/chap1.html
  Toposes/doc/chap1.txt
  Toposes/doc/chap1_mj.html
  _data/Toposes.yml
Due: Toposes

relocated code
  Toposes/doc/Doc.autodoc
  Toposes/gap/Topos.gd
Due: Toposes

relocated code
  Toposes/gap/ToposDerivedMethods.gi
  Toposes/gap/ToposMethodRecord.gi
Due: Toposes

added code comments
  Toposes/gap/ToposDerivedMethods.gi
Due: Toposes

standardized method record entries in ToposMethodRecord.gi
  Toposes/PackageInfo.g
  Toposes/gap/ToposMethodRecord.gi
Due: Toposes

Update website for Toposes 2023.06-02
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  Toposes/doc/chap1.html
  Toposes/doc/chap1.txt
  Toposes/doc/chap1_mj.html
  Toposes/doc/chapInd.html
  Toposes/doc/chapInd.txt
  Toposes/doc/chapInd_mj.html
  _data/Toposes.yml
Due: Toposes

fixed documentation in Toposes
  Toposes/PackageInfo.g
  Toposes/gap/Topos.gd
Due: Toposes

switched names of two example files
  Toposes/examples/IsomorphismOntoCartesianSquareOfPowerObject.g
  Toposes/examples/SingletonMorphism.g
Due: Toposes

renamed local variable
  Toposes/gap/ToposDerivedMethods.gi
Due: Toposes

Update website for Toposes 2023.06-03
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  Toposes/doc/chap1.html
  Toposes/doc/chap1.txt
  Toposes/doc/chap1_mj.html
  _data/Toposes.yml
Due: Toposes

d&i UpperSegmentOfRelation/LowerSegmentOfRelation
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteCoproductCocompletion.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  PreSheaves/PackageInfo.g
  PreSheaves/examples/TerminalCategory.g
  Toposes/PackageInfo.g
  Toposes/examples/SingletonMorphism.g
  Toposes/gap/Topos.autogen.gd
  Toposes/gap/Topos.gd
  Toposes/gap/ToposDerivedMethods.gi
  Toposes/gap/ToposMethodRecord.gi
  Toposes/tst/Opposite.tst
Due: FunctorCategories, PreSheaves, Toposes

Update website for FiniteCocompletions 2023.06-02
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2023.06-02
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for PreSheaves 2023.06-01
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for Toposes 2023.06-04
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  Toposes/doc/chap1.html
  Toposes/doc/chap1.txt
  Toposes/doc/chap1_mj.html
  Toposes/doc/chapInd.html
  Toposes/doc/chapInd.txt
  Toposes/doc/chapInd_mj.html
  _data/Toposes.yml
Due: Toposes

comply with https://github.com/homalg-project/CAP_project/pull/1338
  Algebroids/PackageInfo.g
  Algebroids/gap/precompiled_categories/AdditiveClosureOfAlgebroidFromDataTablesPrecompiled.gi
  Algebroids/gap/precompiled_categories/AdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverFieldPrecompiled.gi
  Algebroids/gap/precompiled_categories/AdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverZPrecompiled.gi
  Algebroids/gap/precompiled_categories/AdelmanCategoryOfAdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverFieldPrecompiled.gi
  Algebroids/gap/precompiled_categories/AdelmanCategoryOfAdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverZPrecompiled.gi
  Algebroids/gap/precompiled_categories/CategoryFromNerveDataPrecompiled.gi
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/precompiled_categories/CategoryOfSkeletalFinSetsAsFiniteStrictCoproductCocompletionOfTerminalCategoryPrecompiled.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/precompiled_categories/FinBouquetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfAlgebroidFromDataTablesInCategoryOfRowsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfAlgebroidWithRelationsInCategoryOfRowsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFreeAlgebroidInCategoryOfRowsPrecompiled.gi
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/gap/precompiled_categories/SliceCategoryOfCategoryOfRowsOfFieldOverTensorUnitPrecompiled.gi
Due: Algebroids, FunctorCategories, SubcategoriesForCAP

Update website for Algebroids 2023.06-02
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FiniteCocompletions 2023.06-03
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2023.06-03
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for SubcategoriesForCAP 2023.06-01
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

DualOverTensorUnit now uses *AdjunctionMap
  Locales/gap/precompiled_categories/StablePosetOfCategoryOfPosetOfCategoryOfSliceCategoryOverTensorUnitOfCategoryOfRowsOfCommutativeRingPrecompiled.gi
  SubcategoriesForCAP/gap/SliceCategory.gi
Due: Locales, SubcategoriesForCAP

Document DualOverTensorUnit
  SubcategoriesForCAP/gap/SliceCategory.gd
Due: SubcategoriesForCAP

Finish basic monoidal structure in SliceOverTensorUnit
  SubcategoriesForCAP/gap/SliceCategory.gi
Due: SubcategoriesForCAP

Add Braiding to SliceCategoryOverTensorUnit
  SubcategoriesForCAP/gap/SliceCategory.gi
Due: SubcategoriesForCAP

Add test files
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/Doc.autodoc
  SubcategoriesForCAP/examples/DualOverTensorUnit.g
  SubcategoriesForCAP/examples/SliceCategoryOverTensorUnit.g
Due: SubcategoriesForCAP

Update website for SubcategoriesForCAP 2023.06-02
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  SubcategoriesForCAP/doc/chap3.html
  SubcategoriesForCAP/doc/chap3.txt
  SubcategoriesForCAP/doc/chap3_mj.html
  SubcategoriesForCAP/doc/chap4.html
  SubcategoriesForCAP/doc/chap4.txt
  SubcategoriesForCAP/doc/chap4_mj.html
  SubcategoriesForCAP/doc/chapInd.html
  SubcategoriesForCAP/doc/chapInd.txt
  SubcategoriesForCAP/doc/chapInd_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

AddDerivationToCAP( IsHomSetInhabited, category enriched over IsIntervalCategory )
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/Dedekind2ndNumber.g
  Locales/PackageInfo.g
  Locales/examples/TotalOrderAsCategory.g
  Locales/gap/IntervalCategory.gi
Due: FunctorCategories, Locales
