Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

whitespaces for Julia in QuotientsOfLinearClosuresOfPathCategories.gi
  FpLinearCategories/gap/QuotientsOfLinearClosuresOfPathCategories.gi
Due: none

Fix few whitespaces for Julia in AlgebroidFromDataTables.gi
  FpLinearCategories/gap/AlgebroidFromDataTables.gi
Due: none

Use FunctionWithNamedArguments linear closure constructors
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
Due: none

Refactor quotient construction for linear closures
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/gap/QuotientsOfLinearClosuresOfPathCategories.gi
Due: none

Refactor loop in IsAdmissibleAlgebroid
  FpLinearCategories/gap/AlgebroidFromDataTables.gi
Due: none

Fix whitespaces for Julia in LinearClosuresOfPathCategoriesAndTheirQuotients.gi
  FpLinearCategories/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
Due: none

Update website for Algebroids 2025.11-01
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FpLinearCategories 2025.11-08
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/doc/chap0.html
  FpLinearCategories/doc/chap0.txt
  FpLinearCategories/doc/chap0_mj.html
  FpLinearCategories/doc/chap1.html
  FpLinearCategories/doc/chap1.txt
  FpLinearCategories/doc/chap1_mj.html
  FpLinearCategories/doc/chap2.html
  FpLinearCategories/doc/chap2.txt
  FpLinearCategories/doc/chap2_mj.html
  FpLinearCategories/doc/chap3.html
  FpLinearCategories/doc/chap3.txt
  FpLinearCategories/doc/chap3_mj.html
  FpLinearCategories/doc/chapInd.html
  FpLinearCategories/doc/chapInd.txt
  FpLinearCategories/doc/chapInd_mj.html
  _data/FpLinearCategories.yml
Due: none

Update website for FunctorCategories 2025.11-03
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap14.html
  FunctorCategories/doc/chap14.txt
  FunctorCategories/doc/chap14_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

outsourced IsFinitelyPresentedCategory & SetOfGeneratingMorphisms(OfCategory) to CAP
  FpCategories/PackageInfo.g
  FpCategories/gap/Tools.gd
  FpCategories/gap/ToolsDerivedMethods.gi
  FpCategories/gap/ToolsMethodRecord.gi
  FpCategories/gap/ToolsMethodRecordDeclarations.autogen.gd
  FpCategories/gap/ToolsMethodRecordInstallations.autogen.gi
  FpCategories/init.g
  FpCategories/read.g
  PreSheaves/PackageInfo.g
  PreSheaves/examples/TerminalCategory.g
Due: PreSheaves

Update website for FpCategories 2025.11-06
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap1.html
  FpCategories/doc/chap1_mj.html
  FpCategories/doc/chap2.html
  FpCategories/doc/chap2_mj.html
  FpCategories/doc/chap3.html
  FpCategories/doc/chap3.txt
  FpCategories/doc/chap3_mj.html
  FpCategories/doc/chap4.html
  FpCategories/doc/chap4_mj.html
  FpCategories/doc/chap5.html
  FpCategories/doc/chap5_mj.html
  FpCategories/doc/chap6.html
  FpCategories/doc/chap6_mj.html
  FpCategories/doc/chap7.html
  FpCategories/doc/chap7_mj.html
  FpCategories/doc/chap8.html
  FpCategories/doc/chap8.txt
  FpCategories/doc/chap8_mj.html
  FpCategories/doc/chapInd.html
  FpCategories/doc/chapInd.txt
  FpCategories/doc/chapInd_mj.html
  _data/FpCategories.yml
Due: none

Update website for PreSheaves 2025.11-01
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Revert "temporarily work around changes in GAP master"
  Algebroids/examples/PrecompileAdelmanCategoryOfAdditiveClosureOfAlgebroid.g
  Algebroids/examples/PrecompileCategoryFromDataTables.g
  Algebroids/tst/derive_second_projection_of_ternary_direct_sum_from_universal_morphism.g
  FiniteCocompletions/examples/PrecompileFiniteStrictCoproductCompletionOfCategoryFromDataTables.g
  FiniteCocompletions/examples/PrecompileSkeletalFinSets.g
  FiniteCocompletions/examples/precompileCartesianDiagonal_CategoryFromDataTables.g
  FiniteCocompletions/examples/precompileCartesianDiagonal_PathCategory.g
  FiniteCocompletions/examples/precompileLeftCartesianDistributivityFactoring_CategoryFromDataTables.g
  FiniteCocompletions/examples/precompileLeftCartesianDistributivityFactoring_PathCategory.g
  FpCategories/examples/PrecompileCategoryFromNerveData.g
  FpCategories/examples/PrecompileCategoryFromNerveDataHomStructureOnMorphisms.g
  FpLinearCategories/examples/PrecompileAdditiveClosureOfAlgebroidFromDataTables.g
  FunctorCategories/examples/PrecompileFinBouquets.g
  FunctorCategories/examples/PrecompileFinBouquetsAsCCC.g
  FunctorCategories/examples/PrecompileFinQuivers.g
  FunctorCategories/examples/PrecompileFinQuiversAsCCC.g
  FunctorCategories/examples/PrecompileFinReflexiveQuivers.g
  FunctorCategories/examples/PrecompileFinReflexiveQuiversAsCCC.g
  FunctorCategories/examples/PrecompilePreSheavesOfAlgebroidFromDataTablesInCategoryOfRows.g
  FunctorCategories/examples/PrecompilePreSheavesOfAlgebroidInCategoryOfRows.g
  FunctorCategories/examples/PrecompilePreSheavesOfCategoryFromDataTablesInSkeletalFinSets.g
  FunctorCategories/examples/PrecompilePreSheavesOfCategoryFromDataTablesInSkeletalFinSetsSubobjectClassifier.g
  FunctorCategories/examples/PrecompilePreSheavesOfFpCategoryInSkeletalFinSets.g
  FunctorCategories/examples/PrecompilePreSheavesOfFpCategoryInSkeletalFinSetsSubobjectClassifier.g
  SubcategoriesForCAP/examples/PrecompileSliceCategory.g
  Toposes/examples/precompile_derivations_pushout_complement.g
Due: Algebroids, FunctorCategories, SubcategoriesForCAP, Toposes

Update website for CatReps 2025.11-03
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2025.11-03
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2025.11-04
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2025.11-03
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for LazyCategories 2025.11-03
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2025.11-03
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for ToolsForCategoricalTowers 2025.11-03
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for ZariskiFrames 2025.11-03
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

switch to AST print methods of GAP 4.15
  .github/workflows/Tests.yml
  Algebroids/PackageInfo.g
  Algebroids/gap/precompiled_categories/AdelmanCategoryOfAdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverFieldPrecompiled.gi
  Algebroids/gap/precompiled_categories/AdelmanCategoryOfAdditiveClosureOfAlgebroidOfFiniteDimensionalQuiverAlgebraOfRightQuiverOverZPrecompiled.gi
  Algebroids/gap/precompiled_categories/CategoryFromDataTablesPrecompiled.gi
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/precompiled_categories/FiniteStrictCoproductCompletionOfCategoryFromDataTablesPrecompiled.gi
  FiniteCocompletions/gap/precompiled_categories/SkeletalCategoryOfFiniteSetsAsFiniteStrictCoproductCompletionOfTerminalCategoryPrecompiled.gi
  FpCategories/PackageInfo.g
  FpCategories/gap/precompiled_categories/CategoryFromNerveDataPrecompiled.gi
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/gap/precompiled_categories/AdditiveClosureOfAlgebroidFromDataTablesPrecompiled.gi
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/precompiled_categories/FinBouquetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/FinReflexiveQuiversPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfAlgebroidFromDataTablesInCategoryOfRowsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfAlgebroidWithRelationsInCategoryOfRowsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfCategoryFromDataTablesInSkeletalFinSetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFpCategoryInSkeletalFinSetsPrecompiled.gi
  FunctorCategories/gap/precompiled_categories/PreSheavesOfFreeAlgebroidInCategoryOfRowsPrecompiled.gi
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/gap/precompiled_categories/SliceCategoryOfCategoryOfRowsOfRingOfIntegersOverTensorUnitPrecompiled.gi
  Toposes/PackageInfo.g
Due: Algebroids, FunctorCategories, SubcategoriesForCAP, Toposes

Update website for Algebroids 2025.11-02
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap13.html
  Algebroids/doc/chap13.txt
  Algebroids/doc/chap13_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FiniteCocompletions 2025.11-04
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap14.html
  FiniteCocompletions/doc/chap14.txt
  FiniteCocompletions/doc/chap14_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FpCategories 2025.11-07
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap4.html
  FpCategories/doc/chap4.txt
  FpCategories/doc/chap4_mj.html
  _data/FpCategories.yml
Due: none

Update website for FpLinearCategories 2025.11-09
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/doc/chap0.html
  FpLinearCategories/doc/chap0.txt
  FpLinearCategories/doc/chap0_mj.html
  FpLinearCategories/doc/chap3.html
  FpLinearCategories/doc/chap3.txt
  FpLinearCategories/doc/chap3_mj.html
  _data/FpLinearCategories.yml
Due: none

Update website for FunctorCategories 2025.11-05
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap17.html
  FunctorCategories/doc/chap17.txt
  FunctorCategories/doc/chap17_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for SubcategoriesForCAP 2025.11-01
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  SubcategoriesForCAP/doc/chap4.html
  SubcategoriesForCAP/doc/chap4.txt
  SubcategoriesForCAP/doc/chap4_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Update website for Toposes 2025.11-01
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

activated logic for toposes
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/SubobjectClassifier.g
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  Toposes/LogicForToposes/PropositionsForToposes.tex
  Toposes/PackageInfo.g
  Toposes/gap/Topos.gi
Due: FunctorCategories, Toposes

Update website for FunctorCategories 2025.12-01
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Toposes 2025.12-01
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

added more logic in toposes and updated notebooks
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  Toposes/LogicForToposes/PropositionsForToposes.tex
  Toposes/PackageInfo.g
Due: FunctorCategories, Toposes

Update website for FunctorCategories 2025.12-02
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Toposes 2025.12-02
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

add a further declaration for ReductionOfMorphism
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/gap/GroebnerBasesForLinearClosuresOfPathCategories.gd
  FpLinearCategories/gap/GroebnerBasesForLinearClosuresOfPathCategories.gi
  FpLinearCategories/init.g
  FpLinearCategories/read.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/SnakeInFreeAbelian.ipynb
Due: FunctorCategories

Update website for FpLinearCategories 2025.12-01
  FpLinearCategories/PackageInfo.g
  FpLinearCategories/doc/chap0.html
  FpLinearCategories/doc/chap0.txt
  FpLinearCategories/doc/chap0_mj.html
  _data/FpLinearCategories.yml
Due: none

Update website for FunctorCategories 2025.12-03
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories
