Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: FiniteCocompletion, PreSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 2
flags:
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  PreSheaves:
    paths:
      - "PreSheaves/"

Update website for FiniteCocompletion 2022.11-01
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  FiniteCocompletion/doc/chap1.html
  FiniteCocompletion/doc/chap1.txt
  FiniteCocompletion/doc/chap1_mj.html
  FiniteCocompletion/doc/chap3.html
  FiniteCocompletion/doc/chap3.txt
  FiniteCocompletion/doc/chap3_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

added PreSheaves
  PreSheaves/_data/package.yml
  PreSheaves/badge_date.json
  PreSheaves/badge_version.json
  PreSheaves/download_pdf.html
  PreSheaves/view_release.html
Due: PreSheaves

Update website for PreSheaves 2022.11-01
  PreSheaves/PackageInfo.g
  PreSheaves/README.md
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  PreSheaves/doc/chapInd.html
  PreSheaves/doc/chapInd.txt
  PreSheaves/doc/chapInd_mj.html
  PreSheaves/doc/chooser.html
  PreSheaves/doc/lefttoc.css
  PreSheaves/doc/manual.css
  PreSheaves/doc/manual.js
  PreSheaves/doc/nocolorprompt.css
  PreSheaves/doc/ragged.css
  PreSheaves/doc/rainbow.js
  PreSheaves/doc/times.css
  PreSheaves/doc/toggless.css
  PreSheaves/doc/toggless.js
  _data/PreSheaves.yml
Due: PreSheaves

only_primitive_operations of Opposite in CoPreSheaves
  PackageInfo.g
  examples/TerminalCategory.g
  examples/notebooks/PastingLawForPullbacks.ipynb
  gap/CoPreSheaves.gi
Due: none

replaced wrong derivation for IsEqualForMorphisms
  PackageInfo.g
  gap/ProsetDerivedMethods.gi
Due: none

installed CallFuncList for IsCapFunctor/IsCapNaturalTransformation
  PackageInfo.g
  gap/Tools.gi
Due: none

fixes in docu
  PackageInfo.g
  gap/CoPreSheaves.gd
  gap/FunctorCategories.gd
  gap/PreSheaves.gd
  gap/PreSheaves.gi
Due: none

d&i ApplyObject/MorphismInPreSheafCategoryToObject/Morphism
  PreSheaves/PackageInfo.g
  PreSheaves/examples/PreSheavesOfSkeletalFinSets.g
  PreSheaves/gap/PreSheaves.gd
  PreSheaves/gap/PreSheaves.gi
Due: PreSheaves

Update website for PreSheaves 2022.11-02
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  PreSheaves/doc/chapInd.html
  PreSheaves/doc/chapInd.txt
  PreSheaves/doc/chapInd_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

use local instead of contextual variable
  PreSheaves/gap/PreSheaves.gi
Due: PreSheaves

installed PreSheaves with one argument
  PreSheaves/PackageInfo.g
  PreSheaves/gap/PreSheaves.gi
Due: PreSheaves

installed PreSheavesOfEnrichedCategory for the initial category
  PreSheaves/PackageInfo.g
  PreSheaves/doc/Doc.autodoc
  PreSheaves/examples/TerminalCategory.g
  PreSheaves/gap/PreSheaves.gi
Due: PreSheaves

Update website for PreSheaves 2022.11-04
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

use local instead of contextual variable
  gap/PreSheaves.gi
Due: none

got rid of the option `is_monoidal`
  PackageInfo.g
  gap/CategoryConstructor.gi
Due: none

got rid of the option `is_monoidal`
  PackageInfo.g
  gap/PreSheaves.gi
Due: none

got rid of the option `is_monoidal`
  PackageInfo.g
  gap/LazyCategory.gi
Due: none

got rid of the option `is_monoidal`
  PackageInfo.g
  gap/IntrinsicCategories.gi
Due: none

got rid of the option `is_monoidal`
  PackageInfo.g
  gap/ProsetOfCategory.gi
Due: none

clean up in PreSheavesOfEnrichedCategory
  gap/PreSheaves.gi
Due: none

do not set properties after call of CategoryConstructor
  gap/PreSheaves.gi
Due: none

got rid of the option `preinstall`
  gap/PreSheaves.gi
Due: none

got rid of the option `doctrines`
  PackageInfo.g
  gap/CategoryConstructor.gi
Due: none

treat the option `doctrines` in the FunctorCategory constructor
  PackageInfo.g
  examples/doc/DifferentialModules.g
  examples/doc/Endomorphism.g
  gap/FunctorCategories.gi
  gap/PreSheaves.gi
Due: none

removed obsolete local variables
  PackageInfo.g
  gap/CategoryConstructor.gi
Due: none

fix of commit "got rid of the option `doctrines`"
  PackageInfo.g
  gap/CategoryConstructor.gi
Due: none

switched to the official CategoryConstructor
  PackageInfo.g
  gap/PreSheaves.gi
Due: none

clean up in PreSheavesOfEnrichedCategory
  PreSheaves/gap/PreSheaves.gi
Due: PreSheaves

relocated code
  gap/PreSheaves.gi
Due: none

coding style
  gap/CategoryOfQuivers.gi
  gap/FiniteCocompletion.gi
  gap/FiniteCompletion.gi
Due: none

renamed local variables
  gap/PreSheaves.gi
Due: none

PreSheavesOfEnrichedCategory now adds commutative_ring_of_linear_category
  PackageInfo.g
  gap/PreSheaves.gi
Due: none

PreSheavesOfEnrichedCategory now supports two more options
  gap/PreSheaves.gi
Due: none

comply with CAP v2022.11-22
  PackageInfo.g
  examples/TerminalCategory.g
Due: none

comply with CategoryConstructor v2022.11-10
  PackageInfo.g
  gap/ProsetOfCategory.gi
Due: none

comply with CategoryConstructor v2022.11-10
  PackageInfo.g
  examples/TerminalCategory.g
  gap/LazyCategory.gi
Due: none

comply with CategoryConstructor v2022.11-10
  PackageInfo.g
  gap/IntrinsicCategories.gi
Due: none

comply with CategoryConstructor v2022.11-10
  PackageInfo.g
  gap/QuotientCategories.gi
Due: none

fixed AddCartesianCoevaluationMorphismWithGivenRange
  PackageInfo.g
  gap/PreSheaves.gi
Due: none

comply with CAP v2022.11-25
  PackageInfo.g
  gap/Topos.gd
Due: none
