Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

installed ViewString for IsMorphismInP(r)osetOfCategory and HasUnderlyingCell
  Locales/PackageInfo.g
  Locales/examples/HeytingAlgebraOfRadicalIdeals.g
  Locales/examples/ProsetOfCategory.g
  Locales/gap/ProsetOfCategory.gi
Due: Locales

Update website for FunctorCategories 2024.03-09
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Locales 2024.03-18
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap8.html
  Locales/doc/chap8.txt
  Locales/doc/chap8_mj.html
  _data/Locales.yml
Due: Locales

use suggestive variable names
  Locales/gap/ProsetDerivedMethods.gi
Due: Locales

fixed AddDerivationToCAP( IsLiftableAlongMonomorphism, proset )
  Locales/PackageInfo.g
  Locales/gap/ProsetDerivedMethods.gi
Due: Locales

Update website for FunctorCategories 2024.03-10
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

installed CapFunctor for prosets
  Locales/PackageInfo.g
  Locales/gap/Proset.gi
Due: Locales

Update website for Locales 2024.03-21
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap13.html
  Locales/doc/chap13.txt
  Locales/doc/chap13_mj.html
  Locales/doc/chap8.html
  Locales/doc/chap8.txt
  Locales/doc/chap8_mj.html
  _data/Locales.yml
Due: Locales

enhanced ApplyObjectInPreSheafCategoryOfFpEnrichedCategoryToMorphism
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

DoctrineSpecificCoveringListOfRepresentables -> CoveringListOfRepresentables
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

installed CoveringListOfRepresentables for the 2-enriched case
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/Doc.autodoc
  FunctorCategories/examples/OptimizedCoYoneda.g
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

do not AddIsLiftable/AddLift in the 2-enriched case
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
Due: none

Update website for FunctorCategories 2024.03-13
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd.txt
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Locales 2024.03-23
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for FiniteCocompletions 2024.03-05
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

added tst file for commit 08410a94
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/tst/lift_for_prosets.tst
Due: none

Update website for FiniteCocompletions 2024.03-06
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

d&i AssociatedColimitQuiver
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/CategoryOfColimitQuivers.g
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gd
  FiniteCocompletions/gap/FiniteColimitCompletionWithStrictCoproducts.gd
  FiniteCocompletions/gap/FiniteColimitCompletionWithStrictCoproducts.gi
Due: none

Update website for FiniteCocompletions 2024.03-07
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap6.html
  FiniteCocompletions/doc/chap6.txt
  FiniteCocompletions/doc/chap6_mj.html
  FiniteCocompletions/doc/chap8.html
  FiniteCocompletions/doc/chap8.txt
  FiniteCocompletions/doc/chap8_mj.html
  FiniteCocompletions/doc/chapInd.html
  FiniteCocompletions/doc/chapInd.txt
  FiniteCocompletions/doc/chapInd_mj.html
  _data/FiniteCocompletions.yml
Due: none

simplified example file
  FiniteCocompletions/examples/FinReflexiveQuiversAsFiniteColimitCompletion.g
Due: none

improved documentation
  FunctorCategories/gap/PreSheaves.gd
Due: FunctorCategories

simplified CapJitAddTypeSignature
  FunctorCategories/gap/PreSheaves.gd
Due: FunctorCategories

renamed local variable for better distinction
  FiniteCocompletions/gap/PairOfParallelArrowsCategory.gi
Due: none

renamed local variable *coequalizer_pair* -> *coequalizer_object*
  FiniteCocompletions/examples/CategoryOfColimitQuivers.g
  FiniteCocompletions/gap/FiniteColimitCompletionWithStrictCoproducts.gd
  FiniteCocompletions/gap/FiniteColimitCompletionWithStrictCoproducts.gi
  FunctorCategories/gap/HomStructure.gi
Due: FunctorCategories

relocated code
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gd
Due: none

renamed AssociatedFiniteStrictCoproductCompletionOfSourceCategory -> FiniteStrictCoproductCompletionOfSourceCategory
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

renamed AssociatedCategoryOfColimitQuiversOfSourceCategory -> CategoryOfColimitQuiversOfSourceCategory
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

renamed AssociatedFiniteColimitCompletionWithStrictCoproductsOfSourceCategory -> FiniteColimitCompletionWithStrictCoproductsOfSourceCategory
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/HomStructure.gi
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

d&i FiniteColimitCompletionWithStrictCoproductsOfUnderlyingCategory
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gd
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gi
Due: none

d&i AssociatedCoequalizerPairInPreSheaves
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/CategoryOfColimitQuivers.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

d&i CategoryOfColimitQuiversOfUnderlyingCategory
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/FiniteColimitCompletionWithStrictCoproducts.gd
  FiniteCocompletions/gap/FiniteColimitCompletionWithStrictCoproducts.gi
Due: none

d&i CategoryOfPreSheavesOfUnderlyingCategory for IsFiniteColimitCompletionWithStrictCoproducts
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/FiniteColimitCompletionWithStrictCoproducts.gd
  FiniteCocompletions/gap/FiniteColimitCompletionWithStrictCoproducts.gi
Due: none

d&i CategoryOfPreSheavesOfUnderlyingCategory for IsCategoryOfColimitQuivers
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gd
  FiniteCocompletions/gap/CategoryOfColimitQuivers.gi
Due: none

d&i AssociatedCoequalizerPairInPreSheaves for IsObjectInCategoryOfColimitQuivers
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/CategoryOfColimitQuivers.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gd
  FunctorCategories/gap/PreSheaves.gi
Due: FunctorCategories

Update website for FiniteCocompletions 2024.03-13
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap6.html
  FiniteCocompletions/doc/chap6.txt
  FiniteCocompletions/doc/chap6_mj.html
  FiniteCocompletions/doc/chap8.html
  FiniteCocompletions/doc/chap8.txt
  FiniteCocompletions/doc/chap8_mj.html
  FiniteCocompletions/doc/chapInd.html
  FiniteCocompletions/doc/chapInd.txt
  FiniteCocompletions/doc/chapInd_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2024.03-18
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  FunctorCategories/doc/chapInd.html
  FunctorCategories/doc/chapInd.txt
  FunctorCategories/doc/chapInd_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for CatReps 2024.03-03
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2024.03-14
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2024.03-19
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
