Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

Update website for FunctorCategories 2023.11-03
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap2.html
  FunctorCategories/doc/chap2.txt
  FunctorCategories/doc/chap2_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

bumped version of CategoryConstructor
  CategoryConstructor/PackageInfo.g
Due: CategoryConstructor

preload FinSetsForCAP before FreydCategoriesForCAP in tests
  Locales/PackageInfo.g
  Locales/tst/100_LoadPackage.tst
Due: Locales

applying AlgebroidFromDataTables to any category
  Algebroids/gap/AlgebroidFromDataTables.gi
Due: Algebroids

introduce CAP quivers and their path categories
  Algebroids/PackageInfo.g
  Algebroids/doc/Doc.autodoc
  Algebroids/examples/CapQuivers.g
  Algebroids/examples/PathCategory.g
  Algebroids/gap/GroebnerBasesForPathCategories.gd
  Algebroids/gap/GroebnerBasesForPathCategories.gi
  Algebroids/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gd
  Algebroids/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
  Algebroids/gap/PathCategories.gd
  Algebroids/gap/PathCategories.gi
  Algebroids/gap/Quivers.gd
  Algebroids/gap/Quivers.gi
  Algebroids/gap/QuotientsOfPathCategories.gd
  Algebroids/gap/QuotientsOfPathCategories.gi
  Algebroids/init.g
  Algebroids/read.g
Due: Algebroids

Update website for CategoryConstructor 2023.11-02
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/doc/chap0.html
  CategoryConstructor/doc/chap0.txt
  CategoryConstructor/doc/chap0_mj.html
  CategoryConstructor/doc/chap1.html
  CategoryConstructor/doc/chap1.txt
  CategoryConstructor/doc/chap1_mj.html
  _data/CategoryConstructor.yml
Due: CategoryConstructor

Update website for Locales 2023.11-02
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

precompile FiniteStrictCoproductCompletion of CategoryFromDataTables
  FiniteCocompletions/examples/FiniteStrictCoproductCompletion.g
  FiniteCocompletions/examples/PrecompileFiniteStrictCoproductCompletionOfCategoryFromDataTables.g
  FiniteCocompletions/examples/PrecompileSkeletalFinSets.g
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gd
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
  FiniteCocompletions/gap/precompiled_categories/FiniteStrictCoproductCompletionOfCategoryFromDataTablesPrecompiled.gi
  FiniteCocompletions/read.g
Due: none

added ToolsForCategoricalTowers
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/README.md
  CategoryConstructor/_data/package.yml
  CategoryConstructor/doc/chap0.html
  CategoryConstructor/doc/chap0.txt
  CategoryConstructor/doc/chap0_mj.html
  CategoryConstructor/doc/chap1.html
  CategoryConstructor/doc/chap1.txt
  CategoryConstructor/doc/chap1_mj.html
  CategoryConstructor/doc/chap2.html
  CategoryConstructor/doc/chap2.txt
  CategoryConstructor/doc/chap2_mj.html
  CategoryConstructor/doc/chapInd.html
  CategoryConstructor/doc/chapInd.txt
  CategoryConstructor/doc/chapInd_mj.html
  CategoryConstructor/doc/chooser.html
  CategoryConstructor/doc/lefttoc.css
  CategoryConstructor/doc/manual.css
  CategoryConstructor/doc/manual.js
  CategoryConstructor/doc/nocolorprompt.css
  CategoryConstructor/doc/ragged.css
  CategoryConstructor/doc/rainbow.js
  CategoryConstructor/doc/times.css
  CategoryConstructor/doc/toggless.css
  CategoryConstructor/doc/toggless.js
  CategoryConstructor/download_pdf.html
  CategoryConstructor/view_release.html
  ToolsForCategoricalTowers/_data/package.yml
  ToolsForCategoricalTowers/badge_date.json
  ToolsForCategoricalTowers/badge_version.json
  ToolsForCategoricalTowers/download_pdf.html
  ToolsForCategoricalTowers/view_release.html
Due: CategoryConstructor

updated SpecificRetractionYieldsIsomorphicCoequalizers.ipynb
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/SpecificRetractionYieldsIsomorphicCoequalizers.ipynb
Due: FunctorCategories

Update website for Algebroids 2023.11-01
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for ToolsForCategoricalTowers 2023.11-03
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/README.md
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  ToolsForCategoricalTowers/doc/chap1.html
  ToolsForCategoricalTowers/doc/chap1.txt
  ToolsForCategoricalTowers/doc/chap1_mj.html
  ToolsForCategoricalTowers/doc/chap2.html
  ToolsForCategoricalTowers/doc/chap2.txt
  ToolsForCategoricalTowers/doc/chap2_mj.html
  ToolsForCategoricalTowers/doc/chapInd.html
  ToolsForCategoricalTowers/doc/chapInd.txt
  ToolsForCategoricalTowers/doc/chapInd_mj.html
  ToolsForCategoricalTowers/doc/chooser.html
  ToolsForCategoricalTowers/doc/lefttoc.css
  ToolsForCategoricalTowers/doc/manual.css
  ToolsForCategoricalTowers/doc/manual.js
  ToolsForCategoricalTowers/doc/nocolorprompt.css
  ToolsForCategoricalTowers/doc/ragged.css
  ToolsForCategoricalTowers/doc/rainbow.js
  ToolsForCategoricalTowers/doc/times.css
  ToolsForCategoricalTowers/doc/toggless.css
  ToolsForCategoricalTowers/doc/toggless.js
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for CatReps 2023.11-01
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for ExteriorPowersCategories 2023.11-01
  ExteriorPowersCategories/PackageInfo.g
  ExteriorPowersCategories/doc/chap0.html
  ExteriorPowersCategories/doc/chap0.txt
  ExteriorPowersCategories/doc/chap0_mj.html
  _data/ExteriorPowersCategories.yml
Due: ExteriorPowersCategories

Update website for FiniteCocompletions 2023.11-02
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap13.html
  FiniteCocompletions/doc/chap13.txt
  FiniteCocompletions/doc/chap13_mj.html
  FiniteCocompletions/doc/chap1_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2023.11-05
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2023.11-01
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for IntrinsicCategories 2023.11-01
  IntrinsicCategories/PackageInfo.g
  IntrinsicCategories/doc/chap0.html
  IntrinsicCategories/doc/chap0.txt
  IntrinsicCategories/doc/chap0_mj.html
  _data/IntrinsicCategories.yml
Due: IntrinsicCategories

Update website for IntrinsicGradedModules 2023.11-01
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/doc/chap0.html
  IntrinsicGradedModules/doc/chap0.txt
  IntrinsicGradedModules/doc/chap0_mj.html
  IntrinsicGradedModules/doc/chap1.html
  IntrinsicGradedModules/doc/chap1.txt
  IntrinsicGradedModules/doc/chap1_mj.html
  _data/IntrinsicGradedModules.yml
Due: IntrinsicGradedModules

Update website for IntrinsicModules 2023.11-01
  IntrinsicModules/PackageInfo.g
  IntrinsicModules/doc/chap0.html
  IntrinsicModules/doc/chap0.txt
  IntrinsicModules/doc/chap0_mj.html
  IntrinsicModules/doc/chap1.html
  IntrinsicModules/doc/chap1.txt
  IntrinsicModules/doc/chap1_mj.html
  _data/IntrinsicModules.yml
Due: IntrinsicModules

Update website for LazyCategories 2023.11-01
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2023.11-03
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for PreSheaves 2023.11-02
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for QuotientCategories 2023.11-01
  QuotientCategories/PackageInfo.g
  QuotientCategories/doc/chap0.html
  QuotientCategories/doc/chap0.txt
  QuotientCategories/doc/chap0_mj.html
  _data/QuotientCategories.yml
Due: none

Update website for SubcategoriesForCAP 2023.11-05
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Update website for Toposes 2023.11-03
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

Update website for ZariskiFrames 2023.11-01
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

added FpCategories
  FpCategories/_data/package.yml
  FpCategories/badge_date.json
  FpCategories/badge_version.json
  FpCategories/download_pdf.html
  FpCategories/view_release.html
Due: none

deleted obsolete files
  CategoriesWithAmbientObjects/VERSION
  ExteriorPowersCategories/TODO.md
  ExteriorPowersCategories/process_coverage_ignored_lines.py
  GradedCategories/TODO.md
  IntrinsicGradedModules/process_coverage_ignored_lines.py
  ToolsForCategoricalTowers/TODO.md
  ToolsForCategoricalTowers/process_coverage_ignored_lines.py
Due: CategoriesWithAmbientObjects, ExteriorPowersCategories, GradedCategories, IntrinsicGradedModules

extracted new package FpCategories from Algebroids
  Algebroids/PackageInfo.g
  Algebroids/doc/Doc.autodoc
  Algebroids/gap/Tools.gd
  Algebroids/init.g
  Algebroids/read.g
  FpCategories/.gitignore
  FpCategories/LICENSE
  FpCategories/PackageInfo.g
  FpCategories/README.md
  FpCategories/doc/Doc.autodoc
  FpCategories/doc/clean
  FpCategories/examples/CapQuivers.g
  FpCategories/examples/PathCategory.g
  FpCategories/gap/GroebnerBasesForPathCategories.gd
  FpCategories/gap/GroebnerBasesForPathCategories.gi
  FpCategories/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gd
  FpCategories/gap/LinearClosuresOfPathCategoriesAndTheirQuotients.gi
  FpCategories/gap/PathCategories.gd
  FpCategories/gap/PathCategories.gi
  FpCategories/gap/Quivers.gd
  FpCategories/gap/Quivers.gi
  FpCategories/gap/QuotientsOfPathCategories.gd
  FpCategories/gap/QuotientsOfPathCategories.gi
  FpCategories/gap/Tools.gd
  FpCategories/init.g
  FpCategories/makedoc.g
  FpCategories/makedoc_with_overfull_hbox_warnings.g
  FpCategories/makefile
  FpCategories/read.g
  FpCategories/tst/100_LoadPackage.tst
  FpCategories/tst/testall.g
  FpCategories/tst/testall_no_precompiled_code.g
  README.md
  dev/codecov.yml
  dev/make_dist.sh
  dev/simulate_dist.sh
  dev/upload_codecov.sh
  makefile
Due: Algebroids

AddDerivationToCAP( RelativeTruthMorphismOfTrue/False..., ... ) using PTransposeMorphism
  Toposes/PackageInfo.g
  Toposes/gap/ToposDerivedMethods.gi
Due: Toposes

AddDerivationToCAP( ExponentialOnObjects, ... ) using PowerObject
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/examples/SliceCategory.g
  Toposes/PackageInfo.g
  Toposes/gap/ToposDerivedMethods.gi
Due: SubcategoriesForCAP, Toposes

Update website for FpCategories 2023.11-01
  FpCategories/PackageInfo.g
  FpCategories/README.md
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap1.html
  FpCategories/doc/chap1.txt
  FpCategories/doc/chap1_mj.html
  FpCategories/doc/chap2.html
  FpCategories/doc/chap2.txt
  FpCategories/doc/chap2_mj.html
  FpCategories/doc/chap3.html
  FpCategories/doc/chap3.txt
  FpCategories/doc/chap3_mj.html
  FpCategories/doc/chapInd.html
  FpCategories/doc/chapInd.txt
  FpCategories/doc/chapInd_mj.html
  FpCategories/doc/chooser.html
  FpCategories/doc/lefttoc.css
  FpCategories/doc/manual.css
  FpCategories/doc/manual.js
  FpCategories/doc/nocolorprompt.css
  FpCategories/doc/ragged.css
  FpCategories/doc/rainbow.js
  FpCategories/doc/times.css
  FpCategories/doc/toggless.css
  FpCategories/doc/toggless.js
  _data/FpCategories.yml
Due: none

whitespaces
  Toposes/gap/ToposDerivedMethods.gi
Due: Toposes

added one more code comment to AddDerivationToCAP( ExponentialOnObjects, ... )
  Toposes/PackageInfo.g
  Toposes/gap/ToposDerivedMethods.gi
Due: Toposes

Update website for SubcategoriesForCAP 2023.11-06
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  SubcategoriesForCAP/doc/chap4.html
  SubcategoriesForCAP/doc/chap4.txt
  SubcategoriesForCAP/doc/chap4_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Update website for Toposes 2023.11-05
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes
