Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

Update website for CatReps 2026.02-03
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletions 2026.02-05
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2026.02-03
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2026.02-03
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for LazyCategories 2026.02-02
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2026.02-02
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for ToolsForCategoricalTowers 2026.02-03
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Update website for ZariskiFrames 2026.02-02
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

clean up in FunctorCategories
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/Doc.autodoc
  FunctorCategories/examples/NakayamaLeftAdjoint.g
  Locales/PackageInfo.g
  Locales/doc/Doc.autodoc
Due: FunctorCategories, Locales

Update website for Locales 2026.03-01
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap1.html
  Locales/doc/chap1.txt
  Locales/doc/chap10.html
  Locales/doc/chap10.txt
  Locales/doc/chap10_mj.html
  Locales/doc/chap11.html
  Locales/doc/chap11.txt
  Locales/doc/chap11_mj.html
  Locales/doc/chap12.html
  Locales/doc/chap12.txt
  Locales/doc/chap12_mj.html
  Locales/doc/chap13.html
  Locales/doc/chap13.txt
  Locales/doc/chap13_mj.html
  Locales/doc/chap14.html
  Locales/doc/chap14.txt
  Locales/doc/chap14_mj.html
  Locales/doc/chap15.html
  Locales/doc/chap15.txt
  Locales/doc/chap15_mj.html
  Locales/doc/chap1_mj.html
  Locales/doc/chap7.html
  Locales/doc/chap7.txt
  Locales/doc/chap7_mj.html
  Locales/doc/chap8.html
  Locales/doc/chap8.txt
  Locales/doc/chap8_mj.html
  Locales/doc/chap9.html
  Locales/doc/chap9.txt
  Locales/doc/chap9_mj.html
  _data/Locales.yml
Due: Locales

Drop QPA sort helper
  FpCategories/PackageInfo.g
  FpCategories/gap/PathCategories.gd
  FpCategories/gap/PathCategories.gi
Due: none

Update website for FpCategories 2026.03-01
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap1.html
  FpCategories/doc/chap1.txt
  FpCategories/doc/chap1_mj.html
  FpCategories/doc/chap2.html
  FpCategories/doc/chap2.txt
  FpCategories/doc/chap2_mj.html
  FpCategories/doc/chap5.html
  FpCategories/doc/chap5.txt
  FpCategories/doc/chap5_mj.html
  FpCategories/doc/chap6.html
  FpCategories/doc/chap6.txt
  FpCategories/doc/chap6_mj.html
  _data/FpCategories.yml
Due: none

Extract SliceCategoriesForCAP
  FunctorCategories/PackageInfo.g
  SliceCategoriesForCAP/.gitignore
  SliceCategoriesForCAP/LICENSE
  SliceCategoriesForCAP/PackageInfo.g
  SliceCategoriesForCAP/README.md
  SliceCategoriesForCAP/doc/Doc.autodoc
  SliceCategoriesForCAP/doc/clean
  SliceCategoriesForCAP/examples/DPO.g
  SliceCategoriesForCAP/examples/DualOverTensorUnit.g
  SliceCategoriesForCAP/examples/IteratedInternalHom.g
  SliceCategoriesForCAP/examples/LazySliceCategory.g
  SliceCategoriesForCAP/examples/PrecompileSliceCategory.g
  SliceCategoriesForCAP/examples/SliceCategory.g
  SliceCategoriesForCAP/examples/SliceCategoryOverTensorUnit.g
  SliceCategoriesForCAP/gap/EagerSliceCategory.gd
  SliceCategoriesForCAP/gap/EagerSliceCategory.gi
  SliceCategoriesForCAP/gap/LazySliceCategory.gd
  SliceCategoriesForCAP/gap/LazySliceCategory.gi
  SliceCategoriesForCAP/gap/SliceCategory.gd
  SliceCategoriesForCAP/gap/SliceCategory.gi
  SliceCategoriesForCAP/gap/precompiled_categories/SliceCategoryOfCategoryOfRowsOfRingOfIntegersOverTensorUnitPrecompiled.gi
  SliceCategoriesForCAP/init.g
  SliceCategoriesForCAP/makedoc.g
  SliceCategoriesForCAP/makedoc_with_overfull_hbox_warnings.g
  SliceCategoriesForCAP/makefile
  SliceCategoriesForCAP/read.g
  SliceCategoriesForCAP/tst/100_LoadPackage.tst
  SliceCategoriesForCAP/tst/compatibility.tst
  SliceCategoriesForCAP/tst/testall.g
  SliceCategoriesForCAP/tst/testall_no_precompiled_code.g
  SubcategoriesForCAP/doc/Doc.autodoc
  SubcategoriesForCAP/examples/Freyd_ZZ.g
  SubcategoriesForCAP/examples/TerminalCategoryWithMultipleObjects.g
  SubcategoriesForCAP/init.g
  SubcategoriesForCAP/read.g
  dev/codecov.yml
  dev/make_dist.sh
  dev/simulate_dist.sh
  dev/upload_codecov.sh
  makefile
Due: FunctorCategories, SubcategoriesForCAP

SubcategoriesForCAP: View Adjustments for Transpilation to Julia
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/gap/FullSubcategory.gd
  SubcategoriesForCAP/gap/FullSubcategory.gi
  SubcategoriesForCAP/gap/Subcategory.gd
  SubcategoriesForCAP/gap/Subcategory.gi
Due: SubcategoriesForCAP

Locales: Add few @drop_in_Julia markers in tests and examples
  Locales/examples/PosetOfCategory.g
  Locales/tst/EmptyLimits.tst
  Locales/tst/NormalizeObject.tst
Due: Locales

FpCategories: Use hom-object cardinality for Size in finite categories
  FpCategories/PackageInfo.g
  FpCategories/gap/Tools.gi
Due: none

Improve few examples in FpCategories
  FpCategories/examples/FinQuiver.g
  FpCategories/examples/PathCategory.g
  FpCategories/examples/PrecompileCategoryFromNerveDataHomStructureOnMorphisms.g
  FpCategories/examples/YonedaCompositionAsNaturalEpimorphism.g
Due: none

Locales: Make dot-methods Julia-compatible
  Locales/gap/ConstructibleObjectsAsUnionOfSingleDifferences.gi
  Locales/gap/MultipleDifferences.gi
  Locales/gap/ProsetOfCategory.gi
  Locales/gap/SingleDifferences.gi
Due: Locales

ToolsForCategoricalTowers: Make AllCoproducts dispatchable in Julia
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/gap/Tools.gd
Due: none

Locales: Make ViewString/DisplayString Julia compatibe:
  Locales/gap/ConstructibleObjects.gi
  Locales/gap/IntervalCategory.gi
  Locales/gap/MultipleDifferences.gi
  Locales/gap/Proset.gi
  Locales/gap/ProsetOfCategory.gi
  Locales/gap/SingleDifferences.gi
  Locales/gap/Tools.gi
Due: Locales

Locales: Remove finite proset Size method
  Locales/PackageInfo.g
  Locales/gap/Proset.gi
Due: Locales

Locales: Comment out TrueMethod's involving intersection of properties
  Locales/gap/BooleanAlgebra.gi
  Locales/gap/CoHeytingAlgebra.gi
  Locales/gap/HeytingAlgebra.gi
  Locales/gap/Lattice.gi
  Locales/gap/Poset.gi
  Locales/gap/Proset.gi
Due: Locales

Locales: mark SkeletalDiscreteCategory as a poset category
  Locales/gap/ProsetAsCategory.gi
Due: Locales

Locales: Fix whitespaces in a test file
  Locales/tst/TerminalCategoryTopos.tst
Due: Locales

Locales: Add few comments for Julia
  Locales/gap/ConstructibleObjects.gd
  Locales/gap/ConstructibleObjects.gi
  Locales/gap/ConstructibleObjectsAsUnionOfSingleDifferences.gd
  Locales/gap/ConstructibleObjectsAsUnionOfSingleDifferences.gi
  Locales/gap/Lattice.gd
  Locales/gap/MultipleDifferences.gd
  Locales/gap/MultipleDifferences.gi
  Locales/gap/SingleDifferences.gd
  Locales/read.g
Due: Locales

Locales: Mark ProsetOrPosetOfCategory as poset category
  Locales/gap/ProsetOfCategory.gi
Due: Locales

Locales: named-arguments must not conflict with local variables
  Locales/gap/ProsetOfCategory.gi
Due: Locales

Locales: Few adjustments in examples for Julia
  Locales/examples/ProsetOfCategory.g
Due: Locales

Locales: Use while loop instead of repeat loop
  Locales/gap/CoHeytingAlgebra.gi
  Locales/gap/MultipleDifferences.gi
  Locales/gap/Tools.gi
Due: Locales

Locales: Make CategoryFilters Julia compatible
  Locales/gap/CoHeytingAlgebraDerivedMethods.gi
  Locales/gap/HeytingAlgebraDerivedMethods.gi
  Locales/gap/IntervalCategory.gi
  Locales/gap/PosetDerivedMethods.gi
Due: Locales

Locales: Use FilterIntersection in category filter declarations
  Locales/PackageInfo.g
  Locales/gap/ConstructibleObjects.gd
  Locales/gap/ConstructibleObjects.gi
  Locales/gap/ConstructibleObjectsAsUnionOfMultipleDifferences.gd
  Locales/gap/ConstructibleObjectsAsUnionOfMultipleDifferences.gi
  Locales/gap/ConstructibleObjectsAsUnionOfSingleDifferences.gd
  Locales/gap/ConstructibleObjectsAsUnionOfSingleDifferences.gi
  Locales/gap/Differences.gd
  Locales/gap/IntervalCategory.gd
  Locales/gap/Lattice.gi
  Locales/gap/MultipleDifferences.gd
  Locales/gap/MultipleDifferences.gi
  Locales/gap/Proset.gd
  Locales/gap/Proset.gi
  Locales/gap/ProsetOfCategory.gd
  Locales/gap/ProsetOfCategory.gi
  Locales/gap/SingleDifferences.gd
  Locales/gap/SingleDifferences.gi
  Locales/gap/Tools.gi
Due: Locales

Update website for FpCategories 2026.03-02
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap1.html
  FpCategories/doc/chap1.txt
  FpCategories/doc/chap1_mj.html
  FpCategories/doc/chap3.html
  FpCategories/doc/chap3.txt
  FpCategories/doc/chap3_mj.html
  FpCategories/doc/chap6.html
  FpCategories/doc/chap6.txt
  FpCategories/doc/chap6_mj.html
  _data/FpCategories.yml
Due: none

Update website for Locales 2026.03-03
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap1.html
  Locales/doc/chap13.html
  Locales/doc/chap13_mj.html
  Locales/doc/chap1_mj.html
  Locales/doc/chap8.html
  Locales/doc/chap8.txt
  Locales/doc/chap8_mj.html
  Locales/doc/chapInd.html
  Locales/doc/chapInd.txt
  Locales/doc/chapInd_mj.html
  _data/Locales.yml
Due: Locales

Update website for ToolsForCategoricalTowers 2026.03-01
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/doc/chap0.html
  ToolsForCategoricalTowers/doc/chap0.txt
  ToolsForCategoricalTowers/doc/chap0_mj.html
  _data/ToolsForCategoricalTowers.yml
Due: none

Add ColiftAlongEpimorphism
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/Doc.autodoc
  FiniteCocompletions/examples/FiniteStrictCoproductCompletionOfObjectFiniteCategory_ColiftAlongEpimorphism.g
  FiniteCocompletions/examples/FiniteStrictCoproductCompletionOfObjectFiniteCategory_Equalizer.g
  FiniteCocompletions/gap/FiniteStrictCoproductCompletionOfObjectFiniteCategory.gd
  FiniteCocompletions/gap/FiniteStrictCoproductCompletionOfObjectFiniteCategory.gi
Due: none

Locales: Split single-line conditionals into multi-line for Julia
  Locales/PackageInfo.g
  Locales/gap/ConstructibleObjects.gi
Due: Locales

Update website for Locales 2026.03-04
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
