Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

Update website for FiniteCocompletion 2023.05-03
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  FiniteCocompletion/doc/chap1.html
  FiniteCocompletion/doc/chap1.txt
  FiniteCocompletion/doc/chap1_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

Update website for FunctorCategories 2023.05-11
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for PreSheaves 2023.05-03
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for Toposes 2023.05-03
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  Toposes/doc/chap1.html
  Toposes/doc/chap1.txt
  Toposes/doc/chap1_mj.html
  Toposes/doc/chap2.html
  Toposes/doc/chap2_mj.html
  Toposes/doc/chap3.html
  Toposes/doc/chap3_mj.html
  Toposes/doc/chap4.html
  Toposes/doc/chap4.txt
  Toposes/doc/chap4_mj.html
  Toposes/doc/chap5.html
  Toposes/doc/chap5.txt
  Toposes/doc/chap5_mj.html
  Toposes/doc/chapInd.html
  Toposes/doc/chapInd.txt
  Toposes/doc/chapInd_mj.html
  _data/Toposes.yml
Due: Toposes

improve _ConcatenationLazyHLists_
  Algebroids/gap/AlgebroidFromDataTables.gi
Due: Algebroids

1) improve performance by avoiding the use of non-dense lists in algebroids from data tables (instead of 23 entries, we have now only 22).
  Algebroids/PackageInfo.g
  Algebroids/examples/AlgebroidFromDataTables.g
  Algebroids/examples/PrecompileAdditiveClosureOfAlgebroidFromDataTables.g
  Algebroids/gap/AlgebroidFromDataTables.gd
  Algebroids/gap/AlgebroidFromDataTables.gi
  Algebroids/gap/precompiled_categories/AdditiveClosureOfAlgebroidFromDataTablesPrecompiled.gi
Due: Algebroids

fixed documentation
  Algebroids/doc/Doc.autodoc
  Algebroids/gap/AlgebroidFromDataTables.gd
Due: Algebroids

switched to Julia 1.9.0
  CatReps/PackageInfo.g
  CatReps/examples/notebooks/CategoryOfRepresentations.ipynb
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/examples/notebooks/CartesianBraiding.ipynb
  FiniteCocompletion/examples/notebooks/CartesianDiagonal.ipynb
  FiniteCocompletion/examples/notebooks/ReflexivePair.ipynb
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/notebooks/DPO_Quivers.ipynb
  FunctorCategories/examples/notebooks/DecoratedFinQuivers.ipynb
  FunctorCategories/examples/notebooks/FinBouquets.ipynb
  FunctorCategories/examples/notebooks/FunctorCategories.ipynb
  FunctorCategories/examples/notebooks/ImageOfPullback_in_AbelianClosure_using_Adelman.ipynb
  FunctorCategories/examples/notebooks/ImageOfPullback_in_AbelianClosure_using_Freyd.ipynb
  FunctorCategories/examples/notebooks/LogicInToposOfFinQuivers.ipynb
  FunctorCategories/examples/notebooks/PairVsReflexivePair.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPullbacks.ipynb
  FunctorCategories/examples/notebooks/PastingLawForPushouts.ipynb
  FunctorCategories/examples/notebooks/ReflexiveCoequalizer.ipynb
  FunctorCategories/examples/notebooks/SnakeInFreeAbelian.ipynb
  InternalModules/PackageInfo.g
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS1rep.ipynb
  InternalModules/examples/notebooks/SymmetricAlgebraInternalToS4rep.ipynb
  LazyCategories/PackageInfo.g
  LazyCategories/examples/notebooks/SnakeInAbelian.ipynb
  LazyCategories/examples/notebooks/SnakeInFreeAbelian.ipynb
  Locales/PackageInfo.g
  Locales/examples/julia/notebooks/IdealQuotient.ipynb
  Locales/examples/julia/notebooks/IdealQuotient2.ipynb
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/examples/julia/notebooks/uMPS(2,2,4)_0dim.ipynb
Due: CatReps, FiniteCocompletion, FunctorCategories, LazyCategories, Locales, ZariskiFrames

change the specification of some keys in input_record of AlgebroidFromDataTables
  Algebroids/examples/AlgebroidFromDataTables.g
  Algebroids/gap/AlgebroidFromDataTables.gd
  Algebroids/gap/AlgebroidFromDataTables.gi
  Algebroids/gap/precompiled_categories/AdditiveClosureOfAlgebroidFromDataTablesPrecompiled.gi
Due: Algebroids

Update website for Algebroids 2023.05-04
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap8.html
  Algebroids/doc/chap8.txt
  Algebroids/doc/chap8_mj.html
  Algebroids/doc/chap9.html
  Algebroids/doc/chap9.txt
  Algebroids/doc/chap9_mj.html
  _data/Algebroids.yml
Due: Algebroids

d&i IndicesOfGeneratingMorphismsFromHomStructure
  Algebroids/PackageInfo.g
  Algebroids/gap/FpCategories.gi
  Algebroids/gap/Tools.gd
  Algebroids/gap/Tools.gi
Due: Algebroids

fixed OppositeCategoryFromNerveData/CategoryFromNerveData
  Algebroids/PackageInfo.g
  Algebroids/examples/CategoryFromDataTables.g
  Algebroids/examples/CategoryFromNerveData.g
  Algebroids/gap/CategoryFromDataTables.gi
  Algebroids/gap/CategoryFromNerveData.gd
  Algebroids/gap/CategoryFromNerveData.gi
Due: Algebroids

InstallMethod( SetOfObjects, -> InstallMethodForCompilerForCAP
  Algebroids/gap/CategoryFromNerveData.gi
Due: Algebroids

d&i SetOfMorphisms
  Algebroids/PackageInfo.g
  Algebroids/gap/CategoryFromNerveData.gd
  Algebroids/gap/CategoryFromNerveData.gi
  Algebroids/gap/FpCategories.gd
  Algebroids/gap/FpCategories.gi
Due: Algebroids

deactivate unused CapJitAddTypeSignature
  Algebroids/gap/CategoryFromDataTables.gd
  Algebroids/gap/CategoryFromNerveData.gd
  Algebroids/gap/FpCategories.gd
Due: Algebroids

d&i DecompositionOfMorphismInCategory
  Algebroids/PackageInfo.g
  Algebroids/gap/FpCategories.gd
  Algebroids/gap/FpCategories.gi
Due: Algebroids

d&i DecompositionOfAllMorphisms
  Algebroids/PackageInfo.g
  Algebroids/examples/CategoryFromDataTables.g
  Algebroids/examples/CategoryFromNerveData.g
  Algebroids/gap/CategoryFromDataTables.gd
  Algebroids/gap/CategoryFromDataTables.gi
  Algebroids/gap/CategoryFromNerveData.gd
  Algebroids/gap/CategoryFromNerveData.gi
  Algebroids/gap/FpCategories.gd
  Algebroids/gap/FpCategories.gi
Due: Algebroids

Update website for Algebroids 2023.05-09
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  Algebroids/doc/chap10.html
  Algebroids/doc/chap10.txt
  Algebroids/doc/chap10_mj.html
  Algebroids/doc/chap2.html
  Algebroids/doc/chap2.txt
  Algebroids/doc/chap2_mj.html
  Algebroids/doc/chap3.html
  Algebroids/doc/chap3.txt
  Algebroids/doc/chap3_mj.html
  Algebroids/doc/chap4.html
  Algebroids/doc/chap4.txt
  Algebroids/doc/chap4_mj.html
  Algebroids/doc/chap6.html
  Algebroids/doc/chap6.txt
  Algebroids/doc/chap6_mj.html
  Algebroids/doc/chap7.html
  Algebroids/doc/chap7.txt
  Algebroids/doc/chap7_mj.html
  Algebroids/doc/chap8.html
  Algebroids/doc/chap8.txt
  Algebroids/doc/chap8_mj.html
  Algebroids/doc/chap9.html
  Algebroids/doc/chap9.txt
  Algebroids/doc/chap9_mj.html
  Algebroids/doc/chapInd.html
  Algebroids/doc/chapInd.txt
  Algebroids/doc/chapInd_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for CatReps 2023.05-01
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FiniteCocompletion 2023.05-04
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

Update website for FunctorCategories 2023.05-12
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2023.05-02
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for LazyCategories 2023.05-01
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2023.05-01
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for ZariskiFrames 2023.05-01
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

fixed IsWellDefinedForObjects/IsWellDefinedForMorphisms
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/gap/FiniteStrictCoproductCocompletion.gi
Due: FiniteCocompletion

enhanced code comment
  Algebroids/PackageInfo.g
  Algebroids/gap/FpCategories.gi
Due: Algebroids

fixed use of Cartesian in Add*DirectProduct*
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/gap/FiniteStrictCoproductCocompletion.gi
  FiniteCocompletion/tst/cartesian.tst
Due: FiniteCocompletion

Update website for Algebroids 2023.05-10
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for FiniteCocompletion 2023.05-06
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

fix a trivial effect of a previous refactoring
  Algebroids/gap/AlgebroidFromDataTables.gi
Due: Algebroids

fix the name of the tensor product of two algebroids
  Algebroids/gap/AlgebroidFromDataTables.gi
Due: Algebroids

use better labels and latex-strings for morphisms (in tensor product of algebroids)
  Algebroids/examples/AlgebroidFromDataTables.g
  Algebroids/gap/AlgebroidFromDataTables.gi
Due: Algebroids

white-spaces
  Algebroids/examples/AlgebroidFromDataTables.g
  Algebroids/gap/AlgebroidFromDataTables.gi
Due: Algebroids

improved AddDerivationToCAP( HomomorphismStructureOnMorphismsWithGivenObjects, ... )
  Toposes/PackageInfo.g
  Toposes/gap/ToposDerivedMethods.gi
Due: Toposes

Update website for Toposes 2023.05-04
  Toposes/PackageInfo.g
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

improve performance of random methods
  Algebroids/gap/AlgebroidFromDataTables.gi
Due: Algebroids

closes #208 and bump version to V2023.05-11
  Algebroids/PackageInfo.g
  Algebroids/gap/AlgebroidFromDataTables.gi
Due: Algebroids

renamed local variable to a more suggestive name
  Toposes/gap/ToposDerivedMethods.gi
Due: Toposes

altered derivation of MorphismsOfExternalHom
  Toposes/PackageInfo.g
  Toposes/gap/ToposDerivedMethods.gi
Due: Toposes
