Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 17
flags:
  Algebroids:
    paths:
      - "Algebroids/"
  CategoriesWithAmbientObjects:
    paths:
      - "CategoriesWithAmbientObjects/"
  CategoryConstructor:
    paths:
      - "CategoryConstructor/"
  CatReps:
    paths:
      - "CatReps/"
  ExteriorPowersCategories:
    paths:
      - "ExteriorPowersCategories/"
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  FunctorCategories:
    paths:
      - "FunctorCategories/"
  GradedCategories:
    paths:
      - "GradedCategories/"
  IntrinsicCategories:
    paths:
      - "IntrinsicCategories/"
  IntrinsicGradedModules:
    paths:
      - "IntrinsicGradedModules/"
  IntrinsicModules:
    paths:
      - "IntrinsicModules/"
  LazyCategories:
    paths:
      - "LazyCategories/"
  Locales:
    paths:
      - "Locales/"
  PreSheaves:
    paths:
      - "PreSheaves/"
  SubcategoriesForCAP:
    paths:
      - "SubcategoriesForCAP/"
  Toposes:
    paths:
      - "Toposes/"
  ZariskiFrames:
    paths:
      - "ZariskiFrames/"

updated installation of Size for finite categories
  FpCategories/PackageInfo.g
  FpCategories/gap/Tools.gi
Due: none

whitespace
  Locales/gap/ProsetOfCategory.gi
Due: Locales

installed Size for finite prosets
  Locales/PackageInfo.g
  Locales/examples/PosetOfCategory.g
  Locales/examples/ProsetOfCategory.g
  Locales/gap/Proset.gi
Due: Locales

renamed local variable: cat -> P
  Locales/gap/ProsetOfCategory.gi
Due: Locales

conditionally AddIsEqualForObjects( proset, ... )
  Locales/PackageInfo.g
  Locales/gap/ProsetOfCategory.gi
Due: Locales

renamed and updated example files
  Locales/doc/Doc.autodoc
  Locales/examples/ClosedMonoidalLatticeOfIdeals.g
  Locales/examples/HeytingAlgebraOfRadicalIdeals.g
Due: Locales

PosetOfCategory and ProsetOfCategory now install different AddSetOfObjectsOfCategory
  Locales/PackageInfo.g
  Locales/examples/PosetOfCategory.g
  Locales/examples/ProsetOfCategory.g
  Locales/gap/ProsetOfCategory.gd
  Locales/gap/ProsetOfCategory.gi
  Locales/makedoc.g
  Locales/makedoc_with_overfull_hbox_warnings.g
Due: Locales

udpated example file
  FpCategories/PackageInfo.g
  FpCategories/examples/QuiverStringOfDigraph.g
Due: none

installed SetOfGeneratingMorphisms for IsCapSubcategory
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/gap/Subcategory.gi
Due: SubcategoriesForCAP

Update website for CatReps 2024.03-01
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for FpCategories 2024.03-01
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  _data/FpCategories.yml
Due: none

Update website for FunctorCategories 2024.03-01
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for InternalModules 2024.03-01
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for LazyCategories 2024.03-01
  LazyCategories/PackageInfo.g
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2024.03-03
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap8.html
  Locales/doc/chap8.txt
  Locales/doc/chap8_mj.html
  _data/Locales.yml
Due: Locales

Update website for SubcategoriesForCAP 2024.03-01
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Update website for FpCategories 2024.03-02
  FpCategories/PackageInfo.g
  FpCategories/doc/chap0.html
  FpCategories/doc/chap0.txt
  FpCategories/doc/chap0_mj.html
  FpCategories/doc/chap3.html
  FpCategories/doc/chap3.txt
  FpCategories/doc/chap3_mj.html
  _data/FpCategories.yml
Due: none

Update website for SubcategoriesForCAP 2024.03-02
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Revert "temporarily disable testing notebook"
  CatReps/makefile
  FunctorCategories/makefile
  InternalModules/makefile
  LazyCategories/makefile
Due: CatReps, FunctorCategories, LazyCategories

added symmetric monodial versions of properties of prosets/posets/lattices
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteCoproductCompletion.g
  FiniteCocompletions/examples/TerminalCategory_as_FiniteProductCompletion.g
  FunctorCategories/PackageInfo.g
  FunctorCategories/examples/TerminalCategory.g
  Locales/PackageInfo.g
  Locales/examples/ClosedMonoidalLatticeOfIdeals.g
  Locales/examples/HeytingAlgebraOfRadicalIdeals.g
  Locales/gap/Lattice.gd
  Locales/gap/Lattice.gi
  Locales/gap/Poset.gd
  Locales/gap/Poset.gi
  Locales/gap/Proset.gd
  Locales/gap/Proset.gi
Due: FunctorCategories, Locales

fixed AddIsWellDefinedForObjects( IntervalCategory, ... )
  Locales/PackageInfo.g
  Locales/gap/IntervalCategory.gi
Due: Locales

support external tensor product for the enrichment over the interval category
  FiniteCocompletions/gap/FiniteStrictCoproductCompletion.gi
  FunctorCategories/PackageInfo.g
  Locales/PackageInfo.g
  Locales/examples/Dedekind1stNumber.g
Due: FunctorCategories, Locales

Update website for FiniteCocompletions 2024.03-01
  FiniteCocompletions/PackageInfo.g
  FiniteCocompletions/doc/chap0.html
  FiniteCocompletions/doc/chap0.txt
  FiniteCocompletions/doc/chap0_mj.html
  FiniteCocompletions/doc/chap1.html
  FiniteCocompletions/doc/chap1.txt
  FiniteCocompletions/doc/chap1_mj.html
  FiniteCocompletions/doc/chap2.html
  FiniteCocompletions/doc/chap2.txt
  FiniteCocompletions/doc/chap2_mj.html
  FiniteCocompletions/doc/chap8.html
  FiniteCocompletions/doc/chap8.txt
  FiniteCocompletions/doc/chap8_mj.html
  _data/FiniteCocompletions.yml
Due: none

Update website for FunctorCategories 2024.03-02
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  FunctorCategories/doc/chap9.html
  FunctorCategories/doc/chap9.txt
  FunctorCategories/doc/chap9_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Locales 2024.03-04
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap1.html
  Locales/doc/chap1.txt
  Locales/doc/chap1_mj.html
  Locales/doc/chap2.html
  Locales/doc/chap2.txt
  Locales/doc/chap2_mj.html
  Locales/doc/chap3.html
  Locales/doc/chap3.txt
  Locales/doc/chap3_mj.html
  Locales/doc/chap8.html
  Locales/doc/chap8.txt
  Locales/doc/chap8_mj.html
  Locales/doc/chapInd.html
  Locales/doc/chapInd.txt
  Locales/doc/chapInd_mj.html
  _data/Locales.yml
Due: Locales

improved installation of SetOfGeneratingMorphismsOfCategory for posets
  Locales/PackageInfo.g
  Locales/examples/PosetOfCategory.g
  Locales/examples/ProsetOfCategory.g
  Locales/gap/PosetDerivedMethods.gi
  Locales/gap/ProsetDerivedMethods.gi
  Locales/gap/ProsetOfCategory.gi
Due: Locales

Update website for FunctorCategories 2024.03-03
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for Locales 2024.03-06
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap13.html
  Locales/doc/chap13.txt
  Locales/doc/chap13_mj.html
  _data/Locales.yml
Due: Locales

Update website for Locales 2024.03-07
  Locales/PackageInfo.g
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  Locales/doc/chap8.html
  Locales/doc/chap8.txt
  Locales/doc/chap8_mj.html
  _data/Locales.yml
Due: Locales

coding style
  Toposes/PackageInfo.g
  Toposes/gap/Tools.gi
Due: Toposes

deleted trailing newline
  Locales/gap/ToolsUsingDigraphs.gd
Due: Locales

renamed input variable in doc entry
  Locales/gap/ToolsUsingDigraphs.gd
Due: Locales

renamed local variable
  Locales/gap/ConstructibleObjectsAsUnionOfSingleDifferences.gi
Due: Locales

restrict MeetSemilatticeOfSingleDifferences to distributive prosets
  Locales/PackageInfo.g
  Locales/gap/SingleDifferences.gi
Due: Locales

improved AddSetOfObjectsOfCategory in MeetSemilatticeOfSingleDifferences
  Locales/PackageInfo.g
  Locales/gap/SingleDifferences.gi
Due: Locales

d&i AllCoproducts and used it to simplify AddSetOfObjectsOfCategory( PSh, ... )
  FunctorCategories/PackageInfo.g
  FunctorCategories/gap/PreSheaves.gi
  ToolsForCategoricalTowers/PackageInfo.g
  ToolsForCategoricalTowers/gap/Tools.gd
  ToolsForCategoricalTowers/gap/Tools.gi
Due: FunctorCategories

AddSetOfObjectsOfCategory in BooleanAlgebraOfConstructibleObjectsAsUnionOfDifferences
  Locales/PackageInfo.g
  Locales/gap/ConstructibleObjectsAsUnionOfSingleDifferences.gi
Due: Locales

AddObjectConstructor in BooleanAlgebraOfConstructibleObjectsAsUnionOfDifferences
  Locales/PackageInfo.g
  Locales/gap/ConstructibleObjectsAsUnionOfSingleDifferences.gi
Due: Locales

Revert "restrict MeetSemilatticeOfSingleDifferences to distributive prosets"
  Locales/PackageInfo.g
  Locales/gap/SingleDifferences.gi
Due: Locales

improved derivation of SingletonMorphismWithGivenPowerObject
  Toposes/PackageInfo.g
  Toposes/gap/ToposDerivedMethods.gi
Due: Toposes
