Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

added new package DiscreteCategories
  DiscreteCategories/.gitignore
  DiscreteCategories/LICENSE
  DiscreteCategories/PackageInfo.g
  DiscreteCategories/README.md
  DiscreteCategories/TODO.md
  DiscreteCategories/doc/Doc.autodoc
  DiscreteCategories/doc/clean
  DiscreteCategories/examples/DiscreteCategory.g
  DiscreteCategories/gap/DiscreteCategory.gd
  DiscreteCategories/gap/DiscreteCategory.gi
  DiscreteCategories/init.g
  DiscreteCategories/makedoc.g
  DiscreteCategories/makedoc_with_overfull_hbox_warnings.g
  DiscreteCategories/makefile
  DiscreteCategories/read.g
  DiscreteCategories/tst/100_LoadPackage.tst
  DiscreteCategories/tst/testall.g
  DiscreteCategories/tst/testall_no_precompiled_code.g
  README.md
  dev/codecov.yml
  dev/make_dist.sh
  dev/simulate_dist.sh
  dev/upload_codecov.sh
  makefile
Due: none

applied PackageJanitor
  DiscreteCategories/_data/package.yml
  DiscreteCategories/badge_date.json
  DiscreteCategories/badge_version.json
  DiscreteCategories/download_pdf.html
  DiscreteCategories/view_release.html
Due: none

Update website for DiscreteCategories 2023.02-01
  DiscreteCategories/PackageInfo.g
  DiscreteCategories/README.md
  DiscreteCategories/doc/chap0.html
  DiscreteCategories/doc/chap0.txt
  DiscreteCategories/doc/chap0_mj.html
  DiscreteCategories/doc/chap1.html
  DiscreteCategories/doc/chap1.txt
  DiscreteCategories/doc/chap1_mj.html
  DiscreteCategories/doc/chapInd.html
  DiscreteCategories/doc/chapInd.txt
  DiscreteCategories/doc/chapInd_mj.html
  DiscreteCategories/doc/chooser.html
  DiscreteCategories/doc/lefttoc.css
  DiscreteCategories/doc/manual.css
  DiscreteCategories/doc/manual.js
  DiscreteCategories/doc/nocolorprompt.css
  DiscreteCategories/doc/ragged.css
  DiscreteCategories/doc/rainbow.js
  DiscreteCategories/doc/times.css
  DiscreteCategories/doc/toggless.css
  DiscreteCategories/doc/toggless.js
  _data/DiscreteCategories.yml
Due: none

Update website for DiscreteCategories 2023.02-01
  DiscreteCategories/README.md
Due: none

split constructor CategoryOfQuivers into separate files
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/Doc.autodoc
  FunctorCategories/examples/CategoryOfQuiversInCategory.g
  FunctorCategories/gap/CategoryOfQuivers.gd
  FunctorCategories/gap/CategoryOfQuivers.gi
  FunctorCategories/gap/CategoryOfQuiversInCategory.gd
  FunctorCategories/gap/CategoryOfQuiversInCategory.gi
  FunctorCategories/init.g
  FunctorCategories/read.g
Due: FunctorCategories

Update website for PreSheaves 2023.02-03
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Apply PackageJanitor
  update.g
Due: none

Update website for Algebroids 2023.02-02
  Algebroids/PackageInfo.g
  Algebroids/README.md
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for CategoriesWithAmbientObjects 2023.02-01
  CategoriesWithAmbientObjects/PackageInfo.g
  CategoriesWithAmbientObjects/README.md
  CategoriesWithAmbientObjects/doc/chap0.html
  CategoriesWithAmbientObjects/doc/chap0.txt
  CategoriesWithAmbientObjects/doc/chap0_mj.html
  _data/CategoriesWithAmbientObjects.yml
Due: CategoriesWithAmbientObjects

Update website for CategoryConstructor 2023.02-01
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/README.md
  CategoryConstructor/doc/chap0.html
  CategoryConstructor/doc/chap0.txt
  CategoryConstructor/doc/chap0_mj.html
  _data/CategoryConstructor.yml
Due: CategoryConstructor

Update website for CatReps 2023.02-03
  CatReps/PackageInfo.g
  CatReps/README.md
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for DiscreteCategories 2023.02-02
  DiscreteCategories/PackageInfo.g
  DiscreteCategories/README.md
  DiscreteCategories/doc/chap0.html
  DiscreteCategories/doc/chap0.txt
  DiscreteCategories/doc/chap0_mj.html
  _data/DiscreteCategories.yml
Due: none

Update website for ExteriorPowersCategories 2023.02-01
  ExteriorPowersCategories/PackageInfo.g
  ExteriorPowersCategories/README.md
  ExteriorPowersCategories/doc/chap0.html
  ExteriorPowersCategories/doc/chap0.txt
  ExteriorPowersCategories/doc/chap0_mj.html
  _data/ExteriorPowersCategories.yml
Due: ExteriorPowersCategories

Update website for FiniteCocompletion 2023.02-05
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/README.md
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

Update website for FunctorCategories 2023.02-15
  FunctorCategories/PackageInfo.g
  FunctorCategories/README.md
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for GradedCategories 2023.02-06
  GradedCategories/PackageInfo.g
  GradedCategories/README.md
  GradedCategories/doc/chap0.html
  GradedCategories/doc/chap0.txt
  GradedCategories/doc/chap0_mj.html
  _data/GradedCategories.yml
Due: GradedCategories

Update website for InternalModules 2023.02-08
  InternalModules/PackageInfo.g
  InternalModules/README.md
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for IntrinsicCategories 2023.02-01
  IntrinsicCategories/PackageInfo.g
  IntrinsicCategories/README.md
  IntrinsicCategories/doc/chap0.html
  IntrinsicCategories/doc/chap0.txt
  IntrinsicCategories/doc/chap0_mj.html
  _data/IntrinsicCategories.yml
Due: IntrinsicCategories

Update website for IntrinsicGradedModules 2023.02-04
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicGradedModules/README.md
  IntrinsicGradedModules/doc/chap0.html
  IntrinsicGradedModules/doc/chap0.txt
  IntrinsicGradedModules/doc/chap0_mj.html
  _data/IntrinsicGradedModules.yml
Due: IntrinsicGradedModules

Update website for IntrinsicModules 2023.02-02
  IntrinsicModules/PackageInfo.g
  IntrinsicModules/README.md
  IntrinsicModules/doc/chap0.html
  IntrinsicModules/doc/chap0.txt
  IntrinsicModules/doc/chap0_mj.html
  _data/IntrinsicModules.yml
Due: IntrinsicModules

Update website for LazyCategories 2023.02-03
  LazyCategories/PackageInfo.g
  LazyCategories/README.md
  LazyCategories/doc/chap0.html
  LazyCategories/doc/chap0.txt
  LazyCategories/doc/chap0_mj.html
  _data/LazyCategories.yml
Due: LazyCategories

Update website for Locales 2023.02-05
  Locales/PackageInfo.g
  Locales/README.md
  Locales/doc/chap0.html
  Locales/doc/chap0.txt
  Locales/doc/chap0_mj.html
  _data/Locales.yml
Due: Locales

Update website for PreSheaves 2023.02-04
  PreSheaves/PackageInfo.g
  PreSheaves/README.md
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

Update website for SubcategoriesForCAP 2023.02-04
  SubcategoriesForCAP/PackageInfo.g
  SubcategoriesForCAP/README.md
  SubcategoriesForCAP/doc/chap0.html
  SubcategoriesForCAP/doc/chap0.txt
  SubcategoriesForCAP/doc/chap0_mj.html
  _data/SubcategoriesForCAP.yml
Due: SubcategoriesForCAP

Update website for Toposes 2023.02-03
  Toposes/PackageInfo.g
  Toposes/README.md
  Toposes/doc/chap0.html
  Toposes/doc/chap0.txt
  Toposes/doc/chap0_mj.html
  _data/Toposes.yml
Due: Toposes

Update website for ZariskiFrames 2023.02-03
  ZariskiFrames/PackageInfo.g
  ZariskiFrames/README.md
  ZariskiFrames/doc/chap0.html
  ZariskiFrames/doc/chap0.txt
  ZariskiFrames/doc/chap0_mj.html
  _data/ZariskiFrames.yml
Due: ZariskiFrames

Apply PackageJanitor
  Algebroids/PackageInfo.g
  CatReps/PackageInfo.g
  CategoriesWithAmbientObjects/PackageInfo.g
  CategoryConstructor/PackageInfo.g
  DiscreteCategories/PackageInfo.g
  ExteriorPowersCategories/PackageInfo.g
  FiniteCocompletion/PackageInfo.g
  FunctorCategories/PackageInfo.g
  GradedCategories/PackageInfo.g
  InternalModules/PackageInfo.g
  IntrinsicCategories/PackageInfo.g
  IntrinsicGradedModules/PackageInfo.g
  IntrinsicModules/PackageInfo.g
  LazyCategories/PackageInfo.g
  Locales/PackageInfo.g
  PreSheaves/PackageInfo.g
  SubcategoriesForCAP/PackageInfo.g
  Toposes/PackageInfo.g
  ZariskiFrames/PackageInfo.g
  dev/.release
Due: Algebroids, CategoriesWithAmbientObjects, CategoryConstructor, CatReps, ExteriorPowersCategories, FiniteCocompletion, FunctorCategories, GradedCategories, IntrinsicCategories, IntrinsicGradedModules, IntrinsicModules, LazyCategories, Locales, PreSheaves, SubcategoriesForCAP, Toposes, ZariskiFrames

Update website for Algebroids 2023.02-03
  Algebroids/PackageInfo.g
  Algebroids/doc/chap0.html
  Algebroids/doc/chap0.txt
  Algebroids/doc/chap0_mj.html
  _data/Algebroids.yml
Due: Algebroids

Update website for CategoriesWithAmbientObjects 2023.02-02
  CategoriesWithAmbientObjects/PackageInfo.g
  CategoriesWithAmbientObjects/doc/chap0.html
  CategoriesWithAmbientObjects/doc/chap0.txt
  CategoriesWithAmbientObjects/doc/chap0_mj.html
  _data/CategoriesWithAmbientObjects.yml
Due: CategoriesWithAmbientObjects

Update website for CategoryConstructor 2023.02-02
  CategoryConstructor/PackageInfo.g
  CategoryConstructor/doc/chap0.html
  CategoryConstructor/doc/chap0.txt
  CategoryConstructor/doc/chap0_mj.html
  _data/CategoryConstructor.yml
Due: CategoryConstructor

Update website for CatReps 2023.02-04
  CatReps/PackageInfo.g
  CatReps/doc/chap0.html
  CatReps/doc/chap0.txt
  CatReps/doc/chap0_mj.html
  _data/CatReps.yml
Due: CatReps

Update website for DiscreteCategories 2023.02-03
  DiscreteCategories/PackageInfo.g
  DiscreteCategories/doc/chap0.html
  DiscreteCategories/doc/chap0.txt
  DiscreteCategories/doc/chap0_mj.html
  _data/DiscreteCategories.yml
Due: none

Update website for ExteriorPowersCategories 2023.02-02
  ExteriorPowersCategories/PackageInfo.g
  ExteriorPowersCategories/doc/chap0.html
  ExteriorPowersCategories/doc/chap0.txt
  ExteriorPowersCategories/doc/chap0_mj.html
  _data/ExteriorPowersCategories.yml
Due: ExteriorPowersCategories

Update website for FiniteCocompletion 2023.02-06
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

Update website for FunctorCategories 2023.02-16
  FunctorCategories/PackageInfo.g
  FunctorCategories/doc/chap0.html
  FunctorCategories/doc/chap0.txt
  FunctorCategories/doc/chap0_mj.html
  _data/FunctorCategories.yml
Due: FunctorCategories

Update website for GradedCategories 2023.02-07
  GradedCategories/PackageInfo.g
  GradedCategories/doc/chap0.html
  GradedCategories/doc/chap0.txt
  GradedCategories/doc/chap0_mj.html
  _data/GradedCategories.yml
Due: GradedCategories

Update website for InternalModules 2023.02-09
  InternalModules/PackageInfo.g
  InternalModules/doc/chap0.html
  InternalModules/doc/chap0.txt
  InternalModules/doc/chap0_mj.html
  _data/InternalModules.yml
Due: none

Update website for IntrinsicCategories 2023.02-02
  IntrinsicCategories/PackageInfo.g
  IntrinsicCategories/doc/chap0.html
  IntrinsicCategories/doc/chap0.txt
  IntrinsicCategories/doc/chap0_mj.html
  _data/IntrinsicCategories.yml
Due: IntrinsicCategories

Path conditions:
  Algebroids: any of: Algebroids/
  CategoriesWithAmbientObjects: any of: CategoriesWithAmbientObjects/
  CategoryConstructor: any of: CategoryConstructor/
  CatReps: any of: CatReps/
  ExteriorPowersCategories: any of: ExteriorPowersCategories/
  FiniteCocompletion: any of: FiniteCocompletion/
  FunctorCategories: any of: FunctorCategories/
  GradedCategories: any of: GradedCategories/
  IntrinsicCategories: any of: IntrinsicCategories/
  IntrinsicGradedModules: any of: IntrinsicGradedModules/
  IntrinsicModules: any of: IntrinsicModules/
  LazyCategories: any of: LazyCategories/
  Locales: any of: Locales/
  PreSheaves: any of: PreSheaves/
  SubcategoriesForCAP: any of: SubcategoriesForCAP/
  Toposes: any of: Toposes/
  ZariskiFrames: any of: ZariskiFrames/
