Repository homalg-project/CategoricalTowers: changes, and which Codecov flags are due for each by the changed paths.
All: FiniteCocompletion, PreSheaves

.codecov.yml:

codecov:
  disable_default_path_fixes: true
  require_ci_to_pass: false
comment:
  after_n_builds: 2
flags:
  FiniteCocompletion:
    paths:
      - "FiniteCocompletion/"
  PreSheaves:
    paths:
      - "PreSheaves/"

installed CategoryFromNerveData for IsCategoryFromDataTables
  PackageInfo.g
  gap/CategoryFromDataTables.gi
  gap/CategoryFromNerveData.gi
Due: none

updated notebooks/SnakeInFreeAbelian.ipynb
  PackageInfo.g
  examples/notebooks/SnakeInFreeAbelian.ipynb
Due: none

fixed method comments and specialized filters
  gap/PreSheaves.gi
Due: none

whitespaces
  PreSheaves/gap/PreSheaves.gi
Due: PreSheaves

unified name of local variables
  PreSheaves/gap/PreSheaves.gi
Due: PreSheaves

fixed YonedaEmbeddingFunctionalData and ApplyObjectInPreSheafCategoryToMorphism
  PreSheaves/PackageInfo.g
  PreSheaves/examples/PreSheavesOfSkeletalFinSets.g
  PreSheaves/gap/PreSheaves.gi
Due: PreSheaves

Pass source/range to (Co)Equalizer
  PreSheaves/PackageInfo.g
  PreSheaves/gap/PreSheaves.gi
Due: PreSheaves

installed the WithGiven-variants of TerminalObject, InitialObject, ZeroObject
  PreSheaves/PackageInfo.g
  PreSheaves/gap/PreSheaves.gi
Due: PreSheaves

added CapJitAddTypeSignature for
  PreSheaves/gap/PreSheaves.gd
Due: PreSheaves

Update website for PreSheaves 2022.12-04
  PreSheaves/PackageInfo.g
  PreSheaves/doc/chap0.html
  PreSheaves/doc/chap0.txt
  PreSheaves/doc/chap0_mj.html
  PreSheaves/doc/chap1.html
  PreSheaves/doc/chap1.txt
  PreSheaves/doc/chap1_mj.html
  _data/PreSheaves.yml
Due: PreSheaves

deleted functional PreSheaves/YonedaEmbeddingFunctionalData
  PackageInfo.g
  examples/PreSheavesOfSkeletalFinSets.g
  gap/PreSheaves.gd
  gap/PreSheaves.gi
Due: none

deleted obsolete local variables
  gap/CategoryOfQuivers.gi
Due: none

fixed method comments
  gap/CategoryOfQuivers.gi
Due: none

updated LogicInToposOfFinQuivers.ipynb
  examples/notebooks/LogicInToposOfFinQuivers.ipynb
  examples/notebooks/svg/SubobjectClassifierOfToposOfFinQuivers.svg
Due: none

updated DPO_Quivers.ipynb
  examples/notebooks/DPO_Quivers.ipynb
Due: none

@Subsection Topos operations -> @Chapter Topos operations
  doc/Doc.autodoc
Due: none

d&i CategoryOfBouquetsEnrichedOver( SkeletalFinSets )
  doc/Doc.autodoc
  examples/FinBouquets.g
  examples/PrecompileFinBouquets.g
  examples/notebooks/FinBouquets.ipynb
  gap/CategoryOfBouquets.gd
  gap/CategoryOfBouquets.gi
  gap/CompilerLogic.gi
  gap/Julia.gi
  gap/precompiled_categories/FinBouquetsPrecompiled.gi
  gap/precompiled_categories/PreSheavesInSkeletalFinSetsSubobjectClassifierPrecompiled.gi
  init.g
  makedoc.g
  makedoc_with_overfull_hbox_warnings.g
  read.g
Due: none

added missing svg file and bumped version
  PackageInfo.g
  examples/notebooks/svg/SubobjectClassifierOfToposOfFinBouquets.svg
Due: none

d&i DecoratedFinQuivers
  PackageInfo.g
  doc/Doc.autodoc
  examples/DecoratedFinQuivers.g
  examples/notebooks/DecoratedFinQuivers.ipynb
  gap/CategoryOfDecoratedQuivers.gd
  gap/CategoryOfDecoratedQuivers.gi
  gap/Julia.gi
  init.g
  read.g
  tst/100_LoadPackage.tst
Due: none

updated PastingLawForPullbacks.ipynb
  examples/notebooks/PastingLawForPullbacks.ipynb
Due: none

applied PackageJanitor
  .github/workflows/Tests.yml
  PackageInfo.g
  makefile
  process_coverage.py
  tst/100_LoadPackage.tst
  upload_codecov.sh
Due: none

fixed version
  PackageInfo.g
Due: none

renamed CategoryOfDecoratedQuiversEnrichedOver -> CategoryOfDecoratedQuivers
  PackageInfo.g
  examples/DecoratedFinQuivers.g
  examples/notebooks/DecoratedFinQuivers.ipynb
  gap/CategoryOfDecoratedQuivers.gd
  gap/CategoryOfDecoratedQuivers.gi
  gap/Julia.gi
Due: none

use CreateCapCategoryWithDataTypes
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/gap/FiniteCoproductCocompletion.gi
Due: FiniteCocompletion

added conditional UC!.supports_empty_limits := true
  FiniteCocompletion/gap/FiniteCoproductCocompletion.gi
Due: FiniteCocompletion

fixed Display for morphisms
  FiniteCocompletion/gap/FiniteCoproductCocompletion.gi
Due: FiniteCocompletion

renamed FinSetOp -> FinSetConstructor
  FiniteCocompletion/examples/SkeletalCoproduct.g
  FiniteCocompletion/examples/SkeletalDirectProduct.g
  FiniteCocompletion/examples/SkeletalInitialTerminal.g
  FiniteCocompletion/examples/SkeletalPreCompose.g
  FiniteCocompletion/examples/SkeletalWellDefined.g
  FiniteCocompletion/gap/SkeletalFinSets.gd
  FiniteCocompletion/gap/SkeletalFinSets.gi
Due: FiniteCocompletion

fixed AddPreCompose
  .github/workflows/Tests.yml
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/Doc.autodoc
  FiniteCocompletion/examples/CocartesianAssociator.g
  FiniteCocompletion/examples/TerminalCategory_as_FiniteCoproductCocompletion.g
  FiniteCocompletion/examples/TerminalCategory_as_FiniteProductCompletion.g
  FiniteCocompletion/gap/FiniteCoproductCocompletion.gi
  FiniteCocompletion/tst/100_LoadPackage.tst
Due: FiniteCocompletion

AddHomomorphismStructureOnObjects
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/Doc.autodoc
  FiniteCocompletion/examples/CocartesianBraiding.g
  FiniteCocompletion/gap/FiniteCoproductCocompletion.gi
  FiniteCocompletion/gap/SkeletalFinSets.gi
Due: FiniteCocompletion

whitespace
  FiniteCocompletion/gap/SkeletalFinSets.gi
Due: FiniteCocompletion

added examples/CocartesianBraiding.g
  .github/workflows/Tests.yml
  FiniteCocompletion/doc/Doc.autodoc
  FiniteCocompletion/examples/CocartesianBraiding.g
  FiniteCocompletion/examples/TerminalCategory_as_FiniteCoproductCocompletion.g
  FiniteCocompletion/examples/TerminalCategory_as_FiniteProductCompletion.g
  FiniteCocompletion/tst/100_LoadPackage.tst
Due: FiniteCocompletion

fixed AddPreCompose
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/Doc.autodoc
  FiniteCocompletion/examples/CocartesianAssociator.g
  FiniteCocompletion/gap/FiniteCoproductCocompletion.gi
Due: FiniteCocompletion

Update website for FiniteCocompletion 2023.01-01
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  FiniteCocompletion/doc/chap1.html
  FiniteCocompletion/doc/chap1.txt
  FiniteCocompletion/doc/chap1_mj.html
  FiniteCocompletion/doc/chap2.html
  FiniteCocompletion/doc/chap2.txt
  FiniteCocompletion/doc/chap2_mj.html
  FiniteCocompletion/doc/chap3.html
  FiniteCocompletion/doc/chap3.txt
  FiniteCocompletion/doc/chap3_mj.html
  FiniteCocompletion/doc/chapInd.html
  FiniteCocompletion/doc/chapInd.txt
  FiniteCocompletion/doc/chapInd_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

SkeletalFinSetsAsFiniteCoproductCocompletion... is now a global function
  FiniteCocompletion/gap/SkeletalFinSets.gd
  FiniteCocompletion/gap/SkeletalFinSets.gi
Due: FiniteCocompletion

got rid of FinSetConstructor
  FiniteCocompletion/examples/SkeletalCoproduct.g
  FiniteCocompletion/examples/SkeletalDirectProduct.g
  FiniteCocompletion/examples/SkeletalInitialTerminal.g
  FiniteCocompletion/examples/SkeletalPreCompose.g
  FiniteCocompletion/examples/SkeletalWellDefined.g
  FiniteCocompletion/gap/SkeletalFinSets.gd
  FiniteCocompletion/gap/SkeletalFinSets.gi
Due: FiniteCocompletion

got rid of MapOfFinSets
  FiniteCocompletion/examples/SkeletalPreCompose.g
  FiniteCocompletion/examples/SkeletalWellDefined.g
  FiniteCocompletion/gap/SkeletalFinSets.gd
  FiniteCocompletion/gap/SkeletalFinSets.gi
Due: FiniteCocompletion

d&i YonedaEmbeddingOfUnderlyingCategory
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/examples/CocartesianAssociator.g
  FiniteCocompletion/examples/CocartesianBraiding.g
  FiniteCocompletion/gap/FiniteCoproductCocompletion.gd
  FiniteCocompletion/gap/FiniteCoproductCocompletion.gi
Due: FiniteCocompletion

Update website for FiniteCocompletion 2023.01-02
  FiniteCocompletion/PackageInfo.g
  FiniteCocompletion/doc/chap0.html
  FiniteCocompletion/doc/chap0.txt
  FiniteCocompletion/doc/chap0_mj.html
  FiniteCocompletion/doc/chap1.html
  FiniteCocompletion/doc/chap1.txt
  FiniteCocompletion/doc/chap1_mj.html
  FiniteCocompletion/doc/chap2.html
  FiniteCocompletion/doc/chap2.txt
  FiniteCocompletion/doc/chap2_mj.html
  FiniteCocompletion/doc/chapInd.html
  FiniteCocompletion/doc/chapInd.txt
  FiniteCocompletion/doc/chapInd_mj.html
  _data/FiniteCocompletion.yml
Due: FiniteCocompletion

comply with local variables in SkeletalFinSets
  FiniteCocompletion/gap/FiniteCoproductCocompletion.gi
  FiniteCocompletion/gap/precompiled_categories/SkeletalFinSetsAsFiniteCoproductCocompletionOfTerminalCategoryPrecompiled.gi
Due: FiniteCocompletion
